<!DOCTYPE html>
<html>
  <head>
    <title>Preview Email Message</title>
    <style>
      pre {
        margin: 25px;
        width: 600px;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
<pre><%= @email %></pre>
  </body>
</html>
