.account_view.badge {
  position: absolute;
  left: 0; bottom: 0px;
  width: 250px; height: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf));
  padding: 7px 7px 7px 52px;
  font: 11px/16px Arial;
  color: #454545;
  border: 1px solid #ddd;
}
  .account_view.badge img.avatar {
    position: absolute; left: 7px;
    border: 1px solid #aaa;
  }
  .account_view.badge .controls {
    position: absolute;
    right: 7px; top: 7px;
  }
  .account_view.badge a {
    color: #353566;
  }
    .account_view.badge a:hover {
      text-decoration: underline;
    }

#account_list {
  padding: 0;
}
  #account_list table {
    width: 100%;
  }
    #account_list tbody tr {
      background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dfdfdf));
    }
    #account_list td {
      padding: 10px 25px 10px 15px;
      vertical-align: middle;
      padding-left: 15px;
    }
      #account_list tbody td {
        border-bottom: 1px solid #bbb;
        font: 14px/11px Arial;
        height: 36px;
        color: #333;
      }
      #account_list .first { width: 0%; padding-right: 0; }
      #account_list .name  { width: 0%; }
      #account_list .email { width: 0%; }
      #account_list .last  { width: 100%; }
    #account_list tfoot button {
      position: relative;
      left: -6px;
    }
#account_list tr .edit, #account_list tr .display {
  display: none;
}
#account_list tr.edit_view .edit, #account_list tr.display_view .display {
  display: block;
}
#account_list .text_input {
  width: 200px;
}
  #account_list .text_input input[type="text"] {
    font: 14px/18px Arial;
  }
#account_list .name_wrapper {
  min-width: 215px;
}
  #account_list .name_wrapper .text_input {
    display: inline-block;
    width: 100px;
  }
    #account_list .name_wrapper .text_input:first-child {
      margin-right: 10px;
    }
#account_list .controls_wrapper {
  min-width: 100px;
}
#account_list span.edit_account {
  opacity: 0; filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear;
  color: #353566;
}
  #account_list tbody tr:hover span.edit_account {
    opacity: 1; filter: alpha(opacity=100);
  }
#account_list button.save_changes {
  display: inline-block;
  position: relative;
  left: -6px;
}
#account_list span.delete_account {
  display: inline-block;
  color: #774433;
}
#account_list .pending_badge {
  display: none;
  position: absolute;
  margin: 18px 0 0 18px;
}
  #account_list .row.pending .pending_badge {
    display: block;
  }
#account_list tr.row .pending_notification {
  font: 10px Arial;
  text-transform: uppercase;
  padding-left: 7px;
  color: #999;
  display: none;
}
  #account_list .row.pending .pending_notification {
    display: inline;
  }

#organization_info {
  padding: 6px 10px;
  line-height: 21px;
  font-size: 10px;
}
  #organization_info .name {
    font-size: 18px; font-weight: bold; line-height: 25px;
    color: #555;
    text-shadow: 0 1px 1px #fff;
  }
  #organization_info .since, #organization_info .counts {
    line-height: 18px;
    text-transform: uppercase;
    color: #777;
  }
