/*--- Size Controls are disabled for now -- not useful with pagination. -----*/
.size_controls {
  display: none;
  position: absolute;
  text-transform: uppercase;
  color: #777;
  font-size: 10px;
  right: 7px; top: 5px;
  cursor: pointer;
}
  body.upload_shown .size_controls {
    display: none;
  }
  .document_list.large_size .view_large,
  .document_list.medium_size .view_medium,
  .document_list.small_size .view_small {
    font-weight: bold;
  }

.document_list {
}
  .panel_content .panel.documents {
    padding: 15px 5px 5px 15px;
    -webkit-transition: top 0.1s linear;
  }
  body.logged_in .panel_content.open_toolbar #document_list_container .panel.documents {
    top: 31px;
  }

.document_tile {
  position: relative;
  overflow: hidden;
}
  .document_tile.is_selected {
    background: #eaeafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeafa), to(#fafaff));
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  }
  .document_list.large_size .document_tile {
    height: 77px;
    padding: 5px 30px 5px 77px;
    margin-bottom: 10px;
  }
  .document_list.medium_size .document_tile {
    float: left;
    width: 250px;
    padding-left: 43px;
    margin: 5px 15px 10px 0;
    height: 35px;
  }
  .document_list.small_size .document_tile {
    margin-bottom: 10px;
    height: 14px;
  }
  .document_tile img.icon {
    position: absolute;
    -webkit-box-shadow: 0 0px 5px #777; -moz-box-shadow: 0 0px 5px #777;
    left: 7px;
  }
    body.logged_in .document_tile img.icon {
      cursor: pointer;
    }
  .document_tile .title {
    display: block;
    color: #002256;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    overflow: hidden;
    height: 17px;
  }
    .document_list.medium_size .title {
      margin-top: 2px;
      font-size: 12px;
      height: 15px;
    }
    .document_list.small_size .title {
      margin: 0 10px 0 0;
      float: left;
      font-size: 12px;
    }
    .document_tile .view_document {
      cursor: pointer;
      float: left;
    }
    .document_tools {
      display: block;
      float: left;
      padding-left: 10px;
      opacity: 0.5; filter: alpha(opacity=50);
      -webkit-transition: opacity 0.2s linear;
    }
      .document_tile:hover .document_tools {
        opacity: 1; filter: alpha(opacity=100);
      }
      .document_tools > div {
        float: left;
        margin-right: 7px;
      }
  .document_tile .source {
    text-transform: uppercase;
    font-size: 10px;
    overflow: hidden;
    height: 10px;
    color: #808080;
    margin: 2px 0 10px 0;
  }
    .document_list.small_size .source {
      float: left;
      margin-right: 10px;
      line-height: 13px;
      color: #333;
    }
  .document_tile .summary {
    line-height: 16px;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
    color: #454546;
  }
    .document_tile .summary b {
      font-size: 12px;
    }
    .document_list.medium_size .summary {
      display: none;
    }
    .document_list.small_size .summary {
      display: inline;
      margin: 0;
      position: relative;
      font-size: 11px;
      color: #777;
    }