#navigation {
  height: 16px;
  padding: 7px 15px;
  font: 11px/16px Arial;
  color: #254555;
}
  #navigation a:hover {
    text-decoration: underline;
  }

/*------------------------- View-mode visibility -----------------------------*/

body.logged_in .tab_content {
  display: none;
}
  body.upload_navigation .upload_tab_content,
  body.search_navigation .search_tab_content,
  body.dashboard_navigation .dashboard_tab_content,
  body.accounts_navigation .accounts_tab_content,
  body.analyze_navigation .analyze_tab_content {
    display: block;
  }
  body.upload_navigation .upload_tab_hidden,
  body.search_navigation .search_tab_hidden,
  body.dashboard_navigation .dashboard_tab_hidden,
  body.accounts_navigation .accounts_tab_hidden,
  body.analyze_navigation .analyze_tab_hidden {
    display: none;
  }

body.search_navigation div.active_search,
body.search_navigation div.empty_search {
  display: none;
}
  body.search_navigation.active_search div.active_search,
  body.search_navigation.empty_search div.empty_search {
    display: block;
  }