#organizer {
}

  #organizer .sidebar_section {
    padding-bottom: 15px;
  }
    #organizer .nametag {
      font: 10px/13px Arial;
      text-transform: uppercase;
      padding: 4px 5px 4px 33px;
      background: #ddd;
      background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dadada));
      border-top: 1px solid #dadada;
      color: #777;
    }
      #organizer .nametag .icon {
        position: absolute;
        margin: -2px 0 0 -23px;
      }
      #organizer .minibutton {
        display: inline-block;
        position: relative;
        left: 8px; top: -1px;
      }
      #organizer input {
        margin: 4px 0 0 7px;
        background: #fcfcfc;
        border: 1px solid #e0e0e0;
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        font-size: 11px;
        width: 229px;
        line-height: 13px;
      }
        #filter_wrapper input {
          width: 275px;
        }

  #organizer .project_list {
    position: absolute;
    top: 150px; bottom: 0px; left: 0; right: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #organizer .box {
    padding: 10px;
    cursor: pointer;
    background-position: 9px center;
    background-repeat: no-repeat;
    color: #223355;
    font-weight: bold;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  }
    #organizer .box:hover, #organizer .box.selected {
      background-color: #f2f2ff;
      background: -webkit-gradient(linear, left top, left bottom, from(#fafaff), to(#efefff));
      -webkit-box-shadow: 0 0px 15px #bbb; -moz-box-shadow: 0 0px 15px #bbb;
    }
    #organizer .box .icon.delete {
      display: none;
      position: absolute;
      opacity: 0.65; filter: alpha(opacity=65);
      top: -8px; left: -8px;
    }
      #organizer .box:hover .icon.delete {
        display: block;
      }
    #organizer .box .icon.size32 {
      position: absolute;
    }
    #organizer .contents,
    #organizer .contents > div {
      height: 32px;
      line-height: 16px;
      overflow: hidden;
      padding-left: 40px;
    }
      #organizer .contents > div {
        height: 16px;
        padding-left: 0;
      }
        #organizer .contents .page_number {
          font: 10px/16px Arial;
          color: #777;
        }
      #organizer img {
        float: left;
        margin-right: 10px;
      }
