#search_toolbar_container {
  position: absolute;
  overflow: hidden;
  height: 0;
  left: 0; right: 0;
  -webkit-transition: height 0.1s linear;
  background: #e7e7e7;
}
  .panel_content.open_toolbar #search_toolbar_container {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 30px;
  }

#toolbar {
  padding: 5px 12px;
}
  #toolbar .minibutton {
    float: left;
    margin-left: 12px;
  }
    #toolbar .project_menu_container .minibutton {
      margin-left: 0;
    }
