.panel_container .document_upload.panel {
  padding: 18px;
}
  .document_upload label {
    font: bold 16px Arial;
    line-height: 14px;
    color: #444;
    display: block;
    margin-bottom: 7px;
  }
    .document_upload label .example {
      font: bold italic 11px Arial;
      color: #666;
    }
  .document_upload .text_input, 
  .document_upload input[type="file"],
  .document_upload select {
    margin-bottom: 25px;
    width: 350px;
    display: block;
  }
    .document_upload select {
      width: auto;
    }
  .document_upload option {
    font: normal 12px Arial;
  }
  
#upload_progress {
  position: absolute; 
  top: 21px; left: 1px; right: 1px; bottom: 21px;
  overflow-x: visible; overflow-y: auto;
}
  #upload_progress_inner {
    position: relative;
    width: 278px;
    margin: 10px 10px 0 10px;
    overflow-x: visible;
  }
    #upload_progress .document_progress {
      margin-bottom: 12px;
      position: relative;
      width: 100%;
      background: #fafafa;
      -webkit-border-radius: 6px; -moz-border-radius: 6px; 
      -webkit-box-shadow: 0 0 4px #777; -moz-box-shadow: 0 0 4px #777;
    }
      #upload_progress .status_wrap {
        color: #666;
        font: 10px/14px Arial;
        text-transform: uppercase;
        position: absolute;
        left: 6px; top: 4px;
      }
        #upload_progress .title, #upload_progress .status {
          line-height: 14px;
          height: 14px;
          overflow: hidden;
        }
      #upload_progress .progress_bar {
        height: 34px;
        -webkit-border-radius: 6px; -moz-border-radius: 6px;
        background: #ddddff;
        background: -webkit-gradient(linear, left top, left bottom, from(#f9f9ff), to(#ddddff));
      }
    