.panel_container .document_upload.panel {
  padding: 20px 25px 25px 25px;
}
  .document_upload label {
    font: bold 16px Arial;
    line-height: 14px;
    color: #444;
    display: block;
    margin-bottom: 7px;
  }
    .document_upload label .example {
      font: bold italic 11px Arial;
      color: #666;
    }
  .document_upload .text_input,
  .document_upload input[type="file"],
  .document_upload select {
    margin-bottom: 25px;
    width: 350px;
    display: block;
  }
    .document_upload select {
      width: auto;
    }
  .document_upload option {
    font: normal 12px Arial;
  }

#no_uploads {
  padding: 7px 15px 7px 15px;
  color: #999;
  text-transform: uppercase;
  font: 10px/16px Arial;
}
  #no_uploads .icon {
    float: left;
    margin-right: 10px;
    opacity: 0.75; filter: alpha(opacity=75);
  }

#upload_progress {
  position: relative;
}
  #upload_progress .document_progress {
    margin: 15px;
    position: relative;
    background: #fafafa;
    -webkit-border-radius: 6px; -moz-border-radius: 6px;
    -webkit-box-shadow: 0 0 4px #777; -moz-box-shadow: 0 0 4px #777;
  }
    #upload_progress .status_wrap {
      position: absolute;
      top: 4px; left: 8px;
      color: #666;
      font: 10px/14px Arial;
      text-transform: uppercase;
    }
      #upload_progress .title, #upload_progress .status {
        line-height: 14px;
        height: 14px;
        overflow: hidden;
      }
    #upload_progress .progress_bar {
      height: 34px;
      -webkit-border-radius: 6px; -moz-border-radius: 6px;
      background: #ddddff;
      background: -webkit-gradient(linear, left top, left bottom, from(#f9f9ff), to(#ddddff));
    }
