#analyze_sidebar_container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow-y: auto;
  font-size: 10px;
  line-height: 13px;
  color: #454545;
}
  #visualizer_labels > span {
    left: 5px;
  }
  #visualizer_labels_content {
    margin-left: 2px;
  }

#visualizer {
  position: absolute;
  top: 43px; bottom: 0; left: 0; right: 0;
  -webkit-transition: top 0.1s linear;
  display: none;
}
  body.visualize #visualizer {
    display: block;
  }

#visualizer_canvas {
  position: absolute;
}

#visualizer .datum {
  position: absolute;
  font: bold 11px Arial;
  text-transform: uppercase;
  color: #454545;
  padding: 4px 8px;
  background: white;
  cursor: crosshair;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0px 10px #999; -moz-box-shadow: 0 0px 10px #999;
}

/*------------------------------ ENTITIES ---------------------------------*/

body.visualize .document_list .document_tile {
  width: 280px; height: 32px;
  padding: 5px 5px 5px 40px;
}
  body.visualize .document_tile .summary {
    display: none;
  }
  body.visualize .document_tile img.document {
    width: 24px; height: 30px;
  }


/*------------------------------ TIMELINE ---------------------------------*/

#timeline_dialog {
  max-width: none;
}
  #timeline_dialog .text {
    padding: 3px 3px 20px 3px;
  }
  #timeline_dialog .cancel {
    display: none;
  }
  #timeline_dialog .zoom_out {
    display: none;
    float: left;
    margin-left: 10px;
  }
    #timeline_dialog.on_zoom .zoom_out {
      display: block;
    }