#analyze_sidebar_container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow-y: auto;
  font-size: 10px;
  line-height: 13px;
  color: #454545;
}
  #visualizer_labels > span {
    left: 5px;
  }
  #visualizer_labels_content {
    margin-left: 2px;
  }

#visualizer {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  -webkit-transition: top 0.1s linear;
  display: none;
}
  body.visualize #visualizer {
    display: block;
  }
  body.logged_in .panel_content.open_toolbar #visualizer {
    top: 43px;
  }

#visualizer_canvas {
  position: absolute;
}

#viz_types {
  position: absolute;
  top: -16px; right: 7px;
  font: 10px Arial;
  color: #777;
  text-transform: uppercase;
}
  #visualizer.linear_format #viz_line,
  #visualizer.circular_format #viz_circle {
    font-weight: bold;
    color: #555;
  }

#visualizer .document_tile {
  position: absolute;
  margin: 0;
  width: 150px; height: 77px;
  padding: 5px 5px 5px 77px;
  overflow: visible;
  border: 1px solid transparent;
}
  #visualizer.linear_format .document_tile {
    position: relative;
    top: 0 !important; left: 0 !important;
    margin: 15px 0 5px 15px;
  }
  #visualizer .document_tile.is_selected {
    border: 1px solid #e0e0fa;
  }
  #visualizer .document_tile .title {
    margin-top: 0;
    height: auto;
  }
  #visualizer .document_tile .source {
    line-height: 12px;
    height: auto;
  }
  #visualizer .document_tile .icon {
    width: 60px; height: 75px;
    -webkit-box-shadow: 0 0px 5px #999; -moz-box-shadow: 0 0px 5px #999;
  }
    #visualizer .document_tile.bolded .icon {
      -webkit-box-shadow: 0 0px 15px #555; -moz-box-shadow: 0 0px 15px #555;
    }
    #visualizer .document_tile .icon.lock {
      display: none;
    }
  #visualizer .document_tile .summary {
    display: none;
  }

#visualizer .datum {
  position: absolute;
  font: bold 11px Arial;
  text-transform: uppercase;
  color: #454545;
  padding: 4px 8px;
  background: white;
  cursor: crosshair;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0px 10px #999; -moz-box-shadow: 0 0px 10px #999;
}

/*------------------------------ ENTITIES ---------------------------------*/

body.visualize .document_list .document_tile {
  width: 280px; height: 32px;
  padding: 5px 5px 5px 40px;
}
  body.visualize .document_tile .summary {
    display: none;
  }
  body.visualize .document_tile img.document {
    width: 24px; height: 30px;
  }


/*------------------------------ TIMELINE ---------------------------------*/

#timeline_dialog {
  max-width: none;
}
  #timeline_dialog .text {
    padding: 3px 3px 20px 3px;
  }
  #timeline_dialog .cancel {
    display: none;
  }
  #timeline_dialog .zoom_out {
    display: none;
    float: left;
    margin-left: 10px;
  }
    #timeline_dialog.on_zoom .zoom_out {
      display: block;
    }