<table id="account_dialog">
  <thead>
    <td></td>
    <td>Name</td>
    <td>Email</td>
    <td>Role</td>
    <td>Documents</td>
    <td>Pages</td>
    <td></td>
  </thead>
  <tbody>
    
  </tbody>
</table>