<img class="avatar" src="<%= account.DEFAULT_AVATAR %>" width="<%= size %>" height="<%= size %>" />
<div class="name">
  <%= Inflector.truncate(account.fullName(), 20) %>
</div>
<div class="controls">
  <a href="#" class="admin_link">Accounts</a>
  &nbsp;/&nbsp;
  <a href="http://help.documentcloud.org/" target="_blank" class="help">Help</a>
  &nbsp;/&nbsp;
  <a href="/logout">Log Out</a>
</div>
