<img class="avatar" src="<%= imageURL %>" width="<%= size %>" height="<%= size %>" />
<div class="textual">
  <div class="name">
    <%= first_name %> <%= last_name %>
    <span class="pipe">&nbsp;|&nbsp;</span>
    <a href="/logout">Log Out</a>
  </div>
</div>