<table>
  <thead>
    <tr>
      <th class="first"></th>
      <th class="name">name</th>
      <th class="email">email</th>
      <th class="edit last"></th>
    </tr>
  </thead>
  <tbody id="account_list_content">
    
  </tbody>
  <tfoot>
    <tr>
      <td class="first" colspan="4">
        <button>New Account</button>
      </td>
    </tr>
  </tfoot>
</table>