<td class="first">
  <img class="avatar" src="<%= imageURL %>" width="<%= size %>" height="<%= size %>" />
</td>
<td class="name">
  <%= first_name %> <%= last_name %>
</td>
<td class="email">
  <a href="mailto:<%= email %>" title="send email to <%= email %>">
    <%= email %>
  </a>
</td>
<td class="edit last">
  <span class="edit_account">edit</span>
</td>
