<div class="document_reviewers not_draggable">
  
</div>

<div class="reviewer_management">
  <div class="enter_email" style="display:none;">
    <div class="text_input dark small">
      <input name="reviewer_email" id="reviewer_email" type="text" value="" />
    </div>
    <div class="minibutton default add">Add</div>
    <label class="enter_email_label" for="reviewer_email">Enter email address:</label>
  </div>
</div>