<div class="pointer"></div>
<div class="title interface">
  <%= title %>
  <% if (owner) { %>
    <div class="icon edit_glyph"></div>
  <% } %>
</div>
<div class="counts interface">
  <%= statistics %>
  <% if (!owner) { %>
    <br />Shared with you by <%= account_full_name %>
  <% } %>
</div>

