<div class="icon delete"></div>
<div class="icon size32 book_open"></div>
<div class="contents">
  <div class="title"><%= title %></div>
  <div class="page_number">page <%= page_number %></div>
</div>