<div class="pointer"></div>
<div class="title interface">
  <%= title %>
</div>
<div class="counts interface">
  <%= document_count %> <%= Inflector.pluralize('document', document_count) %>,
  <%= annotation_count %> <%= Inflector.pluralize('note', annotation_count) %><span class="edit">, <u>edit</u></span>
</div>
