<div class="label_adder">
  <div class="nametag">
    <img src="/images/icons/tag_yellow_16.png" alt="" /> Labels and Saved Searches:
  </div>
  <div id="new_label_button" class="minibutton">save</div>
  <input type="text" id="label_input" placeholder="add a new label" />
</div>