<div class="pointer"></div>
<div class="title interface">
  <% var words = title.split(' '); %>
  <%= words.slice(0, words.length - 1).join(' ') %>
  <span class="last_word">
    <%= words.slice(words.length - 1).join(' ') %>
    <div class="icon edit_glyph"></div>
  </span>
</div>
<div class="counts interface">
  <%= statistics %>
  <% if (!owner) { %>
    <br />Shared with you by <%= account_full_name %>
  <% } %>
</div>

