node_modules
log/*
tmp
db/*.sqlite3
db/*.tdb
db/*.tdb.idx.*
db/*_full_text
db/*.tct
db/*.pid
db/mongodb*
db/solr_*
db/sphinx
raw
/secrets
public/docs
public/asset_store
public/document-viewer/images/*.psd
solr/data
solr/collection1
*.swp
*~
.#*
cloud_crowd.db
.DS_Store
public/search
vendor/solr-4.0.0/solr-webapp/webapp/*
.bundle
public/javascripts/vendor/*/
.vagrant
.tm_properties
Vagrantfile
*.sublime-*
.byebug_history
doc
