/* ---- Color Scheme ----------
dark background:  #5f5a57
dark open:        #474340
dark selected:    #3c3835
dark text:        #fff
dark text quiet:  #bfbdb1
light selected:   #f3f1e3
light text:       #333
---------------------------- */

body {
  background: #5f5a57;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#root {
  width: 100%; height: 100%;
}
  #root .left {
    width: 300px;
  }
  #root .right {
    width: 60px;
  }
  #root th {
    background: #302c29;
    height: 58px;
  }
    #root th.identity {
      background: #181310;
    }
    #root th.avatar {
      background: #404c29;
    }
  #root tfoot td {
    height: 58px;
  }

#sidebar {
  height: 100%;
  background: #514c48;
}

#workspace {
  height: 100%;
  background: #fff;
}

#gutter {
  min-height: 10px;
}