#signup_button {
  position: absolute;
  top: 7px; right: 10px;
}

#content {
  overflow-y: auto;
}

#statistics {
  margin: 35px 0 35px 35px;
}
  #statistics table {
    width: 100%;
  }
    #statistics td {
      color: #222;
      padding: 0 35px 0 0;
    }
      #statistics .data td {
      }
        #statistics .number {
          font-size: 50px;
          border-bottom: 1px solid #131b1d;
        }
        #statistics .chart_col {
          position: relative;
          padding-bottom: 10px;
          height: 180px;
        }
        #statistics .chart {
          position: absolute;
          left: 0; right: 0;
          height: 180px;
          padding-bottom: 10px;
          border-bottom: 1px solid #131b1d;
        }
      #statistics .labels td, #statistics thead td {
        font-size: 10px;
        text-transform: uppercase;
        padding: 5px 0 50px 0;
      }

#account_dialog {
  border-bottom: 1px solid #131b1d;
}
  #account_dialog thead td {
    border-bottom: 1px solid #131b1d;
  }
  #account_dialog tr {
    background: transparent;
  }
    #account_dialog tr td {
      color: #222;
      padding: 5px 35px 5px 0;
    }
      #account_dialog img.avatar {
        margin: 1px 15px 1px 4px;
        border: 0;
      }
      #account_dialog .document_count .private {
        color: #844;
      }
