body.empty #container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #e9e9e9;
  overflow-y: auto;
}
  body.empty #content {
    position: absolute;
    top: 40%; left: 50%;
    margin: -66px 0 0 -195px;
    height: 132px; width: 390px;
    text-align: center;
  }

body.empty #logo {
  width: 390px;
  margin: 0 auto;
}

body.empty #search_container {
  margin-top: 5px;
}

body.empty #quick_links {
  margin-top: 30px;
  font: 12px Arial;
  color: #3656ab;
}