/*
Columns:
660, 40 padding, 260

Colors:

Text Black: #232323
Light Text: #445056
Link Blue:  #282d66

Highlight:  #ffffcc
Divider:    #ccc
*/

body {
  background: #fff url(/images/embed/home/stripes.png);
  font: 15px/22px Helvetica, Arial, sans-serif;
  color: #232323;
}

.sans {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.serif {
  font-family: Georgia, serif;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

.imagetext {
  text-indent: -10000px;
}

a, a:visited {
  color: #344b6c;
}
  a:hover, a:active {
    color: #282d66;
  }
  a.imagelink {
    padding: 0;
    border: 0;
  }

h1 {
  font-weight: 300;
  font-size: 25px;
  padding: 3px 0 25px 45px;
}

#sky {
  position: absolute;
  top: 70px; left: 0; right: 0;
  height: 350px;
  background: transparent url(/images/embed/home/sky.png) repeat-x 0 0;
  z-index: 3;
}

#toolbar {
  position: absolute;
  top: 0;
  width: 100%; height: 79px;
  z-index: 50;
  background: url(/images/embed/home/toolbar.png);
}
  #innerbar {
    width: 1030px;
    position: absolute;
    left: 50%;
    margin-left: -513px;
  }
    #nav {
    }
      #nav li {
        width: 205px;
        height: 70px;
        margin: 0;
        float: left;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center 12px;
      }
        #nav #nav_overview {
          background-image: url(/images/embed/home/nav_overview.png);
        }
        #nav #nav_search {
          background-image: url(/images/embed/home/nav_search.png);
        }
        #nav #nav_open {
          background-image: url(/images/embed/home/nav_open.png);
        }
        #nav #nav_guide {
          background-image: url(/images/embed/home/nav_guide.png);
        }
        #nav #nav_news {
          background-image: url(/images/embed/home/nav_news.png);
        }
        #nav li .mark {
          display: block;
          height: 70px;
        }
          #nav li:hover .mark, #nav .mark.active {
            background: url(/images/embed/home/tip.png) no-repeat center bottom;
          }

#knightfdn {
  display: none;
  width: 156px; height: 23px;
  position: absolute;
  top: 320px; right: 15px;
  background: url(/images/embed/home/knight.png);
  z-index: 5;
}
#docs_wrapper {
  position: absolute;
  width: 1009px;
  top: 72px;
  left: 50%;
  margin-left: -508px;
  z-index: 5;
}

#container {
  position: relative;
  width: 960px;
  margin: 425px auto 0;
}

#content {
  width: 650px;
  padding-bottom: 50px;
}
#content hr {
  border: 0;
  background: #ccc;
  height: 1px;
  margin-top: 30px;
}
  #content .graf {
    position: relative;
    margin: 30px 0 15px;
  }
    #content .graf.section {
      margin-top: 25px;
    }
  #content .visual {
    float: right;
    border: 1px solid #ccc;
    margin: 0 0 0 15px;
    box-shadow: 0px 0px 3px #ccc; -webkit-box-shadow: 0px 0px 3px #ccc; -moz-box-shadow: 0px 0px 3px #ccc;
  }
    #content .visual.left {
      float: left;
      margin: 0 20px 0 0;
    }

.number {
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: 28px; height: 28px;
  background: url(/images/embed/home/numbers.png);
}
  .number.two {
    background-position: 0 -49px;
  }
  .number.three {
    background-position: 0 -99px;
  }

#sidebar {
  width: 260px;
  position: absolute;
  right: 0;
  font-size: 11px;
  line-height: 14px;
  color: #445056;
}
  #sidebar .sidebar_section {
    margin-bottom: 30px;
    padding: 12px 15px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #ccc; -webkit-box-shadow: 0px 0px 3px #777; -moz-box-shadow: 0px 0px 3px #ccc;
  }
    #sidebar .minibutton {
      display: inline-block;
      margin: 10px auto 0;
    }
  #search_wrapper {
  }
    #search_desc {
      margin-bottom: 12px;
    }
    #search_box_wrapper {
    }
  #news {
    font-size: 11px;
  }
    #news_desc {
      color: #232323;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    #news ul {
      text-align: left;
    }
      #news li {
        margin-top: 10px;
      }
        #news .date {
          white-space: nowrap;
          font-size: 9px;
          text-transform: uppercase;
          color: #777;
        }

#footer {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 25px 0 50px 0;
  border-top: 1px solid #ccc;
  font-size: 11px;
  color: #445056;
}
  #logos li {
    margin-right: 31px;
    float: left;
  }
    #logos a.propublica {
      position: relative;
      top: -4px;
    }
    #logos a.more {
      position: absolute;
      right: 0px;
      top: 35px;
    }
  #footer_links {
    text-align: center;
  }
