/*
Colors:

Text Black: #232323
Light Text: #445056
Link Blue:  #282d66

Highlight:  #ffffcc
Link Back:  #cce1ff
Link Under: #66a6ff
*/

body {
  background: #fff url(/images/embed/home/sky_bg.png) repeat-x 0 60px;
  font: 15px/1.5em Helvetica, Arial, sans-serif;
  color: #232323;
}

.sans {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.serif {
  font-family: Georgia, serif;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

a, a:visited {
  color: inherit;
  background: #cce1ff;
  padding: 0 2px;
  text-decoration: none;
  border-bottom: 1px solid #66a6ff;
}
  a:hover, a:active {
    color: #282d66;
  }
  a.imagelink {
    padding: 0;
    border: 0;
  }

b {
  background: #ffffcc;
  padding: 0 2px 0;
}


h1 {
  text-align: center;
  font-weight: 300;
  font-size: 27px;
}
h2 {
  display: block;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  line-height: 1.3em;
  color: #445056;
}
  h2 b {
    color: #3a3a3a;
  }
h3 {
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
  margin: 13px 10px 15px 0;
}
h4 {
  font-style: italic;
  font-size: 15px;
  color: #445056;
  display: inline;
}

#toolbar {
  position: fixed;
  top: 0;
  width: 100%; height: 69px;
  z-index: 50;
  background: url(/images/embed/home/toolbar.png);
}
  #innerbar {
    width: 760px;
    position: relative;
    margin: 0 auto;
  }
    #logo {
      width: 172px;
      height: 30px;
      position: absolute;
      top: 14px; left: 0px;
      background: url(/images/embed/home/logo.png);
    }
    #toolmenu {
      position: absolute;
      margin: 0 0 0 200px;
    }
      #toolmenu li {
        height: 20px;
        font-size: 13px;
        text-shadow: 1px 1px 1px #fff;
        padding: 20px;
        float: left;
        cursor: pointer;
      }
        #toolmenu li:hover {
          color: #282d66;
          background: url(/images/embed/home/tip.png) no-repeat center bottom;
        }

#knightfdn {
  display: block;
  width: 156px; height: 23px;
  position: absolute;
  top: 310px; right: 15px;
  background: url(/images/embed/home/knight.png);
}
#document_stack {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -347px;
}

#container {
  width: 760px;
  margin: 0 auto;
}
  body.homepage #container {
    position: relative;
    margin-top: 450px;
  }
  #tagline {
  }
  #search_box_wrapper {
    width: 542px;
    margin: 30px auto;
  }
  #content {
    margin-top: 50px;
  }
    #content .graf {
      position: relative;
      padding-left: 60px;
      margin: 30px 0;
    }

.number {
  display: block;
  position: absolute;
  left: 0; top: 0;
  margin: 0 10px 10px 0;
  width: 46px; height: 46px;
  background: url(/images/embed/home/numbers.png);
}
  .number.two {
    background-position: 0 -50px;
  }
  .number.three {
    background-position: 0 -100px;
  }