body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  background: white;
}
a {
  cursor: pointer;
  color: #536eac;
  text-decoration: none;
}
  a:hover {
    color: #000055;
  }
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  margin: 1.5em 0 0.5em 0;
}
  h1 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
  }
small {
  font-size: 0.85em;
}
  small.up {
    font: 10px Arial, sans-serif;
    text-transform: uppercase;
  }

#container {
  position: relative;
  width: 700px;
  margin: 2em auto 0;
  padding: 0 0 3em 175px;
  color: black;
}
  #content {
    padding-bottom: 2em;
    font: 1.5em/1.533em 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  }
    #content p {
      margin: 0 0 1em 0;
    }
      #content p.intro {
        font-size: 1.2em;
      }
    #content ul {
      margin: 0 0 0 1.25em;
      list-style-type: circle;
      color: #4e4e4e;
    }
    #content ol {
      padding-left: 20px;
    }
      #content ol.decimal {
        list-style-type: decimal;
      }
      #content ol.lower_alpha {
        list-style-type: lower-alpha;
      }
      #content ol.lower_roman {
        list-style-type: lower-roman;
      }
      #content li {
        margin: 0.5em 0;
      }
    #content .screenshot {
      margin: 1em 0;
      position: relative;
      left: -20px;
    }
    #content img.framed {
      border: 8px solid #ddd;
      -ms-interpolation-mode: bicubic;
    }
    #content img.headshot {
      border: 3px solid #ddd;
      float: right;
      margin: 0 20px 20px 20px;
    }

#sidebar {
  position: absolute;
  width: 155px;
  min-height: 500px;
  left: 0;
}
  #cloud_edge {
    position: absolute;
    top: 2px; left: 80px;
    width: 67px; height: 30px;
    background: url(/images/embed/ui/cloud_edge.png) no-repeat;
  }
    #wordmark {
      left: 10px;
      position: absolute;
      color: #566eaa;
      font-size: 16px;
      top: 16px;
    }

#navigation {
  height: 40px;
  margin-bottom: 2em;
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #e2e2e2;
}
  #navigation a {
    margin-right: 18px;
  }

#footer {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #4e4e4e;
}

#extras {
  margin: 3em 0 2em 0;
}
  #blogposts {
    width: 400px;
  }
  #twitter {
    float: right;
  }
    #twitter .twtr-ft div * {
      display: none;
    }