body {
  font-family: Arial, sans-serif;
  background: white;
}
a {
  cursor: pointer;
  color: #536eac;
  text-decoration: none;
}
  a:hover {
    color: #000055;
  }
h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  line-height: 22px;
  margin: 22px 0 11px 0;
  font-weight: bold;
}
  h1, #content.static #help h1 {
    font-size: 20px;
    margin: 30px 0 22px 0;
  }
  h2, #content.static #help h2 {
    font-size: 16px;
    margin: 22px 0 11px 0;
  }
  h3, #content.static #help h3 {
    font-size: 15px;
  }
small {
  font-size: 12px; line-height: 22px;
}
  small.up {
    font: 10px Arial, sans-serif;
    text-transform: uppercase;
  }

#container {
  position: relative;
  width: 700px;
  margin: 20px auto 0;
  padding: 0 0 50px 175px;
  color: black;
}
  #content {
    padding-bottom: 50px;
    font: 15px/22px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  }
    #content p, #content.static #help p {
      margin: 22px 0;
    }
      #content p.intro {
        font-size: 18px;
      }

      #content #login {
        border: 1px solid #536eac;
        background: #EEE;
        float: right;
        width: 140px;
        padding: 10px;
        margin: 0 5px;
      }

      #content #login p {
        margin: 5px 0;
      }

    #content ul, #content.static #help ul {
      margin: 0 0 0 22px;
      list-style-type: circle;
      color: #555;
    }
    #content ol {
      padding-left: 20px;
    }
      #content ol.decimal {
        list-style-type: decimal;
      }
      #content ol.lower_alpha {
        list-style-type: lower-alpha;
      }
      #content ol.lower_roman {
        list-style-type: lower-roman;
      }
      #content li, #content.static #help li {
        margin: 11px 0;
      }
    #content .home_splash {
      margin-top: 30px;
      font-size: 18px;
      line-height: 22px;
    }
    #content .screenshot {
      margin: 22px 0;
      position: relative;
      left: -20px;
    }
    #content img.framed {
      border: 8px solid #ddd;
      -ms-interpolation-mode: bicubic;
    }
    #content img.headshot {
      border: 3px solid #ddd;
      float: right;
      margin: 0 20px 20px 20px;
    }

#sidebar {
  position: absolute;
  width: 155px;
  min-height: 500px;
  left: 0;
}
  #cloud_edge {
    position: absolute;
    top: 3px; left: 80px;
    width: 67px; height: 30px;
    background: url(/images/embed/ui/cloud_edge.png) no-repeat;
  }
    #wordmark {
      left: 18px;
      position: absolute;
      color: #566eaa;
      font-size: 15px;
      top: 17px;
    }

#navigation {
  height: 40px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 50px;
  border-bottom: 1px solid #e2e2e2;
}
  #navigation a {
    margin-right: 15px;
  }
    #navigation .active {
      color: #005;
    }

#footer {
  font-size: 11px;
  line-height: 14px;
  color: #555;
}

#extras {
  margin: 44px 0 22px 0;
}
  #blogposts {
    width: 400px;
  }
  #twitter {
    float: right;
  }
    #twitter .twtr-ft div * {
      display: none;
    }

#content #help #help_navigation {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 12px;
  width: 150px;
}
  #content.static #help_navigation li {
    list-style: none;
    line-height: 18px;
    margin: 0 0 15px 0;
  }
    #help #help_navigation li.active a {
      color: black;
      text-decoration: none;
    }

#content.static #help {
  font: inherit;
  display: block;
  padding: 0;
  max-width: inherit;
  color: #000;
}
  #content.static #help ul {
    margin-left: 0;
    padding-left: 15px;
    color: #000;
  }
    #content.static #help ul li {
      padding-left: 5px;
    }
  #content.static #help h1 {
    font-size: 18px;
  }
  #content.static #help a {
    color: #536eac;
  }
  #content.static #help a:hover {
    color: #000055;
    text-decoration: none;
  }
  #content.static #help table td, #help table th {
    font-size: 14px;
  }
    #content.static #help .ajax_only {
      display: none;
    }
    #content.static #help .static_only {
      display: inline;
    }
