/*-------------------------- Main edit buttons --------------------------------*/
#control_panel {
  position: relative;
  font: bold 12px Arial;
  margin: 0 10px 0 10px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  color: #004276;
}
  #DV-docViewer.DV-viewAnnotations #control_panel {
    display: none;
  }
  #control_panel .button {
    cursor: pointer;
    margin: 0 0 12px 14px;
  }
    #control_panel .button.open {
      color: black;
    }
    #control_panel .button:first-child {
      border-top: 0;
    }
    #control_panel .button:hover span {
      text-decoration: underline;
    }
      #control_panel .color_block {
        width: 6px; height: 6px;
        border: 1px solid #aaa;
        position: absolute;
        margin-top: 2px;
        left: 0px;
      }
        #control_panel .button.open .color_block {
          display: none;
        }
        #control_panel .private_annotation .color_block {
          background: #a4c0ff;
        }
        #control_panel .public_annotation .color_block {
          background: #edd134;
        }
      #control_panel .color_close {
        position: absolute;
        left: 1px;
        color: #aa3333;
        font: normal 12px/12px Arial;
        display: none;
      }
        #control_panel .button.open .color_close {
          display: block;
        }
  #control_panel,
  #control_panel .document_only,
  #control_panel .text_only {
    display: none;
  }
    #DV-docViewer.DV-viewDocument #control_panel,
    #DV-docViewer.DV-viewText #control_panel,
    #DV-docViewer.DV-viewDocument #control_panel .document_only,
    #DV-docViewer.DV-viewText #control_panel .text_only {
      display: block;
    }

#notifier {
  font-size: 10px;
  z-index: 10000000;
}

/*---------------------------- The Section Editor ----------------------------*/
#section_editor, #annotation_editor {
  z-index: 10000000;
}
  #section_editor .text {
    font: italic 11px Arial;
    color: #777;
    padding-bottom: 15px;
  }
  #section_editor .remove_all {
    font: italic 11px Arial;
    color: #a55;
    float: left;
    margin: 2px 0 0 10px;
  }
  #section_editor ol {
    margin: 0 0 20px 0;
    padding-right: 25px;
    width: 310px; max-height: 400px;
    padding-left: 40px;
    list-style-type: decimal;
    overflow-y: auto;
  }
    #section_editor li {
      margin-bottom: 7px;
    }
      #section_editor .section_title {
        margin-right: 15px;
      }
      #section_editor .page_number {
        width: 30px;
      }
      #section_editor .plus, #section_editor .minus {
        float: right;
        margin: 0px 0 0 3px;
        position: relative;
        top: 7px;
        cursor: pointer;
      }
      #section_editor li:first-child .minus {
        display: none;
      }

/*-------------------------- The Annotation Editor ---------------------------*/
#annotation_editor {
  position: absolute;
}
  #annotation_editor .close {
    font: 11px Arial;
    float: right;
    margin: 3px 5px 0 0;
  }
  #annotation_editor .title_wrapper {
    background: #eee;
  }
  #annotation_editor .annotation_cropper {
    min-width: 100px; min-height: 100px;
    width: 450px; height: 150px;
    border: 1px solid #aaa;
  }
  #annotation_editor .annotation_content {
    width: 450px; height: 75px;
  }

.DV-annotationTextArea {
  border: 1px solid #ccc;
}