#control_panel {
  position: fixed;
  bottom: 10px; left: 10px;
  z-index: -1;
  font: 10px Arial;
  text-transform: uppercase;
  border: 1px solid #979797;
  background: #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#b0b0b0));
  text-shadow: 0px 1px 1px #fff;
  color: #2C2C2C;
  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  opacity: 0.65;
  -webkit-transition: opacity 0.15s linear;
}
  #control_panel:hover {
    opacity: 1;
  }
  #control_panel .button {
    cursor: pointer;
    padding: 5px 10px;
    border-top: 1px solid #aaa;
  }
    #control_panel .button:first-child {
      border-top: 0;
    }
    #control_panel .button:hover {
      font-weight: bold;
    }

#notifier {
  font-size: 10px;
  z-index: 10000000;
}

#section_editor {
  z-index: 10000000;
}
  #section_editor .text {
    font: italic 11px Arial;
    color: #777;
    padding-bottom: 15px;
  }
  #section_editor .remove_all {
    font: italic 11px Arial;
    color: #a55;
    position: absolute;
    left: 10px; bottom: 10px;
  }
  #section_editor ol {
    margin: 0 0 25px 0;
    padding-right: 25px;
    width: 310px; max-height: 400px;
    overflow-y: auto;
  }
    #section_editor li {
      margin-bottom: 7px;
    }
      #section_editor .plus, #section_editor .minus {
        float: right;
        margin: 0px 0 0 3px;
        position: relative;
        top: 7px;
        cursor: pointer;
      }
      #section_editor li:first-child .minus {
        display: none;
      }