#control_panel {
  position: fixed;
  top: 60px; left: 20px;
  z-index: -1;
  font: 10px Arial;
  text-transform: uppercase;
  border: 1px solid #979797;
  background: #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#b0b0b0));
  text-shadow: 0px 1px 1px #fff;
  color: #2C2C2C;
  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  opacity: 0.65;
  -webkit-transition: opacity 0.15s linear;
}
  #control_panel:hover {
    opacity: 1;
  }
  #control_panel .button {
    cursor: pointer;
    padding: 5px 10px;
  }

#notifier {
  font-size: 10px;
  z-index: 10000000;
}