body {
	background: #fff;
/*  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;*/
  font-family: Helvetica, "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	color: #222;
	padding: 0;
	margin: 0;
}
#container {
	margin: 10px auto;
	width: 720px;
}
#content {
	margin: 30px;
}
	#content h1 {
		font-size: 20px;
	}
	#content h2 {
		font-size: 16px;
	}

	#content p {
		margin: 10px;
	}
	#content ul {
		list-style: none;
		padding: 0;
		margin: 5px 10px;
	}
		#content ul li {
			line-height: 2em;
		}
			#content ul li a {
				font-weight: bold;
			}
	#content a:link, #content a:active, #content a:visited {
		color: #4c8099;
	}
	#content a:hover {
		color: #000;
	}