html {
  font-family: Arial, sans-serif;
  color: #373737;
  font-size: 12px;
}
a {
  color: inherit;
  text-decoration: none;
}

#topbar {
  display: block;
  border-bottom: 2px solid #777;
}
  #cloud_edge {
    position: absolute;
    top: 10px; left: 80px;
    width: 67px; height: 30px;
    background: url(/images/common/cloud_edge.png) no-repeat;
  }
  .logo_words {
    position: absolute;
    color: #566eaa;
    font-size: 16px;
    top: 23px;
  }
    #wordmark {
      cursor: pointer;
      left: 10px;
    }
    #title {
      left: 153px;
    }
  #search {
    position: absolute;
    right: 15px; top: 15px;
    font-size: 12px;
    width: 30%;
    color: #333;
    border: 1px solid #999;
    -moz-border-radius: 6px;
  }
  
#spinner {
  display: none;
  position: absolute;
  margin-right: 30px;
  top: 17px; right: 30%;
  font-size: 10px;
  text-transform: uppercase;
  background: #efefef;
  color: #878787;
  border: 1px solid #aaa;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  padding: 4px 5px 3px 5px;
}
  #spinner_text {
    float: left;
  }
  #spinner_image {
    float: left;
    margin: 2px 0 0 7px;
    width: 56px; height: 7px;
    background: url(/images/ui/spinner.gif);
  }
  
#content {
  position: absolute;
  bottom: 0px; top: 52px; left: 0; right: 0;
  overflow: hidden;
/*  background: #efefef;*/
  background: #979797;
}

.sidebar {
  position: absolute;
  top: 10px; left: 10px; bottom: 10px;
  width: 300px;
  overflow: hidden;
}
  body.logged_in .sidebar {
    top: 50px;
  }
  .sidebar_background {
    position: absolute;
    top: 21px; bottom: 21px;
    width: 298px;
    background: #e6e6e6;
    border: 1px solid #8b8b8b;
    border-top: 0; border-bottom: 0;
  }
  .sidebar_back {
    position: absolute;
    height: 21px; width: 300px;
  }
    .sidebar_top {
      top: 0px;
      background: url(/images/ui/sidebar_top.png);
    }
    .sidebar_bottom {
      bottom: 0px;
      background: url(/images/ui/sidebar_bottom.png);
    }
  .search_query {
    position: absolute;
    top: 3px; left: 10px; right: 10px;
    font-size: 10px;
    line-height: 16px;
    height: 16px; 
    overflow: hidden;
    color: #777;
  }

.panel {
  position: absolute;
  left: 320px; right: 10px; top: 10px; bottom: 10px;
  padding: 21px 0px 0px 0px;
}
  body.logged_in .panel {
    top: 50px;
  }
  .panel_background {
    position: absolute;
    left: 0px; right: 0px; top: 21px; bottom: 0px; 
    overflow: auto;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; -border-radius: 6px;
    -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0;
  }
  .cap {
    height: 21px;
    position: absolute;
    top: 0;
  }
    .cap_top_left {
      left: -1px;
      width: 13px;
      background: url(/images/ui/cap_top_left.png);
    }
    .cap_top_middle {
      left: 12px; right: 11px;
      background: url(/images/ui/cap_top_middle.png);
    }
    .cap_top_right {
      width: 12px;
      right: -1px;
      background: url(/images/ui/cap_top_right.png);
    }

#signup_form {
  position: absolute;
  text-align: center;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #fff;
  background: -webkit-gradient(radial, center top, 0, 0 0, 1500, from(rgb(245,245,245)), to(rgb(155,155,155)));
}
  #signup_form form {
    padding: 50px 0 0 0;
  }
    #signup_form h1 {
      color: #566eaa;
      font: bold 24px Arial;
    }
    #signup_form .line {
      width: 545px;
      margin: 25px auto;
    }
      #signup_form label {
        display: block;
        width: 170px;
        text-align: right;
        font: bold 16px Arial;
        line-height: 14px;
        color: #444;
      }
        #signup_form .example {
          font: bold italic 11px Arial;
          color: #666;
        }
      #signup_form input {
        position: absolute;
        margin: 0 0 0 195px;
        width: 350px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #999;
        -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
        display: block;
      }
      #signup_form .license {
        color: #666;
        width: 355px;
        padding-left: 195px;
        text-align: justify;
        font: italic 11px Arial;
      }
      #signup_form button {
        position: relative;
        left: -42px;
      }
      
#controls {
  position: absolute;
  left: 17px; top: 15px;
}
  #controls .control {
    width: 28px; height: 28px;
    float: left;
    margin-right: 7px;
    cursor: pointer;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 3px #555; -moz-box-shadow: 0 1px 3px #555;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
    -webkit-transition: -webkit-box-shadow, background, width 0.2s linear;
  }
    #controls .control:hover {
      width: 97px;
      -webkit-box-shadow: 0 1px 10px #444; -moz-box-shadow: 0 1px 10px #444;
      background-color: #eee;
    }
    #controls .control_title {
      font: 9px Arial;
      width: 65px;
      margin: 4px 0 0 28px;
      line-height: 10px;
      text-transform: uppercase;
      color: #666;
      display: none;
    }
      #controls .control:hover .control_title {
        display: block;
      }
    #upload_document_button {
      background-image: url(/images/icons/page_white_add.png);
    }
    #manage_accounts_button {
      background-image: url(/images/icons/group.png);
    }
    #manage_collections_button {
      background-image: url(/images/icons/sitemap.png);
    }
    
#navigation {
  position: absolute;
  left: 320px; top: 0px; right: 10px;
  padding-left: 7px;
  height: 50px;
  overflow: hidden;
}
  #navigation .nav {
    cursor: pointer;
    position: relative;
    float: left;
    margin: 19px 7px 100px 0px;
    font: 14px/17px Arial;
    padding: 7px 12px;
    background: #dadada;
    -webkit-box-shadow: 0 1px 5px #666; -moz-box-shadow: 0 1px 5px #666;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
    -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cacaca));
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    color: #224455;
  }
    #navigation .nav:hover {
      background: #efefef;
      color: #002256;
      background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dfdfdf));
      -webkit-box-shadow: 0 1px 10px #222; -moz-box-shadow: 0 1px 10px #222;
    }

.document_upload {
  position: relative;
  padding: 18px;
}
  .document_upload label {
    font: bold 16px Arial;
    line-height: 14px;
    color: #444;
    display: block;
    margin-bottom: 7px;
  }
    .document_upload label .example {
      font: bold italic 11px Arial;
      color: #666;
    }
  .document_upload input {
    margin-bottom: 25px;
    display: block;
  }
    .document_upload input[type=text] {
      width: 350px;
      font-size: 16px;
      line-height: 20px;
      border: 1px solid #999;
      -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    }
  
.sidebar .help {
  position: absolute;
  top: 21px; bottom: 21px; left: 1px; right: 1px;
  overflow-y: auto;
  padding: 10px;
  width: 280px;
}
  .sidebar .help h4 {
    font: bold 10px Arial;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 0 0 7px 0;
  }
  .sidebar .help p {
    font: 11px;
    line-height: 16px;
    color: #222;
    margin-bottom: 15px;
  }