html {
  font-family: Arial, sans-serif;
  color: #373737;
  font-size: 12px;
}
body {
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

#topbar {
  display: block;
  border-bottom: 2px solid #ddd;
}
  body.full_page_background #topbar {
    border-bottom-color: #aaa;
  }
  #cloud_edge {
    position: absolute;
    top: 10px; left: 80px;
    width: 67px; height: 30px;
    background: url(/images/embed/ui/cloud_edge.png) no-repeat;
  }
  .logo_words {
    position: absolute;
    color: #566eaa;
    font-size: 16px;
    top: 23px;
  }
    #wordmark {
      cursor: pointer;
      left: 10px;
    }
    #title {
      left: 153px;
    }
  #search_box {
    position: absolute;
    right: 190px; top: 12px; left: 325px;
    border: 1px solid #999;
    font-size: 16px;
    color: #333;
    -moz-border-radius: 6px;
  }
  #search_type {
    position: absolute;
    right: 15px; top: 14px;
  }

#save_search {
  opacity: 0; filter: alpha(opacity=0);
  position: absolute;
  top: 71px; right: 10px;
/*  top: 128px; right: 15px;*/
}

#spinner {
  display: none;
  width: 150px;
  position: absolute;
  top: 15px; right: 15px;
  font-size: 10px;
  text-transform: uppercase;
  background: #efefef;
  color: #878787;
  border: 1px solid #aaa;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  padding: 4px 5px 5px 5px;
}
  #spinner_text {
    float: left;
  }
  #spinner_image {
    float: left;
    margin: 2px 0 0 7px;
    width: 56px; height: 7px;
    background: url(/images/embed/ui/spinner.gif);
  }

#content {
  position: absolute;
  bottom: 0px; top: 52px; left: 0; right: 0;
  overflow: hidden;
  background: #f7f7f7;
}

#sidebar {
  position: absolute;
  top: 0px; left: 0px; bottom: 38px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e7e7e7;
  border-right: 1px solid #ddd;
  width: 310px;
  -webkit-box-shadow: 0 0 25px #ddd; -moz-box-shadow: 0 0 25px #ddd;
  z-index: 5;
}
  #sidebar_content {

  }
    .search_query, #paginator {
      display: none;
      position: absolute;
      top: 3px; left: 10px; right: 10px;
      font-size: 10px;
      line-height: 16px;
      height: 16px;
      overflow: hidden;
      color: #777;
    }
      #paginator {
        top: 2px;
      }
      #paginator > span {
        padding: 0 2px;
        cursor: pointer;
      }
        #paginator > span:hover, #paginator .current {
          font-weight: bold;
          color: #555;
        }
        #paginator .arrow {
          font-size: 12px;
        }

.panel_container {
  position: absolute;
  left: 310px; right: 0px; top: 0px; bottom: 0px;
}
  .panel_content .panel {
    position: absolute;
    overflow-y: auto;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    padding: 10px 10px 10px 15px;
  }

#no_results_container {
  position: absolute;
}
  #no_results {
    position: relative;
    margin: 15px 0 0 15px;
    padding: 8px 15px 8px 77px;
    height: 77px;
    font-size: 14px;
    line-height: 77px;
    color: #777;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border: 1px solid #ccc;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
  }
    #no_results_query {
      font-weight: bold;
    }
    #no_results .icon {
      position: absolute;
      top: 8px; left: 8px;
    }

#no_uploads {
  position: absolute;
  top: 7px; left: 7px; right: 7px;
  padding: 7px 15px 7px 28px;
  color: #999;
  text-transform: uppercase;
  font-size: 10px;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  border: 1px solid #ccc;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
  #no_uploads .icon {
    position: absolute;
    top: 4px; left: 4px;
    opacity: 0.75; filter: alpha(opacity=75);
  }

.full_page_background {
  position: absolute;
  overflow: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #f2f2f2;
  background: -webkit-gradient(radial, center top, 0, 0 0, 1500, from(rgb(250,250,250)), to(rgb(155,155,155)));
}
  #full_screen_form form {
    padding: 50px 0 0 0;
  }
    #full_screen_form h1 {
      text-align: center;
      color: #566eaa;
      font: bold 24px Arial;
      text-shadow: 0px 1px 1px #fff;
    }
    #full_screen_form .form_error {
      margin-top: 20px;
    }
      #full_screen_form .form_error.login_error {
        top: -15px;
      }
    #full_screen_form .line {
      width: 545px;
      margin: 30px auto;
    }
      .full_page_background label {
        display: block;
        text-align: right;
        font: bold 16px Arial;
        width: 120px;
        line-height: 14px !important;
        color: #444;
        text-shadow: 0px 1px 1px #fff;
      }
        #full_screen_form label {
          width: 170px;
        }
        .full_page_background .example {
          font: bold italic 11px Arial;
          color: #666;
        }
      #full_screen_form .text_input {
        display: block;
        position: absolute;
        margin: 0 0 0 195px;
        width: 355px;
      }
        #full_screen_form .text_input.left_half {
          width: 165px;
        }
        #full_screen_form .text_input.right_half {
          width: 169px;
          margin-left: 380px;
        }
      #full_screen_form .license {
        color: #666;
        width: 355px;
        padding-left: 195px;
        text-align: justify;
        font: italic 11px Arial;
      }
      #full_screen_form button {
        position: relative;
        left: 195px;
        margin: 0;
      }

.sidebar .help {
  position: absolute;
  overflow-y: auto;
  padding: 10px;
  width: 280px;
}
  .sidebar .help h4 {
    font: bold 10px Arial;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 0 0 7px 0;
  }
  .sidebar .help p {
    font: 11px;
    line-height: 16px;
    color: #222;
    margin-bottom: 15px;
  }