<img class="avatar" src="<%= account.DEFAULT_AVATAR %>" width="<%= size %>" height="<%= size %>" />
<div class="name">
  <%= dc.inflector.truncate(account.fullName(), 20) %>
</div>
<div class="controls">
  <a href="#" class="admin_link text_link"><%= _.t('manage') %> <%= _.t('account') %></a>
  &nbsp;/&nbsp;
  <a href="/logout" class="text_link"><%= _.t('log_out') %></a>
</div>
