<div class="title_box">
  <span class="title_box_inner" class="noselect"><%= _.t('account') %></span>
</div>
<div class="information selectable_text"><%= information || '' %></div>
<!-- <div class="toggle"></div>-->
