<div class="reviewers reviewers_<%= group %> not_draggable" data-doc-id="<%= group %>">
  <% if (thumbnailUrl) { %>
    <div class="reviewers_document_image"><img src="<%= thumbnailUrl %>" /></div>
  <% } %>
  <div class="reviewers_title">
    <%= groupTitle %> Reviewers:
  </div>
  <table class="reviewer_list" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    </tbody>
  </table>
</div>
