<div class="reviewer_email">
  <div class="reviewer_email_remove icon cancel_search_dark"></div>
  <div class="reviewer_email_image">
    <img class="avatar" src="<%= account.DEFAULT_AVATAR %>" width="<%= size %>" height="<%= size %>" />
  </div>
  <div class="reviewer_email_name">
    <%= Inflector.truncate(account.fullName(true), 40) %>
  </div>
  <div class="reviewer_email_email">
    <%= account.get('email') %>
  </div>
</div>