<li id="document_<%= id %>" class="document_tile large_size">
	<div class="icon document generic"></div>
	<div class="title"><%= title %></div>
	<div class="organization">Source: <%= organization %></div>
	<div class="summary"><%= summary %></div>
</li>