<div class="metalist" id="metalist_<%= key %>">
	<div class="metalist_title"><%= key %></div>
	<div class="metalist_content">
		<% for (var i=0; i<value.length; i++) { %>
			<div class="metalist_entry"><%= value[i].get('value') %></div>
		<% } %>
	</div>
</div>