<input id="search_box" type="search" placeholder="search" autosave="documentcloud" results="10" />
<select id="search_type">
  <option value="all">Across all projects</option>
  <option value="account">Within my documents</option>
  <option value="organization">Within my organization</option>
  <option value="project" disabled="true">Within this project</option>
</select>