<div id="title_box">
  
</div>
<div id="search_box_wrapper" class="text_input search">
  <div class="icon search_glyph"></div>
  <div class="search_inner">
    <input placeholder="Search..." id="search_box" />
  </div>
  <div class="icon cancel_search" title="clear search"></div>
</div>
