<div id="sidebar_background"></div>
<div id="sidebar_content">
  <div id="query_container" class="active_search empty_search"></div>
  <div id="organizer_container"></div>
  <div id="entities_container"></div>
</div>
