<div class="metalist_entry" title="total relevance: <%= meta.displayTotalRelevance() %>">
  <span class="metalist_entry_text">
    <span class="jump_to" title="open the page containing '<%= meta.get('value') %>'" data-id="<%= meta.id %>"><%= meta.get('value') %></span>
  </span>
</div>