<div class="panel_content">
  <div id="pagination_container" class="active_search"></div>
  <div id="document_list_container" class="active_search"></div>
  <div id="search_toolbar_container" class="active_search"></div>
  <div id="no_results_container" class="empty_search"></div>
</div>