<div id="floating_toolbar">
  <!-- <div id="toolbar_upload" class="minibutton"><span>Upload</span></div> -->
  <div id="open_viewers" class="minibutton">Open</div>
  <div class="project_menu_container"></div>
  <div class="edit_menu_container"></div>
  <div class="publish_menu_container"></div>
  <div id="open_timeline" class="minibutton">Timeline</div>
</div>
