<div class="label_menu_container"></div>
<div id="bookmark_button" class="minibutton">bookmark</div>
<div class="download_menu_container"></div>
<div id="delete_document_button" class="minibutton warn">delete</div>