<div class="project_menu_container"></div>
<div class="download_menu_container"></div>
<div class="access_menu_container"></div>
<div class="connections_menu_container"></div>
<div id="edit_remote_url_button" class="minibutton hidden">Remote Url</div>
<div id="delete_document_button" class="minibutton hidden">Delete</div>
<div id="calais_credits">
  <div class="icon calais"></div>
  Powered by OpenCalais
</div>