<form method="get" action="/workspace">
  <img id="logo" src="/images/common/document_cloud_logo_large.png" alt="DocumentCloud" />
  
  <div id="search_container">
    <input id="search" name="q" type="search" size="43" placeholder="search documents..." title="DocumentCloud Search" value="" />
  </div>
</form>