<%
  @bodyclass = 'search'
%>

<form id="search_form" method="get" action="/workspace">
  <img id="logo" src="/images/common/document_cloud_logo_large.png" alt="DocumentCloud" />
  
  <div id="search_container">
    <input id="search" name="search" type="search" size="43" placeholder="search documents..." title="DocumentCloud Search" value="" />
  </div>
</form>

<script type="text/javascript">
  $('#search_form').bind('submit', function(e) {
    var query = $('#search').val();
    window.location = "/workspace/#search/" + encodeURIComponent(query);
    return false;
  });
</script>