<%
  @title  = "Apply"
  @header = "Apply for a DocumentCloud account"
%>

<div id="content">

<%= form_for @verification_request, :url => {:controller => 'signup', :action => 'create_request'}, :html => { :class => 'form_v2' } do |f| %>

  <% if @verification_request.errors.any? %>
    <div class="alert error">
      <b>Sorry, we couldn’t create your request.</b> Please fix these and try again:
      <ul>
      <% @verification_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Fill out this application and we’ll be in touch, usually within a day or two. For help with the process, email <a href="mailto:support@documentcloud.org">support@documentcloud.org</a>.</p>

  <fieldset class="fieldrow has3">
    <div class="fieldwrap required">
      <input id="requester_first_name" name="requester_first_name" type="text" class="field">
      <label class="fieldlabel" for="requester_first_name">
        <span class="fieldlabel_content" data-content="First name">First name</span>
      </label>
    </div>
    <div class="fieldwrap required">
      <input id="requester_last_name" name="requester_last_name" type="text" class="field">
      <label class="fieldlabel" for="requester_last_name">
        <span class="fieldlabel_content" data-content="Last name">Last name</span>
      </label>
    </div>
    <div class="fieldwrap required">
      <input id="requester_email" name="requester_email" type="email" class="field">
      <label class="fieldlabel" for="requester_email">
        <span class="fieldlabel_content" data-content="Email">Email</span>
      </label>
    </div>
  </fieldset>

  <fieldset class="fieldrow has3">
    <div class="fieldwrap required">
      <input id="organization_name" name="organization_name" type="text" class="field">
      <label class="fieldlabel" for="organization_name">
        <span class="fieldlabel_content" data-content="Organization">Organization</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="organization_url" name="organization_url" type="url" class="field">
      <label class="fieldlabel" for="organization_url">
        <span class="fieldlabel_content" data-content="Organization URL">Organization URL (optional)</span>
      </label>
    </div>
    <div class="fieldwrap required">
      <%= f.country_select :country, {priority_countries: ['US'], prompt: ''}, :class => 'field', :name => 'country' %>
      <label class="fieldlabel" for="country">
        <span class="fieldlabel_content" data-content="Country ⬇︎">Country &rarr;</span>
      </label>
    </div>
  </fieldset>

  <div id="journalism_toggler">
    <fieldset class="radioset">
      <label class="radioset_label">Are you a <b>journalist</b> working with <b>primary source documents</b>?</label>
      <div class="radiowrap">
        <input id="is_journalist_yes" name="is_journalist" value="yes" type="radio">
        <label for="is_journalist_yes">Yes</label>
      </div>
      <div class="radiowrap">
        <input id="is_journalist_no" name="is_journalist" value="no" type="radio">
        <label for="is_journalist_no">No (or I’m not sure)</label>
      </div>
    </fieldset>
  </div>

  <div class="togglewrap">
    <fieldset id="journalism_fields" class="togglebox closed">
      <fieldset class="radioset">
        <label class="radioset_label">We need someone – usually your editor or producer – to grant permission for us to <b>add your newsroom</b> to our public list of document contributors and <b>confirm</b> that they understand you'll be contributing documents to a <b>public catalog</b>.</label>
        <div class="radiowrap">
          <input id="approver_other" name="approver" value="other" type="radio" disabled>
          <label for="approver_other">
            Contact
            <div class="fieldwrap inline">
              <input id="approver_first_name" name="approver_first_name" type="text" class="field" disabled>
              <label class="fieldlabel" for="approver_first_name">
                <span class="fieldlabel_content" data-content="first name">first name</span>
              </label>
            </div>
            <div class="fieldwrap inline">
              <input id="approver_last_name" name="approver_last_name" type="text" class="field" disabled>
              <label class="fieldlabel" for="approver_last_name">
                <span class="fieldlabel_content" data-content="last name">last name</span>
              </label>
            </div>
            at
            <div class="fieldwrap inline">
              <input id="approver_email" name="approver_email" type="text" class="field" disabled>
              <label class="fieldlabel" for="approver_email">
                <span class="fieldlabel_content" data-content="email">email</span>
              </label>
            </div>
            for authorization
          </label>
        </div>
        <div class="radiowrap">
          <input id="approver_self" name="approver" value="self" type="radio" disabled>
          <label for="approver_self">
            I’m a manager or other supervisor and grant permission to add our newsroom to the list of contributors and acknowledge that we are contributing documents to a public catalog
          </label>
        </div>
      </fieldset>
      <div class="fieldwrap">
        <textarea id="reference_links" name="reference_links" class="field" disabled></textarea>
        <label class="fieldlabel" for="reference_links">
          <span class="fieldlabel_content" data-content="Links to some of your work">Links to some of your work</span>
        </label>
      </div>
    </fieldset>

    <fieldset id="nonjournalism_fields" class="togglebox closed">
      <div class="fieldwrap">
        <input id="industry" name="industry" type="text" class="field" disabled>
        <label class="fieldlabel" for="industry">
          <span class="fieldlabel_content" data-content="What industry do you work in?">What industry do you work in?</span>
        </label>
      </div>
      <div class="fieldwrap">
        <textarea id="use_case" name="use_case" class="field" disabled></textarea>
        <label class="fieldlabel" for="use_case">
          <span class="fieldlabel_content" data-content="How would you like to use DocumentCloud?">How would you like to use DocumentCloud?</span>
        </label>
      </div>
    </fieldset>
  </div>

  <div class="fieldwrap">
    <textarea id="requester_notes" name="requester_notes" class="field"></textarea>
    <label class="fieldlabel" for="requester_notes">
      <span class="fieldlabel_content" data-content="Anything else you want to tell us?">Anything else you want to tell us?</span>
    </label>
  </div>

  <fieldset class="checkset">
    <div class="checkwrap">
      <input id="agreed_to_terms" name="agreed_to_terms" value="1" type="checkbox">
      <label for="agreed_to_terms">
        I agree to the <a href="/terms" target="_blank">DocumentCloud terms of service</a>
      </label>
    </div>
    <div class="checkwrap">
      <input id="marketing_optin" name="marketing_optin" value="1" type="checkbox">
      <label for="marketing_optin">
        Email me updates about new DocumentCloud features and services
      </label>
    </div>
  </fieldset>

  <div class="submitset">
    <button type="submit">Submit application</button>
  </div>
  
<% end %>

</div>