<div id="controls">
  <div id="upload_document_button" class="control">
    <span class="control_title">upload document</span>
  </div>
  <div id="manage_accounts_button" class="control">
    <span class="control_title">manage accounts</span>
  </div>
  <div id="manage_collections_button" class="control">
    <span class="control_title">manage collections</span>
  </div>
</div>