<div id="navigation">
  <div id="search_nav" class="nav">
    Search
  </div>
  <div id="visualize_nav" class="nav">
    Visualize
  </div>
  <div id="embed_nav" class="nav">
    Embed
  </div>
  <div id="admin_nav" class="nav">
    Admin
  </div>
</div>
