<div id="navigation">
  <div id="documents_nav" class="nav">
    Documents
  </div>
  <div id="upload_nav" class="nav">
    Upload
  </div>
  <div id="accounts_nav" class="nav">
    Accounts
  </div>
  <div id="visualize_nav" class="nav">
    Visualize
  </div>
  <div id="admin_nav" class="nav">
    Admin
  </div>
</div>
