<div id="upload_form">
  
  <div class="help">
    <h4>How to do it</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
      nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
      volutpat.
    </p>
    <h4>What it means</h4>
    <p>
      Dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis 
      nostrud exerci tation ullamcorper.
    </p>
    <h4>Where we are</h4>
    <p>
      Magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud 
      exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
      consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at 
      vero eros et accumsan.
    </p>
    <h4>Why it happened</h4>
    <p>Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
      ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
      vulputate velit esse molestie consequat.
    </p>
  </div>
  
  <form class="workspace_form">
    <label for="title">
      Title:
    </label>
    <input name="title" type="text" />
    <label for="source">
      Source:
    </label>
    <input name="source" type="text" />
    <label for="pdf">
      Document PDF:
    </label>
    <input name="pdf" type="file" />
  </form>
  
</div>