<%
	@title = "Workspace"
	@show_search = true
%>

<% if @account %>
  <%= render :partial => 'controls' %>
  <%= render :partial => 'navigation' %>
<% end %>

<div id="sidebar">
	<div id="sidebar_background"></div>
	<div id="sidebar_top" class="sidebar_back"></div>
	<div id="sidebar_bottom" class="sidebar_back"></div>
	<div id="query_container">
		<%# Render target for the current query. %>
	</div>
	<div id="metadata">
		<%# Render target for metadata %>
	</div>
</div>

<div id="workspace_document_list">
	<%# Render target for the document list %>
</div>

<script type="text/javascript">
  <% if params[:q] %>
    window.SEARCH_QUERY = '<%= escape_javascript(params[:q]) %>';
  <% end %>
  dc.app.workspace.initialize();
</script>