<%
	@title = "Workspace"
%>

<div id="sidebar">
	<div id="sidebar_background"></div>
	<div id="sidebar_top" class="sidebar_back"></div>
	<div id="sidebar_bottom" class="sidebar_back"></div>
	<div id="query">
		<%# Render target for the current query. %>
	</div>
	<div id="metadata">
		<%# Render target for metadata %>
	</div>
</div>

<div id="workspace_document_list">
	<%# Render target for the document list %>
</div>