<%
  @title      = "Login"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/login" method="POST">
    <% if flash[:error] %>
      <div class="form_error login_error">
        <span>
          Incorrect email address or password.
        </span>
      </div>
    <% end %>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
           <input type="text" name="email" id="account_email" />
          </div>
        </div>
      </div>
      <label for="account_email">
        Email Address:<br /><span class="example"><a href="/contact" tabindex="-1">Need an Account?</a></span>
      </label>
    </div>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="password" name="password" id="account_password" />
          </div>
        </div>
      </div>
      <label for="account_password">
        Password:<br /><span class="example"><a href="/reset_password" tabindex="-1">Forgot your Password?</a></span>
      </label>
    </div>
    <div class="line">
      <div class="minibutton submit">Log in</div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $('#full_screen_form form').keypress(function(e) {
    if (e.keyCode == 13) this.submit();
  });
  $('.minibutton.submit').click(function(){ $('#full_screen_form form').submit(); });
</script>
