<%
  @title      = "Partner Sign-up"
  @bodyclass  = "full_screen_form"
%>

<div id="full_screen_form">
  <form action="/signup" method="POST">
    <h1>Sign up as a DocumentCloud Partner</h1>
    <div class="line">
      <input type="text" name="organization[name]" id="organization_name" />
      <label for="organization_name">
        Organization Name:<br /><span class="example">ex: The Daily Tribune</span>
      </label>
    </div>
    <div class="line">
      <input type="text" name="organization[slug]" id="organization_slug" />
      <label for="organization_slug">
        Short Name for URLs:<br /><span class="example">ex: daily-tribune</span>
      </label>
    </div>
    <div class="line">
      <input type="text" name="account[email]" id="account_email" />
      <label for="account_email">
        Your Email Address:<br /><span class="example">You'll use this email to log in</span>
      </label>
    </div>
    <div class="line">
      <input type="text" name="account[first_name]" class="left_half" />
      <input type="text" name="account[last_name]" class="right_half" />
      <label>
        Full Name:<br /><span class="example">First Name, Last Name</span>
      </label>
    </div>
    <div class="line">
      <input type="password" name="account[password]" id="account_password" />
      <label for="account_password">
        Password:<br /><span class="example">At least 6 letters long, please</span>
      </label>
    </div>
    <div class="line license">
      By signing up for DocumentCloud, you agree to the following terms of 
      service. Any documents uploaded by your organization will be made 
      available to the public, in perpetuity, after the applicable embargo
      period has expired. As long as your organization hosts a copy of the 
      document, DocumentCloud will send all search traffic for that document
      to you. If at any time the document ceases to be accessible from the web,
      DocumentCloud reserves the right to provide the document as the host of
      last resort. Use of the DocumentCloud service is at your sole risk. The 
      service is provided on an "as is" and "as available" basis.
    </div>
    <div class="line">
      <button class="default">Sign Up</button>
    </div>
  </form>
</div>