<%
  @title      = "Sign Up Information"
  @bodyclass  = "full_page_background"
%>

<div id="docs" class="full_page_background">
  <h1>Sign Up Information</h1>
  <p>
    We're adding new document contributors to the beta fairly slowly.<br />
    Write to <a href="mailto:info@documentcloud.org">info@documentcloud.org</a>
    if you'd like to join the beta.
  </p>
</div>