<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Please Upgrade Your Browser</title>

  <style>
    html {
      height: 100%;
      margin: 0; padding: 0;
      text-align: center;
      font: 16px Helvetica, Arial, sans-serif;
    }
    body {
      height: 100%;
      margin: 0; padding: 0;
    }
    #container {
      position: absolute;
      width: 400px; height: 200px;
      top: 50%; left: 50%;
      margin: -100px 0 0 -200px;
    }
    a img {
      border: 0 none transparent;
      outline: 0;
    }
    .intro {
      font-weight: bold;
    }
    .browsers {
      margin: 20px 20px;
      height: 90px;
    }
    .browser {
      float: left;
      width: 70px;
      margin: 0 20px;
      line-height: 30px;
    }
      .browser img {
        clear: both;
      }
    .frame {
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <div id="container">
    <div class="intro">
      To use DocumentCloud you need to upgrade your browser:
    </div>
    <div class="browsers">
      <div class="browser">
        <a href="http://www.google.com/chrome">
          <img src="/images/home/browsers/chrome.gif" alt="" /><br />Chrome
        </a>
      </div>
      <div class="browser">
        <a href="http://www.apple.com/safari/download/">
          <img src="/images/home/browsers/safari.gif" alt="" /><br />Safari
        </a>
      </div>
      <div class="browser">
        <a href="http://www.mozilla.com/en-US/firefox/firefox.html">
          <img src="/images/home/browsers/firefox.gif" alt="" /><br />Firefox
        </a>
      </div>
      <br style="clear:both;" />
    </div>
    <div class="frame">
      Or, if you'd like to continue using Internet Explorer 6,<br /> you can
      <a href="http://www.google.com/chromeframe">install Google Chrome Frame</a>.
    </div>
  </div>

</body>
</html>