<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'common/meta_tags' %>
  <title>Please Upgrade Your Browser</title>
  <style>
    body {
      text-align: center;
      padding: 10%;
      font: 48px/64px Georgia;
    }
  </style>
</head>
<body>
  To use DocumentCloud, please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a>.
</body>
</html>