<p>A limited portion of DocumentCloud's API is available for public use, including document search and individual document data retrieval. All other resources require authentication via a DocumentCloud account. No API key is required.</p>
<p>Please be considerate and don't hammer our servers.</p>
<p>Additional requirements:</p>
<ul class="disc">
  <li>If your project allows users to interact with data from DocumentCloud, you must cite DocumentCloud as the source of your data. If your project allows users to view or browse specific documents, you must cite DocumentCloud and the contributing organizations as identified in the API.</li>
  <li>You may not recreate DocumentCloud.org in its entirety or build an application that simply displays the complete set of documents.</li>
  <li>You may not build an application that displays the document set of a contributing organization if you are not a member of that organization.</li>
  <li>If you do not have a DocumentCloud account and are using the API's public features, you may not use the API commercially; you may not charge people money to look at the data or sell advertising specifically against it.</li>
  <li>You understand and acknowledge that any data provided by our API may contain errors and omissions.</li>
</ul>
<p>We reserve the right to revise these guidelines. If you violate these terms (for example, using the API to systematically access and reprint documents that you or your newsroom didn't contribute), DocumentCloud reserves the right to restrict or terminate your account and/or API access.</p>
