<%
  @title  = "Payment"
  @header = "Process a payment"
%>

<div id="return_to_v1">
  <%= link_to '⬅︎ Return to admin', :admin, id: 'return_to_v1_text' %>
  <a id="return_to_v1_logo" href="/home"><img src="/images/common/document_cloud_logo_white@2x.png" width="150" height="32"></a>
</div>

<h1><%= @header %></h1>

<p>This page allows admins to make one-time card charges using Stripe. It is a very dumb form, with a clumsy, linear UX and very simplistic validation. Its intent is to validate our Stripe connection is working.</p>

<form id="test_payment_form" class="form_v2" novalidate>

  <fieldset class="fieldrow has3">
    <div class="fieldwrap">
      <input id="amount" name="amount" type="text" class="field">
      <label class="fieldlabel" for="amount">
        <span class="fieldlabel_content" data-content="Amount ($)">Amount ($)</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="card_name" name="card_name" type="text" class="field">
      <label class="fieldlabel" for="card_name">
        <span class="fieldlabel_content" data-content="Name on card">Name on card</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="card_number" name="card_number" type="text" class="field">
      <label class="fieldlabel" for="card_number">
        <span class="fieldlabel_content" data-content="Card number">Card number</span>
      </label>
    </div>
  </fieldset>

  <fieldset class="fieldrow has3">
    <div class="fieldwrap">
      <input id="card_expiry" name="card_expiry" type="text" class="field">
      <label class="fieldlabel" for="card_expiry">
        <span class="fieldlabel_content" data-content="Expires MM/YY">Expires MM/YY</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="card_verification_code" name="card_verification" type="text" class="field">
      <label class="fieldlabel" for="card_verification">
        <span class="fieldlabel_content" data-content="CVV security code">CVV security code</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="billing_postal_code" name="billing_postal_code" type="text" class="field">
      <label class="fieldlabel" for="billing_postal_code">
        <span class="fieldlabel_content" data-content="Billing postal code">Billing postal code</span>
      </label>
    </div>
  </fieldset>

  <div class="submitwrap">
    <button type="submit">Process the payment</button>
  </div>
  
</form>
