  <div class="controls">
    <div class="icon edit_glyph">&#65279;</div>
  </div>
  <h6>
    <a href="<%= url %>"><u><%= title %></u></a>
    <small><i><%= organization %></i>, <%= article_date %></small>
  </h6>
  <%= writeup_html %>
