<div class="container-sm content paper">
  <%= bootstrap_form_tag url: '/admin/manage_memberships', method: 'post' do |f| %>
    <%= f.email_field :email, label: 'Account email' %>
    <p class="mt-4">
      <%= f.submit 'Find account', class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
