




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="description" content="New York City's new paper ballot includes several trouble spots where voters could easily make mistakes, like those made by ..."/>


<meta name="keywords" content="npr, new york, WNYC, arts, culture, news, public, radio" />






<title>
NYC Ballot Design Could Cause Confusion
 - WNYC</title>




<link rel="alternate"
      type="application/rss+xml"
      title="It's A Free Country Feed (RSS)"
      href="/feeds/channels/its-free-country"/>
<link rel="alternate"
      type="application/atom+xml"
      title="It's A Free Country Feed (Atom)"
      href="/atomfeeds/channels/its-free-country"/>
<link rel="alternate"
      type="application/rss+xml"
      title="It's A Free Country Feed (RSS)"
      href="/feeds/series/its-free-country"/>
<link rel="alternate"
      type="application/atom+xml"
      title="It's A Free Country Feed (Atom)"
      href="/atomfeeds/series/its-free-country"/>
<link rel="alternate"
      type="application/rss+xml"
      title="John Keefe Feed (RSS)"
      href="/feeds/people/john-keefe"/>
<link rel="alternate"
      type="application/atom+xml"
      title="John Keefe Feed (Atom)"
      href="/atomfeeds/people/john-keefe"/>
<link rel="alternate"
      type="application/rss+xml"
      title="design Feed (RSS)"
      href="/feeds/tags/design/"/>
<link rel="alternate"
      type="application/atom+xml"
      title="design Feed (Atom)"
      href="/atomfeeds/tags/design/"/>
<link rel="alternate"
      type="application/rss+xml"
      title="primaries Feed (RSS)"
      href="/feeds/tags/primaries/"/>
<link rel="alternate"
      type="application/atom+xml"
      title="primaries Feed (Atom)"
      href="/atomfeeds/tags/primaries/"/>
<link rel="alternate"
      type="application/rss+xml"
      title="voting machines Feed (RSS)"
      href="/feeds/tags/voting%20machines/"/>
<link rel="alternate"
      type="application/atom+xml"
      title="voting machines Feed (Atom)"
      href="/atomfeeds/tags/voting%20machines/"/>


<link rel="alternate" type="application/rss+xml" title="All WNYC Stories (RSS)" href="/feeds/all/"  />
<link rel="alternate" type="application/atom+xml" title="All WNYC Stories (Atom)" href="/atomfeeds/all/"  />



  <link rel="shortcut icon" href="http://parmenides.wnyc.org/media/img/favicon_wnyc.ico" />

<link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/calendar.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/jquery.jcarousel.css" />


  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/screen.css" />
  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/screen_wnyc.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/screen_ie.css" /><![endif]-->



  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/player.css" />
  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/player_wnyc.css" />


  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/schedule.css" />
  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/schedule_wnyc.css" />

<link rel="stylesheet" type="text/css" media="print" href="http://parmenides.wnyc.org/media/css/print_wnyc.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/topnav.css" />


  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAwFGsdzap4yWogqMTO5rypBRZr05N7oNL9ryiJByGkJu_erBKFhQvBdR-T7HShaos9rpRyJaGfqsxGg"></script>
  <script type="text/javascript">
    google.load("jquery", "1.4");
  </script>


  <link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/jquery.jcarousel.css" />
  <link rel="stylesheet" type="text/css" media="all" href="http://parmenides.wnyc.org/media/css/slideshow.css" />
  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/jquery.cycle.all.min.js"></script>


<script type="text/javascript" src="http://parmenides.wnyc.org/media/js/jquery.form.js"></script>
	<script type="text/javascript" src="http://parmenides.wnyc.org/media/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="http://parmenides.wnyc.org/media/js/calendar.js"></script>
<script type="text/javascript" src="http://parmenides.wnyc.org/media/js/swfobject.js"></script>
<script type="text/javascript" src="http://parmenides.wnyc.org/media/js/AC_OETags.js"></script>

  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/main.js"></script>
  <script type="text/javascript"
      src="http://parmenides.wnyc.org/media/js/main_wnyc.js"></script>

  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/enlarge.js"></script>
  <link rel="stylesheet" type="text/css" media="all"
      href="http://parmenides.wnyc.org/media/css/enlarge.css" />


<script type="text/javascript" src="http://parmenides.wnyc.org/media/js/comment_form.js"></script>
<script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js"></script>

<script type="text/javascript">
  GS_googleAddAdSenseService("ca-pub-1030295571732009");
  GS_googleEnableAllServices();
 </script>
 <script type="text/javascript">
    GA_googleAddSlot("ca-pub-1030295571732009", "home_skyscraper");
    GA_googleAddSlot("ca-pub-1030295571732009", "home_pledge");
    GA_googleAddSlot("ca-pub-1030295571732009", "home_littlebox");
    GA_googleAddSlot("ca-pub-1030295571732009", "home_searchbadge");
    GA_googleAddSlot("ca-pub-1030295571732009", "wnyc_pledge");
    GA_googleAddSlot("ca-pub-1030295571732009", "home_leaderboard");
    GA_googleAddSlot("ca-pub-1030295571732009", "home_bigbox");
    GA_googleAddSlot("ca-pub-1030295571732009", "wnyc_home_pledge");
    GA_googleFetchAds();
</script>
<script type="text/javascript">addthis_pub  = 'wnycdigital';</script>

  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/whats_on_now.js"></script>
  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/player.js"></script>



  <script src="http://yui.yahooapis.com/2.8.1/build/yuiloader/yuiloader-min.js"></script>
<style>
  .chart_div { width: 600px; height: 300px; }
</style>
  <script type="text/javascript" src="http://parmenides.wnyc.org/media/js/survey.js"></script>
  <script type="text/javascript" src="/media/js/google_maps.js"></script>
  <link rel = "stylesheet" type="text/css" media="all" href="/media/css/google_maps.css" />








<script type="text/javascript">
  $(document).ready(function(){
    $("#listen-fm-close").click(function () {
      $("#listen-fm").hide("slide", { direction: "up" }, 1000);
    });

	$("#listen-fm-link").click(function () {
	if ($('#listen-fm').is(":hidden")) {
	  $("#listen-fm").show("slide", { direction: "up" }, 1000);
	} else {
	  $("#listen-fm").hide("slide", { direction: "up" }, 1000);
	}
    });

    /* Search Select */

    $("#search_select").hover( function () {
      $(this).find('li').addClass('on');
    }, function () {
      $(this).find('li').removeClass('on');
    });

    $("#search_select li a").click( function (event) {
	    event.preventDefault();
	    $('#search_select li').removeClass('selected audioActive');
      	if ($(this).parent().attr('id') == 'search_audio_option') {
          $('#searchtype').val('audio');
          $('#search_audio_option').addClass('selected');
          $('#search_label').addClass('audioActive');
      	} else {
      	  $('#searchtype').val('site');
      	  $('#search_site_option').addClass('selected');
      	}
    });

  var path=window.location.pathname;
  if (path.match("^/$")){
    $('li.home a').addClass('current');
  }
  else{
    $('#util_header a').each(function(i, e) {
      var href=e.getAttribute('href');
      if (path.match("^"+e.getAttribute('href')) && href != '/'){
        $(e).addClass('current');
      };
    });
  }

});
</script>
</head>
<body>





<div id="site">

<!-- ///////////// TOP NAV //////////////// -->

<!-- top row -->

<div class="container_12">
	<div class="utility_nav">

		<ul id="util_header">
			<li class="home"><a href="http://www.wnyc.org/">Home</a></li>
			<li class="support"><a href="/support/">Support</a></li>
			<li class="events"><a href="/events/">Events</a></li>
			<li class="about"><a href="/about/">About</a></li>
			<li class="schedule"><a href="/schedule/">Schedule</a></li>
		</ul>

		<div id="util_login_wrapper">
			<ul id="util_login">
				<li class="login"><a href="/accounts/login/?next=/articles/its-free-country/2010/sep/07/new-nyc-ballot-could-cause-confusion/">Login</a></li>
				<li class="register"><a href="/accounts/register/">Register</a></li>
			</ul>
		</div>

		<div id="search-topnav">
			<form method="get" action="/search/" name="searchform">
				<input type="hidden" value="site" name="searchtype" id="searchtype" />
				<fieldset>
				<input class="text clearonfocus resetonblur" value="Search" maxlength="222" name="q"/>
				<ul id="search_select">
					<li class="label" id="search_label"><a href="#">Site</a></li>
					<li class="option site" id="search_site_option"><a href="#">Site</a></li>
					<li class="option audio" id="search_audio_option"><a href="#">Audio</a></li>
				</ul>
				</fieldset>
				<input type="submit" name="submit" value="Go" class="submit" />
			</form>
		</div>

		<div class="search_support adbox">
		<div class="support_banner" style="background-color: #000; width: 90px; height: 30px;">
			<script type="text/javascript">
			GA_googleFillSlot("home_searchbadge");
			</script>
		</div>

	</div>
</div>

<!-- end top row -->


<!-- masthead -->
<div id="masthead" class="clearfix">

<p class="admessage" style="visibility: visible;">Sponsor</p>
<div class="masthead-ad">
<script type='text/javascript'>
	GA_googleFillSlot("home_pledge");
</script>
 </div>


<h1 class="logo">
<a href="http://www.wnyc.org/">wnyc.org / 93.9fm / am 820</a>
</h1>

<a class="print-logo">
<img src="http://parmenides.wnyc.org/media/img/wnyc/logo_wnyc.gif" alt="WNYC" title="WNYC" />
</a>

<ul id="info_header">
<li class="date">September 09, 2010</li>
<li class="weather">
<a href="http://hosted.ap.org/dynamic/external/wunderground.com/cgi-bin/findweather/getForecast?query=New+York+City&amp;brand=ap&amp;SITE=WNYC&amp;SECTION=HOME">
Overcast | <span>66.9&deg;F</span></a>
</li>
</ul>

<div class="header">
<ul id="nav-main">
	    <li class="first" id="news"><a class="top" href="/articles/wnyc-news/">News</a></li>
	    <li id="culture"><a class="top" href="http://culture.wnyc.org/">Culture</a></li>
	    <li id="music"><a class="top" href="/tags/music/">Music</a></li>
	    <li id="shows"><a class="top" href="/shows/">Shows</a>
			<ul>
			<li><a href="/shows/">Shows A-Z</a></li>

			<li><a href="/shows/atc/">All Things Considered</a></li>
			<li><a href="/shows/bl/">Brian Lehrer</a></li>
			<li><a href="/shows/fishko/">Fishko Files</a></li>
			<li><a href="/shows/freshair">Fresh Air</a></li>
			<li><a href="/shows/lopate/">Leonard Lopate</a></li>

			<li><a href="/shows/me/">Morning Edition</a></li>
			<li><a href="/shows/newsounds/">New Sounds</a></li>
			<li><a href="http://www.onthemedia.org/">On The Media</a></li>
			<li><a href="http://www.radiolab.org/">Radiolab</a></li>
			<li><a href="http://www.radiorookies.org/">Radio Rookies</a></li>
			<li><a href="/shows/shorts/">Selected Shorts</a></li>

			<li><a href="/shows/soundcheck/">Soundcheck</a></li>
                        <li><a href="/series/specials/">Specials</a></li>
			<li><a href="/shows/spinning/">Spinning on Air</a></li>
			<li><a href="http://www.studio360.org/">Studio 360</a></li>
			<li><a href="http://www.thetakeaway.org/">The Takeaway</a></li>
			</ul>
		</li>
	    <li class="last" id="greenespace"><a class="top" href="/thegreenespace/">The Greene Space</a></li>
	</ul>
</div><!-- /header -->

</div>
<!-- end masthead -->

<!-- ////////////// END TOP NAV //////////////// -->

<!-- begin container -->
<div id="main" class="container_12 site-container">
<!-- CONTENT -->











<!-- main -->
<div class="grid_8 main">




<div class="page-titlegroup">
<h2>
<a href="http://beta.wnyc.org/articles/its-free-country/">It's A Free Country</a></h2>
</div>





<script type="text/javascript">addthis_pub  = 'wnycdigital';</script>
<script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
<script type="text/javascript">
// <![CDATA[
var user='';
var is_auth=false;
var item_pk=93440;
var item_content_type='article';
var item_ctype=26;
var flag_url='/comments/adminflag/';
var can_bookmark=false;

function add_bookmark() {
    $('li.bookmark > a.bookmark_item').unbind('click',add_bookmark);
    create_bookmark(user,item_pk,item_content_type,'/favorites/add/',can_bookmark);
    return false;
};

function suggest_login(){
    $('li.bookmark').html("<a class='suggest-login' href='/accounts/login/?next="+document.location.pathname+"'>Login</a> to Like This");
    return false;
};
// ]]>
</script>





<div class="article-head">
<div class="article-wide article-full">

<div class="article-headergroup">
<div class="article-tools article-fullclearfix">
<ul class="sharelinks clearfix">

  <li class="email"><a id="emailthislink" href="#">Email</a></li>
  <li class="share"><a class="addthis_share" href="http://www.addthis.com/bookmark.php">Share</a></li>
  <li class="print"><a href="#">Print</a></li>
  <li class="bookmark"><a class="bookmark_item" href="#">Like This</a></li>



</ul>
</div>
<h2 class="title">NYC Ballot Design Could Cause Confusion</h2>
  <h3 class="subtitle">Experts identify potential trouble spots </h3>
<h3 class="date">
    Tuesday, September 07, 2010
</h3>
</div>

<div class="article-description">
<p class="byline">By
<a href="/people/john-keefe/">John Keefe</a></p>


</div>




      <div class="article-audioplayer clearfix">




  <div id="audioplayer_93440"><a href="/audio/xspf/93440/">Listen</a></div>
  <script type="text/javascript">

    embed_audio("/audio/xspf/93440/", '93440', 515, "", "", 'http://www.podtrac.com/pts/redirect.mp3/audio.wnyc.org/news/news20100907_ballot_2way_keefe.mp3', "", 0);
  </script>


      <p class="downloadlink"><a href="/audio/m3u/93440/" class="Stream
           no-rule
      ">Stream m3u</a>

    </p>

      </div>








<!-- Sidebar -->
<div class="article-sidebar">




      <div          class="mediumimage"      >



        <div class="enlarge_div"
            style="width: 200px; height: 123px;">

        <script type="text/javascript">
          function enlarge_imghttp___parmenides_wnyc_org_media_photologue_photos_Azi_and_Bob_Ballot_jpg() {
            enlargeImage("imghttp___parmenides_wnyc_org_media_photologue_photos_Azi_and_Bob_Ballot_jpg",
                         "http://parmenides.wnyc.org/media/photologue/photos/cache/Azi and Bob Ballot_max_enlarge.jpg",
                         "Watch Video",
                         "http://www.youtube.com/watch?v=ZBKZFKHa9KY");
            return false;
          }
        </script>
      <a        href="#" onclick="return enlarge_imghttp___parmenides_wnyc_org_media_photologue_photos_Azi_and_Bob_Ballot_jpg()">    <img src="http://parmenides.wnyc.org/media/photologue/photos/cache/Azi and Bob Ballot_medium_image.jpg" id="imghttp___parmenides_wnyc_org_media_photologue_photos_Azi_and_Bob_Ballot_jpg"       title="Brian Lehrer and Azi Paybarah test out the new ballots"     />
      </a>        <a class="enlarge_link" href="#"
            onclick='return enlarge_imghttp___parmenides_wnyc_org_media_photologue_photos_Azi_and_Bob_Ballot_jpg();'>Enlarge</a>
      </div>

<p class="image-caption"     >


<span class="caption">Brian Lehrer and Azi Paybarah test out the new ballots</span>


<span class="credit">
(<a href="http://www.youtube.com/watch?v=ZBKZFKHa9KY">Watch Video/Youtube</a>)
</span>



</p>

      </div>




            <div class="article-series">
                <h3><a href="http://beta.wnyc.org/series/its-free-country/">
                        It's A Free Country</a></h3>
             <a class="more" href="http://beta.wnyc.org/series/its-free-country/">More coverage</a>
            </div>




</div>
<!-- End Sidebar -->


 <div class="article-description">
 <p>New York City's new paper ballot includes several trouble spots where voters could easily make mistakes, like those made by WNYC's <a xmlns:wnyc="http://wnyc.org/xsl/ns" class="guestlink" href="/people/r/?n=Brian+Lehrer">Brian Lehrer</a> and <a xmlns:wnyc="http://wnyc.org/xsl/ns" class="guestlink" href="/people/r/?n=Azi+Paybarah">Azi Paybarah</a> when they tried, according to experts in ballot design.</p>&#13;
<p><strong>→ VIDEO: <a href="http://beta.wnyc.org/articles/its-free-country/2010/sep/07/im-paper-ballot/" target="_blank">Hi, I'm A Paper Ballot!</a></strong> <em>Watch Brian and Azi Struggle With The New Voting System</em></p>&#13;
<p>[+ <a href="http://beta.wnyc.org/articles/its-free-country/2010/sep/07/new-nyc-ballot-could-cause-confusion/">Expand post for more on ballot trouble spots</a>]</p>
 </div>

 <div class="article-description">
 <p>Voters run the risk of filling in the wrong oval for a candidate, misunderstanding which races allow voting for more than one candidate, or missing the write-in area altogether. <br><br>That's the assessment of Jessica Friedman Hewitt, an adviser for <a href="http://www.aiga.org/content.cfm/design-for-democracy" target="_blank">Design For Democracy</a>, a nonprofit, nonpartisan organization that helps governments make voting easier. At WNYC's request, she and a circle of designers looked at New York's "Demonstration Ballot" and highlighted areas of concern, which you can see below. They also provided suggestions for how the ballot could be better and offered some <a href="http://beta.wnyc.org/admin/cms/article/93484/">tips for voters</a>.</p>&#13;
<p>Anyone frustrated by the ballot should look to Albany. Almost every design detail, down to the size of the candidate's names and where lines must go, is dictated by state law, says Steven Richman, general council for the New York City Board of Elections.</p>&#13;
<p>"To the extent that we could make it user-friendy, we have," Richman said, adding that the only real option left to the board's discretion was whether voters fill in ovals or squares.</p>&#13;
<p>Click on the yellow boxes below to explore the city's "ice cream" demonstration ballot and see the experts' comments.</p>&#13;
<div id="document-viewer"></div>&#13;
<p>&#13;
<script src="/documents/loader.js"></script><script type="text/javascript">// <![CDATA[
 DV.load("<%= Document.unrestricted.random.canonical_url(:js) %>",
{
   container : '#document-viewer',
   width: 620,
   height: 1040,
   zoom: 'auto',
   showSidebar: false
 });
// ]]></script></p>&#13;
&#13;
<p><em>This is a "Demonstration Ballot" provided by the <a href="http://www.vote.nyc.ny.us/" target="_blank">New York City Board of Elections</a> to help people prepare for the new paper-based voting system. Flavors, foods and sports take the place of candidate names. The titles at the top of the columns (Maple, Pine, etc.) represent political party groupings, which will appear on general election ballots. For primary elections, the <strong>offices</strong> appear across the top.<br></em></p>
 </div>








  <ul class="storylinks">
	<li><a href="http://beta.wnyc.org/articles/its-free-country/2010/sep/07/tips-using-new-paper-ballot/">Tips for Using the New Paper Ballot</a> Design experts provide four pitfalls to watch for.</li>
	<li><a href="http://www.votethenewwayny.com/en/default.aspx">Vote the New Way NY</a> Official site for understanding the new ballot.</li>
	<li><a href="http://www.aiga.org/content.cfm/election-project">Ballot & Election Design</a> Information from AIGA, a professional association of designers, on how to make voting easier.</li>
	<li><a href="http://beta.wnyc.org/articles/its-free-country/2010/sep/07/im-paper-ballot/">Video: I'm a Paper Ballot</a> </li>
  </ul>











<div class="article-bottom-tags">
<ul>
<h4>Read More:</h4>

            <li><a href="/tags/design/">design</a></li>
            <li><a href="/tags/primaries/">primaries</a></li>
            <li><a href="/tags/voting%20machines/">voting machines</a></li>

</ul>
</div>

     <div class="article-bottom-channel">
     <ul>
     <h4>More in:</h4>
     <li><a href="http://beta.wnyc.org/articles/its-free-country/">It's A Free Country</a></li>
     </ul>
     </div>

</div>
</div>




  <div id="commentlist" class="comment-thread">

      <div class="comment-leave">
        <ul>
            <li><a href="#commentform">Leave a comment</a></li>
            <li>
              <a href="/feeds/comments/26/93440">
                <img border="0" alt="RSS" title="Subscribe to the RSS Feed"
                  src="http://parmenides.wnyc.org/media/img/feedicons/rss.gif" />
              </a>
              <a href="/feeds/comments/26/93440">
                RSS Feed for Comments
              </a>
            </li>
        </ul>
      </div>

      <h3>Comments [2]</h3>

  <div class="comment-list">
    <script type="text/javascript">
      var is_auth = false;
      var flag_for_mod_url = '/comments/userflag/';
      var auth_login = '/accounts/login/?next=' +
                       document.location.pathname;
      var flag_url = '/comments/adminflag/';
    </script>

        <div class="comment" id=comment190590>
          <div class="comment-head">
              <span class="comment-author">
                Rima McCoy
                  from NYC
              </span>
          </div>
          <div class="comment-text"><p>When reporting about the new paper ballot voting system, it is important to mention that there are three components: the paper ballot, the Ballot Marking Device (BMD) and the scanner.  In this news piece, the BMD was not mentioned, which is unfortunate because the BMD allows people to mark the paper ballot without the confusion and print size difficulty described in this segment.  A voter can insert their ballot into the BMD and using a touch screen interface, see the ballot one race at a time in a larger print format.  The BMD also provides a way for people with visual and physical disabilities to mark the ballot independently and privately.  For example, a voter who is blind can listen to choices through headphones and push buttons to make selections.  A person who cannot use a pen to mark a ballot can push buttons or use a sip and puff device to make selections.  This information about the BMD should be included as reporters try to educate people about what to expect when they go to vote this fall.  </p>

<p>Rima McCoy<br />Voting Rights Coordinator<br />Center for Independence of the Disabled, NY (CIDNY)<br /></p></div>
          <div class="comment-foot">
            <span class="comment-date">
              Sep. 08 2010 12:37 PM
            </span>


  <div class="voting" id="voting190590">
      <a href="/comments/190590/upvote"
          onclick="return voteClick(this, 'comment', 'puppy.comments.models.WnycComment', 190590, 'up');">
        <img src="http://parmenides.wnyc.org/media/img/icons/thumbs-up.png"
            alt="Vote this comment up" title="Vote this comment up" />
      </a>
      <a href="/comments/190590/downvote"
          onclick="return voteClick(this, 'comment', 'puppy.comments.models.WnycComment', 190590, 'down');">
        <img src="http://parmenides.wnyc.org/media/img/icons/thumbs-down.png"
            alt="Vote this comment down" title="Vote this comment down" />
      </a>
    Score: 0/0
  </div>

            <div class="flagformod" id="flagformod190590">
              <a href="#" class="flaglink" id="flag_for_mod190590">
                <img src="http://parmenides.wnyc.org/media/img/icons/flagformod.png"
                    alt="Flag for moderation" title="Flag for moderation" />
              </a>
            </div>
          </div>
        </div>
        <div class="comment" id=comment190568>
          <div class="comment-head">
              <span class="comment-author">
                Howard S.
                  from New York City
              </span>
          </div>
          <div class="comment-text"><p>The Help America Vote Act (HAVA) does not require a paper record of every vote. Congress has repeatedly refused to pass such legislation and HAVA-compliant states such as Georgia, Maryland and New Jersey still use touchscreen voting machines.</p>

<p>HAVA does not require computers (such as optical scanners) to count votes either. That's required by a New York State law called ERMA, passed in 2005.</p>

<p>Nassau County, possibly other counties, and possibly we the voters, are suing the state of NY to have this state law declared unconstitutional, precisely because the law requires computers to count votes.</p>

<p>These plaintiffs (and potential plaintiffs) are not Luddites; they are realists.</p>

<p>Auditing computerized vote counts to find out who really won each contest on the ballot (with high probability) is so complex and onerous that merely suggesting it is considered to be in bad taste by some &quot;election integrity&quot; advocates. Most election officials don't even want to talk about it. And the NYS Legislature? Well, you get the drift. ;)</p>

<p>Instead, we are expected to ration our democracy by attempting to verify the outcomes of some contests, but not others.</p>

<p>Know what else is considered to be in bad taste? Making fun of paper ballots (sorry Brian and  Azi)! That's because paper ballots are absolutely essential to verify computerized vote tallies -- even though only 3% of the machines in NY will be checked by hand-counting paper ballots. That's not enough to find out who really won many of our elections, but it's intended to give voters who haven't done the math a warm fuzzy feeling. However, 97% of our new vote-counting computers will not be audited.</p>

<p>So why do our lever voting machines have to be replaced anyway? Not to provide accessibility for disabled voters. We've already done that with electronic ballot marking devices at all poll sites as required by HAVA. Not because the levers don't work (they do!), and not because spare parts aren't available (they are!). Not because the levers are inaccurate -- and certainly not because they allow overvoting (as the new system does)! The lever machines don't allow vote-switching between candidates or political parties either (as the new system can be programmed to do either accidentally or on purpose).</p>

<p>So why replace the lever machines, ration our democracy and spend so much on computers and paper ballots? Follow the money.</p>

<p>Howard Stanislevic<br />Founder<br />E-Voter Education Project<br />NY, NY<br />http://e-voter.blogspot.com</p></div>
          <div class="comment-foot">
            <span class="comment-date">
              Sep. 08 2010 11:34 AM
            </span>


  <div class="voting" id="voting190568">
      <a href="/comments/190568/upvote"
          onclick="return voteClick(this, 'comment', 'puppy.comments.models.WnycComment', 190568, 'up');">
        <img src="http://parmenides.wnyc.org/media/img/icons/thumbs-up.png"
            alt="Vote this comment up" title="Vote this comment up" />
      </a>
      <a href="/comments/190568/downvote"
          onclick="return voteClick(this, 'comment', 'puppy.comments.models.WnycComment', 190568, 'down');">
        <img src="http://parmenides.wnyc.org/media/img/icons/thumbs-down.png"
            alt="Vote this comment down" title="Vote this comment down" />
      </a>
    Score: 0/0
  </div>

            <div class="flagformod" id="flagformod190568">
              <a href="#" class="flaglink" id="flag_for_mod190568">
                <img src="http://parmenides.wnyc.org/media/img/icons/flagformod.png"
                    alt="Flag for moderation" title="Flag for moderation" />
              </a>
            </div>
          </div>
        </div>
  </div>


      <h3 id="commentform" class="leave-comment-title">Leave a Comment</h3>

  <div class="comment-guidelines">
    <p>
      Register for your own account so you can vote on comments, save your favorites, and more.
      <a href="/about/website">Learn more</a>.<br />
      <strong>Please stay on topic, be civil, and be brief.</strong> <br />
      Email addresses are never displayed, but they are required to confirm
      your comments. Names are displayed with all comments. We reserve the
      right to edit any comments posted on this site. Please read the
      <a href="/about/comment_guidelines/">Comment Guidelines</a> before
      posting.
    </p>
  </div>




  <form action="/comments/post/" method="put" class="commentform" id="bb230d7c-bc22-11df-aec5-4040bef34db3">
      <div class="nothanks">
        <div class="comment-reply-form_error_content_type"
          class="error-highlight"></div>
          <label for="id_content_type">
            Content type*<span></span>
          </label><br/>
        <div id="93440_id_content_type">
          <input type="hidden" name="content_type" value="cms.article" id="id_content_type" />
        </div>
      </div>
      <div class="nothanks">
        <div class="comment-reply-form_error_object_pk"
          class="error-highlight"></div>
          <label for="id_object_pk">
            Object pk*<span></span>
          </label><br/>
        <div id="93440_id_object_pk">
          <input type="hidden" name="object_pk" value="93440" id="id_object_pk" />
        </div>
      </div>
      <div class="nothanks">
        <div class="comment-reply-form_error_timestamp"
          class="error-highlight"></div>
          <label for="id_timestamp">
            Timestamp*<span></span>
          </label><br/>
        <div id="93440_id_timestamp">
          <input type="hidden" name="timestamp" value="1284044319" id="id_timestamp" />
        </div>
      </div>
      <div class="nothanks">
        <div class="comment-reply-form_error_security_hash"
          class="error-highlight"></div>
          <label for="id_security_hash">
            Security hash*<span></span>
          </label><br/>
        <div id="93440_id_security_hash">
          <input type="hidden" name="security_hash" value="fab874a4869fd7b70c388f04d4ff9cbebe04e0a4" id="id_security_hash" />
        </div>
      </div>
      <div >
        <div class="comment-reply-form_error_name"
          class="error-highlight"></div>
          <label for="id_name">
            Name*<span></span>
          </label><br/>
        <div id="93440_id_name">
          <input id="id_name" type="text" name="name" maxlength="50" />
        </div>
      </div>
      <div >
        <div class="comment-reply-form_error_email"
          class="error-highlight"></div>
          <label for="id_email">
            Email address*<span></span>
          </label><br/>
        <div id="93440_id_email">
          <input type="text" name="email" id="id_email" />
        </div>
      </div>
      <div class="nothanks">
        <div class="comment-reply-form_error_url"
          class="error-highlight"></div>
          URL
        <div id="93440_id_url">
          <input type="text" name="url" id="id_url" />
        </div>
      </div>
      <div >
        <div class="comment-reply-form_error_comment"
          class="error-highlight"></div>
          <label for="id_comment">
            Comment*<span></span>
          </label><br/>
        <div id="93440_id_comment">
          <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
        </div>
      </div>
      <div class="nothanks">
        <div class="comment-reply-form_error_honeypot"
          class="error-highlight"></div>
          If you enter anything in this field your comment will be treated as spam
        <div id="93440_id_honeypot">
          <input type="text" name="honeypot" id="id_honeypot" />
        </div>
      </div>
      <div >
        <div class="comment-reply-form_error_location"
          class="error-highlight"></div>
          Location
        <div id="93440_id_location">
          <input id="id_location" type="text" name="location" maxlength="60" />
        </div>
      </div>
    <input type="submit" value = "Post Comment" class="replysubmit" />
    * Denotes a required field
  </form>


  </div>


</div>
<!-- end main -->

<!-- sidebar -->
<div class="grid_4 sidebar">


















<div id="whats_on_now" class="outer_player">
  <div id="listen_live_title">
    <h3>WHAT'S ON</h3>
    <a id="help"><span>Audio Help</span></a>
    <a id="schedule-link" href="/schedule/"><span>Schedule</span></a>
  </div>

  <div id="tabs-schedule-box">

  <div class="clearfix">
    <div id="station_tabs">
      <ul class="schedule-tabs">

          <li class="wnyc-fm939 ui-tabs-selected" id="station_wnyc-fm939">
            <a onclick="playStation('wnyc-fm939'); return false;">
              WNYC-FM93.9
            </a>
          </li>

          <li class="wnyc-am820" id="station_wnyc-am820">
            <a onclick="playStation('wnyc-am820'); return false;">
              WNYC-AM820
            </a>
          </li>

          <li class="wqxr" id="station_wqxr">
            <a onclick="playStation('wqxr'); return false;">
              WQXR
            </a>
          </li>

          <li class="q2" id="station_q2">
            <a onclick="playStation('q2'); return false;">
              Q2
            </a>
          </li>
      </ul>
    </div>
    <div class="listen_live">
      <div id="listen_live_live" onclick="listenLiveClick();"></div>
      <div id="listen_live_latest" onclick="listenLatestClick();"></div>
    </div>
  </div>

  <table cellpadding="0" cellspacing="0" id="schedule" class="time-nav">
    <tr>
      <td>
        <div id="left_time" class="time current_info"
            onclick="shiftSlidingSchedule(-1)"></div>
      </td>
      <td id="slider">
        <div id="slide_hider_wrapper">
          <div id="slide_hider">
            <table id="slide_contents" cellspacing="0">
              <tr id="slide_row"><td></td></tr>
            </table>
          </div>
        </div>
      </td>
      <td>
        <div id="right_time" class="time current_info"
            onclick="shiftSlidingSchedule(1)"></div>
      </td>
    </tr>
  </table>

  <div id="current_show" class="current_info">
    <div class="image"><a></a></div>
    <div id="on_air_wrapper">
      <span id="on_air_when"></span><span id="on_air_name"></span>
    </div>
    <div id="composer"></div>
    <div id="piece_title"></div>
    <div id="piece_description"></div>
  </div>

  <ul id="bottom_tools">
    <li>
      <a id="listen_button" href="#" onclick="return openStation('wnyc-fm939');">
      <span>Listen Now</span>
      </a>
    </li>

        <li class="alternate_url">
          <a href="/stream/wnyc-fm939/windows.asx" target="_blank">
            Windows
          </a>
        </li>
        <li class="alternate_url">
          <a href="/stream/wnyc-fm939/mp3.pls" target="_blank">
            MP3
          </a>
        </li>
  </ul>
  </div>

  <div id="up_next">
    <h3 id="up_next_title">Up Next</h3>
    <ul id="up_next_items"></ul>
  </div>


  <script type="text/javascript">
// <![CDATA[
    var stations =


  {"wnyc-fm939": {"name": "WNYC-FM93.9", "schedule": [{"end": "2010-09-09T02:00:00", "description": "<p><strong>Elliott Forrest</strong> fills in for Leonard Lopate. On today\u2019s show: We'll find out how the language we speak shapes the way we think. Then, <strong>Lisa Birnbach </strong>looks at how the preppy world has changed over the past 30 years. And 17-year-old <strong>Jessica Watson</strong> talks about being the youngest person to sail solo around the world. Plus, the gurus of how-to, <strong>Al &amp; Larry Ubell</strong>, answer your home repair questions!</p>", "title": "The Leonard Lopate Show - Great Adventure", "url": "http://beta.wnyc.org/shows/lopate/2010/sep/08/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/language_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T00:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/language_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T05:00:00", "description": "<p>BBC World Service provides international news, analysis and information.</p>", "title": "BBC World Service", "url": "http://beta.wnyc.org/shows/bbc-world-service/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/BBC+World+Service_popup_player.JPG", "width": 45, "height": 45}, "start": "2010-09-09T02:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/BBC+World+Service_popup_player.JPG", "width": 45, "height": 45}}, {"end": "2010-09-09T09:00:00", "description": "<p>Morning Edition is your perfect morning companion: gentle, but straightforward, explaining the vagaries of international diplomacy, reporting weather and even recommending the best film in town.</p>", "title": "Morning Edition", "url": "http://beta.wnyc.org/shows/me/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/morning_edition_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T05:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/morning_edition_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T10:00:00", "description": "<p>BBC World Service provides international news, analysis and information.</p>", "title": "BBC World Service", "url": "http://beta.wnyc.org/shows/bbc-world-service/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/BBC+World+Service_popup_player.JPG", "width": 45, "height": 45}, "start": "2010-09-09T09:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/BBC+World+Service_popup_player.JPG", "width": 45, "height": 45}}, {"end": "2010-09-09T12:00:00", "description": "<p>The electoral battle for Brooklyn's 10th district; <strong>Clarence Page </strong>on Chicago and White House politics; higher education; and more Map Your Moves visualizations.</p>", "title": "The Brian Lehrer Show - Real World Politics", "url": "http://beta.wnyc.org/shows/bl/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/congress_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T10:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/congress_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T14:00:00", "description": "<p>Guest host <strong>Elliott Forrest</strong> fills in for Leonard Lopate. On today\u2019s show: We\u2019ll take a peek inside the upcoming memorial at Ground Zero with documentarian <strong>Steven Rosenbaum</strong>. Then, legendary jazz drummer <strong>Roy Haynes</strong> talks about his Lincoln Center performance. Also, Grammy Award-winning singer <strong>Angelique Kidjo</strong> talks about her career and new album. Plus, our latest <strong>Underreported</strong> segments are on human egg trafficking and the cocaine trade in Guinea-Bissau.</p>", "title": "The Leonard Lopate Show - Memorial Music", "url": "http://beta.wnyc.org/shows/lopate/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/WTC Site 1a_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T12:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/WTC Site 1a_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T15:00:00", "description": "<p>Artist Christopher Janney is known for finding common ground between architecture and music. Today: Janney joins us to talk about his work, including a new installation in New Jersey inspired by the late composer John Cage. Later: the band <strong>Ozomatli</strong> is inspired by myriad genres from its hometown, Los Angeles. The group joins us to play live in the studio.</p>", "title": "Soundcheck - Sound and Spaces", "url": "http://beta.wnyc.org/shows/soundcheck/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/janney am06_popup_player.JPG", "width": 45, "height": 45}, "start": "2010-09-09T14:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/janney am06_popup_player.JPG", "width": 45, "height": 45}}, {"end": "2010-09-09T16:00:00", "description": "<p>Fresh Air is one of the most popular programs on public radio, breaking the \"talk show\" mold, and Gross is known for her fearless and insightful interviews with prominent figures in American arts, politics, and popular culture.</p>", "title": "Fresh Air", "url": "http://beta.wnyc.org/shows/freshair/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tgross_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T15:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tgross_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T18:30:00", "description": "<p>Reporters scour the globe for the most direct and compelling information, from the spread of AIDS in India to the inexplicable fluctuations of the Brazilian economy.</p>", "title": "All Things Considered", "url": "http://beta.wnyc.org/shows/atc/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}, "start": "2010-09-09T16:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}}, {"end": "2010-09-09T19:00:00", "description": "<p>Marketplace is not only about money and business, but about people, local economies and the world \u2014 and what it all means to us.</p>", "title": "Marketplace", "url": "http://beta.wnyc.org/shows/marketplace/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/7523_logo_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T18:30:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/7523_logo_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T20:00:00", "description": "<p>Reporters scour the globe for the most direct and compelling information, from the spread of AIDS in India to the inexplicable fluctuations of the Brazilian economy.</p>", "title": "All Things Considered", "url": "http://beta.wnyc.org/shows/atc/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}, "start": "2010-09-09T19:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}}, {"end": "2010-09-09T21:00:00", "description": "<p>On Point is a hybrid of a talk program and a news-magazine covering each day's important news developments and conducting conversations with newsmakers and thinkers from all around the world.</p>", "title": "On Point", "url": "http://beta.wnyc.org/shows/on-point/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/on_point_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T20:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/on_point_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T22:00:00", "description": "<p>Tell Me More focuses on the way we live, intersect and collide in a culturally diverse world.</p>", "title": "Tell Me More", "url": "http://beta.wnyc.org/shows/tell-me-more/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tmm__popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T21:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tmm__popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T23:00:00", "description": "<p>Artist Christopher Janney is known for finding common ground between architecture and music. Today: Janney joins us to talk about his work, including a new installation in New Jersey inspired by the late composer John Cage. Later: the band <strong>Ozomatli</strong> is inspired by myriad genres from its hometown, Los Angeles. The group joins us to play live in the studio.</p>", "title": "Soundcheck - Sound and Spaces", "url": "http://beta.wnyc.org/shows/soundcheck/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/janney am06_popup_player.JPG", "width": 45, "height": 45}, "start": "2010-09-09T22:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/janney am06_popup_player.JPG", "width": 45, "height": 45}}, {"end": "2010-09-10T00:00:00", "description": "<p>New Sounds provides a place for your left and right brain to unwind at the end of day.</p>", "title": "New Sounds", "url": "http://beta.wnyc.org/shows/newsounds/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/johnschaefer_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T23:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/johnschaefer_popup_player.jpg", "width": 45, "height": 45}}], "urls": ["(rtmp://wnyc-flash.streamguys.org:1935/wnycfm/,shoutcast:http://wnycfm.streamguys.com/wnycfm)", "(rtmp://wnyc-flash.streamguys.org:80/wnycfm/,shoutcast:http://wnycfm.streamguys.com/wnycfm)", "(rtmpt://wnyc-flash.streamguys.org:80/wnycfm/,shoutcast:http://wnycfm.streamguys.com/wnycfm)"], "alternateURLs": {"Windows": "/stream/wnyc-fm939/windows.asx", "MP3": "/stream/wnyc-fm939/mp3.pls"}, "hasPlaylists": false, "slug": "wnyc-fm939"}, "wnyc-am820": {"name": "WNYC-AM820", "schedule": [{"end": "2010-09-09T02:00:00", "description": "<p>All five candidates for the NY Democratic nomination for Attorney General debate, live from the Greene Space; plus meet more participants in the Map Your Moves data viz challenge.</p>", "title": "The Brian Lehrer Show - AG Democrats Debate", "url": "http://beta.wnyc.org/shows/bl/2010/sep/08/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/election2010_logoimage_popup_player.png", "width": 45, "height": 45}, "start": "2010-09-09T00:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/election2010_logoimage_popup_player.png", "width": 45, "height": 45}}, {"end": "2010-09-09T06:00:00", "description": "<p>BBC World Service provides international news, analysis and information.</p>", "title": "BBC World Service", "url": "http://beta.wnyc.org/shows/bbc-world-service/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/BBC+World+Service_popup_player.JPG", "width": 45, "height": 45}, "start": "2010-09-09T02:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/BBC+World+Service_popup_player.JPG", "width": 45, "height": 45}}, {"end": "2010-09-09T10:00:00", "description": "<p>The Park51 Center debate and how American stories spin out into international debates; NYPD-sponsored cricket league attracts many Muslim youth; checking the president's math on tax cutting proposals; the Taliban goes underground in Afghan's Kandahar city; books to help people understand war; the president's visit to battleground state Ohio; America's finest moments; why the NFL is so lucrative; evangelical leaders react to the planned \"Burn a Koran Day\" by a small church in Florida.</p>", "title": "The Takeaway - Park51 Center; Tax Cuts and Math; Obama in Ohio; Books on War; NYPD Cricketers; Taliban in Kandahar", "url": "http://www.thetakeaway.org/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/imam-protest_city-hall_2_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T06:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/imam-protest_city-hall_2_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T12:00:00", "description": "<p>The electoral battle for Brooklyn's 10th district; <strong>Clarence Page </strong>on Chicago and White House politics; higher education; and more Map Your Moves visualizations.</p>", "title": "The Brian Lehrer Show - Real World Politics", "url": "http://beta.wnyc.org/shows/bl/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/congress_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T10:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/congress_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T14:00:00", "description": "<p>Guest host <strong>Elliott Forrest</strong> fills in for Leonard Lopate. On today\u2019s show: We\u2019ll take a peek inside the upcoming memorial at Ground Zero with documentarian <strong>Steven Rosenbaum</strong>. Then, legendary jazz drummer <strong>Roy Haynes</strong> talks about his Lincoln Center performance. Also, Grammy Award-winning singer <strong>Angelique Kidjo</strong> talks about her career and new album. Plus, our latest <strong>Underreported</strong> segments are on human egg trafficking and the cocaine trade in Guinea-Bissau.</p>", "title": "The Leonard Lopate Show - Memorial Music", "url": "http://beta.wnyc.org/shows/lopate/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/WTC Site 1a_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T12:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/WTC Site 1a_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T15:00:00", "description": "<p>Tell Me More focuses on the way we live, intersect and collide in a culturally diverse world.</p>", "title": "Tell Me More", "url": "http://beta.wnyc.org/shows/tell-me-more/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tmm__popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T14:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tmm__popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T16:00:00", "description": "<p>A mix of news, features, interviews and music from around the world presents an engaging portrait of the global community. Produced by BBC World Service, Public Radio International and WGBH Radio Boston.</p>", "title": "The World", "url": "http://beta.wnyc.org/shows/world/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/world_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T15:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/world_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T18:30:00", "description": "<p>Reporters scour the globe for the most direct and compelling information, from the spread of AIDS in India to the inexplicable fluctuations of the Brazilian economy.</p>", "title": "All Things Considered", "url": "http://beta.wnyc.org/shows/atc/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}, "start": "2010-09-09T16:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}}, {"end": "2010-09-09T19:00:00", "description": "<p>Marketplace is not only about money and business, but about people, local economies and the world \u2014 and what it all means to us.</p>", "title": "Marketplace", "url": "http://beta.wnyc.org/shows/marketplace/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/7523_logo_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T18:30:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/7523_logo_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T20:00:00", "description": "<p>Reporters scour the globe for the most direct and compelling information, from the spread of AIDS in India to the inexplicable fluctuations of the Brazilian economy.</p>", "title": "All Things Considered", "url": "http://beta.wnyc.org/shows/atc/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}, "start": "2010-09-09T19:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/atc_popup_player.gif", "width": 45, "height": 45}}, {"end": "2010-09-09T21:00:00", "description": "<p>Fresh Air is one of the most popular programs on public radio, breaking the \"talk show\" mold, and Gross is known for her fearless and insightful interviews with prominent figures in American arts, politics, and popular culture.</p>", "title": "Fresh Air", "url": "http://beta.wnyc.org/shows/freshair/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tgross_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T20:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tgross_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T22:00:00", "description": "<p>For more than 25 years, <em>The Diane Rehm Show</em> has offered listeners thoughtful and lively conversations on an array of topics with many of the most distinguished people of our times.</p>", "title": "Diane Rehm", "url": "http://beta.wnyc.org/shows/diane-rehm/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/dinae_rehm_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T21:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/dinae_rehm_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T23:00:00", "description": "<p>Hosted by Warren Olney, <em>To the Point</em> is a fast-paced, news based one-hour daily national program that focuses on the hot-button issues of the day, co-produced by KCRW and Public Radio International.</p>", "title": "To the Point", "url": "http://beta.wnyc.org/shows/point/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tp_480x172_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T22:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tp_480x172_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-10T00:00:00", "description": "<p>The NewsHour continues to provide in-depth analysis of current events with a news summary, live studio interviews, discussions and documentary reports.</p>", "title": "The NewsHour", "url": "http://beta.wnyc.org/shows/news-hour/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/17660_logo_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T23:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/17660_logo_popup_player.jpg", "width": 45, "height": 45}}], "urls": ["(rtmp://wnyc-flash.streamguys.org:1935/wnycam/,shoutcast:http://wnycam.streamguys.com/wnycam)", "(rtmp://wnyc-flash.streamguys.org:80/wnycam/,shoutcast:http://wnycam.streamguys.com/wnycam)", "(rtmpt://wnyc-flash.streamguys.org:80/wnycam/,shoutcast:http://wnycam.streamguys.com/wnycam)"], "alternateURLs": {"Windows": "/stream/wnyc-am820/windows.asx", "MP3": "/stream/wnyc-am820/mp3.pls"}, "hasPlaylists": false, "slug": "wnyc-am820"}, "wqxr": {"name": "WQXR", "schedule": [{"end": "2010-09-09T05:30:00", "description": "<p>Tune in for a nightly mix that spans the centuries: from full-length operas, oratorios and major symphonies to the latest offerings from New York's vibrant new music scene.</p>", "title": "Overnight Music", "url": "http://www.wqxr.org/programs/overnight-music/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/overnight_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T00:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/overnight_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T10:00:00", "description": "<p>Jeff Spurgeon has been the guiding voice for a broadcast journalism class in a high school in Queens and several New York City choirs, hosting numerous concerts around the world and working as a radio host and newscaster for over 30 years.</p>", "title": "Jeff Spurgeon", "url": "http://www.wqxr.org/programs/morning/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/Jeff-Spurgeon.300square_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T05:30:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/Jeff-Spurgeon.300square_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T15:00:00", "description": "<p>Midge Woolsey's grounding in opera and musical theater led her to become a producer and host for public television and radio, proudly serving the tristate community with her soothing presence for over 30 years.</p>", "title": "Midge Woolsey", "url": "http://www.wqxr.org/programs/midge-woolsey/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/Midge-Woolsey.300square_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T10:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/Midge-Woolsey.300square_popup_player.jpg", "width": 45, "height": 45}}, {"url": "http://www.wqxr.org/people/kevin-gordon/", "start": "2010-09-09T15:00:00", "end": "2010-09-09T19:00:00", "description": "<p>Kevin Gordon is in for Naomi Lewin today.</p>", "title": "Kevin Gordon"}, {"end": "2010-09-09T19:30:00", "description": "<p>Terrance McKnight's varied musical experience, from glee club soloist and accomplished pianist, to professor at Morehouse College, and finally as producer and host of several music programs for public radio, opens his listeners' minds and ears.</p>", "title": "Terrance McKnight", "url": "http://www.wqxr.org/programs/terrance-mcknight/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tm_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T19:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tm_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T19:45:00", "description": "<p>Each day, The Writer's Almanac features Garrison Keillor as he recounts the highlights of this day in history and reads a short poem or two.</p>", "title": "The Writer's Almanac", "url": "http://www.wqxr.org/programs/writers-almanac/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/pen_sword_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T19:30:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/pen_sword_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T20:00:00", "description": "<p>Terrance McKnight's varied musical experience, from glee club soloist and accomplished pianist, to professor at Morehouse College, and finally as producer and host of several music programs for public radio, opens his listeners' minds and ears.</p>", "title": "Terrance McKnight", "url": "http://www.wqxr.org/programs/terrance-mcknight/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tm_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T19:45:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tm_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T21:00:00", "description": "<p>As <a href=\"http://www.wqxr.org/series/violinfest/\">ViolinFest</a> continues on WQXR, <strong>Symphony Hall</strong> this week is featuring works written exclusively for strings. Tonight spotlights two American composers who got their start as minimalists: John Adams and Philip Glass.</p>", "title": "Symphony Hall - American Minimalists", "url": "http://www.wqxr.org/programs/symphony-hall/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/3533178789_007686cc69_b_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T20:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/3533178789_007686cc69_b_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T22:00:00", "description": "<p>Tonight at 9 p.m., the Dutch conductor Jaap van Zweden brings his kinetic podium style to the <strong>Los Angeles Philharmonic</strong> in a program of Brahms, Rachmaninoff, and his countryman Johan Wagenaar.</p>", "title": "Los Angeles Philharmonic - Trp\u010deski Plays Rachmaninoff", "url": "http://www.wqxr.org/programs/los-angeles-philharmonic/2010/sep/09/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/Trpceski_5673_361_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T21:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/Trpceski_5673_361_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T23:00:00", "description": "<p>Terrance McKnight's varied musical experience, from glee club soloist and accomplished pianist, to professor at Morehouse College, and finally as producer and host of several music programs for public radio, opens his listeners' minds and ears.</p>", "title": "Terrance McKnight", "url": "http://www.wqxr.org/programs/terrance-mcknight/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tm_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T22:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/tm_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-10T00:00:00", "description": "<p>This week, we play music creatively suggested by our colleagues at radio stations around the world.</p>", "title": "Exploring Music - Director's Choice", "url": "http://www.wqxr.org/programs/exploring-music/2010/sep/06/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/2735199438_9c928da40b copy__popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T23:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/2735199438_9c928da40b copy__popup_player.jpg", "width": 45, "height": 45}}], "urls": ["(rtmp://wnyc-wqxr-flash.streamguys.org/wqxr,classical)"], "alternateURLs": {"Windows": "/stream/wqxr/windows.asx", "AAC+": "/stream/wqxr/aac.pls", "MP3": "/stream/wqxr/mp3.pls"}, "hasPlaylists": true, "slug": "wqxr"}, "q2": {"name": "Q2", "schedule": [{"end": "2010-09-09T04:00:00", "description": "<p>So, WQXR is spending the whole month of September in praise of the violin. Of course I'm a violist at heart, but I thought this would be a great jumping-off point for this week's show. Thus! This week we'll study great Acts of Violins in the 20th and 21st Centuries.</p>", "title": "Nadia Sirota on Q2 - Random Acts of Violins", "url": "http://www.wqxr.org/programs/nadia-sirota-q2/2010/sep/06/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/violin_300h_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T00:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/violin_300h_popup_player.jpg", "width": 45, "height": 45}}, {"url": "http://www.wqxr.org/articles/q2-music/2010/aug/21/24-hour-project-440/", "start": "2010-09-09T00:00:00", "end": "2010-09-09T00:00:00", "description": "<p>Q2 offers <strong>24 continuous hours</strong> to immerse yourself in the distinct sound worlds of the <a href=\"http://www.wqxr.org/tags/project_440_round_1_results/\">30 remaining Project 440 composers</a>, on the eve of the announcement naming the 12 composers who will advance to the next round. Many of the recordings featured during <em>24-Hour Project 440</em> come from live concerts with exclusively granted permissions from the performers, so it's an opportunity to hear broadcast premieres from the composers shaping the canon of tomorrow.</p>", "title": "24-Hour Project 440"}, {"url": "", "start": "2010-09-09T04:00:00", "end": "2010-09-09T11:00:00", "description": "", "title": ""}, {"end": "2010-09-09T12:00:00", "description": "<p>Say hello to Hammered!, Q2's hour-long, weekday program devoted the extraordinary breadth and ever-evolving repertoire of music for keyboard. From concert grand to disklavier, synthesizer to clavichord, prepared piano to toy piano, Hammered! shares musical colors from ebony to ivory and every shade in between.</p>", "title": "Hammered!", "url": "http://www.wqxr.org/programs/hammered/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/keyboardcolor2_300h_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T11:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/keyboardcolor2_300h_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T16:00:00", "description": "<p>So, WQXR is spending the whole month of September in praise of the violin. Of course I'm a violist at heart, but I thought this would be a great jumping-off point for this week's show. Thus! This week we'll study great Acts of Violins in the 20th and 21st Centuries.</p>", "title": "Nadia Sirota on Q2 - Random Acts of Violins", "url": "http://www.wqxr.org/programs/nadia-sirota-q2/2010/sep/06/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/violin_300h_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T12:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/violin_300h_popup_player.jpg", "width": 45, "height": 45}}, {"end": "2010-09-09T18:00:00", "description": "<p>On <strong>Sunday, September 5 at 2 p.m.</strong>, <em>Cued Up on Q2</em> presents highlights from the New Juilliard Ensemble's most recent season. The stellar student ensemble, led by the indefatigable Joel Sachs, fearlessly takes on the most adventurous contemporary concert works, and Q2 is excited to bring you live recordings of the most exciting performances.</p>", "title": "Cued Up on Q2 - New Juilliard Ensemble", "url": "http://www.wqxr.org/programs/cued-up/2010/sep/05/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/0512_Focus_BlurryJoel_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T16:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/0512_Focus_BlurryJoel_popup_player.jpg", "width": 45, "height": 45}}, {"url": "", "start": "2010-09-09T18:00:00", "end": "2010-09-09T23:00:00", "description": "", "title": ""}, {"end": "2010-09-10T00:00:00", "description": "<p>Say hello to Hammered!, Q2's hour-long, weekday program devoted the extraordinary breadth and ever-evolving repertoire of music for keyboard. From concert grand to disklavier, synthesizer to clavichord, prepared piano to toy piano, Hammered! shares musical colors from ebony to ivory and every shade in between.</p>", "title": "Hammered!", "url": "http://www.wqxr.org/programs/hammered/", "listImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/keyboardcolor2_300h_popup_player.jpg", "width": 45, "height": 45}, "start": "2010-09-09T23:00:00", "detailImage": {"url": "http://parmenides.wnyc.org/media/photologue/photos/cache/keyboardcolor2_300h_popup_player.jpg", "width": 45, "height": 45}}], "urls": ["(rtmp://wnyc-flash.streamguys.org:1935/wnychd/,shoutcast:http://wnyc2.streamguys.com/wnyc2)", "(rtmp://wnyc-flash.streamguys.org:80/wnychd/,shoutcast:http://wnyc2.streamguys.com/wnyc2)", "(rtmpt://wnyc-flash.streamguys.org:80/wnychd/,shoutcast:http://wnyc2.streamguys.com/wnyc2)"], "alternateURLs": {"Windows": "/stream/q2/windows.asx", "MP3": "/stream/q2/mp3.pls"}, "hasPlaylists": true, "slug": "q2"}}
;
    var server_now = "2010-09-09T10:57:50";
    var serverCurrentStationSlug = 'wnyc-fm939';
    var mediaUrl = "http://parmenides.wnyc.org/media/";
    var onlyShow = "";
    var upNextStations = ["wnyc-fm939", "wnyc-am820", "special-events-stream"];
    whatsOnNowInitSchedule();
// ]]>
  </script>


  <div class="message">



  </div>
</div>





<div class="sideblock bigbox_ad">
<p><span class="admessage" style="visibility: visible;">Supported by</span></p>
<script type="text/javascript">
GA_googleFillSlot("home_bigbox");
</script>
</div>

<div class="sideblock">
<h3>About It's A Free Country</h3>
<p>Archive of It's A Free Country articles and posts. <strong>Visit the </strong><a href="http://beta.wnyc.org/series/its-free-country/"><strong>It's A Free Country Home Page</strong></a><strong> for lots more.</strong></p>
</div>


<div class="sideblock">
<h4 class="noise"><span>Links</span></h4>
<ul>
<li><a href="http://beta.wnyc.org/series/its-free-country/" target="_blank">It's A Free Country</a>
</li>
<li><a href="http://beta.wnyc.org/tags/bullhorn/" target="_blank">Bullhorn</a>
</li>
<li><a href="http://empire.wnyc.org/" target="_blank">The Empire</a>
</li>
<li><a href="http://www.onthemedia.org/" target="_blank">On The Media</a>
</li>
<li><a href="http://transportationnation.org/" target="_blank">Transportation Nation</a>
</li>
<li><a href="http://www.thetakeaway.org/tags/politics/" target="_blank">The Takeaway: Politics</a>
</li>
</ul>
</div>



<div class="sideblock">
<h4 class="noise"><span>Feeds</span></h4>


<div class="feeds clearfix">
  <div class="feed-list"> </div>
</div>

</div>



<div class="sideblock bigbox_ad">
<p><span class="admessage" style="visibility: visible;">Supported by</span></p>
<script type="text/javascript">
GA_googleFillSlot("home_littlebox");
</script>
</div>


</div>
<!-- end sidebar -->

<!-- END CONTENT -->
</div>
<!-- end container -->
</div>








</div>

<!-- FOOTER -->

<div id="footer">

	<div class="footer-always-on">
		<div class="container_12">
			<h2>WNYC</h2>
			<ul>
				<li><a href="http://wnyc.convio.net/site/PageNavigator/WNYC_Mail_Sign_Up" class="newsletters">Newsletters</a></li>
				<li><a href="/audio/mobile/" class="mobile">Mobile</a></li>
				<li><a href="/audio/podcasts/" class="podcasts">Podcasts</a></li>
				<li><a href="/about/rss/" class="rss">RSS</a></li>
			</ul>
		</div>
	</div>

	<div class="container_12 footer-sections clearfix">
		<div class="grid_2">
			<h2 class="news linked"><a href="/articles/wnyc-news/">News</a></h2>
			<ul>
				<li><a href="/tags/politics/">Politics</a></li>
				<li><a href="/tags/finance/">Business</a></li>
				<li><a href="/tags/education/">Education</a></li>
				<li><a href="/tags/healthcare/">Health Care</a></li>
				<li><a href="/tags/transportation/">Transportation</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<h2 class="culture linked"><a href="http://culture.wnyc.org/">Culture</a></h2>
			<ul>
				<li><a href="http://culture.wnyc.org/series/books/">Books</a></li>
				<li><a href="http://culture.wnyc.org/tags/food/">Food</a></li>
				<li><a href="http://culture.wnyc.org/tags/theater/">Theater</a></li>
				<li><a href="http://culture.wnyc.org/tags/visual_arts/">Visual Arts</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<h2 class="shows linked"><a href="/shows/">Shows</a></h2>
			<ul>
				<li><a href="/shows/atc/">All Things Considered</a></li>
				<li><a href="/shows/bl/">Brian Lehrer</a></li>
				<li><a href="/shows/fishko/">Fishko Files</a></li>
				<li><a href="/shows/fresh-air/">Fresh Air</a></li>
				<li><a href="/shows/lopate/">Leonard Lopate</a></li>
				<li><a href="/shows/me/">Morning Edition</a></li>
				<li><a href="/shows/newsounds/">New Sounds</a></li>
				<li><a href="http://www.onthemedia.org/">On The Media</a></li>
				<li><a href="http://www.radiolab.org/">Radiolab</a></li>
				<li><a href="http://www.radiorookies.org/">Radio Rookies</a></li>
				<li><a href="/shows/shorts/">Selected Shorts</a></li>
				<li><a href="/shows/soundcheck/">Soundcheck</a></li>
				<li><a href="/shows/spinning/">Spinning on Air</a></li>
				<li><a href="http://www.studio360.org/">Studio 360</a></li>
				<li><a href="http://www.thetakeaway.org/">The Takeaway</a></li>
				<li><a href="/shows/american-life/">This American Life</a></li>
				<li><a href="/series/specials/">Specials</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<h2 class="music linked"><a href="/tags/music/">Music</a></h2>
			<ul>
				<li><a href="http://culture.wnyc.org/series/no-cover/">No Cover: WNYC's Concert Series</a></li>
				<li><a href="http://culture.wnyc.org/articles/music-hub/">Gig Alerts</a></li>
				<li><a href="/shows/soundcheck/">Soundcheck</a></li>
				<li><a href="http://www.wqxr.org/q2/">Q2</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<h2 class="greenespace linked"><a href="/thegreenespace/">The Greene Space</a></h2>
			<ul>
				<li><a href="/thegreenespace/events/">Events calendar</a></li>
				<li><a href="/thegreenespace/about/book/">Book an Event</a></li>
				<li><a href="/thegreenespace/visit/">Directions</a></li>
			</ul>
			<h2 class="more">More</h2>
			<ul>
				<li><a href="/giveaways/">Giveaways</a></li>
				<li><a href="/schedule/">Schedule</a></li>
				<li><a href="/video/">Video</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<h2 class="sites">Our Sites</h2>
			<ul>
				<li><a href="http://www.wqxr.org/">WQXR</a></li>
				<li><a href="http://www.thetakeaway.org/">The Takeaway</a></li>
				<li><a href="http://www.radiolab.org/">Radiolab</a></li>
				<li><a href="http://www.studio360.org/">Studio 360</a></li>
				<li><a href="http://www.onthemedia.org/">On The Media</a></li>
				<li><a href="http://www.transportationnation.org/">Transportation Nation</a></li>
				<li><a href="http://www.radiorookies.org/">Radio Rookies</a></li>
			</ul>
		</div>
	</div>

	<div class="container_12 clearfix">
		<div class="grid_12 omega footer-universal">
		<ul>
                        <li class="nypr"><a href="http://www.newyorkpublicradio.org/">New York Public Radio</a></li>
			<li class="wnyc"><a href="/">WNYC</a></li>
			<li class="wqxr"><a href="http://www.wqxr.org/">WQXR</a></li>
			<li class="greene-space"><a href="/thegreenespace/">The Greene Space</a></li>
		</ul>
		</div>
	</div>

	<div class="footer-util">
		<div class="container_12">
			<div class="grid_12">
				<ul>
					<li><a href="/corrections/">Corrections</a></li>
					<li><a href="/privacy/">Privacy Policy</a></li>
					<li><a href="/terms/">Terms of Use</a></li>
					<li class="norule"><a href="/contact/">Contact</a></li>
					<li class="norule">New York Public Radio</li>
				</ul>
			</div>
		</div>
	</div>


</div><!--//#footer-->

<!-- end footer -->


  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-283599-12");
    pageTracker._trackPageview();
  } catch(err) {}</script>

<script type="text/javascript">
var _sf_async_config={uid:4030,domain:"beta.wnyc.org"};

(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>

</body>
</html>