<!DOCTYPE html>
<html>
  <head>
    <title>Test Multiple Viewers</title>
    <style type="text/css">
      .container {
        margin: 0 auto;
        width: 500px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>The Daily Tribune</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
      </p>

      <div id="doc1" class="doc"></div>
      <script type="text/javascript" src="/documents/loader.js"></script>
      <script type="text/javascript">
        DV.load("<%= Document.unrestricted.random.canonical_url(:js) %>", {
          container : '#doc1',
          width: 500,
          height: 500,
          zoom: 'auto',
          showSidebar: false
        });
      </script>

      <p>
        Veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
      </p>

      <div id="doc2" class="doc"></div>
      <script type="text/javascript" src="/documents/loader.js"></script>
      <script type="text/javascript">
        DV.load("<%= Document.unrestricted.random.canonical_url(:js) %>", {
          container : '#doc2',
          width: 500,
          height: 500,
          zoom: 'auto',
          showSidebar: false
        });
      </script>

      <p>
        Autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
      </p>

      <div id="doc3" class="doc"></div>
      <script type="text/javascript" src="/documents/loader.js"></script>
      <script type="text/javascript">
        DV.load("<%= Document.unrestricted.random.canonical_url(:js) %>", {
          container : '#doc3',
          width: 500,
          height: 500,
          zoom: 'auto',
          showSidebar: false
        });
      </script>

      <p>
        Autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim.
      </p>

    </div>

  </body>
</html>
