<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocumentCloud Viewer Embed Test</title>
    <style type="text/css" media="screen">
      body {
        font: 400 1em/1.4em Gotham, sans-serif;
      }
      .embed-section {
        float: left;
        width: 30%;
        min-width: 200px;
        margin-right: 3%;
      }
      .embed-section:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>

    <div class="embed-section">
      <h1>Local loader:</h1>
      <div id="DC-note-227455" class="DC-note-container"></div>
      <script src="/notes/loader.js"></script>
      <script>
        dc.embed.loadNote('//www.documentcloud.org/documents/282753-lefler-thesis/annotations/227455.js');
      </script>
      <noscript>
        <a href="https://www.documentcloud.org/documents/282753-lefler-thesis/annotations/227455.html">View note</a>
      </noscript>
    </div>

    <div class="embed-section">
      <h1>Staging loader:</h1>
      <div id="DC-note-227472" class="DC-note-container"></div>
      <script src="//s3.amazonaws.com/dcloud_staging/notes/loader.js"></script>
      <script>
        dc.embed.loadNote('//www.documentcloud.org/documents/282753-lefler-thesis/annotations/227472.js');
      </script>
      <noscript>
        <a href="https://www.documentcloud.org/documents/282753-lefler-thesis/annotations/227472.html">View note</a>
      </noscript>
    </div>

    <div class="embed-section">
      <h1>Production loader:</h1>
      <div id="DC-note-42282" class="DC-note-container"></div>
      <script src="//assets.documentcloud.org/notes/loader.js"></script>
      <script>
        dc.embed.loadNote('//www.documentcloud.org/documents/282753-lefler-thesis/annotations/42282.js');
      </script>
      <noscript>
        <a href="https://www.documentcloud.org/documents/282753-lefler-thesis/annotations/42282.html">View note</a>
      </noscript>
    </div>

  </body>
</html>
