<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<title>Probation Department -- Independent Counsel report - Boston.com</title>
<meta name="robots" content="noarchive" />
<meta http-equiv="Keywords" content="News, Local, Mass.">
<meta http-equiv="Description" content="">
<meta http-equiv="charset" content="iso-8859-1">
<meta property="og:title" content="Probation Department -- Independent Counsel report" />

<meta property="og:site_name" content="Boston.com" />
<meta property="og:type" content="article" />
<meta property="og:description" content="" />



<meta property="og:image"
      content="http://cache.boston.com/universal/site_graphics/icons/share/bcom_og_news.gif" />
<meta property="fb:admins" content="100001044693856,507486035" />
<meta property="fb:app_id" content="117378991625799" />
<script language="javascript" type="text/javascript" src="http://cache.boston.com/universal/js/jquery-1.3.2.min.js"></script>
<link rel="canonical"
      href="http://www.boston.com/news/local/massachusetts/specials/spotlight/probation/ware_report/" />


<link rel="search" type="application/opensearchdescription+xml" title="Boston.com Local Search" href="http://cache.boston.com/search/files/bostonsearch.xml" />
<link rel="stylesheet" href="http://cache.boston.com/universal/css/bcom_global_styles.css" type="text/css" />
<!--[if IE]><link rel="stylesheet" href="http://cache.boston.com/universal/css/bcom_global_styles_ie.css" type="text/css" /><![endif]-->
<script language="JavaScript" type="text/javascript" src="http://cache.boston.com/universal/js/bcom_global_scripts.js"></script>











<link rel="stylesheet" href="http://cache.boston.com/universal/css/bcom_section_styles.css" type="text/css" />
<script type="text/javascript" src="http://cache.boston.com/universal/js/bcom_blog_video.js"></script>






<script>ifSafari();</script>






<!--Begin OAS MJX setup tag--><script language="JavaScript"><!--
//configuration
var site=document.URL.toLowerCase().match(/s_campaign=(\w+)/);
  if (!(site))
    {campaign="0000"}
  else
    {campaign=site[1]};
OAS_sitepage='www.boston.com/news/local/default';
OAS_listpos='TOP,INTRO,BOTTOM,POPUP,POPUN,EXTRA,BILLBOARD,SPONSOR,SPONSOR1,SPONSOR2,SPONSOR3,SPONSOR4,SPONSOR5,SPONSOR6,MISC1,MISC2,MISC3';
oasquery='pagetype=generic_page&RM_Exclude=exclude_generic_page&s_campaign='+campaign;if(typeof OAS_query=='undefined'||!OAS_query)OAS_query=oasquery;else OAS_query+='&'+oasquery;
OAS_url='http://rmedia.boston.com/RealMedia/ads/';OAS_target='_top';OAS_version=10;OAS_rn='001234567890';OAS_rns='1234567890';OAS_rn=new String(Math.random());OAS_rns=OAS_rn.substring(2, 11);
//--></script><script language="JavaScript1.2"><!--
var rerefer=/referrer=(\w+)/,urefer=document.URL.match(rerefer);if(urefer){if(OAS_query){var reexclude=/RM_Exclude=[\w,*]+/,OAS_query=OAS_query.replace(reexclude,OAS_query.match(reexclude)[0]+',exclude_referrer_'+urefer[1].toLowerCase());OAS_query+='&';}OAS_query+=urefer[0];}
//--></script><script language="JavaScript"><!--
function OAS_NORMAL(pos){document.writeln('<A HREF="'+OAS_url+'click_nx.ads/'+OAS_sitepage+'/1'+OAS_rns+'@'+OAS_listpos+'!'+ pos+'?'+OAS_query+'" TARGET='+OAS_target+'>');document.writeln('<IMG SRC="'+OAS_url+'adstream_nx.ads/'+OAS_sitepage+'/1'+OAS_rns+'@'+OAS_listpos+'!'+pos+'?'+OAS_query+'" BORDER=0></A>');}
//--></script><script language="JavaScript1.1"><!--
OAS_version=11;if((navigator.userAgent.indexOf('Mozilla/3')!=-1)||navigator.userAgent.indexOf('Mozilla/4.0 WebTV')!=-1){OAS_version=10;}if(OAS_version >= 11)document.writeln('<SCR'+'IPT LANGUAGE=JavaScript1.1 SRC="'+OAS_url+'adstream_mjx.ads/'+OAS_sitepage+'/1'+OAS_rns+'@'+OAS_listpos+'?'+OAS_query+'"> <\/SCRIPT>');
//--></script><script language="JavaScript"><!--
document.writeln('');
function OAS_AD(pos){if(OAS_version >= 11)OAS_RICH(pos);else OAS_NORMAL(pos);}
//--></script><!--End OAS MJX setup tag-->

<script language="JavaScript"><!--
var var5 = 'news_';
//--></script>


<style>
<!--
#globalNav #nav li#gnews {background-color:#3F5F9C; background-image:url(http://cache.boston.com/universal/site_graphics/nav_main_on.gif);}
#globalNav #nav li#gnews a {color:#fff;}
//--></style>
<style>
<!--
#globalNav #sNav a#secnav_local, a#secnav_local:link, a#secnav_local:visited, a#secnav_local:active, a#secnav_local:hover { font-weight: bold; text-decoration: none; color: #000; }
//--></style>








</head>
<body onload="windowLoaded();displayEmbed();" class="news">
    <div id="container">
      
      <div id="containerBorder">
        <div id="header">
          <div id="headL">
 	    
            
            
	     <div id="mastHead">
    	         	            
			     	             	         
    	      	       	          	         
    	         
    	      	<a href="http://www.boston.com" class="imageLink"><img src="http://cache.boston.com/universal/site_graphics/bcom_small.gif" alt="Boston.com" /></a> 
              <div id="searchForm">
                <div><span onclick="choose(this);" id="searchLocal" class="searchOn">Local Search</span> <span onclick="choose(this)" id="searchSite">Site Search</span></div>
                <script>otherTab = document.getElementById('searchLocal');</script>
                <form action="http://search.boston.com/local/Search.do">
                  <input type="text" name="s.sm.query" id="textField"><input type="submit" value="GO" class="form-button" />
                  <input type="hidden" id="tab" name="s.tab" value="" />
                </form>
              </div>
              
	    </div>
	  </div>
          <div id="headR">
            <div id="signIn">
              <span id="login" class="utility"><script language="JavaScript"><!--
              try{showLoginRRD(147);}catch(e){document.writeln('&nbsp;');}
              //--></script><noscript>&nbsp;</noscript></span>
              <span id="globeLogo"><span id="gLogoSub"><a href="https://bostonglobe.com/subscriber/offer/go/zip.asp?cd=WW015697&amp;od=28">Home Delivery</a></span><a href="http://www.boston.com/bostonglobe/"><img src="http://cache.boston.com/universal/site_graphics/glogo.jpg" /></a></span>
              </div>
              <div id="headAd">
                <div align="center" cellpadding="0"
                     cellspacing="0" border="0"><div
    class="bannerAd" align="center"><script language="JavaScript"><!--
OAS_AD('TOP');
//--></script></div></div>
              </div>
            </div>
          </div>











        
     <div id="globalNav">
<ul class="gnavContainer" id="nav"><li id="ghome"><a
    href="http://www.boston.com/">Home</a></li><li
    id="gglobe"><a href="http://www.boston.com/bostonglobe">Today's Globe</a></li><li
    id="gnews"><a href="http://www.boston.com/news/">News</a></li><li
    id="gyourtown"><a href="http://www.boston.com/yourtown/">Your Town</a></li><li
    id="gbusiness"><a href="http://www.boston.com/business/">Business</a></li><li
    id="gsports"><a href="http://www.boston.com/sports/">Sports</a></li><li
    id="glifestyle"><a href="http://www.boston.com/lifestyle/">Lifestyle</a></li><li
    id="gae"><a href="http://www.boston.com/ae/">A&amp;E</a></li><li
    id="gthings"><a href="http://www.boston.com/thingstodo/">Things to do</a></li><li
    id="gtravel"><a href="http://www.boston.com/travel/">Travel</a></li><li
    id="gcars"><a href="http://www.boston.com/cars/">Cars</a></li><li
    id="gjobs"><a href="http://www.boston.com/jobs/">Jobs</a></li><li
    id="gre"><a href="http://www.boston.com/realestate/">Real Estate</a></li></ul>



<ul id="sNav">
<li><a href="http://www.boston.com/news/local/"
       id="secnav_local">Local</a></li>
<li><a href="http://www.boston.com/news/nation/"
       id="secnav_nation">National</a></li>
<li><a href="http://www.boston.com/news/world/"
       id="secnav_world">World</a></li>
<li><a href="http://www.boston.com/news/politics/2010/"
       id="secnav_politics">Campaign 2010</a></li>
<li><a href="http://www.boston.com/business/"
       id="secnav_business">Business</a></li>
<li><a href="http://www.boston.com/news/education/"
       id="secnav_education">Education</a></li>
<li><a href="http://www.boston.com/news/health/"
       id="secnav_health">Health</a></li>
<li><a href="http://www.boston.com/news/science/"
       id="secnav_science">Science</a></li>
<li><a href="http://www.boston.com/lifestyle/green/"
       id="secnav_green">Green</a></li>
<li><a href="http://www.legacy.com/BostonGlobe/DeathNotices.asp"
       id="secnav_obituaries">Obituaries</a></li>
<li><a href="http://www.boston.com/news/specials/"
       id="secnav_specials">Special reports</a></li>
<li><a href="http://www.boston.com/news/traffic/"
       id="secnav_traffic">Traffic</a></li>
<li><a href="http://weather.boston.com/" id="secnav_weather">Weather</a></li>
<li><a href="http://www.boston.com/bostonglobe/numbers/lottery.html"
       id="secnav_lottery">Lottery</a></li>
</ul>
        </div>
        <div id="introad" class="adContainer"><script language="JavaScript"><!--
OAS_AD('INTRO');
//--></script></div>
        <div id="billboardAd" class="adContainer"><script language="JavaScript"><!--
OAS_AD('BILLBOARD');
//--></script></div>




        


<div class="hideMe"><!--
    <headline>Probation Department -- Independent Counsel report</headline>
    <source>Boston.com</source>
    <teasetext>Check out the Probation Department -- Independent Counsel report Page on Boston.com. </teasetext>
    <byline></byline>
    <date>November 18, 2010</date>
--></div>


<div id="content" class="section fullC">
  <div id="Col1">
      

<h2>The independent counsel's report</h2>
<div class="tt articleText">Independent counsel Paul F. Ware Jr. called for the immediate dismissal of  Probation Commissioner John J. O'Brien and some deputy commissioners for "abuse and systemic corruption," and said that the group are "potential targets" for prosecution. Read the full report below.</div>
<div class="padTop6"></div>
<div id="viewer-15143-report-of-independent-counsel-110910"></div>
<script src="http://dev.dcloud.org/documents/loader.js"></script>
<script>
  // DV.load('http://www.documentcloud.org/documents/15143-report-of-independent-counsel-110910.js', {
  DV.load('http://dev.dcloud.org/documents/531-an-experimental-evaluation-of-the-assumption-of.js', {
    width: 959,
    height: 750,
    container: "#viewer-15143-report-of-independent-counsel-110910"
  });
</script>

  </div>
  <div id="Col3"></div>
  <div class="cf"></div>
</div>

        
          <div id="footer">
  <div id="bottomBanner">
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR1');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR2');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR3');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR4');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR5');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR6');
//--></script></div>
<div class="cf"></div>
</div>
  <div>
  <div id="bottomLinks">
    <ul class="gnavContainer">
      <li><a rel="nofollow" href="http://www.boston.com/">Home</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/news/globe/">Today's Globe</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/news/">News</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/business/">Business</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/sports/">Sports</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/lifestyle/">Lifestyle</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/ae/">A&amp;E</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/thingstodo/">Things to Do</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/travel/">Travel</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/cars/" class="cfied">Cars</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/jobs/" class="cfied">Jobs</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/realestate/" class="cfied">Real Estate</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/search/" class="cfied">Local Search</a></li>
    </ul>
    <ul id="bcomLinks">
      <li class="first"><a rel="nofollow" href="http://www.boston.com/help/bostoncom_info/">Contact Boston.com</a></li> <li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/help/">Help</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.bostonglobe.com/advertiser/online/online.aspx?id=13052">Advertise</a></li><li class="listPipe">|</li>
      <li><a href="http://boston.monster.com/search.aspx?q=%22boston.com%22&amp;cy=us&amp;cnme=boston&amp;sid=40&amp;re=100&amp;jto=1">Work here</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/help/privacy_policy/">Updated Privacy Policy</a></li><li class="listPipe">|</li>
      <li><script language="JavaScript"><!--
          signupLink();
          //--></script><noscript><a href="http://members.boston.com/reg/login.do?dispatch=loginpage&amp;p1=Foot_ContactBostonCom_Newsletters">Newsletters</a></noscript></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/tools/mobile/">Mobile</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/tools/rss/">RSS feeds</a></li><li class="listPipe">|</li>
      <li><a href="http://spiderbites.boston.com/sitemap-service/Home.xml">Sitemap</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/help/homepage/">Make Boston.com your homepage</a></li>
    </ul>
    <ul id="bglobeLinks">
      <li class="first"><a rel="nofollow" href="http://bostonglobe.com/aboutus/contact_us/default.aspx">Contact The Boston Globe</a></li><li class="listPipe">|</li>
      <li><a href="http://bostonglobe.com/subscribers/homedelivery.aspx?id=5278">Subscribe</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://bostonglobe.com/subscribers/custserv.aspx?id=5274">Manage your subscription</a></li><li class="listPipe">|</li>
      <li><a href="http://bostonglobe.com/advertiser/default.aspx">Advertise</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://bostonglobe.com/subscribers/extras/index.aspx">The Boston Globe Extras</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.doriancolor.com/page3.html">The Boston Globe Gallery</a></li><li class="listPipe">|</li>
      <li>&copy; <script> var crYear = new Date(); document.write(crYear.getFullYear());</script> NY Times Co.</li>
    </ul>
  </div>

</div>
  
</div>
          

        
      </div>
    </div>
<script language="JavaScript"><!--
OAS_AD('POPUP');
//--></script>
<script language="JavaScript"><!--
OAS_AD('POPUN');
//--></script>
<script language="JavaScript"><!--
OAS_AD('EXTRA');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC1');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC2');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC3');
//--></script>






</body>
</html>