<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocumentCloud Viewer Embed Test</title>
    <%= stylesheet_link_tag File.join(DC.workspace_asset_root, "/css/platform.css") %>
  </head>
  <body>
    <div class="container-md" style="margin-top:3rem">
      <h1>Test embedded notes</h1>
      <p>Change loader (local, staging, production) by editing the source of this page.</p>

      <div style="margin-top:3rem">
        <div id="DC-search-projectid-29777-test" class="DC-search-container"></div>
        <script src="/embed/loader.js"></script>
<!--   <script src="//s3.amazonaws.com/dcloud_staging/embed/loader.js"> -->
<!--   <script src="//assets.documentcloud.org/embed/loader.js"> -->
        <script>
          dc.embed.load('https://www.documentcloud.org/search/embed/', {
            q: "projectid: 29777-test ",
            container: "#DC-search-projectid-29777-test",
            title: "",
            order: "created_at",
            per_page: 12,
            search_bar: true,
            organization: 1
          });
        </script>
        <noscript>
          <a href="https://www.documentcloud.org/public/search/projectid%3A%2029777-test%20">View/search document collection</a>
        </noscript>
      </div>

    </div>
  </body>
</html>
