<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="/stylesheets/embed/note_embed.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/vendor/underscore-1.1.5.js" type="text/javascript"></script>
  <script src="/javascripts/vendor/jquery-1.5.1.js" type="text/javascript"></script>
  <script src="/javascripts/vendor/backbone-0.3.3.js" type="text/javascript"></script>
  <script src="/javascripts/lib/inflector.js" type="text/javascript"></script>
  <script src="/javascripts/embed/note_embed.js" type="text/javascript"></script>
  <script>
    window._ = dc._;
  </script>
  <%= include_javascripts(:note_embed) %>
</head>
<body style="margin:0; padding:0;">
  <div class="DC-embed-preview">


    <div id="DC-note-176" style="width:690px;"></div>
    <script>
      dc.embed.loadNote('<%= DC.server_root(:force_ssl => true) %>', {
        note_id: 176,
        document_id: 529
      });
    </script>
    
    <div id="DC-note-177" style="width:200px"></div>
    <script>
      dc.embed.loadNote('<%= DC.server_root(:force_ssl => true) %>', {
        note_id: 177,
        document_id: 529
      });
    </script>
    
    <div id="container" style="width:270px"></div>
    <script type="text/javascript">
      dc.embed.loadNote('<%= DC.server_root(:force_ssl => true) %>', {
        document_id : 529,
        note_id     : 178,
        container   : '#container'
      });
    </script>
    
    
</body>
</html>
