<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocumentCloud Page Embed Test</title>
    <style type="text/css" media="screen">
      body {
        font: 400 1em/1.4em Gotham, sans-serif;
      }
      .embed-section {
        float: left;
        width: 30%;
        min-width: 200px;
        margin-right: 3%;
      }
      .embed-section:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>

    <div class="embed-section">
      <h1>Local loader:</h1>
      <div class="DC-embed" data-version="1.0" style="font-size:10pt">
        <p><a class="DC-embed-resource" href="http://www.documentcloud.org/documents/282753-lefler-thesis.html#document/p57" title="View page 57 of Lefler Thesis on DocumentCloud in new window or tab" target="_blank">Page 57 of Lefler Thesis</a></p>
        <img src="https://assets.documentcloud.org/documents/282753/pages/lefler-thesis-p57-normal.gif?1447697759" alt="Page 57 of Lefler Thesis" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
        <p>Contributed to DocumentCloud by Ted Han of DocumentCloud • <a href="https://www.documentcloud.org/documents/282753/pages/lefler-thesis-p57.txt" title="View text of page 57 of Lefler Thesis in a new window or tab" target="_blank">View page as text</a></p>
      </div>
      <script src="/embed/loader/enhance.js"></script>
    </div>

    <div class="embed-section">
      <h1>Staging loader:</h1>
      <div class="DC-embed" data-version="1.0" style="font-size:10pt">
        <p><a class="DC-embed-resource" href="http://www.documentcloud.org/documents/282753-lefler-thesis.html#document/p57" title="View page 57 of Lefler Thesis on DocumentCloud in new window or tab" target="_blank">Page 57 of Lefler Thesis</a></p>
        <img src="https://assets.documentcloud.org/documents/282753/pages/lefler-thesis-p57-normal.gif?1447697759" alt="Page 57 of Lefler Thesis" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
        <p>Contributed to DocumentCloud by Ted Han of DocumentCloud • <a href="https://www.documentcloud.org/documents/282753/pages/lefler-thesis-p57.txt" title="View text of page 57 of Lefler Thesis in a new window or tab" target="_blank">View page as text</a></p>
      </div>
      <script src="//s3.amazonaws.com/dcloud_staging/embed/loader/enhance.js"></script>
    </div>

    <div class="embed-section">
      <h1>Production loader:</h1>
      <div class="DC-embed" data-version="1.0" style="font-size:10pt">
        <p><a class="DC-embed-resource" href="http://www.documentcloud.org/documents/282753-lefler-thesis.html#document/p57" title="View page 57 of Lefler Thesis on DocumentCloud in new window or tab" target="_blank">Page 57 of Lefler Thesis</a></p>
        <img src="https://assets.documentcloud.org/documents/282753/pages/lefler-thesis-p57-normal.gif?1447697759" alt="Page 57 of Lefler Thesis" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
        <p>Contributed to DocumentCloud by Ted Han of DocumentCloud • <a href="https://www.documentcloud.org/documents/282753/pages/lefler-thesis-p57.txt" title="View text of page 57 of Lefler Thesis in a new window or tab" target="_blank">View page as text</a></p>
      </div>
      <script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>
    </div>

  </body>
</html>
