<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocumentCloud Viewer Embed Test</title>
    <%= stylesheet_link_tag File.join(DC.workspace_asset_root, "/css/platform.css") %>
  </head>
  <body>
    <div class="container-md" style="margin-top:3rem">
      <h1>Test embedded notes</h1>
      <p>Change loader (local, staging, production) by editing the source of this page.</p>

      <div style="margin-top:3rem">
        <div id="DV-viewer-1659580-economic-analysis-of-the-south-pole-traverse" class="DV-container"></div>
        <script src="/viewer/loader.js"></script>
<!--        <script src="//s3.amazonaws.com/dcloud_staging/viewer/loader.js"> -->
<!--        <script src="//assets.documentcloud.org/viewer/loader.js"> -->
      <script>
        DV.load("https://www.documentcloud.org/documents/1659580-economic-analysis-of-the-south-pole-traverse.js", {
          responsive: true,
          container: "#DV-viewer-1659580-economic-analysis-of-the-south-pole-traverse"
        });
      </script>
      <noscript>
        <a href="https://assets.documentcloud.org/documents/1659580/economic-analysis-of-the-south-pole-traverse.pdf">Economic Analysis of the South Pole Traverse (PDF)</a>
        <br />
        <a href="https://assets.documentcloud.org/documents/1659580/economic-analysis-of-the-south-pole-traverse.txt">Economic Analysis of the South Pole Traverse (Text)</a>
      </noscript>
      </div>

    </div>
  </body>
</html>
