<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/>
<script>var wp_ms_start = new Date().getTime();</script>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/javascript/framework/prototype.js"></script>
<script language="javascript" src="http://media10.washingtonpost.com/wp/js/papl.js"></script>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/js/utilsStatic.js"></script>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/js/Utils.js"></script>
<script>var utils = new Utils();</script>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/js/vendor-on_off.js"></script>
<script src="http://media3.washingtonpost.com/wp-srv/javascript/factorTG.js"></script>
<!-- None -->
<title>Test headline</title>
<link rel="canonical" href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html"/>
<meta name="keywords" content=""></meta>
<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobo..."></meta>
<script src="http://media3.washingtonpost.com/wp-srv/ad/ad_v2.js"></script>
<script language="javascript">
<!--
thisNode = 'politics';
commercialNode ='politics';
// -->
</script>
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!--
function popitup(url, height, width)
{
var dimString = "'" + "height=" + height + ",width=" + width + ",scrollbars=1" + "'"
newwindow=window.open(url,'name',dimString);
if (window.focus) {newwindow.focus()}
return false;
}
// -->
</SCRIPT>
<script src="http://media3.washingtonpost.com/wp-srv/javascript/init.js"></script>
<style>
@import url("http://media3.washingtonpost.com/wp-srv/css/topstrip_teased.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/sidebars.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/bullets.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/feature.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/feature_ls.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/misc_linkset.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/story/main.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/article_media.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/related-bottom-content.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/bookmarking_v2.css");
@import url("http://media3.washingtonpost.com/wp-srv/css/networked-news.css");
@import url("http://media10.washingtonpost.com/wp/css/specials-js.css");
</style>
<!--[if IE]>
<link href="http://media3.washingtonpost.com/wp-srv/css/networked-news-ie.css" rel="stylesheet" media="all"/>
<![endif]-->
<script src="http://media3.washingtonpost.com/wp-srv/js/related-bottom-content.js"></script>
<meta name="DC.date.issued" content="2010-10-21"/>
<link rel="image_src" href="http://media3.washingtonpost.com/wp-srv/images/twp-50x50.jpg"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Test headline"/>
<meta property="og:url" content="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html"/>
<meta property="og:image" content="http://media3.washingtonpost.com/wp-srv/images/twp-50x50.jpg"/>
<meta name="canonical_url" content="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html"></meta>
<meta name="profile_description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobo..."></meta>
<meta name="profile_picture" value="http://media3.washingtonpost.com/wp-srv/images/twp-50x50.jpg"/>
<meta property="fb:app_id" content="41245586762"></meta>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/js/saveshare.js"></script>
<script language="javascript" src="http://media3.washingtonpost.com/wp-srv/js/HotContent.js"></script>
<script src="http://media3.washingtonpost.com/wp-srv/javascript/article/init.js"></script>
<script language="JavaScript">var SA_Message="SACategory=" + 'politics';</script>
<script language="javascript" src="http://media.washingtonpost.com/wp-srv/ad/ad_configurations_article_v2.js"></script>
<script language="javascript" src="http://media.washingtonpost.com/wp-srv/popjs/popupCampaignClasses.js"></script>
<script type="text/javascript">
<!--
/** Variables from WPNI Article Page **/
var wp_article = {
"publishDate":	 new Date(1287673737681),
"id":				 "AR2010102102498",
"path":			  "http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html",
"comments_url":	"http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498_Comments.html",
"headline":		 "Test headline",
"reporter":		 "",
"abstract":		 "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobo...",
"section":		  "politics",
"allow_comments": "no",
"comments_period": 3
};
// -->
</script>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/tools/fd/cleanprint.js"></script>
<meta property="fb:admins" content="1517346030,527377623,775397496"></meta>
<div id="fb-root"></div>
<script  type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/javascript/networked-news.js"></script>
<script type="text/javascript">var TWP_NN = new NetworkNews();</script>

<script>
<!--
function getWPServerTimeAsDate() {
	var ssi_date = '10/21/2010 12:01:17' ;
	if ( ssi_date.match(/DATE_LOCAL/) ) {
		return new Date() ;
	} else {
		return new Date('10/21/2010 12:01:17') ;
	}
}
// -->
</script>
<link href="http://media3.washingtonpost.com/wp-srv/css/global.css" rel="stylesheet" media="all"/>
<link href="http://media3.washingtonpost.com/wp-srv/css/layout/revclamp970.css" rel="stylesheet" media="all"/>
<link href="http://media3.washingtonpost.com/wp-srv/css/article.css" rel="stylesheet" media="all"/>
</head>
<body id="PageArticle">
<script>
var saveshare_recipe = 'bottom';
init_save_share();
</script>
<!-- start visible content -->
<div class="wrapperFull" id="PageArticleCommon">
<div id="wrapperTop">
<script type="text/javascript" src="http://media.washingtonpost.com/wp-srv/wpost/javascript/static-header.js"></script>
<link type="text/css" rel="stylesheet" href="http://media.washingtonpost.com/wp-srv/wpost/css/static-shell-twp-v3.css"></link>
<!-- END NEW HEADER INFO -->
<div id="header-v3"> <div id="utility-wrapper"> <ul id="utility-links" class="inline"> <li id="global-signin" style="min-width:40px;"> </li> <li id="global-registration"> </li> <li> <a href="https://subscription.washpost.com/subscriberservices/subscriber.portal?state=welcome&oscode=RPWS">Subscribe</a> </li> <li> <a href="http://www.washingtonpost.com/wp-srv/contents/mobile/mobilewebsite.html?nid=top_mobile">Mobile</a> </li> <li> <a href="http://www.washingtonpost.com/wp-dyn/content/photo/?nid=top_multimedia">Multimedia</a> </li> <li> <a href="http://www.washingtonpost.com/wp-dyn/content/print/?nid=top_todays_paper">Today's Paper</a> </li> </ul> <ul id="user-tools" class="inline"> <li> <a class="anchor" href="http://www.washingtonpost.com/gog?nid=top_gog"><span>Going Out Guide</span></a> </li> <li> <a class="anchor" href="http://www.washingtonpost.com/wl/jobs/home/?nid=top_jobs"><span>Jobs</span></a> </li> <li> <a class="anchor" href="http://www.washingtonpost.com/wp-dyn/content/cars/?nid=top_cars"><span>Cars</span></a> </li> <li> <a class="anchor" href="http://www.washingtonpost.com/real-estate/index.html?nid=top_realestate"><span>Real Estate</span></a> </li> <li> <a class="anchor" href="http://www.washingtonpost.com/rentals?nid=top_rentals"><span>Rentals</span></a> </li> <li> <a class="anchor" href="http://www.washingtonpost.com/classifieds?nid=top_classifieds"><span>Classifieds</span></a> </li> </ul> </div> <div id="main-nav-wrapper"> <ul id="main-nav" class="inline"> <li data="top_news" class="uc first"> <a href="http://www.washingtonpost.com/wp-srv/national.html?nid=top_news" class="news">News</a> <div class="drop"> <table> <tbody> <tr> <td><a href="http://www.washingtonpost.com/wp-dyn/content/nation/?nid=roll_nation">Nation</a></td> <td><a href="http://blog.washingtonpost.com/washingtonpostinvestigations/?nid=roll_investigations">Investigations</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/photo/?nid=roll_photovid">Photos &amp; Video</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-dyn/content/discussions/index.html?nid=roll_discuss">Discussions</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-dyn/content/world/?nid=roll_world">World</a></td> <td><a href="http://voices.washingtonpost.com/education/?nid=roll_education">Education</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/entertainmentnews/?nid=roll_entertain">Entertainment</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-dyn/content/linkset/2005/04/25/LI2005042500027.html?nid=roll_corrections">Corrections</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/local.html?nid=roll_local">Metro</a></td> <td><a href="http://www.washingtonpost.com/health">Health</a></td> <td><a href="http://blog.washingtonpost.com/?nid=roll_columnsblogs">Columns &amp; Blogs</a></td> <td class="last"><a href="http://specials.washingtonpost.com/in/innovation-news/?nid=roll_innovations">Innovations</a></td> </tr> </tbody></table> <div class="ad" style="line-height:12px;padding:4px 0 4px 8px;"><a href="http://timespace.washingtonpost.com/project/world"><b>AD: </b>Explore TimeSpace World sponsored by Sprint</a></div> </div> </li> <li data="local"> <a class="uc" href="http://www.washingtonpost.com/wp-srv/local.html?nid=top_local">Local</a> <div class="drop"> <table> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/weather/index.html?nid=roll_weather">Weather</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/metro/dc/index.html?nid=roll_dclocal">District</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/metro/metro_columnists.html?nid=roll_localcolblogs">Columns &amp; Blogs</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-srv/metro/communitytools.html?nid=roll_localtools">Local Tools</a></td> </tr> <tr> <td><a href="http://voices.washingtonpost.com/transportation/?nid=roll_traffic">Traffic</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/metro/md/index.html?nid=roll_mdlocal">Maryland</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/metro/obituaries/index.html/?nid=roll_obituaries">Obituaries</a></td> <td class="last"><a href="http://yellowpages.washingtonpost.com">Yellow Pages</a></td> </tr> <tr> <td><a href="http://voices.washingtonpost.com/crime?nid=roll_crime">Crime</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/metro/va/index.html?nid=roll_valocal">Virginia</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/metro/special/3/index.html?nid=roll_commuting">Commuting</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-srv/admin/classifieds/index.html?nid=roll_classifieds">Classifieds</a></td> </tr> </table> </div> </li> <li data="politics"> <a class="uc"href="http://www.washingtonpost.com/wp-srv/sectionfronts/politics/index.html?nid=top_politics">Politics</a> <div class="drop"> <table> <tr> <td><a href="http://voices.washingtonpost.com/politics/white-house.html?nid=roll_whitehouse">White House</a></td> <td><a href="http://voices.washingtonpost.com/politics/congress.html?nid=roll_congress">Congress</a></td> <td class="last"><a href="http://voices.washingtonpost.com/politics/campaigns.html?nid=roll_campaigns">Campaigns</a></td> </tr> <tr> <td><a href="http://voices.washingtonpost.com/politics/polling.html?nid=roll_polls">Polling</a></td> <td><a href="http://voices.washingtonpost.com/politics/federal-government.html?nid=roll_fedpage">The Fed Page</a></td> <td class="last"><a href="http://www.whorunsgov.com?nid=roll_whorunsgov">Who Runs Gov</a></td> </tr> <tr> <td colspan="3"><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/politics/subsections/columns-blogs.html?nid=roll_politicscolblogs">Columns &amp; Blogs </a></td> </tr> </table> </div> </li> <li data="opinion"> <a class="uc" href="http://www.washingtonpost.com/wp-dyn/content/opinions/index.html?nid=top_opinions">Opinions</a> <div class="drop"> <table> <tr> <td><a href="http://www.washingtonpost.com/wp-dyn/content/opinions/index.html?nid=roll_opinmain">Latest Opinions</a></td> <td><a href="http://voices.washingtonpost.com/tomtoles/?nid=roll_toonsvid">Toles Cartoons</a></td> <td class="last"><a href="http://voices.washingtonpost.com/anntelnaes/?nid=roll_telnaes">Telnaes Animations</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-dyn/content/opinions/columnsandblogs/index.html?nid=roll_localopinions">Local Opinions</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/opinions/outlook/index.html?nid=roll_outlook">Outlook</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-dyn/content/discussions/index.html?nid=roll_discussions">Discussions</a></td> </tr> </table> </div> </li> <li data="sports"> <a class="uc" href="http://www.washingtonpost.com/wp-dyn/content/sports/?nid=top_sports">Sports</a> <div class="drop"> <table> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/sports/redskins/longterm/sectionfront/index.html?nid=roll_redskins">Redskins</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/sports/wizards/index.html?nid=roll_nba">Wizards/NBA</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/sports/colleges/index.html?nid=roll_colleges">Colleges</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-srv/sports/columns-blogs/columns.html?nid=roll_columnists">Columnists</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/sports/capitals/index.html?nid=roll_capitals">Capitals/NHL</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/sports/united_soccer/index.html?nid=roll_dcunited">United/Soccer</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/sports/highschools/index.html?nid=roll_hs">High Schools</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-srv/sports/columns-blogs/blogs.html?nid=roll_sportsblogs">Blogs</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/sports/nationals/index.html?nid=roll_nationals">Nationals/MLB</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/sports/mystics/index.html?nid=roll_mystics">Mystics/WNBA</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/sports/index/index.html?nid=roll_leagues_sports">Leagues &amp; Sports</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-dyn/content/sports/wires/index.html?nid=roll_wires">Wires</a></td> </tr> </table> </div> </li> <li data="business"> <a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/index.html?nid=top_business">Business</a> <div class="drop"> <table> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/policy/index.html?nid=roll_policy_regulation">Policy & Regulation </a></td> <td><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/economy/index.html?nid=roll_economy">Economy</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/localbusiness/index.html?nid=roll_local_business">Local Business</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/technology/index.html?nid=roll_technology">Technology</a></td> <td><a href="http://washpost.bloomberg.com/market-news/index?nid=roll_markets">Markets</a></td> <td class="last"><a href="http://washpost.bloomberg.com/industries/index?nid=roll_industries">Industries</a></td> </tr> <tr> <td><a href="http://washpost.bloomberg.com/worldbusiness/?nid=roll_worldbusiness">World Business</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/specialreports/index.html?nid=roll_specialreports">Special Reports</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-srv/sectionfronts/business/columns-blogs/index.html?nid=roll_columnsblogs">Columns & Blogs</a></td> </tr> </table> </div> </li> <li data="artsandliving"> <a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/index.html?nid=top_artsliving">Arts & Living</a> <div class="drop"> <table> <tr> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/style/index.html?nid=roll_style">Style</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/entertainmentnews/index.html?nid=roll_entnews">Entertainment News</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/television/index.html?nid=roll_tv">Television</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/homeandgarden/index.html?nid=roll_homegarden">Home &amp; Garden</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/print/bookworld/index.html?nid=roll_books">Books</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/comics/index.html?nid=roll_comics">Comics</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/music/index.html?nid=roll_music">Music</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/foodanddining/index.html?nid=roll_fooddining">Food &amp; Dining</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/travel/index.html?nid=roll_travel">Travel</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/theater/index.html?nid=roll_theater">Theater &amp; Dance</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/weddings/index.html?nid=roll_weddings">Weddings</a></td> <td class="last"><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/crosswords/index.html?nid=roll_crosswords">Crosswords</a></td> </tr> <tr> <td><a href="http://www.washingtonpost.com/gog/dc-movies-theaters.html?nid=roll_movies">Movies</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/fashionandbeauty/index.html?nid=roll_fashionbeauty">Fashion &amp; Beauty</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/museums/index.html?nid=roll_museums">Museums</a></td> <td><a href="http://www.washingtonpost.com/wp-dyn/content/artsandliving/magazine/index.html?nid=roll_postmagazine">Post Magazine</a></td> <td><a href="http://www.washingtonpost.com/wp-srv/artsandliving/horoscopes/index.html?nid=roll_horoscopes">Horoscopes</a></td> <td class="last"><a href="http://www.uclick.com/client/wpc/wpdoc/index.html?nid=roll_sodoku">Sudoku</a></td> </tr> </table> </div> </li> <li data="none" class="search"> <form name="headersearch" action="http://www.washingtonpost.com/cgi-bin/search99.pl" method="post"> <input class="restore text" type="text" name="keywords" value="Search The Washington Post" onclick="this.value='';" /> <input type="submit" class="button global-search" name="submit" /> </form> </li> </ul> </div> <div id="brand-wrapper"> <div id="logo"> <a class="twp-brand-large" href="http://www.washingtonpost.com/">The Washington Post</a> </div> <div class="tile-ad" id="adTiff" style="display:none;"> <script type="text/javascript" src="http://www.washingtonpost.com/wp-srv/ad/tiffany_manager.js"></script> </div> </div> <script type="text/javascript">
        var gh = new TWP.Module.GlobalHeader();
    </script> </div> 
<div class="module hot-topics"><div><span class="label">
                Hot Topics
            </span><ul class="inline"><li class="first"><a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102101474.html">Juan Williams</a></li><li><a href="http://www.whorunsgov.com/politerati/whos-news/stevens-criticizes-scalia-whos-news-10-21/">Don't ask, don't tell</a></li><li><a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102101941.html">Fannie/Freddie</a></li></ul><span id="current-date" class="timestamp"></span></div></div>

<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & BANNER_FLEX_TOP ) == BANNER_FLEX_TOP  )
{
document.write('<div id="banner_wrapper_top" align="center">') ;
document.write('<table cellpadding="0" cellspacing="0" border="0">') ;
document.write('<tr>') ;
document.write('<td valign="middle">') ;
document.writeln ('<img src="http://media3.washingtonpost.com/wp-srv/article/pieces/adLabel_bluebackground_13x60.gif" alt="ad_icon" width="13" height="60" border="0"/>' );
document.write('</td>') ;
document.write('<td>') ;
}
// -->
</SCRIPT>
<script>
if ( show_doubleclick_ad && ( adTemplate & BANNER_FLEX_TOP ) == BANNER_FLEX_TOP  )
{
placeAd('ARTICLE',commercialNode,1,'',true) ;
}
</script>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & BANNER_FLEX_TOP ) == BANNER_FLEX_TOP  )
{
document.write('</td>') ;
document.write('</tr>') ;
document.write('</table>') ;
document.write('</div>') ;
}
// -->
</SCRIPT>
<!-- LEAVE THIS COMMENT IN - WE DON'T WANT THE OLD SEARCH BAR TO SHOW UP -->&#160;
<div id="bread_crumbs">
<div id="bread_crumbs_inside">
<a href="http://www.washingtonpost.com">washingtonpost.com</a>
&nbsp;&gt;&nbsp;<a href="http://www.washingtonpost.com/wp-srv/sectionfronts/politics/index.html">Politics</a>
</div>
 <div id="bc-badges"> <span class="nav-kicker">&raquo; Follow Politics On:</span> <a href="http://www.washingtonpost.com/wp-srv/contents/mobile/index.html"><img src="http://media.washingtonpost.com/wp-srv/ssi/breadcrumb/icons/icon_mobile_15x15.gif" title="Mobile" alt="Mobile" /></a> <a href="http://www.washingtonpost.com/ac2/wp-dyn/admin/enc"><img src="http://media.washingtonpost.com/wp-srv/ssi/breadcrumb/icons/icon_newsletters_15x15.gif" title="Newsletters & Alerts" alt="Newsletters & Alerts" /></a> <a href="http://feeds.washingtonpost.com/wp-dyn/rss/politics/index_xml"><img src="http://media.washingtonpost.com/wp-srv/ssi/breadcrumb/icons/icon_rss_15x15.gif" title="RSS" alt="RSS" /></a> <a href="http://www.facebook.com/pages/Post-Politics/22594466804"><img src="http://media.washingtonpost.com/wp-srv/ssi/breadcrumb/icons/icon_facebook_15x15.gif" title="Facebook" alt="Facebook" /></a> <a href="http://twitter.com/postpolitics"><img src="http://media.washingtonpost.com/wp-srv/ssi/breadcrumb/icons/icon_twitter_15x15.gif" title="Twitter" alt="Twitter" /></a> </div> 
</div>
<div style="clear:both;"></div>
</div>
<div id="wrapperMain">
<div id="wrapperMainCenter">
<div id="wrapperInternalCenter">
<div id="banner">
</div>
<!-- <hr size=1> <div style="font-size:11px;font-weight:bold;font-family: arial, verdana, helvetica;">News Alert</div> <a href="http://www.washingtonpost.com/wp-dyn/content/article/2005/09/28/AR2005092800270.html?nav=articlealert" style="font-size:13px;color: #cc0000;font-weight:bold;font-family: arial, verdana, helvetica;text-decoration:none;"></span></a> <a href="http://www.washingtonpost.com/wp-dyn/content/article/2005/09/28/AR2005092800270.html?nav=articlealert" style="font-family: arial, verdana, helvetica;font-weight:bold;font-size:13px;">House Majority Leader Tom DeLay Indicted</a><br> <hr size=1><br> -->
<div class="topstrip">
<style type="text/css">
#tsPostPolitics { width: 622px; border:1px solid #ccc; font: 11px/14px Arial, Helvetica, sans-serif; color: #333; margin-bottom: 10px;}
#tsPostPolitics img {border: none;}
#tsPostPolitics .hashbg {margin: 1px; background: url('http://media.washingtonpost.com/wp-srv/special/metro/aids-funding/images/hash-bg.gif') no-repeat; height: 46px; width: 620px;}
#tsPostPolitics .wrapper { float:left;padding:7px 8px 0; display:inline;}
#tsPostPolitics .hpfTitle {float:left; display: inline; font-size: 18px; color: #474747; font-family: arial; line-height:19px; text-transform:none; padding:0px 10px 0px 0px;}
#tsPostPolitics .hpfTitle span {display:none; text-transform:none;}
#tsPostPolitics .hpfSubhead {float:left; display:inline; color: #333; font-size: 13px; font-family: arial;font-weight: normal; line-height: 16px; margin: 0px 0 0 0px; padding: 0; text-transform:none; }
#tsPostPolitics .hpfSubhead a {color: #333;}
#tsPostPolitics .hpfSubhead a:hover { text-decoration: none;}
#tsPostPolitics p.hpfText {color: #666; font-size: 12px; font-family: arial; font-weight: bold; line-height: 14px; margin: 3px 0 0 0px; padding: 0 0 0px 0; text-transform:none; }
#tsPostPolitics a {text-decoration: none; cursor: pointer;}
#tsPostPolitics a:hover { text-decoration: none;}
</style>
<div style="margin:-2px 0px 10px 0px;">
<div id="tsPostPolitics">
<a href="">
<div class="hashbg">
<div class="wrapper">
<div class="hpfTitle"><a href="http://www.washingtonpost.com/politics"><img src="http://media.washingtonpost.com/wp-dyn/content/photo/2010/04/26/PH2010042602409.gif" border="0" /></a><span>Post Politics</span></div>
<div class="hpfSubhead"><div style="float:left;margin-top:0px;">New home.<br><span style="font-weight:bold">Still the best political coverage.</span></div><div style="float:left;margin:15px 0 0 3px;"><a href="http://www.washingtonpost.com/politics"><img src="http://media.washingtonpost.com/wp-dyn/content/photo/2010/04/26/PH2010042602412.gif" border="0" /></a></div><div style="clear: both;"></div></div>
<div style="clear:both;"></div>
</div>
<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>
</a>
</div>
</div>
<div style="clear: both;"></div>

</div>
<div id="article">
<div style="padding-left:10px;">
<h6>
Test
</h6>
<h1 style="margin-bottom:10px;">Test headline</h1>
<div class="wrapper350_custom_html">
<div id="document-viewer"></div>
<script src="/documents/loader.js"></script>
<script>
 DV.load("<%= Document.unrestricted.random.canonical_url(:js) %>", {
   container : '#document-viewer',
   width: 350, 
   height: 400,
   sidebar: false
 });
</script>
<br>The above report was issued by the Institute for Research and Education on Human Rights. Click on the multi-directional arrow at the lower-left of the document reader for a full-screen view.</br>

</div>
<table cellpadding="0" cellspacing="0" style="float:right;clear:both;" width="238" id="content_column_table">
<tr><td width="10"></td><td width="228">
<div id="NN-module-sidebar" class="NN-ww">
<div class="NN-module NN-module-sidebar">
	<div class="NN-header"><div class="NN-header-inner">
		<div class="NN-fb-logo">
			<!-- use this image if logged in
			<img src="http://www.washingtonpost.com/wp-srv/networked-news/images/person.jpg" alt="PERSONS NAME"/>
			-->
		</div>
		<h4>Network News</h4>
		<!-- a href="#INFO_PAGE_URL" class="NN-info-btn">help</a -->
		<!-- a href="#LOGIN-URL" class="NN-gray-btn"><span>Login</span></a -->
		<a href="http://www.washingtonpost.com/ac2/wp-dyn?node=admin/registration/manage&destination=hpPref&nextstep=update" class="NN-gray-btn NN-opt-out" alt="Opt out"><span>X</span></a>
		<a href="http://www.washingtonpost.com/wp-srv/network-news/" class="NN-gray-btn NN-profile"><span>Profile</span></a>
		<div class="clear"></div>
	</div></div>
	<div class="NN-content">
		<div id="NN-widget-like-article-box"></div>
		<div class="clear"></div>
		<div>
			<a href="http://www.washingtonpost.com/wp-srv/network-news/" class="NN-right-arrow-btn NN-fleft">View More Activity</a>
			<div class="NN-ad-unit NN-fright NN-hide">
				<script type="text/javascript">try{wpTiles.init('nn_sidebar')}catch(e){}</script>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="NN-module-cap"><div class="NN-module-cap-inner"></div></div>
</div>
</div>

<div id="content_column_tools">
<script src="http://media3.washingtonpost.com/wp-srv/article/js/storyPageTools.js"></script>
<div class="sidebarhack"><b></b></div>
<div class="sidebar">
<div class="seo-header">TOOLBOX</div>
<div class="sidebarcontent">
<div class="sidebarColumnGeneric" id="sidebarColumnWide">
<a href="javascript:void(0);" onclick="article_fontSizer('small')"><img src="http://media3.washingtonpost.com/wp-srv/article/images/font_resize_small.gif" alt="" width="9" height="14" border="0" align="absbottom"></a><a href="javascript:void(0);" onclick="article_fontSizer('medium')"><img src="http://media3.washingtonpost.com/wp-srv/article/images/font_resize_medium.gif" alt="" width="12" height="14" border="0" align="absbottom"></a><a href="javascript:void(0);" onclick="article_fontSizer('large')"><img src="http://media3.washingtonpost.com/wp-srv/article/images/font_resize_large.gif" alt="" width="11" height="14" border="0" align="absbottom"></a> Resize
</div>
<div class="sidebarColumnGeneric" id="sidebarColumnWide">
<a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498_pf.html" style="background:transparent url(http://media3.washingtonpost.com/wp-srv/article/images/icon_printer.gif) no-repeat scroll 0px 0px;padding:0pt 0pt 0pt 22px;" rel="nofollow">Print</a>
</div>
<div style="clear:both;"></div>
<div class="sidebarColumnGeneric" id="sidebarColumnWide">
<a href="http://www.washingtonpost.com/ac2/wp-dyn/emailafriend?contentId=AR2010102102498&sent=no" style="background:transparent url(http://media3.washingtonpost.com/wp-srv/article/images/icon_email.gif) no-repeat scroll 0px 0px;padding:0pt 0pt 0pt 22px;" rel="nofollow">E-mail</A>
</div>
<div class="sidebarColumnGeneric" id="sidebarColumnReprints">
<a href="http://help.washingtonpost.com/ics/support/default.asp?deptID=15080&task=knowledge&questionID=302?nav=globebot" style="background:transparent url(http://media3.washingtonpost.com/wp-srv/article/images/icon_reprint.gif) no-repeat scroll 0px 0px;padding:0pt 0pt 0pt 22px;" rel="nofollow">Reprints</A>
</div>
<div class="NN-ww" id="NN-widget-share-icon"></div>
<div style="clear:both;"></div>
<div style="clear:both;"></div>
<script src="http://media.washingtonpost.com/wp-srv/ad/toolbox.js"></script>
</div>
</div>
<script>
<!--
var COMMENTS_ALLOWED = false ;
var COMMENTS_ACTIVE = false ;
// -->
</script>
</div>
<div id="ad_links_inner" style="display:none"><script type="text/javascript" src="http://media.washingtonpost.com/wp-srv/ad/quigo/article_inner.js"></script></div>
</td></tr></table>
<FONT SIZE="2">
Thursday, October 21, 2010; 11:08 AM
</FONT><P>
</div>
<div id="article_body" style="padding-left:10px;">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobortis ultricies quis a sapien. Etiam cursus, neque vitae sollicitudin dapibus, metus diam semper libero, non fermentum orci sapien at ligula. Etiam feugiat molestie tempus. Curabitur in tempor magna. Sed dictum pulvinar elementum. Morbi sollicitudin ligula sed nisi condimentum sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut purus eget mauris posuere egestas quis a ligula. Sed vel lectus vitae eros luctus lobortis ac non tellus. Sed vitae quam arcu. Aenean a est id lacus porttitor ornare.
</p>
<div id="body_after_content_column">
<p>
Fusce pellentesque ligula sit amet diam auctor et tempor ipsum scelerisque. Nam a odio nisl. Cras ac enim enim. Vestibulum nibh libero, porta a lacinia eu, pretium quis ante. Pellentesque velit arcu, commodo ut iaculis non, facilisis quis tortor. Proin ut molestie velit. Donec enim dolor, tempor ut hendrerit non, convallis eget nisl. Sed hendrerit tortor nec dolor tempus vel rutrum justo ultrices. Vestibulum quis odio nibh. Ut a lorem ac metus malesuada iaculis eget ut est. Pellentesque nunc tortor, euismod vitae gravida ac, accumsan vel metus. Nunc accumsan egestas elementum. Mauris quis augue ac orci vehicula ullamcorper. Donec ut enim lorem. Donec ullamcorper, nisi vel fermentum congue, eros nisi hendrerit est, a consequat ipsum urna euismod lacus. Vestibulum varius nibh in ligula faucibus eu aliquet risus iaculis. Proin dictum mi eu orci dignissim ut blandit dui mattis. Nulla facilisi. Curabitur vestibulum tristique varius.
</p>
<p>
Nullam sed libero nec velit rhoncus tristique in in enim. In nec quam arcu, a blandit arcu. Suspendisse tincidunt purus eu dui feugiat vel tempor eros blandit. Nunc vehicula nunc a tortor vehicula ultrices. Nulla facilisi. Curabitur pharetra auctor bibendum. Etiam ornare, erat vel pretium venenatis, est justo vehicula lacus, eu ullamcorper justo diam quis sem. Phasellus mi felis, pretium et suscipit a, laoreet vitae quam. Praesent lobortis odio nec massa gravida et dapibus nulla iaculis. Maecenas commodo massa nunc, eu tempor leo. Duis eros ligula, porttitor sit amet gravida vel, rhoncus nec arcu. Vestibulum auctor cursus dui quis vehicula. Nam sagittis libero at dui aliquam vitae feugiat sapien facilisis. Sed ac nisi est, et aliquam lacus. Duis ac libero lectus, laoreet laoreet quam. Integer commodo diam sed risus congue sagittis. In hac habitasse platea dictumst. Vestibulum tincidunt imperdiet libero, at mollis massa tincidunt quis. Etiam id tellus purus. Aliquam erat volutpat.
</p>
<p>
Nullam a sem vel enim vestibulum semper. In in purus quis massa iaculis porttitor at vitae ligula. Nulla in tortor ac odio porta euismod. Aliquam erat volutpat. Fusce malesuada, felis a sodales lobortis, neque justo mattis dui, id pretium libero erat non ipsum. Proin orci risus, mattis sed aliquam vel, accumsan adipiscing nulla. Suspendisse at faucibus turpis. Quisque viverra justo non lectus molestie at viverra libero tempor. Fusce cursus, arcu at gravida sagittis, lacus felis varius nulla, vitae pellentesque libero dolor ut purus. Maecenas at lacus turpis. Aenean tempor gravida ante tristique ullamcorper. Donec eu semper mauris. Morbi lacus turpis, feugiat ac dignissim et, semper vitae dui. Aenean imperdiet porta neque, in tincidunt nisi vulputate non. Nam mauris lectus, mollis at tristique at, dignissim luctus arcu.
</p>
<p>
Nunc enim nisi, porttitor in dictum vel, euismod hendrerit sapien. Sed elementum, massa vel luctus tempus, justo libero laoreet ipsum, id feugiat elit urna at ipsum. In tristique turpis id risus placerat blandit. Pellentesque ac lorem a turpis tincidunt condimentum at eu odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor dignissim nunc, non auctor quam viverra ut. Ut et arcu sit amet sapien posuere vehicula. Maecenas consectetur volutpat eros, a vehicula eros dapibus ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in felis est.
</p>
<p>
Aliquam metus sem, scelerisque sit amet malesuada et, vestibulum nec neque. Integer eros nulla, tempus at venenatis eu, vestibulum eu quam. Quisque vitae nulla enim, at adipiscing urna. Vestibulum tincidunt pellentesque nulla, a varius ante eleifend ac. Morbi dui eros, consequat eget laoreet in, lacinia sit amet felis. Nulla non est ac lorem sagittis adipiscing. Nullam dui eros, bibendum vehicula scelerisque non, vehicula non urna. Suspendisse neque erat, tempus a convallis vitae, dapibus in massa. In sed odio et odio congue pellentesque. In velit metus, imperdiet dapibus hendrerit et, bibendum ut eros. Sed et dui ligula, eget tempor nibh. Phasellus at urna risus, a ultricies ipsum. Donec cursus, dui nec malesuada rhoncus, lacus risus mattis justo, in euismod mi mi sed augue. Mauris a risus turpis. Maecenas non sapien ut neque euismod fermentum. Curabitur laoreet nulla vel velit fermentum vitae consectetur tellus convallis. Cras volutpat arcu at eros consectetur sed condimentum neque condimentum.
</p>
<p>
Cras feugiat aliquam lectus vitae sagittis. Sed vulputate diam non eros convallis sodales. Aenean auctor arcu sit amet nulla rutrum suscipit non id leo. Nullam tempor rhoncus elit cursus tincidunt. Aliquam ligula urna, scelerisque quis faucibus a, adipiscing sit amet velit. Nullam elit lorem, commodo sit amet pellentesque nec, fringilla non ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam augue lacus, feugiat in porta ut, consequat quis tellus. Mauris molestie convallis massa sed laoreet. Nullam ornare consequat nisl, at imperdiet eros lobortis at. Nulla facilisi. Proin vitae diam augue, vitae tempor sapien.
</p>
<p>
Praesent semper vestibulum nibh, et sodales elit convallis eu. Nunc euismod tincidunt mauris, vel accumsan orci eleifend nec. Nam malesuada dignissim gravida. Quisque ac massa vitae orci dignissim sagittis non a lorem. Nam et lacinia arcu. Vestibulum id risus auctor ipsum tempor rhoncus. Suspendisse mi tellus, fringilla a congue et, ornare sit amet mi. Maecenas eros ipsum, semper quis volutpat in, consectetur vel nulla. Pellentesque semper enim ut lorem iaculis porttitor. Phasellus tortor diam, vulputate in convallis vitae, eleifend in augue. Aenean laoreet massa in dui imperdiet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nibh eros. Nunc in turpis orci, at aliquet tellus. Nulla vel nulla justo. Maecenas pretium fermentum faucibus. In mattis rutrum enim sit amet tempor.
</p>
<p>
Fusce sed dui non tellus suscipit mattis et nec risus. Integer ut posuere augue. Nam commodo mauris sit amet felis hendrerit ac dapibus lacus fermentum. Donec id magna risus, a ornare mauris. Integer odio ipsum, adipiscing ut commodo mollis, placerat eget urna. Phasellus nec est enim, in sodales augue. Vivamus vulputate odio sit amet purus facilisis convallis. Sed aliquam quam ac ante scelerisque bibendum. Aliquam aliquam egestas rutrum. Donec tellus ligula, congue at ornare in, laoreet ac turpis. Ut vitae dapibus enim.
</p>
<p>
Maecenas semper tempus magna, id interdum orci pretium venenatis. Donec lacinia ultrices nisi at vestibulum. Maecenas adipiscing, leo ut gravida dictum, lacus metus semper justo, et euismod erat lectus non sem. Mauris pharetra dignissim lacus, a semper lorem ornare et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas luctus sodales libero, quis semper est fringilla vel. Donec faucibus consectetur facilisis. Quisque sed metus orci. Donec tempus iaculis justo id sodales. Nunc vitae ornare dui. Donec porta venenatis mauris, in tempus enim cursus et. Vivamus ullamcorper, nunc eu iaculis accumsan, enim ante porta neque, rhoncus condimentum eros sapien eget elit.
</p>
</div>
</div>
</div>
<br clear="all">
<div style="clear:both"></div>
<div align="center" style="padding-bottom:10px"><script src="http://media.washingtonpost.com/wp-adv/adproducts/advertisingLinks/advertisingLinks_v2.js"></script></div>
<div id="NN-module-footer" class="NN-ww">
<div class="NN-module NN-module-footer">
	<div class="NN-header"><div class="NN-header-inner">
		<div class="NN-fb-logo">
			<!-- use this image if logged in
			<img src="http://www.washingtonpost.com/wp-srv/networked-news/images/person.jpg" alt="PERSONS NAME"/>
			-->
		</div>
		<h4>Network News</h4>
		<!-- a href="#INFO_PAGE_URL" class="NN-info-btn">help</a -->
		<!-- a href="#LOGIN-URL" class="NN-gray-btn"><span>Login</span></a -->
		<a href="http://www.washingtonpost.com/ac2/wp-dyn?node=admin/registration/manage&destination=hpPref&nextstep=update" class="NN-gray-btn NN-opt-out" alt="Opt out"><span>X</span></a>
		<a href="http://www.washingtonpost.com/wp-srv/network-news/" class="NN-gray-btn NN-profile"><span>My Profile</span></a>
		<div class="clear"></div>
	</div></div>
	<div class="NN-content">
		<div>
			<div id="NN-widget-like-article-bar" class="NN-fleft"></div>
			<div class="NN-ad-unit NN-fright NN-hide">
				<script type="text/javascript">try{wpTiles.init('nn_footer')}catch(e){}</script>
			</div>
		</div>
		<a href="http://www.washingtonpost.com/wp-srv/network-news/" class="NN-right-arrow-btn NN-fleft">View More Activity</a>
		<div class="clear"></div>
	</div>
	<div class="NN-module-cap"><div class="NN-module-cap-inner"></div></div>
</div>
</div>

<div id="saveshare-bottom-wrapper" align="center">
<div id="saveshare-bottom">
<div class="column badge" id="wp-badge-1"></div>
<div class="column badge" id="wp-badge-2"></div>
<div class="column badge" id="wp-badge-3"></div>
<div class="column third" align="left"><script>document.write('<b>More ways to share this Article...</b>')</script><br/><div id="bookmark-bottom"><span id="bookmark-bottom-placeholder" style="display:none;"></span></div></div>
<div style="clear:both;"></div>
</div>
</div>
<script src="http://media3.washingtonpost.com/wp-srv/js/outbrain2.js"></script>
<div id="related-links-garden">
<style type="text/css">
.teased-item.partner ul { margin-top: 7px; float: none; }
</style>
<div class="relatedlinks border-bottom-gray">
<div class="heading">From Our Partners</div>
<div class="teased-item partner">
<a href="http://www.slate.com"><img src="http://media.washingtonpost.com/wp-dyn/content/graphic/2007/09/27/GR2007092701096.GIF" alt="[slate.com logo]" border="0" /></a>
<ul><li><a href="http://www.slate.com/id/2271665?nav=wp">Is Krystal Ball the Sarah Palin of the Left?</a></li><li><a href="http://www.slate.com/id/2271824?nav=wp">Southern Sudan's Rivals Reconciled Last Weekend!</a></li><li><a href="http://www.slate.com/id/2271817?nav=wp">Are There Any Minerals That the Earth Has Completely Run Out Of?</a></li><li><a href="http://www.slate.com/id/2271828?nav=wp">Can the Fed Save the Economy by Printing Money?</a></li><li><a href="http://www.slate.com/id/2271826?nav=wp">The Two Numbers That Explain How Much Trouble Democrats Are in This Year</a></li><li><a href="http://www.slate.com/id/2271859?nav=wp">This Guy Plagiarized Slate&mdash;and the Scandal Is Rocking India</a></li><li><a href="http://www.slate.com/id/2261483?nav=wp">Has Mad Men Jumped the Shark?</a></li><li><a href="http://www.slate.com/id/2271873?nav=wp">Target's Appalling Attack on Moms Who Make Halloween Costumes for Their Kids</a></li></ul>

<div style="clear: both;"></div></div></div>

<script>
<!--
if ( typeof HotContent == 'function' ) {
document.write('<div id="'+HotContent.DEFAULT_PLACEHOLDER+'"></div>');
Event.observe(window,'load',function() {
var thisHotContent = new HotContent("politics");
});
}
// -->
</script>
<script>
if ( typeof rl_count == "undefined" ) {
rl_count = 0 ;
} else {
rl_count += 0 ;
}
if ( rl_count > 5 ) {
rl_count = 5 ;
}
inform_count = 5-rl_count ;
</script>
</div>
<script src="http://media3.washingtonpost.com/wp-srv/js/harvestRelatedContent.js"></script>
<div class="topstrip">
<link rel="stylesheet" href="http://media.washingtonpost.com/wp-srv/css/article_promostrip.css" type="text/css" media="screen" />
<style type="text/css">
#botPromoStrip .colTwo .col1 { width: 210px; }
#botPromoStrip .colTwo .col2 { width: 391px; }
</style>
<!-- BEGIN PROMO STRIP -->
<div id="botPromoStrip">
<!-- HEADER -->
<h2>More in the Politics Section</h2>
<!-- HEADER -->
<div class="colTwo">
<div class="col1">
<div class="colWrapper">
<!-- BEGIN FIRST PROMO -->
<a href="http://projects.washingtonpost.com/2008-presidential-candidates/finance/" title="Campaign Finance -- Presidential Race"><img src="http://media.washingtonpost.com/wp-dyn/content/graphic/2007/04/16/GR2007041600662.gif" width="80" height="72" alt="Campaign Finance -- Presidential Race" border="0" /></a>
<h3><a href="http://projects.washingtonpost.com/2008-presidential-candidates/finance/">2008 Fundraising</a></h3>
<p>See who is giving to the '08 presidential candidates.</p>
<ul>
<li><b>Research Donations ...</b> <a href="http://projects.washingtonpost.com/2008-presidential-candidates/finance/search/">By Name, Occupation, Employer or Zip Code</a></li>
<li><a href="http://projects.washingtonpost.com/2008-presidential-candidates/finance/states/">...By State</a></li>
</ul>
<!-- END FIRST PROMO -->
</div>
</div>
<div class="col2">
<div class="colWrapper">
<!-- BEGIN SECOND PROMO -->
<h3>Latest Politics Blog Updates</h3>
<ul>
		<li><b>The Fix
:</b> <a href="http://voices.washingtonpost.com/thefix/">Who had the &quot;Worst Week in Washington&quot;?</a> (updated -233 minutes ago)</li>
		<li><b>The Trail
:</b> <a href="http://voices.washingtonpost.com/the-trail/">Mike Huckabee: Defund NPR over Juan Williams firing</a> (updated 1 hour ago)</li>

<li style="margin-top: 4px;"><a href="http://www.washingtonpost.com/wp-srv/politics/politics_columnists.html">Index of Politics Columns and Blogs</a> | <a href="http://www.washingtonpost.com/wp-dyn/content/opinions/">Opinions Section</a></li>
</ul>
<!-- END SECOND PROMO -->
</div>
</div>
</div>
<div class="clearboth"></div>
</div>
<!-- END PROMO STRIP -->

</div>
<!-- start the copyright for the articles -->
<div id="articleCopyright" style="clear:both;" align="center">&copy;&nbsp;2010&nbsp;The Washington Post Company</div><!-- end the copyright for the aricles --><!-- start the copyright for the secions --><!-- end the copyright for the secions -->
</div>
</div>
<div id="wrapperMainRight">
<SCRIPT>
<!--
if ( show_doubleclick_ad && ( adTemplate & TILE_RIGHT_TOP ) == TILE_RIGHT_TOP  )
{
document.write('<div style="margin-top:4px; margin-bottom:4px; margin-right:10px; float:left;">') ;
document.writeln ('<div><img src="http://media3.washingtonpost.com/wp-srv/hp/img/ad_label_leftjust.gif" alt="ad_icon" width="100" height="13" border="0"/></div>' );
}
// -->
</SCRIPT>
<script>
if ( show_doubleclick_ad && ( adTemplate & TILE_RIGHT_TOP ) == TILE_RIGHT_TOP  )
{
placeAd('ARTICLE',commercialNode,8,'',false) ;
}
</script>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & TILE_RIGHT_TOP ) == TILE_RIGHT_TOP  )
{
document.write('</div>') ;
}
// -->
</SCRIPT>
<SCRIPT>
<!--
if ( show_doubleclick_ad && ( adTemplate & TILE_RIGHT_TOP2 ) == TILE_RIGHT_TOP2  )
{
document.write('<div style="margin-top:4px; margin-bottom:4px; float:left;">') ;
document.writeln ('<div><img src="http://media3.washingtonpost.com/wp-srv/hp/img/ad_label_leftjust.gif" alt="ad_icon" width="100" height="13" border="0"/></div>' );
}
// -->
</SCRIPT>
<script>
if ( show_doubleclick_ad && ( adTemplate & TILE_RIGHT_TOP2 ) == TILE_RIGHT_TOP2  )
{
placeAd('ARTICLE',commercialNode,10,'',false) ;
}
</script>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & TILE_RIGHT_TOP2 ) == TILE_RIGHT_TOP2  )
{
document.write('</div>') ;
}
// -->
</SCRIPT>
<SCRIPT>
<!--
if ( show_doubleclick_ad && ( adTemplate & BIG_FLEX_RIGHT ) == BIG_FLEX_RIGHT  )
{
document.write('<div style="margin-top:4px; margin-bottom:4px;clear:left;">') ;
document.writeln ('<div><img src="http://media3.washingtonpost.com/wp-srv/hp/img/ad_label_leftjust.gif" alt="ad_icon" width="100" height="13" border="0"/></div>' );
}
// -->
</SCRIPT>
<script>
if ( show_doubleclick_ad && ( adTemplate & BIG_FLEX_RIGHT ) == BIG_FLEX_RIGHT  )
{
placeAd('ARTICLE',commercialNode,6,'',true) ;
}
</script>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & BIG_FLEX_RIGHT ) == BIG_FLEX_RIGHT  )
{
document.write('</div>') ;
}
// -->
</SCRIPT>
<div style="clear:both;">
<!-- /wp-adv/adproducts/articleTile/articleTile.html-->
<script type="text/javascript" src="http://media.washingtonpost.com/wp-adv/topjobs/TopJobsManager.js"></script>
<script type="text/javascript" src="http://media.washingtonpost.com/wp-adv/cityfeet/addcityfeet.js"></script>
<!--http://www.washingtonpost.com/wp-adv/ssi/textlinks/article/politics.html-->
<script>
<!--
document.write('<div id="textlinks">') ;
// -->
</script>
<!-- ****************************** -->
<!-- Featured Advertiser Box Begins -->
<!-- ****************************** -->
<!--Textlinks V2 12/04/08--><div><link rel="stylesheet" media="all" href="http://media.washingtonpost.com/wp-srv/ad/textlinks/style/textlinks.css"><div id="textlinkWrapper" class="wp_textlinks noTextLinks"><div><div class="header">Featured Advertiser Links</div><ul id="text_links"><li><span class="off"><a href="http://www.weitzlux.com/cochlear-implants-lawsuit_1933467.html" target="_blank" rel="nofollow">Lawsuit: Cochlear Implants</a>, <a href="http://www.weitzlux.com/seroquel-lawsuit_609553.html" target="_blank" rel="nofollow">Seroquel</a>, <a href="http://www.weitzlux.com/accutane-lawsuit_1049.html" target="_blank" rel="nofollow">Accutane</a>, <a href="http://www.weitzlux.com/yaz-gallbladder_1961448.html" target="_blank" rel="nofollow">Yaz Gallbladder</a>, <a href="http://www.weitzlux.com/tvt-mesh_1961527.html" target="_blank" rel="nofollow">TVT Mesh</a>, <a href="http://www.weitzlux.com/shoulder-pain_1937467.html" target="_blank" rel="nofollow">Shoulder Pain Pumps</a><span class="arrow">&gt;&gt;</span></span></li><li class="divider"><span class="spacer"><span></span></span></li><li><span class="off"><a href="http://www.erinonyourside.com/environmental-litigation/brockovich-gulf-oil-spill.html" target="_blank" rel="nofollow">Gulf Oil Spill</a>, <a href="http://www.weitzlux.com/bp-class-action_1961880.html" target="_blank" rel="nofollow">Class Action</a>, <a href="http://www.weitzlux.com/mesothelioma-lawyer_1055.html" target="_blank" rel="nofollow">Mesothelioma</a>, <a href="http://www.weitzlux.com/asbestos-cancer_107.html" target="_blank" rel="nofollow">Asbestos Cancer</a>, <a href="http://www.weitzlux.com/depuy-hip-recall_1962246.html" target="_blank" rel="nofollow">DePuy Hip Recall</a>, <a href="http://www.weitzlux.com/asbestos-lung-cancer_612371.html" target="_blank" rel="nofollow">Lung Cancer</a>, <a href="http://www.weitzlux.com/avandia-lawsuit_1556271.html" target="_blank" rel="nofollow">Avandia</a><span class="arrow">&gt;&gt;</span></span></li><li class="divider"><span class="spacer"><span></span></span></li><li><span trackingpixel="http://ad.doubleclick.net/ad/N6290.1434.WASHINGTONPOST/B4557995.3;sz=1x1;ord=%n?" class="off"><a href="http://ad.doubleclick.net/clk;225438534;49142628;l?http://www.equifax.com/bnr/equifaxcomplete" target="_blank" rel="nofollow">Check all 3 bureaus with Equifax Complete!</a><span class="arrow">&gt;&gt;</span></span><span trackingpixel="http://ad.doubleclick.net/ad/N6290.1434.WASHINGTONPOST/B4557995.4;sz=1x1;ord=%n?" class="off"><a href="http://ad.doubleclick.net/clk;225438631;49142631;d?http://www.equifax.com/bnr/equifaxcomplete" target="_blank" rel="nofollow">Get 3 credit scores, reports &amp; monitoring!</a><span class="arrow">&gt;&gt;</span></span></li><li class="divider"><span class="spacer"><span></span></span></li><li><span trackingpixel="" class="off"><a href="http://ad.doubleclick.net/clk;219459861;4475171;r?http://www.washingtonpost.com/wp-adv/advertisers/russia/" target="_blank" rel="nofollow">Russia Now: In-Depth Coverage of Russia News, Business, and More.</a><span class="arrow">&gt;&gt;</span></span></li><li class="divider"><span class="spacer"><span></span></span></li><li><span class="off"><a href="http://timespace.washingtonpost.com/project/world/" target="_blank" rel="nofollow">TimeSpace: Navigate articles, photos, video and commentary from around the globe.</a><span class="arrow">&gt;&gt;</span></span></li><li class="divider"><span class="spacer"><span></span></span></li><li><span class="off"><a href="http://www.washingtonpost.com/real-estate/dc-buy-home.html" target="_blank" rel="nofollow">Looking to buy a home? Visit TWP Real Estate section for the latest open houses.</a><span class="arrow">&gt;&gt;</span></span></li><li class="divider"><span class="spacer"><span></span></span></li><li><span class="off"><a href="http://www.investorplace.com/order/?sid=VG4100" target="_blank" rel="nofollow">Make Your Vanguard Investing More Profitable - Free Research Report Reveals Best &amp; Worst Funds</a><span class="arrow">&gt;&gt;</span></span></li></ul></div><div class="footer"><div></div></div></div><script type="text/javascript" src="http://media.washingtonpost.com/wp-srv/ad/textlinks/js/utilsTextLinksXML.js"></script></div>
<script type="text/javascript" src="http://www.washingtonpost.com/wp-srv/ad/extra_bigbox.js"></script>
<!-- ****************************** -->
<!-- Featured Advertiser Box Ends   -->
<!-- ****************************** -->


<script language="javascript">
<!--
document.write('</div>') ;
if (! ( ( adTemplate & TEXTLINKS ) == TEXTLINKS ) ) {
if ( document.getElementById )
document.getElementById('textlinks').style.display='none' ;
}
// -->
</script>
</div>
<div id="NN-module-rr" class="NN-ww">
<div class="NN-module">
	<div class="NN-header"><div class="NN-header-inner">
		<div class="NN-fb-logo">
			<!-- use this image if logged in
			<img src="images/person.jpg" alt="PERSONS NAME"/>
			-->
		</div>
		<h4>Network News</h4>
		<!-- a href="#INFO_PAGE_URL" class="NN-info-btn">help</a -->
		<!-- a href="#LOGIN-URL" class="NN-gray-btn"><span>Login</span></a -->
		<a href="http://www.washingtonpost.com/ac2/wp-dyn?node=admin/registration/manage&destination=hpPref&nextstep=update" class="NN-gray-btn NN-opt-out" alt="Opt out"><span>X</span></a>
		<a href="http://www.washingtonpost.com/wp-srv/network-news/" class="NN-gray-btn NN-profile"><span>My Profile</span></a>
		<div class="clear"></div>
	</div></div>
	<div class="NN-content">
		<div class="NN-tabs">
			<ul>
				<li><a href="#freinds-likes-rr"><span>Friends' Activity</span></a></li>
				<!-- li><a href="#your-likes-rr"><span>My Activity</span></a></li -->
				<!-- li><a href="#twp-fan-rr"><span>Like</span></a></li -->
			</ul>
			<div class="clear"></div>
		</div>
		<div id="freinds-likes-rr">
			<!-- Using activity/recommendations combo -->
			<div id="NN-widget-activity-rr"></div>
			<div class="clear"></div>
			<!-- div id="NN-widget-recommendations-rr"></div -->
			<!-- div class="clear"></div -->
		</div>
		<!-- div id="your-likes-rr">
			<div id="NN-widget-myactivity-rr"></div>
			<div class="clear"></div>
		</div -->
		<!-- div id="twp-fan-rr">
			<div id="NN-widget-fan-rr"></div>
			<div class="clear"></div>
		</div -->
		<div class="clear"></div>
		<a href="http://www.washingtonpost.com/wp-srv/network-news/" class="NN-right-arrow-btn">View More Activity</a>
		<div class="NN-ad-unit-ww"><div class="NN-ad-unit NN-hide">
			<script type="text/javascript">try{wpTiles.init('nn_rr')}catch(e){}</script>
		</div></div>
	</div>
	<div class="NN-module-cap"><div class="NN-module-cap-inner"></div></div>
</div>
</div>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=us-ascii"> <div class="FS-ww" id="FS-module-rr"> <div class="FS-module"> <div class="FS-header"><div class="FS-header-iFSer"> <h4>Featured Stories</h4> <div class="clear"></div> </div></div> <div class="FS-content"> <div class="fbRecommendationWidgetContent" style="visibility: visible;"> <div class="UIImageBlock clearfix pas fbRecommendation" style="float:left; margin-bottom:5px; margin-left:3px;"> <div class="featured-image"> <img src="http://media.washingtonpost.com/wp-dyn/content/photo/2010/10/20/PH2010102007187.jpg" class="img" style="height:72px; width:80px; visibility: visible;"> </div> <div class="UIImageBlock_Content UIImageBlock_SMALL_Content"> <a target="_top" href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/20/AR2010102006159.html?tid=wp_featuredstories" class="fbMonitor">Hello? It's the Tea Party calling</a> </div> </div> <div class="UIImageBlock clearfix pas fbRecommendation" style="float:left; margin-bottom:5px; margin-left:3px;"> <div class="featured-image"> <img src="http://media.washingtonpost.com/wp-dyn/content/photo/2010/10/20/PH2010102001615.jpg" class="img" style="height:72px; width:80px; visibility: visible;"> </div> <div class="UIImageBlock_Content UIImageBlock_SMALL_Content"> <a target="_top" href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/20/AR2010102006782.html?tid=wp_featuredstories" class="fbMonitor">Why Clarence Thomas' wife called Anita Hill</a> </div> </div> <div class="UIImageBlock clearfix pas fbRecommendation" style="float:left; margin-bottom:5px; margin-left:3px;"> <div class="featured-image"> <img src="http://media.washingtonpost.com/wp-dyn/content/photo/2010/10/21/PH2010102101584.jpg" class="img" style="height:72px; width:80px; visibility: visible;"> </div> <div class="UIImageBlock_Content UIImageBlock_SMALL_Content"> <a target="_top" href="http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102101474.html?tid=wp_featuredstories" class="fbMonitor">NPR fires Juan Williams over anti-Muslim remarks</a> </div> </div> <div class="UIImageBlock clearfix pas fbRecommendation" style="float:left; margin-bottom:5px; margin-left:3px;"> <div class="featured-image"> <img src="http://media.washingtonpost.com/wp-dyn/content/photo/2010/10/20/PH2010102005632.jpg" class="img" style="height:72px; width:80px; visibility: visible;"> </div> <div class="UIImageBlock_Content UIImageBlock_SMALL_Content"> <a target="_top" href="http://www.washingtonpost.com/wp-dyn/content/story/2010/10/20/ST2010102006506.html?tid=wp_featuredstories" class="fbMonitor">Taking dance cues from Charlie Chan</a> </div> </div> </div> <div class="clear"></div> </div> <div class="FS-module-cap"><div class="FS-module-cap-iFSer"></div></div> </div> </div> 
</div>
</div>
<div id="wrapperBottom">
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & BANNER_FLEX_BOTTOM ) == BANNER_FLEX_BOTTOM  )
{
document.write('<div id="banner_wrapper_bottom" align="center">') ;
document.write('<table cellpadding="0" cellspacing="0" border="0">') ;
document.write('<tr>') ;
document.write('<td valign="middle">') ;
document.writeln ('<img src="http://media3.washingtonpost.com/wp-srv/article/pieces/adLabel_bluebackground_13x60.gif" alt="ad_icon" width="13" height="60" border="0"/>' );
document.write('</td>') ;
document.write('<td>') ;
}
// -->
</SCRIPT>
<script>
if ( show_doubleclick_ad && ( adTemplate & BANNER_FLEX_BOTTOM ) == BANNER_FLEX_BOTTOM  )
{
placeAd('ARTICLE',commercialNode,2,'',true) ;
}
</script>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & BANNER_FLEX_BOTTOM ) == BANNER_FLEX_BOTTOM  )
{
document.write('</td>') ;
document.write('</tr>') ;
document.write('</table>') ;
document.write('</div>') ;
}
// -->
</SCRIPT>
<div id="footer-v3">
    <div class="services">
        <div class="wp-column">
            <h6>Ways you can get us</h6>
            <ul class="grid">
                <li><a class="icon mobile" href="http://www.washingtonpost.com/wp-srv/contents/mobile/mobilewebsite.html">Mobile</a></li>
                <li><a class="icon podcasts" href="http://www.washingtonpost.com/wp-srv/mmedia/podcastfront.htm?hpid=distribution">Podcasts</a></li>
                <li><a class="icon newsletter-alerts" href="http://www.washingtonpost.com/newsletters/">Newsletter & alerts</a></li>
                <li><a class="icon widgets" href="http://www.washingtonpost.com/widgets?hpid=distribution">Widgets</a></li>
                <li><a class="icon rss" href="http://www.washingtonpost.com/wp-dyn/rss/index.html">RSS</a></li>
                <li><a class="icon post-store" href="http://www.cafepress.com/washingtonpost">Post Store</a></li>
                <li><a class="icon facebook" href="http://www.facebook.com/washingtonpost">Facebook</a></li>
                <li><a class="icon photo-store" href="http://www.washingtonpost.com/buyphotos">Photo Store</a></li>
                <li><a class="icon twitter" href="http://twitter.com/washingtonpost">Twitter</a></li>
				<li><a class="icon video" href="http://washingtonpostlive.com">Washington Post Live</a></li>
            </ul>
        </div>
        <div class="wp-column">
            <h6>Web site</h6>
            <ul class="bulleted">
                <li><a href="http://www.washingtonpost.com/wp-adv/mediacenter/html/about_welcome.html">About Us</a></li>
                <li><a href="http://washingtonpostmedia.com/careers">Work for us</a></li>
                <li><a href="http://www.washingtonpost.com/wp-srv/contents/">Site map</a></li>
                <li><a href="http://www.washingtonpost.com/wp-srv/topicpages/">Topics Index</a></li>
                <li><a href="http://www.washingtonpost.com/newssearch/nsStatic">Search terms</a></li>
                <li><a href="javascript:void(window.open('http://www.washingtonpost.com/wp-srv/make-homepage.html','','toolbar=no,location=no,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=no,copyhistory=no,width=417,height=415,left=50,top=200,screenX=50,screenY=200'));">Make us your homepage</a></li>
                <li><a href="http://www.washingtonpost.com/wp-dyn/content/linkset/2005/04/25/LI2005042500027.html">Corrections</a></li>
            </ul>
        </div>

        <div class="wp-column">
            <h6>Newspaper</h6>
            <ul class="bulleted">
                <li><a href="http://www.washpost.com/index.shtml">About The Post</a></li>
                <li><a href="https://subscription.washpost.com/subscriberservices/subscriber.portal?state=welcome&oscode=RPWE">Subscribe</a></li>
                <li><a href="https://subscription.washpost.com/subscriber.portal?state=welcome">Home delivery service</a></li>
                <li><a href="http://www.washingtonpost.com/wp-srv/topicpages/">Topics Index</a></li>
                <li><a href="http://thewashingtonpost.newspaperdirect.com/">e-Replica</a></li>
                <li><a href="http://www.washingtonpost.com/wp-srv/registration/postpoints/">PostPoints</a></li>
            </ul>
        </div>

        <div class="wp-column">
            <h6>Company</h6>
            <ul class="bulleted wp-pad-bot-six">
                <li><a href="http://www.washpostco.com/phoenix.zhtml?c=62487&p=irol-landing">Post Company web sites</a></li>
            </ul>

            <h6>Advertise</h6>
            <ul class="bulleted wp-pad-bot-six">
                <li><a href="http://www.washingtonpostads.com/">In the newspaper</a></li>
                <li><a href="http://advertising.washingtonpost.com/index.php">On the web site</a></li>
            </ul>

            <h6>Feedback</h6>
            <ul class="bulleted">
                <li><a href="mailto:ombudsman@washpost.com">Contact the Ombudsman</a></li>
            </ul>
        </div>
    </div>
    <div class="partners">
        <h6>Partners</h6>
           <ul id="partners" class="inline">
            <li><a class="slate" target="_blank" href="http://www.slate.com">Slate</a></li>
            <li><a class="who-runs-gov" target="_blank" href="http://www.whorunsgov.com/">Who Runs Gov</a></li>
            <li><a class="express-night-out" target="_blank" href="http://www.expressnightout.com/">Express Night Out</a></li>
			<li><a class="cap-biz" href="http://www.washingtonpost.com/capitalbusiness/" clickthru="http://www.washingtonpost.com/capitalbusiness/?nid=partnersites">Capitol Business</a></li>
            <li><a class="el-tiempo-latino" target="_blank" href="http://eltiempolatino.com/">El Tiempo Latino</a></li>
            <li><a class="the-root" target="_blank" href="http://theroot.com/">The Root</a></li>
        </ul>
    </div>
    <div class="tos">
        <ul id="terms" class="inline">
            <li class="first"><a href="http://www.washingtonpost.com/wp-srv/interact/longterm/talk/copy.htm?nav=globebot">&copy; 1996-2010 The Washington Post Company</a></li>
            <li><a href="http://www.washingtonpost.com/wp-srv/interact/longterm/talk/members.htm">User Agreement and Privacy Policy</a></li>
            <li class="last"><a href="http://www.washingtonpost.com/wp-srv/contents/permissions.htm">Rights and Permissions</a></li>
        </ul>

        <ul id="contact-us" class="inline">
            <li><a href="http://help.washingtonpost.com">Help</a></li>
            <li class="last"><a href="http://www.washingtonpost.com/wp-srv/contactus/index.html">Contact Us</a></li>
        </ul>
    </div>
</div>
</div>
</div>
<!-- end visible content -->
<div id="shareExpandBox" class="hide" onmouseover="saveExpando3('show');showContent(this.id);" onmouseout="saveExpando3('hide');hideContent(this.id);">
<div id="bookmark"><div id="bookmark-content">
<div class="bookmark_icons" id="digg"><div class="pad_bookmark digg_bookmark"><a id="digg-link" href="http://digg.com/submit?phase=2&url=http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html%3Freferrer=digg&title=Test headline&bodytext=Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobo..." onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('digg')" onmouseout="resetbg2('digg')" target="new">Digg</a></div></div><div class="bookmark_icons" id="facebook"><div class="pad_bookmark facebook_bookmark"><a id="facebook-link" href="#facebook" onmousedown="this.href='javascript:void(window.open(\'http://www.facebook.com/sharer.php?u=\'+encodeURIComponent(\'http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html?referrer=facebook\')+\'&t=\'+encodeURIComponent(\'Test headline\'),\'sharer\',\'toolbar=no,width=642,height=436\'));'" onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('facebook')" onmouseout="resetbg2('facebook')">Facebook</a></div></div><div class="bookmark_divider"><b></b></div><div class="bookmark_icons" id="reddit"><div class="pad_bookmark reddit_bookmark"><a id="reddit-link" href="http://reddit.com/submit?url=http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html%3Freferrer=reddit&title=Test headline" onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('reddit')" onmouseout="resetbg2('reddit')" target="new">Reddit</a></div></div><div class="bookmark_icons" id="twitter"><div class="pad_bookmark twitter_bookmark"><a id="twitter-link" href="http://twitter.com/home?status=Test headline - http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html" onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('twitter')" onmouseout="resetbg2('twitter')" target="new">Twitter</a></div></div><div class="bookmark_divider"><b></b></div><div class="bookmark_icons" id="myspace"><div class="pad_bookmark myspace_bookmark"><a id="myspace-link" href="#myspace" onmousedown="this.href='http://www.myspace.com/Modules/PostTo/Pages/?t='+encodeURIComponent('Test headline')+'&c='+encodeURIComponent('http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html?referrer=myspace')+'&u=&l='" onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('myspace')" onmouseout="resetbg2('myspace')" target="new">myspace</a></div></div><div class="bookmark_icons" id="delicious"><div class="pad_bookmark delicious_bookmark"><a id="delicious-link" href="http://del.icio.us/post?v=4&partner=wpni&noui&jump=close&url=http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html%3Freferrer=delicious&title=%22Test headline%22&notes=Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobo..." onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('delicious')" onmouseout="resetbg2('delicious')" target="new">del.icio.us</a></div></div><div class="bookmark_divider"><b></b></div><div class="bookmark_icons" id="newstrust"><div class="pad_bookmark newstrust_bookmark"><a id="newstrust-link" href="#newstrust" onmousedown="this.href='javascript:void(ntw=window.open(\'http://newstrust.net/submit?ref=washingtonpost.com&url=\'+encodeURIComponent(\'http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html?referrer=newstrust\')+\'&title=\'+encodeURIComponent(\'Test headline\')+\'&story_quote=\'+encodeURIComponent(\'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, lectus ut condimentum dapibus, augue lorem congue sapien, volutpat consectetur dui diam sit amet risus. Ut eget fringilla risus. Proin sagittis dui sit amet erat mattis non faucibus felis aliquam. Nullam eu sapien eget leo lobo...\')+\'&journalist_names=\'+encodeURIComponent(\'\'),\'newstrust\'+(new Date()).getMilliseconds(),\'dependent=no,scrollbars=yes,resizable=yes,alwaysRaised=yes,status=yes,directories=yes,location=yes,menubar=yes,toolbar=yes,width=430,height=750,modal=no\'));ntw.focus();'" onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('newstrust')" onmouseout="resetbg2('newstrust')">NewsTrust</a></div></div><div class="bookmark_icons" id="stumble"><div class="pad_bookmark stumble_bookmark"><a id="stumble-link" href="http://www.stumbleupon.com/submit?url=http://www.washingtonpost.com/wp-dyn/content/article/2010/10/21/AR2010102102498.html&title=Test headline" onclick="if ( typeof otto != 'undefined' ) { }" onmouseover="changebg2('stumble')" onmouseout="resetbg2('stumble')" target="new">Stumble It!</a></div></div><div class="bookmark_divider"><b></b></div>
</div></div>
</div>
<span id="wp-diggthis" style="display:none;">
<script src="http://media3.washingtonpost.com/wp-srv/js/saveshare/diggthis.js" type="text/javascript"></script>
</span>
<span id="wp-fbshare" style="display:none;">
<script src="http://media3.washingtonpost.com/wp-srv/js/saveshare/fbshare.js" type="text/javascript"></script>
</span>
<span id="wp-tweetmeme" style="display:none;">
<script src="http://media3.washingtonpost.com/wp-srv/js/saveshare/tweetmeme.js" type="text/javascript"></script>
</span>
<script type="text/javascript">
<!--
if (typeof place_badges_at_bottom != "undefined")
place_badges_at_bottom();
// -->
</script>
<SCRIPT>
<!--
if ( typeof inlineAdClearance == "undefined") {
var inlineAdClearance = 200;
}
var inlineAdGraf = getInlineAdGraf2('body_after_content_column','content_column_table',inlineAdClearance) ;
if ( show_doubleclick_ad && ( adTemplate & INLINE_ARTICLE_AD ) == INLINE_ARTICLE_AD && inlineAdGraf )
{
document.write('<div id="inline-ad" style="margin-bottom:4px;padding-right:10px;float:left;">') ;
document.writeln ('<div><img src="http://media3.washingtonpost.com/wp-srv/hp/img/ad_label_leftjust.gif" alt="ad_icon" width="100" height="13" border="0"/></div>' );
}
// -->
</SCRIPT>
<script>
if ( show_doubleclick_ad && ( adTemplate & INLINE_ARTICLE_AD ) == INLINE_ARTICLE_AD && inlineAdGraf )
{
placeAd('ARTICLE',commercialNode,20,'inline=y;',true) ;
}
</script>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & INLINE_ARTICLE_AD ) == INLINE_ARTICLE_AD && inlineAdGraf )
{
document.write('</div>') ;
}
// -->
</SCRIPT>
<SCRIPT LANGUAGE="javascript">
<!--
if ( show_doubleclick_ad && ( adTemplate & INLINE_ARTICLE_AD ) == INLINE_ARTICLE_AD && inlineAdGraf )
{
move_the_inline_ad(document.getElementById('body_after_content_column'),document.getElementById('inline-ad'),inlineAdGraf );
}
// -->
</SCRIPT>
<script language="javascript">
<!--
// OMNITURE VARIABLES
var wp_photo_gallery = '';
var wp_photo_name = '';
var wp_search_keywords = '';
var wp_search_type = '';
var wp_sectionfront = '';
var wp_content_type = 'article' ;
var wp_content_id = 'AR2010102102498' ;
var wp_headline = ('') ? '' : 'Test headline' ;
var wp_page_name = 'wp - article - ' + wp_content_id + ' - Test headline' ;
var wp_section = 'politics'.split('/')[0] ;
var wp_subsection = ('politics'.indexOf('/') != -1 ) ? 'politics'.replace(/\//g,' - ') : '' ;
var wp_author = '' ;
var wp_page_num = 'single page format' ;
var wp_hierarchy = 'politics'.replace(/\//g,'|')+'|articles' ;
var wp_application = ('') ? 'partner - ' : '' ;
var wp_source = 'washingtonpost.com' ;
var wp_blog_name = '' ;
var wp_events = (wp_page_num == 1) ? 'event4' : '' ;
// -->
</script>
<!-- SiteCatalyst code version: H.7.Copyright 1997-2006 Omniture, Inc. More info available athttp://www.omniture.com -->
<script language="JavaScript" src="http://media.washingtonpost.com/wp-srv/javascript/omniture/s_code.js"></script>
<script language="JavaScript">
<!--
/* SiteCatalyst code version: H.7.Copyright 1997-2006 Omniture, Inc. More info available athttp://www.omniture.com */
/* You may give each page an identifying name, server, and channel on the next lines. */
if (typeof(wp_section) != "undefined")
{
	wp_section = wp_section.replace(/\//, " - ");
}
if (typeof(wp_subsection) != "undefined")
{
	wp_subsection = wp_subsection.replace(/\//, " - ");
}
/* need to test */

if (typeof(wp_page_name) != "undefined")
{
	s.pageName=wp_page_name.replace(/<[a-zA-Z\/][^>]*>/g,"");

	//remove session id
	s.pageName=s.pageName.replace(/\;jsessionid\=.{23}/g,"");
}
else
{
	s.pageName="wp - " + document.location.pathname + " - " + document.title;

	//remove html
	s.pageName=s.pageName.replace(/<[a-zA-Z\/][^>]*>/g,"");

	//remove session id
	s.pageName=s.pageName.replace(/\;jsessionid\=.{23}/g,"");

	//var doc_url = document.location.href;

	//if (doc_url.indexOf("ac2/wp-dyn?")>0)
	//{
	//	s.prop50=doc_url.substr(doc_url.indexOf("ac2/wp-dyn?")+10);
	//}
}

if(typeof(wp_channel) != "undefined")
{
	s.channel=(wp_channel.indexOf("wp - ")>=0)?wp_channel:"wp - " + wp_channel;
}
else if(typeof(wp_section) != "undefined")
{
	s.channel=(wp_section.indexOf("wp - ")>=0)?wp_section.split('/')[0]:"wp - " + wp_section.split('/')[0];
}
else if (typeof(wp_hierarchy) != "undefined")
{
	s.channel=(wp_hierarchy.indexOf("wp - ")>=0)?wp_hierarchy.split('|')[0]:"wp - " + wp_hierarchy.split('|')[0];
}
else
{
	s.channel="wp - nocategory";
}

s.server="washingtonpost.com";
s.pageType="";
if (typeof(wp_sectionfront) != "undefined")
{
	wp_sectionfront=wp_sectionfront.toLowerCase();
	s.prop1=(wp_sectionfront.indexOf("wp - ")>=0||wp_sectionfront.length == 0)?wp_sectionfront:"wp - " + wp_sectionfront;
}
if (typeof(wp_subsection) != "undefined")
{
	wp_subsection = wp_subsection.toLowerCase();
	s.prop2=(wp_subsection.indexOf("wp - ")>=0||wp_subsection.length == 0)?wp_subsection:"wp - " + wp_subsection;
}
if (typeof(wp_content_type) != "undefined")
{
	s.prop3=wp_content_type.toLowerCase();
}
if (typeof(wp_source) != "undefined")
{
	s.prop4=wp_source.toLowerCase();
}
else
{
	s.prop4="washingtonpost.com";
}

if (typeof(wp_author) != "undefined")
{
	s.prop5=wp_author.toLowerCase();
}
if (typeof(wp_search_keywords) != "undefined")
{
	s.prop6=wp_search_keywords.toLowerCase();
}
if (typeof(wp_search_type) != "undefined")
{
	s.prop7=wp_search_type.toLowerCase();
}
s.prop8="";
s.prop9="";
s.prop10="";
s.prop11="";
if (typeof(wp_content_id) != "undefined")
{
	s.prop12=wp_content_id;
	if ( typeof(wp_application) != "undefined" && wp_application )
	{
	      s.prop13 = "" ;
	}
	if (typeof(wp_headline) != "undefined" && wp_content_id != "")
	{
		s.prop13=wp_headline + " - " + wp_content_id;
	}
	if (typeof(wp_section) != "undefined" && wp_section == "interactivity")
	{
		s.prop13 = "" ;
	}
}
if (typeof(wp_page_num) != "undefined")
{
	s.prop14=wp_page_num;
}
if (typeof(wp_printed) != "undefined") {
	s.prop19="printed page";
}
if (typeof(wp_search_result_count) != "undefined")
{
	s.prop21=wp_search_result_count;
}
if (typeof(wp_story_id) != "undefined")
{
	s.prop22=wp_story_id;
}
if (typeof(wp_topic) != "undefined")
{
	s.prop24=wp_topic;
}
if (typeof(wp_blog_name) != "undefined")
{
	s.prop25=wp_blog_name;
}
if (typeof(wp_application) != "undefined")
{
	s.prop32=wp_application;
}
function getFBConnectUserName()
{
	var fbusername = "anonymous";
	if (document.cookie.indexOf("fbuid") != -1)
	{
		fbusername = "facebook connect";
	}
	return fbusername;
}
s.prop33=getFBConnectUserName();
function getUserName()
{
	var username;
	if (document.cookie.indexOf("wpniuser") != -1)
	{
		var start = (document.cookie.indexOf("wpniuser") + 9);
		var end =   (document.cookie.indexOf(";",start)) == -1 ? document.cookie.length : document.cookie.indexOf(";",start);
		username = document.cookie.substring(start,end);
	}
	return username;
}
s.prop41=getUserName();

/* E-commerce Variables */
s.campaign="";
s.state="";
s.zip="";
s.events="";
s.products="";
s.purchaseID="";
s.eVar1=(typeof(wp_evar1)!="undefined")?wp_evar1:'';
s.eVar2=(typeof(wp_evar2)!="undefined")?wp_evar2:'';
s.eVar3=(typeof(wp_evar3)!="undefined")?wp_evar3:'';
s.eVar4=(typeof(wp_evar4)!="undefined")?wp_evar4:'';
s.eVar5=(typeof(wp_evar5)!="undefined")?wp_evar5:'';
s.eVar6=(typeof(wp_evar6)!="undefined")?wp_evar6:'';
s.eVar7=(typeof(wp_evar7)!="undefined")?wp_evar7:'';
s.eVar8=(typeof(wp_evar8)!="undefined")?wp_evar8:'';
s.eVar9=(typeof(wp_evar9)!="undefined")?wp_evar9:'';
s.eVar10=(typeof(wp_evar10)!="undefined")?wp_evar10:'';
s.eVar11=(typeof(wp_evar11)!="undefined")?wp_evar11:'';
s.eVar12=(typeof(wp_evar12)!="undefined")?wp_evar12:'';
s.eVar13=(typeof(wp_evar13)!="undefined")?wp_evar13:'';
s.eVar14=(typeof(wp_evar14)!="undefined")?wp_evar14:'';
s.eVar15=(typeof(wp_evar15)!="undefined")?wp_evar15:'';
s.eVar16=(typeof(wp_evar16)!="undefined")?wp_evar16:'';
s.eVar17=(typeof(wp_evar17)!="undefined")?wp_evar17:'';
s.eVar18=(typeof(wp_evar18)!="undefined")?wp_evar18:'';
s.eVar19=(typeof(wp_evar19)!="undefined")?wp_evar19:'';
s.eVar20=(typeof(wp_evar20)!="undefined")?wp_evar20:'';
s.eVar21=(typeof(wp_evar21)!="undefined")?wp_evar21:'';
s.eVar22=(typeof(wp_evar22)!="undefined")?wp_evar22:'';
s.eVar23=(typeof(wp_evar23)!="undefined")?wp_evar23:'';
s.eVar24=(typeof(wp_evar24)!="undefined")?wp_evar24:'';
s.eVar25=(typeof(wp_evar25)!="undefined")?wp_evar25:'';
s.eVar26=(typeof(wp_evar26)!="undefined")?wp_evar26:'';
s.eVar27=(typeof(wp_evar27)!="undefined")?wp_evar27:'';
s.eVar28=(typeof(wp_evar28)!="undefined")?wp_evar28:'';
s.eVar29=(typeof(wp_evar29)!="undefined")?wp_evar29:'';
s.eVar30=(typeof(wp_evar30)!="undefined")?wp_evar30:'';
s.eVar31=(typeof(wp_evar31)!="undefined")?wp_evar31:'';
s.eVar32=(typeof(wp_evar32)!="undefined")?wp_evar32:'';
s.eVar33=(typeof(wp_evar33)!="undefined")?wp_evar33:'';
s.eVar34=(typeof(wp_evar34)!="undefined")?wp_evar34:'';
s.eVar35=(typeof(wp_evar35)!="undefined")?wp_evar35:'';
s.eVar36=(typeof(wp_evar36)!="undefined")?wp_evar36:'';
s.eVar37=(typeof(wp_evar37)!="undefined")?wp_evar37:'';
s.eVar38=(typeof(wp_evar38)!="undefined")?wp_evar38:'';
s.eVar39=(typeof(wp_evar39)!="undefined")?wp_evar39:'';
s.eVar40=(typeof(wp_evar40)!="undefined")?wp_evar40:'';
s.eVar41=(typeof(wp_evar41)!="undefined")?wp_evar41:'';
s.eVar42=(typeof(wp_evar42)!="undefined")?wp_evar42:'';
s.eVar43=(typeof(wp_evar43)!="undefined")?wp_evar43:'';
s.eVar44=(typeof(wp_evar44)!="undefined")?wp_evar44:'';
s.eVar45=(typeof(wp_evar45)!="undefined")?wp_evar45:'';
s.eVar46=(typeof(wp_evar46)!="undefined")?wp_evar46:'';
s.eVar47=(typeof(wp_evar47)!="undefined")?wp_evar47:'';
s.eVar48=(typeof(wp_evar48)!="undefined")?wp_evar48:'';
s.eVar49=(typeof(wp_evar49)!="undefined")?wp_evar49:'';
s.eVar50=(typeof(wp_evar50)!="undefined")?wp_evar50:'';
/* Hierarchy Variables */
if (typeof(wp_hierarchy) != "undefined") {
	s.hier1= wp_hierarchy.toLowerCase();
} else {
	s.hier1="nocategory";
}
s.hier2="washingtonpost.com|" + s.hier1;

function setWpStoryIdForOmniture( wp_story_id ) {
	s.prop22 = wp_story_id ;
}
function sendDataToOmniture(customLinkName,events,props) {
	// START: abort if no s_acount and no events or props
	if(typeof s_account!="undefined" && (events||props)){
		var propPattern = /^(prop|eVar|channel|hier|pageName)/ ;
		// START: make sure events is a string
		if(events){
			if(typeof events == "string"){}
			else if(typeof events == "object" && events.join){events=events.join(',')}
			else{events=null}
		}
		// END: make sure events is a string

		// START: make sure props is an object
		if(props){
			if(typeof props == "object"){}
			else{props=null}
		}
		// END: make sure props is an object

		// START: only continue of both props and events haven't been nulled out
		if(events||props){
			// START: set linkTrackVars
			var linkTrackVars = [] ;
			if(events)
				linkTrackVars[linkTrackVars.length] = "events";
			if(props){
				for (prop in props){
					if(prop.match(propPattern))
						linkTrackVars[linkTrackVars.length] = prop ;
				}
			}
			// START: set linkTrackVars

			// START: if no linkTrackVars, no point in doing anything
			if(linkTrackVars.length){
				s.linkTrackVars=linkTrackVars;
				if(events)
					s.linkTrackEvents=events;
				for (prop in props){
					if(prop.match(propPattern))
						eval("s."+prop+" = props[prop]");
				}
				if(events)
					s.events=events;

				// The Holy Grail:
				s.tl(this,'o',customLinkName);
			}
			// END: if no linkTrackVars, no point in doing anything
		}
		// END: only continue of both props and events haven't been nulled out
	}
	// END: abort if no s_acount and no events or props
}
sendEventToOmniture = sendDataToOmniture;
sendDataToOmnitureFromEvri = sendDataToOmniture;
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)
//-->
</script>
<script language="JavaScript">
<!--
// if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//-->
</script>
<!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.7. -->

<script>
function fixRelatedBoxWidth() {
var w = 0 ;
if ( document.getElementById('related-box') ) {
w = Math.floor( document.getElementById('related-box').offsetWidth/2 ) - 17 ;
}
if ( w>150 && document.getElementById('related-box-left') && document.getElementById('related-box-right') ) {
document.getElementById('related-box-left').style.width = w ;
document.getElementById('related-box-right').style.width = w ;
}
}
fixRelatedBoxWidth();
</script>
<script type="text/javascript" src="http://media.washingtonpost.com/wp-srv/javascript/resize.js"></script>
<script type="text/javascript" src="http://js.revsci.net/gateway/gw.js?csid=J05531"></script>
<script type="text/javascript" src="http://media.washingtonpost.com/wp-srv/ad/audsci.js"></script> <script>
<!--
if ( typeof otto != "undefined" ) {
	otto.placeGlobalOttoTest() ;
}
// -->
</script>
<script language="JavaScript" src="http://media.washingtonpost.com/wp-srv/javascript/omniture/omniture-utils.js"></script> <script>try{echoOmniture()}catch(e){}</script> <script type="text/javascript" src="http://media.washingtonpost.com/wp-srv/javascript/placeSiteMetrix.js"></script> <script type="text/javascript">placeSiteMetrix();</script>
<!-- 360i Code -->
<!-- script src="https://WaPo.netmng.com/?aid=069" type="text/javascript" language="javascript" defer="defer"></script -->
<!-- END 360i Code -->

<script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/javascript/wapolabs-partners.js"></script>
 <script type="text/javascript" src="http://media3.washingtonpost.com/wp-srv/js/vendor/quantcast.js"></script> <noscript><img src="http://pixel.quantserve.com/pixel/p-5cYn7dCzvaeyA.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></noscript> 
</body>
</html>