<!DOCTYPE html>
<html>
<head>
  <title>Embedded Viewer Test Page</title>
  <style type="text/css">
    #container {
      margin: 50px auto;
      width: 1020px;
    }
    div.viewer {
      height: 700px;
    }
  </style>
</head>
<body>

  <div id="container">

    <h3>
      Embedded Document Viewer
    </h3>

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
      dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
      dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
      dignissim qui blandit praesent.
    </p>

    <div class="viewer"></div>

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
      dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
      dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
      dignissim qui blandit praesent.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
      dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
      dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
      dignissim qui blandit praesent.
    </p>

  </div>

  <script type="text/javascript" src="http://s3.documentcloud.org/viewer/loader.js"></script>
  <script type="text/javascript">
    DV.load('http://www.documentcloud.org/documents/91-oversight-of-the-financial-rescue-program-a-new-plan-for-the-tarp.js', {
      container : 'div.viewer'
    });
  </script>

</body>
</html>
