<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= include_stylesheets(:search_embed) %>
  <%= include_javascripts(:search_embed) %>
</head>
<body style="margin:0; padding:0;">
  <div class="DC-embed-preview">

    <div id="embed_1"></div>
    
    <script type="text/javascript">
      dc.loadSearchEmbed('<%= DC.server_root %>/search/embed/', {
        q: 'brooklyn',
        order: 'title',
        container: 'embed_1',
        per_page: 6
      });
    </script>
    
        
    <div id="embed_2"></div>
    
    <script type="text/javascript">
      dc.loadSearchEmbed('<%= DC.server_root %>/search/embed/', {
        q: 'trees',
        order: 'score',
        container: 'embed_2',
        per_page: 12
      });
    </script>
    
  </div>
</body>
</html>
