<div class="content">
  <div class="container-sm">
    
    <p class="lead text-center"><b>Tools</b> are a collection of bookmarklets and utilities useful for administrating DocumentCloud.</p>

    <div class="note-block">
      <p class="font-weight-bold"><a href="javascript:(function(){var pattern=/^https?:\/\/(s3\.amazonaws\.com\/s3|s3|assets)\.documentcloud\.org\/documents\/([0-9]+)\/(pages\/)?(.+)(\-p([0-9]+)(\-([a-z]+))?)?\.([a-z]{3})$/,current=window.location.href,platformed=current.replace(pattern,"https://www.documentcloud.org/documents/$2-$4.html");current==platformed?alert("Hmm, we weren’t able to transform this URL. Please send it to the dev team for inspection."):window.location=platformed;})();">→ Platformer</a>: Redirect document assets to the full viewer</p>
      <p class="note">Sometimes you get linked directly to a DocumentCloud PDF (or text file, or GIF) and want the workspace version of the document. Drag the link above to your Bookmarks Bar and click it next time you have a DocumentCloud-hosted PDF open to redirect straight to the corresponding document in the workspace.</p>
    </div>
  </div>
</div>
