<div class="title_wrapper">
  <input type="text" class="annotation_title" placeholder="title" />
</div>
<div class="annotation_cropper"></div>
<div class="content_wrapper">
  <textarea class="annotation_content"></textarea>
</div>