<div class="edit_page_text">
  
  <div class="edit_page_text_holder">
    <div class="edit_page_text_confirm">
      <input type="button" class="edit_page_text_confirm_input" disabled="true" value="Save page text"/>
      <div class="edit_page_text_confirm_info">Edit the text of any page.</div>
    </div>
    
  </div>
  
  <div class="edit_page_text_close"></div>
  
</div>