<div class="remove_pages">
  
  <div class="remove_pages_holder"></div>
  
  <div class="remove_pages_hint">To remove pages, simply select them below.</div>
  
  <div class="remove_pages_close"></div>
  
</div>