<div class="remove_pages">
  
  <div class="remove_pages_holder">
    <div class="remove_pages_confirm">
      <div class="remove_pages_confirm_info">Remove pages:</div>
      <div class="remove_pages_confirm_button"><input type="button" class="remove_pages_confirm_input" /></div>
    </div>
    
  </div>
  
  <div class="remove_pages_hint">To remove pages, simply select them below.</div>
  
  <div class="remove_pages_close"></div>
  
</div>