<li class="section_row">
  <div style="position:relative;">
    <div class="icon plus"></div>
    <div class="icon minus"></div>
    <div class="text_input dark small">
      <input class="section_title" type="text" placeholder="Title&hellip;" value="" />
    </div>
    <div class="text_input dark small">   
      <span class="page_number_mark">p.</span>
      <input class="page_number start_page" type="text" value="<%= start_page %>" />
    </div>
    <br class="clear" />
  </div>
</li>