<div class="private_annotation button document_only">
  <div class="color_block"></div>
  Add a Private Note
</div>
<% if (isOwner) { %>
  <div class="public_annotation button document_only">
    <div class="color_block"></div>
    Add a Public Note
  </div>
  <div class="set_sections button document_only">Edit Sections</div>
  <div class="save_text button text_only">Save Page Text</div>
<% } %>