---
http_interactions:
- request:
    method: post
    uri: https://api.thomsonreuters.com/permid/calais
    body:
      encoding: UTF-8
      string: Fair use is a limitation and exception to the exclusive right granted
        by copyright law to the author of a creative work. In United States copyright
        law, fair use is a doctrine that permits limited use of copyrighted material
        without acquiring permission from the rights holders.
    headers:
      X-Ag-Access-Token:
      - TkuMl7uPXAQ3OwshIWcKWPFrVehheWtW
      Content-Type:
      - text/raw
      Outputformat:
      - application/json
      X-Calais-Language:
      - English
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Durationmillis:
      - '369'
    body:
      encoding: UTF-8
      string: '{"doc":{"info":{"calaisRequestID":"11dafe1c-6fd5-9226-14ef-9efd6de185f3","id":"http:\/\/id.opencalais.com\/P*tNO1OJF-qGACkhnRnGmg","ontology":"http:\/\/163.231.4.65\/owlschema\/8.6\/onecalais.owl.allmetadata.xml","docId":"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74","document":"Fair
        use is a limitation and exception to the exclusive right granted by copyright
        law to the author of a creative work. In United States copyright law, fair
        use is a doctrine that permits limited use of copyrighted material without
        acquiring permission from the rights holders.","docTitle":"","docDate":"2015-08-04
        18:18:42.074"},"meta":{"contentType":"text\/raw","processingVer":"AllMetadata","serverVersion":"OneCalais_8.6-RELEASE:371","stagsVer":"OneCalais_8.6-RELEASE-b5-2015-06-17_18:45:15","submissionDate":"2015-08-04
        18:18:41.758","submitterCode":"0ca6a864-5659-789d-5f32-f365f695e757","signature":"digestalg-1|E9V5TJ5tWXbQzWhhNHtcxObRHUg=|Txr7gffpKBXmNhrbwUb2vt9cYKuBwfXv7sPnLJRXMRh6KdrRTpL6CQ==","language":"English"}},"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74\/cat\/1":{"_typeGroup":"topics","forenduserdisplay":"false","score":0.945,"name":"Law_Crime"},"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74\/lid\/DefaultLangId":{"_typeGroup":"language","language":"http:\/\/d.opencalais.com\/lid\/DefaultLangId\/English","forenduserdisplay":"false","permid":"505062"},"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74\/SocialTag\/1":{"_typeGroup":"socialTag","id":"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74\/SocialTag\/1","socialTag":"http:\/\/d.opencalais.com\/genericHasher-1\/ce95fa21-d223-3bc8-9418-39b1c5f5bf31","forenduserdisplay":"true","name":"Copyright
        law","importance":"1","originalValue":"Copyright law"},"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74\/SocialTag\/2":{"_typeGroup":"socialTag","id":"http:\/\/d.opencalais.com\/dochash-1\/9307fe44-21e6-3a0b-b040-d6c3f708da74\/SocialTag\/2","socialTag":"http:\/\/d.opencalais.com\/genericHasher-1\/7dbe7e7b-84c0-3e04-ba97-1f2c576b1fd1","forenduserdisplay":"true","name":"Intellectual
        property law","importance":"1","originalValue":"Intellectual property law"},"http:\/\/d.opencalais.com\/dochash-1\/9307[...]
