<%
  @title = "Workspace"
%>

<td class="left"></td>
<td class="mid"></td>
<td class="right"></td>

<script type="text/javascript">
  // $(document).ready(function() { dc.app.workspace.initialize(); });
</script>