<%
  @title = "Workspace"
%>

<td class="left">
  <div id="sidebar">
  
  </div>
</td>
<td class="mid">
  <div id="workspace">
    
  </div>
</td>
<td class="right">
  <div id="gutter">
    
  </div>
</td>

<script type="text/javascript">
  // $(document).ready(function() { dc.app.workspace.initialize(); });
</script>