.document_tile {
  
}
  .document_tile.large_size {
    height: 75px;
    overflow: hidden;
    padding-left: 70px;
    margin-bottom: 12px;
  }
  .document_tile .icon {
    position: absolute;
    left: 0;
  }
  .document_tile .title {
    color: #002256;
    font: bold 14px Georgia, serif;
    margin-top: 6px;
    overflow: hidden;
    height: 17px;
  }
  .document_tile .organization {
    text-transform: uppercase;
    font-size: 10px;
    color: #808080;
    margin-top: 2px;
  }
  .document_tile .summary {
    font-family: Georgia, serif;
    line-height: 16px;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
  }