.size_controls {
  position: absolute;
  text-transform: uppercase;
  color: #777;
  font-size: 10px;
  right: 7px; top: 5px;
  cursor: pointer;
}
  body.upload_shown .size_controls {
    display: none;
  }
  .document_list.large_size .view_large,
  .document_list.medium_size .view_medium,
  .document_list.small_size .view_small {
    font-weight: bold;
  }
  
.document_list {
}
  .documents {
    position: absolute;
    overflow-y: auto;
    top: 21px; left: 0px; right: 0px; bottom: 0px;
    padding: 10px;
  }
    .document_list.large_size .documents {
      padding-right: 30px;
    }
  
.document_tile {
  position: relative;
  overflow: hidden;
}
  .document_list.large_size .document_tile {
    height: 77px;
    padding-left: 72px;
    margin-bottom: 15px;
  }
  .document_list.medium_size .document_tile {
    float: left;
    width: 290px;
    padding-left: 34px;
    margin: 0 15px 15px 0;
    height: 35px;
  }
  .document_list.small_size .document_tile {
    margin-bottom: 10px;
    height: 14px;
  }
  .document_tile .icon {
    position: absolute;
    left: 2px;
  }
    .document_tile img.icon {
      border: 1px solid #eee;      
    }
  .document_tile .title {
    display: block;
    color: #002256;
    font: bold 14px Georgia, serif;
    margin-top: 8px;
    overflow: hidden;
    height: 17px;
  }
    .document_list.medium_size .title {
      margin-top: 2px;
      font-size: 12px;
      height: 15px;
    }
    .document_list.small_size .title {
      margin: 0 10px 0 0;
      float: left;
      font-size: 12px;
    }
    .document_tile .view_document {
      cursor: pointer;
      float: left;
    }
    .document_tools {
      display: none;
      opacity: 0;
      padding-left: 10px;
      -webkit-transition: opacity 0.2s linear;
    }
      .document_list.large_size .document_tools {
        float: left;
        display: block;
      }
      .document_tile:hover .document_tools {
        opacity: 1;
      }
      .document_tools > div {
        float: left;
        cursor: pointer;
        width: 16px; height: 16px;
        margin-right: 7px;
      }
        .document_tools .view_pdf {
          background: url(/images/icons/page_white_acrobat.png);
        }
        .document_tools .view_text {
          background: url(/images/icons/text_columns.png);
        }
        .document_tools .delete_document {
          display: none;
          background: url(/images/icons/bin.png);
        }
          body.logged_in .document_tools .delete_document {
            display: inline;
          }
  .document_tile .organization {
    text-transform: uppercase;
    font-size: 10px;
    overflow: hidden;
    height: 10px;
    color: #808080;
    margin-top: 2px;
  }
    .document_list.small_size .organization {
      float: left;
      margin-right: 10px;
      line-height: 13px;
      color: #333;
    }
  .document_tile .summary {
    font-family: Georgia, serif;
    line-height: 16px;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
  }
    .document_list.medium_size .summary {
      display: none;
    }
    .document_list.small_size .summary {
      display: inline;
      margin: 0;
      position: relative;
      font-size: 11px;
      color: #777;
    }