.document_list {
  position: absolute;
  left: 320px; right: 10px; top: 10px; bottom: 10px;
}
  .size_controls {
    position: absolute;
    text-transform: uppercase;
    color: #777;
    font-size: 10px;
    right: 7px; top: 5px;
  }
    .document_list.large_size .view_large,
    .document_list.medium_size .view_medium,
    .document_list.small_size .view_small {
      font-weight: bold;
    }
  .documents {
  }
    .document_list.large_size .documents {
      padding-right: 30px;
    }
  
.document_tile {
  position: relative;
  overflow: hidden;
}
  .document_list.large_size .document_tile {
    height: 75px;
    padding-left: 70px;
    margin-bottom: 15px;
  }
  .document_list.medium_size .document_tile {
    float: left;
    width: 290px;
    padding-left: 34px;
    margin: 0 15px 15px 0;
    height: 35px;
  }
  .document_list.small_size .document_tile {
    margin-bottom: 10px;
    height: 14px;
  }
  .document_tile .icon {
    position: absolute;
    left: 2px;
  }
  .document_tile a.title {
    display: block;
    color: #002256;
    font: bold 14px Georgia, serif;
    margin-top: 8px;
    overflow: hidden;
    height: 17px;
  }
    .document_list.medium_size a.title {
      margin-top: 2px;
      font-size: 12px;
      height: 15px;
    }
    .document_list.small_size a.title {
      margin: 0 10px 0 0;
      float: left;
      font-size: 12px;
    }
  .document_tile .organization {
    text-transform: uppercase;
    font-size: 10px;
    overflow: hidden;
    height: 10px;
    color: #808080;
    margin-top: 2px;
  }
    .document_list.small_size .organization {
      float: left;
      margin-right: 10px;
      line-height: 13px;
      color: #333;
    }
  .document_tile .summary {
    font-family: Georgia, serif;
    line-height: 16px;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
  }
    .document_list.medium_size .summary {
      display: none;
    }
    .document_list.small_size .summary {
      display: inline;
      margin: 0;
      position: relative;
      font-size: 11px;
      color: #777;
    }