#label_list {
  position: absolute;
  display: block;
  top: 21px; left: 1px; right: 1px; bottom: 21px;
  overflow-y: auto;
  font-size: 10px;
  line-height: 13px;
  color: #454545;
}
  #label_list .divider {
    cursor: pointer;
    text-transform: uppercase;
    padding: 4px 5px 4px 27px;
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dadada));
    border-top: 1px solid #dadada;
    color: #777;
  }
    #label_list .divider img {
      position: absolute;
      margin: -2px 0 0 -20px;
    }
      #label_list .divider.saved_searches img {
        margin-top: -3px;
      }
      #label_list .divider img.collapsable {
        right: 3px;
      }
        #label_list.collapsed_labels img.collapser, #label_list.expanded_labels img.expander {
          display: none;
        }
  #label_list #labels, #label_list #saved_searches {
    padding: 0 0 10px 0;
  }
  #label_list .label, #label_list .saved_search {
    padding: 1px 0 1px 27px;
    line-height: 16px;
    font-size: 11px;
    cursor: pointer;
  }
    #label_list .label:first-child, #label_list .saved_search:first-child {
      padding-top: 3px;
    }
    #label_list .label:hover, #label_list .saved_search:hover {
      background: #d7d7d7;
    }
    #label_list .delete_bullet {
      display: none;
      position: absolute;
      left: 7px;
      width: 12px; height: 12px;
      background: url(/images/icons/bullet_delete.png);
    }
      #label_list .saved_search:hover .delete_bullet, #label_list .label:hover .delete_bullet {
        display: block;
      }
      
#label_maker {
  height: 0;
  overflow: hidden;
  background: #d0d0d0;
  position: relative;
  -webkit-transition: height 0.1s linear;
}
  #label_list.expanded_labels #label_maker {
    height: 25px;
    padding: 2px 0;
  }
  #label_maker input {
    margin-left: 23px;
    background: #f0f0f0;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    font-size: 11px;
    width: 213px;
    line-height: 13px;
  }
  #label_maker .minibutton {
    position: absolute;
    right: 8px; top: 5px;
  }