#navigation {
  position: absolute;
  left: 320px; top: 0px; right: 10px;
  padding-left: 7px;
  height: 50px;
  overflow: hidden;
  z-index: 10;
}
  body.search_navigation #navigation {
    right: 120px;
  }
  #navigation .nav {
    cursor: pointer;
    position: relative;
    float: left;
    margin: 19px 7px 100px 0px;
    font: 14px/17px Arial;
    padding: 7px 12px;
    background: #dadada;
    -webkit-box-shadow: 0 1px 5px #666; -moz-box-shadow: 0 1px 5px #666;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
    -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cacaca));
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    color: #224455;
  }
    #navigation .nav:hover, #navigation .nav.active {
      background: #efefef;
      color: #002256;
      background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dfdfdf));
      -webkit-box-shadow: 0 1px 10px #222; -moz-box-shadow: 0 1px 10px #222;
    }
    
body.logged_in .tab_content {
  display: none;
}
  body.upload_navigation .upload_tab_content,
  body.search_navigation .search_tab_content,
  body.admin_navigation .admin_tab_content,
  body.organize_navigation .organize_tab_content,
  body.visualize_navigation .visualize_tab_content {
    display: block;
  }