span[role="link"] {
  text-decoration: underline;
  cursor: pointer;
}

/*------------------------------ Text Inputs ---------------------------------*/
span.text_input {
  display: block;
  position: relative;
  height: 30px;
  background: transparent url(/images/embed/ui/text_input_large_left.png) no-repeat center left;
}
  span.text_input > span {
    display: block;
    background: transparent url(/images/embed/ui/text_input_large_right.png) no-repeat center right;
    margin-left: 6px;
    height: 30px;
  }
    span.text_input input {
      display: block;
      position: absolute;
      left: 4px; right: 4px; top: 2px;
      border: none;
      margin: 0; padding: 0;
      background: transparent;
      font-size: 16px;
      line-height: 20px;
    }

/*----------------------------- Mini Buttons ---------------------------------*/
.minibutton {
  cursor: pointer;
  font: 10px Arial;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #fff;
  color: #333;
  padding: 4px 5px;
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#bfbfbf));
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  -webkit-box-shadow: 0 0 1px #000; -moz-box-shadow: 0 0 1px #000;
}
  .minibutton:hover, .minibutton.is_open {
    color: #222;
    -webkit-box-shadow: 0 0 4px #333; -moz-box-shadow: 0 0 4px #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#afafaf));
  }
  .minibutton.warn {
    background: #eaa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbb), to(#c88));
  }
  .minibutton.menu > span {
    position: relative;
    left: 2px;
    padding-right: 18px;
    background: url(/images/embed/icons/bullet_arrow_down.png) no-repeat right center;
  }
  .menu_content {
    display: none;
    position: absolute;
    z-index: 100;
    width: 150px;
    background: white;
    padding: 4px;
    opacity: 0.95;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -webkit-box-shadow: 0 3px 7px #999; -moz-box-shadow: 0 3px 7px #999;
  }
    .menu_content .menu_item {
      cursor: pointer;
      font: 11px/18px Arial;
      color: #454545;
      padding: 0px 3px 3px 3px;
      height: 16px;
      overflow: hidden;
      border-top: 1px solid #eee;
    }
      .menu_content .menu_item:first-child {
        border-top: 0;
      }
      .menu_content .menu_item:hover {
        background: #f2f2ff;
      }

/*------------------------------ Hidden Iframes ------------------------------*/
iframe.hidden_iframe {
  width: 0; height: 0;
  border: 0;
  display: none;
}


/*------------------------------ Error Messages ------------------------------*/
.form_error {
  position: relative;
  text-align: center;
}
  .form_error > span, #notifier {
    color: #844;
    text-transform: uppercase;
    font: 10px Arial;
    padding: 4px 10px;
    border: 1px solid #aa7766;
    background: #fcc;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa), to(#fcc));
    margin: 0 auto;
    display: inline;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
  }

#notifier {
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
  #notifier.info_style {
    color: #171;
    border-color: #171;
    background: #cec;
    background: -webkit-gradient(linear, left top, left bottom, from(#beb), to(#ded));
  }