html {
  font-family: Arial, sans-serif;
  color: #373737;
  font-size: 12px;
}

#topbar {
  display: block;
  border-bottom: 2px solid #777;
}
  #cloud_edge {
    position: absolute;
    top: 10px; left: 80px;
    width: 67px; height: 30px;
    background: url(/images/common/cloud_edge.png) no-repeat;
  }
  .logo_words {
    position: absolute;
    color: #566eaa;
    font-size: 16px;
    top: 23px;
  }
    #wordmark {
      left: 10px;
    }
    #title {
      left: 153px;
    }
  #search {
    position: absolute;
    right: 15px; top: 15px;
    font-size: 14px;
    width: 20%;
    color: #333;
  }
  
#content {
  position: absolute;
  bottom: 0px; top: 52px; left: 0; right: 0;
  overflow: hidden;
/*  background: #efefef;*/
  background: #979797;
}

#sidebar {
  position: absolute;
  top: 10px; left: 10px; bottom: 10px;
  width: 350px;
  overflow: hidden;
}
  #sidebar_background {
    position: absolute;
    top: 21px; bottom: 21px;
    width: 348px;
    background: #e6e6e6;
    border: 1px solid #8b8b8b;
    border-top: 0; border-bottom: 0;
  }
  .sidebar_back {
    position: absolute;
    height: 21px; width: 350px;
  }
    #sidebar_top {
      top: 0px;
      background: url(/images/ui/sidebar_top.png);
    }
    #sidebar_bottom {
      bottom: 0px;
      background: url(/images/ui/sidebar_bottom.png);
    }
  #query {
    position: relative;
    margin: 31px 10px 10px 10px;
    font-size: 10px;
    line-height: 12px;
    color: #777;
  }

#documents {
  position: absolute;
  left: 370px; right: 10px; top: 10px; bottom: 10px; 
  overflow: auto;
  padding: 10px 25px 10px 10px;
  background: #fff;
  -webkit-border-radius: 6px;
}