html {
  font-family: Arial, sans-serif;
  color: #373737;
  font-size: 12px;
}

#topbar {
  display: block;
}
  #cloud_edge {
    position: absolute;
    top: 10px; left: 80px;
    width: 67px; height: 30px;
    background: url(/images/common/cloud_edge.png) no-repeat;
  }
  .logo_words {
    position: absolute;
    color: #566eaa;
    font-size: 16px;
    top: 23px;
  }
    #wordmark {
      left: 10px;
    }
    #title {
      left: 153px;
    }
  #search {
    position: absolute;
    right: 15px; top: 15px;
    font-size: 14px;
    width: 20%;
    color: #333;
  }
  
#content {
  position: absolute;
  bottom: 0px; top: 52px; left: 0; right: 0;
  overflow: hidden;
  background: #efefef;
}

#documents {
  position: absolute;
  left: 250px; right: 0px; top: 0px; bottom: 0px; 
  overflow: auto;
  padding: 15px 15px 0 0;
}