<%
  @title        = "API Documentation"
  @bodyclass    = "documentation"
%>

<div id="docs" class="full_page_background">

  <h1>The DocumentCloud API</h1>

  <p>
    Search the full DocumentCloud index or batch upload your documents directly 
    with our API, no key required. Performing searches from JavaScript is fair 
    game, but please be considerate, and don't hammer our servers. 
  </p>
  
  <h2>GET /api/search.json</h2>

  <p>
    Search the catalog of public documents. This method can be used to scrape
    the public documents from your account for embedding purposes, or to enable
    searches of your archive of uploaded documents directly from your own website.
  </p>

  <table>
    <thead>
      <tr>
        <th class="gradient_light">Parameter</th>
        <th class="gradient_light">Description</th>
        <th class="gradient_light">Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="param">q</td>
        <td class="desc">the search query</td>
        <td class="ex">group:daily-tribune title:nuclear</td>
      </tr>
      <tr class="alt">
        <td class="param">page</td>
        <td class="desc">response page number</td>
        <td class="ex">3 (defaults to 1)</td>
      </tr>
      <tr>
        <td class="param">sections</td>
        <td class="desc">include document sections in the results</td>
        <td class="ex">true (defaults to false)</td>
      </tr>
      <tr class="alt">
        <td class="param">annotations</td>
        <td class="desc">include document annotations in the results</td>
        <td class="ex">true (defaults to false)</td>
      </tr>
    </tbody>
  </table>

  <h3>Example</h3>

  <pre>
/api/search.json?q=obama&amp;page=2</pre>

  <p>
    Use the search form below to try queries and see what the resulting JSON
    looks like.
  </p>

  <form id="search_form" action="about:blank" autocomplete="off">
    <div id="run_search" class="minibutton default">Search</div>
    <div class="text_input">
      <div class="background">
        <div class="inner">
          <input type="text" name="q" id="q" />
        </div>
      </div>
    </div>
    <label for="q">
      Search Query:<br /><span class="example">ex: "person:geithner"</span>
    </label>
  </form>

  <pre id="search_results"></pre>
  
  <h2>POST /api/upload.json</h2>
  
  <p>
    We offer a rudimentary API for bulk uploads. It exposes the same API that
    we use internally, but wraps it in HTTP Basic Authentication. Documents 
    will be uploaded into the authenticated account.
  </p>
  
  <table>
    <thead>
      <tr>
        <th class="gradient_light">Parameter</th>
        <th class="gradient_light">Description</th>
        <th class="gradient_light">Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="param">file</td>
        <td class="desc">(required) the path to the document itself</td>
        <td class="ex"></td>
      </tr>
      <tr class="alt">
        <td class="param">title</td>
        <td class="desc">(required) the document's canonical title</td>
        <td class="ex">2008 Blagojevich Tax Return</td>
      </tr>
      <tr>
        <td class="param">source</td>
        <td class="desc">(optional) the source who produced the document</td>
        <td class="ex">U.S. Attorney's Office</td>
      </tr>
      <tr class="alt">
        <td class="param">description</td>
        <td class="desc">(optional) a paragraph of detailed description</td>
        <td class="ex">This prosecution exhibit is the 2008 joint tax return for Rod and Patti Blagojevich. It shows their total income for the year was $284,000.</td>
      </tr>
      <tr>
        <td class="param">access</td>
        <td class="desc">(optional) one of "public", "private", "organization", defaults to "private"</td>
        <td class="ex">public</td>
      </tr>
    </tbody>
  </table>
  
  
  <h3>Tips</h3>

    <p>* Please ensure that you send the request properly encoded as "multipart/form-data".</p>
    <p>* Review your uploaded files and add a source and description if you didn't .</p>
    <p>* Unless you are using SSL, your username, password and documents are sent in cleartext. Use <code>https://</code> to ensure that your connection is encrypted.</p>
  
  <h3>Example</h3>
  <p>Using Ruby's RestClient library you could do:</p>
  <pre>
    RestClient.post('http://YOURNAME%40EXAMPLE.COM:YOURPASSWORD@www.documentcloud.org/api/upload.json',
      :file => File.new('/full/path/to/document/document.pdf','rb'),
      :title => "2008 Blagojevich Tax Return",
      :source => "U.S. Attorney's Office",
      :access => 'private'
    )
    </pre>
    
    
  <h2>GET /api/projects.json</h2>
  
  <p>
    Retrieve a list of project names and document ids. You must
    use HTTP Basic Authentication (preferably over SSL) in order to make this 
    request. The projects listed belong to the authenticated account.
  </p>
  
  <h3>Example Response</h3>
  
  <pre>
{"projects": [
  { 
    "id": 5,
    "title": "Literate Programming",
    "document_ids":[
      "103-literate-programming-a-practioners-view",
      "104-reverse-literate-programming"
    ] 
  },
  ...
]}</pre>



</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#search_form').submit(function(e) {
      e.preventDefault();
      $.getJSON('/api/search', {q : $('#q').val()}, function(resp) {
        $('#search_results').text(JSON.stringify(resp, null, 2));
      });
    });
    $('#run_search').click(function() {
      $('#search_form').submit();
    });
  });
</script>
