<%
  @title        = "API Documentation"
  @bodyclass    = "documentation"
%>

<div id="docs" class="full_page_background super_serif">

  <h1>The DocumentCloud API</h1>

  <p>
    DocumentCloud includes an API to programmatically search the catalog, as well
    as access and upload documents directly. This page documents the methods
    and options available in the current release of the API.
  </p>

  <h2>/api/search.json</h2>

  <p>
    Use the form below to try a search query, and take a look at the format of the
    returned results.
  </p>

  <form id="search_form" action="about:blank" autocomplete="off">
    <button id="run_search" class="default">Search</button>
    <div class="text_input">
      <div class="background">
        <div class="inner">
          <input type="text" name="q" id="q" />
        </div>
      </div>
    </div>
    <label for="q">
      Search Query:<br /><span class="example">ex: "person:geithner"</span>
    </label>
  </form>

  <pre id="search_results"></pre>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#search_form').submit(function(e) {
      e.preventDefault();
      $.getJSON('/api/search', {q : $('#q').val()}, function(resp) {
        $('#search_results').text(JSON.stringify(resp, null, 2));
      });
    });
  });
</script>