<%
  @title      = "API Sign-up"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/api/signup" method="POST">
    <h1>Sign up for the DocumentCloud API </h1>
    <% if @failure %>
      <div class="form_error">
        <span><%= @failure %></span>
      </div>
    <% end %>
    <div class="line">
      <span class="text_input"><span><input type="text" name="domain_name" id="domain_name" /></span></span>
      <label for="domain_name">
        Domain Name:<br /><span class="example">ex: mysite.com</span>
      </label>
    </div>
    <div class="line license">
      By signing up for the DocumentCloud API, you agree to the following terms of 
      service. There is a limit on the number of search requests per day. Your
      service must be freely available to the general public. We reserve the right
      to suspend or terminate your API key at any time. Use of the DocumentCloud 
      API is at your sole risk. The API is provided on an "as is" and 
      "as available" basis.
    </div>
    <div class="line">
      <button class="default">Sign Up</button>
    </div>
  </form>
</div>