<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staging Page Embed Check</title>
    <style type="text/css" media="screen">
    body {
      margin: 0;
      padding: 1em;
      font: 300 1em/1.6em 'Gotham', 'Proxima Nova', 'Avenir Next', Helvetica, Arial, sans-serif;
    }
    h1,
    h2 {
      font-weight: 300;
      line-height: 1.3em;
    }

    .main {
      margin: 0 auto;
      max-width: 1280px;
    }
    .col {
      display: inline-block;
      vertical-align: top;
    }

    .col-of-3 {
      width: 31%;
      margin-right: 2%;
    }

    </style>
  </head>
  <body>
    <div class="main">
      <header>
        <h1>Staging Page Embed Check</h1>
      </header>

      <section class="row">
        <div class="cols">
        <div class="col" style="width:50%;margin-right:2%;">
          <div data-version="1.1">
            <div style="font-size:10pt;line-height:14pt;">
              Page 1 of <a class="DC-embed-resource" href="https://staging.documentcloud.org/documents/1373572-Hi.html#document/p1" title="View entire Hi on DocumentCloud in new window or tab" target="_blank">Hi</a>
            </div>
            <div style="position:relative;padding-bottom:129.428114281142811%;height:0;overflow:hidden;max-width:100%;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;clear:both">
              <iframe src="embed.html" title="Page 1 of the Hi" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%"></iframe>
            </div>
            <div style="font-size:8pt;line-height:12pt;text-align:center">
              Contributed to
              <a href="https://staging.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by
              <a href="https://staging.documentcloud.org/public/search/Account:11215-justin-reese" title="View documents contributed to DocumentCloud by Justin Reese in new window or tab" target="_blank">Justin Reese</a> of
              <a href="https://staging.documentcloud.org/public/search/Group:dcloud" title="View documents contributed to DocumentCloud by DocumentCloud in new window or tab" target="_blank">DocumentCloud</a> &bull;
              <a href="https://staging.documentcloud.org/documents/1373572-Hi.html#document/p1" title="View entire Hi on DocumentCloud in new window or tab" target="_blank">View document</a> or
              <a href="https://staging.documentcloud.org/documents/1373572/pages/Hi-p1.txt" title="Read the text of page 1 of Hi on DocumentCloud in new window or tab" target="_blank">read text</a>
            </div>
          </div>
        </div>
        <div class="col" style="width:28%;margin-right:2%;">
          <div data-version="1.1">
            <div style="font-size:10pt;line-height:14pt;">
              Page 1 of <a class="DC-embed-resource" href="https://staging.documentcloud.org/documents/1373572-Hi.html#document/p1" title="View entire Hi on DocumentCloud in new window or tab" target="_blank">Hi</a>
            </div>
            <div style="position:relative;padding-bottom:129.428114281142811%;height:0;overflow:hidden;max-width:100%;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;clear:both">
              <iframe src="embed.html" title="Page 1 of the Hi" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%"></iframe>
            </div>
            <div style="font-size:8pt;line-height:12pt;text-align:center">
              Contributed to
              <a href="https://staging.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by
              <a href="https://staging.documentcloud.org/public/search/Account:11215-justin-reese" title="View documents contributed to DocumentCloud by Justin Reese in new window or tab" target="_blank">Justin Reese</a> of
              <a href="https://staging.documentcloud.org/public/search/Group:dcloud" title="View documents contributed to DocumentCloud by DocumentCloud in new window or tab" target="_blank">DocumentCloud</a> &bull;
              <a href="https://staging.documentcloud.org/documents/1373572-Hi.html#document/p1" title="View entire Hi on DocumentCloud in new window or tab" target="_blank">View document</a> or
              <a href="https://staging.documentcloud.org/documents/1373572/pages/Hi-p1.txt" title="Read the text of page 1 of Hi on DocumentCloud in new window or tab" target="_blank">read text</a>
            </div>
          </div>
        </div>
        <div class="col" style="width:15%;">
          <div data-version="1.1">
            <div style="font-size:10pt;line-height:14pt;">
              Page 1 of <a class="DC-embed-resource" href="https://staging.documentcloud.org/documents/1373572-Hi.html#document/p1" title="View entire Hi on DocumentCloud in new window or tab" target="_blank">Hi</a>
            </div>
            <div style="position:relative;padding-bottom:129.428114281142811%;height:0;overflow:hidden;max-width:100%;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;clear:both">
              <iframe src="embed.html" title="Page 1 of the Hi" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%"></iframe>
            </div>
            <div style="font-size:8pt;line-height:12pt;text-align:center">
              Contributed to
              <a href="https://staging.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by
              <a href="https://staging.documentcloud.org/public/search/Account:11215-justin-reese" title="View documents contributed to DocumentCloud by Justin Reese in new window or tab" target="_blank">Justin Reese</a> of
              <a href="https://staging.documentcloud.org/public/search/Group:dcloud" title="View documents contributed to DocumentCloud by DocumentCloud in new window or tab" target="_blank">DocumentCloud</a> &bull;
              <a href="https://staging.documentcloud.org/documents/1373572-Hi.html#document/p1" title="View entire Hi on DocumentCloud in new window or tab" target="_blank">View document</a> or
              <a href="https://staging.documentcloud.org/documents/1373572/pages/Hi-p1.txt" title="Read the text of page 1 of Hi on DocumentCloud in new window or tab" target="_blank">read text</a>
            </div>
          </div>
        </div>
        </div>
      </section>

    </div>

  </body>
</html>
