<div id="footer" class="sans">

  <ul id="logos">
    <li>
      <a href="http://nytimes.com">
        <img src="/images/embed/home/logos/logo-nyt.png" alt="The New York Times" />
      </a>
    </li>
    <li>
      <a href="http://propublica.org" class="propublica">
        <img src="/images/embed/home/logos/logo-pro-publica.png" alt="ProPublica" />
      </a>
    </li>
    <li>
      <a href="http://pbs.org">
        <img src="/images/embed/home/logos/logo-pbs.png" alt="PBS" />
      </a>
    </li>
    <li>
      <a href="http://latimes.com">
        <img src="/images/embed/home/logos/logo-lat.png" alt="The Lost Angeles Times" />
      </a>
    </li>
    <li>
      <a href="http://msnbc.com">
        <img src="/images/embed/home/logos/logo-msnbc.png" alt="MSNBC.com" />
      </a>
    </li>
    <li>
      <a href="http://chicagotribune.com">
        <img src="/images/embed/home/logos/logo-trib.png" alt="The Chicago Tribune" />
      </a>
    </li>
    <li>
      <a href="http://wired.com">
        <img src="/images/embed/home/logos/logo-wired.png" alt="Wired" />
      </a>
    </li>
    <li>
      <a href="/contributors" class="more">More&hellip;</a>
    </li>
  </ul>

  <br class="clear" />

  <div id="footer_links">
    <a href="/contact">Contact Us</a> |
    <a href="/terms">Terms of Service</a> |
    <a href="/privacy">Privacy Policy</a>
  </div>
  
  <a id="knight_credit" href="http://knightfoundation.org/">
    <img alt="Funding provided by the Knight Foundation" src="/images/home/knight.png" />
  </a>

</div>
