<div id="footer" class="sans">

  <ul id="logos">
    <li>
      <a href="http://nytimes.com">
        <img src="/images/embed/home/logos/logo-nyt.png" alt="The New York Times" />
      </a>
    </li>
    <li>
      <a href="http://propublica.org" style="top: -5px;">
        <img src="/images/embed/home/logos/logo-pro-publica.png" alt="ProPublica" />
      </a>
    </li>
    <li>
      <a href="http://lasvegassun.com">
        <img src="/images/embed/home/logos/logo-las-vegas-sun.png" alt="The Las Vegas Sun" />
      </a>
    </li>
    <li>
      <a href="http://pbs.org" style="top: -1px;">
        <img src="/images/embed/home/logos/logo-pbs.png" alt="PBS" />
      </a>
    </li>
    <li>
      <a href="http://latimes.com">
        <img src="/images/embed/home/logos/logo-lat.png" alt="The Los Angeles Times" />
      </a>
    </li>
    <li>
      <a href="http://newyorker.com">
        <img src="/images/embed/home/logos/logo-new-yorker.png" alt="The New Yorker" />
      </a>
    </li>
    <li>
      <a href="http://chicagotribune.com">
        <img src="/images/embed/home/logos/logo-trib.png" alt="The Chicago Tribune" />
      </a>
    </li>
    <li>
      <a href="/contributors" class="more">More&hellip;</a>
    </li>
  </ul>

  <br class="clear" />

  <div id="footer_links">
    <a href="/contact">Contact Us</a> |
    <a href="/terms">Terms of Service</a> |
    <a href="/privacy">Privacy Policy</a>
  </div>

  <a id="knight_credit" href="http://knightfoundation.org/">
    <img alt="Funding provided by the Knight Foundation" src="/images/home/knight.png" />
  </a>
  <br/>
  <a id="calais_credit" href="http://opencalais.com/">
    <img alt="Entity extraction provided by OpenCalais" src="/images/home/calais.png" />
  </a>
</div>
