<div class="sidebar_section gradient_light">

  <div class="section_title">
    Help Pages
  </div>

  <ul id="help_navigation" class="sidebar_nav">
    <% @help_pages.each do |help_item| %>
      <li <% if @page == help_item %>class="active"<% end %>>
        <% page = help_item == 'index' ? '' : help_item %>
        <% help_url = url_for(:action => 'help', :controller => 'home', :page => page) %>
        <a href="<%= help_url %>"><%= @help_titles[help_item.to_sym] %></a>
      </li>
    <% end %>
  </ul>

</div>
