<div id="toolbar">
  <div id="innerbar">
    <ul id="nav" class="sans">
      <li id="nav_overview">
        <a class="mark <%= @nav == 'overview' ? 'active' : '' %>" href="/home">
          <span class="nav_title">Overview</span>
          <div class="nav_subtitle">
            A tool for journalists, a<br /> document catalog, both.
          </div>
        </a>
      </li>
      <li id="nav_search">
        <a class="mark" href="/public/search/">
          <span class="nav_title external_link">Search</span>
          <div class="nav_subtitle">
            Our catalog has more than<br /> one million public documents.
          </div>
        </a>
      </li>
      <li id="nav_open">
        <a class="mark <%= @nav == 'opensource' ? 'active' : '' %>" href="/opensource">
          <span class="nav_title">Open Source</span>
          <div class="nav_subtitle">
            Our work is open source.<br /> Contribute your ideas.
          </div>
        </a>
      </li>
      <li id="nav_guide">
        <a class="mark <%= @nav == 'guide' ? 'active' : '' %>" href="/help">
          <span class="nav_title">Get Help</span>
          <div class="nav_subtitle">
            Learn about DocumentCloud's<br /> advanced features and API.
          </div>
        </a>
      </li>
      <li id="nav_news">
        <a class="mark <%= @nav == 'about' ? 'active' : '' %>" href="/about">
          <span class="nav_title">Who We Are</span>
          <div class="nav_subtitle">
            Meet the people<br /> making this happen.
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
