<div id="toolbar">
  <div id="innerbar">
    <ul id="nav">
      <li id="nav_overview">
        <a class="mark imagetext <%= @nav == 'overview' ? 'active' : '' %>" href="/home">
          Overview: A tool for journalists, a document catalog, both.
        </a>
      </li>
      <li id="nav_search">
        <a class="mark imagetext" href="/public">
          Search: Our catalog has thousands of newsworthy documents.
        </a>
      </li>
      <li id="nav_open">
        <a class="mark imagetext <%= @nav == 'opensource' ? 'active' : '' %>" href="/opensource">
          Our work is open source. Use it in your projects.
        </a>
      </li>
      <li id="nav_guide">
        <a class="mark imagetext <%= @nav == 'guide' ? 'active' : '' %>" href="/help">
          Learn about DocumentCloud's advanced features and API.
        </a>
      </li>
      <li id="nav_news">
        <a class="mark imagetext <%= @nav == 'news' ? 'active' : '' %>" href="/blog">
          Read the blog to find out about new features.
        </a>
      </li>
    </ul>
  </div>
</div>