<ul class="bullet">
  <% @news.each do |title, url, author, date| %>
  <li>
    <h6>
      <a href="<%= h(url) %>"><%= h(title) %></a>
      <br />
      <small style="font-weight: normal;"><i><%= h(author) %></i>, <%= date.strftime("%b %d, %Y") %></small>
    </h6>
  </li>
  <% end %>
</ul>