<ul class="bullet">
  <% @news.each do |title, url, author, date| %>
  <li>
    <a href="<%= h(url) %>"><%= h(title) %></a><br />
    <i><%= h(author) %></i> &ndash; <small><%= date.strftime("%b %d, %Y") %></small>
  </li>
  <% end %>
</ul>
