<div id="sidebar" class="sans">

  <div id="search_wrapper" class="sidebar_section gradient_light">
    <div id="search_desc">
      Search thousands of public documents<br />
      from newsrooms across the country:
    </div>
    <div id="search_box_wrapper" class="text_input search noselect">
      <div class="icon search_glyph"></div>
      <div class="search_inner">
        <input placeholder="Search..." id="search_box" />
      </div>
      <div class="icon cancel_search" title="clear search"></div>
    </div>
  </div>

  <div id="join" class="sidebar_section gradient_light">
    DocumentCloud is a tool for journalists.<br />
    If you're regularly working with primary source documents, we can help.
    <div class="minibutton default" id="join_button">Join DocumentCloud</div>
  </div>

  <div id="login" class="sidebar_section gradient_light">
    Already a DocumentCloud member?
    <a href="/login"><div class="minibutton" id="login_button">Log in now</div></a>
  </div>

  <div id="news" class="sidebar_section gradient_light">
    <div id="news_desc">
      Latest News
    </div>
    <ul>
      <li>
        <a href="#">Code Drop: Backbone.js</a> –
        <span class="date">Oct 13, 2010</span>
      </li>
      <li>
        <a href="#">How to: Grab Thumbnail Images</a> –
        <span class="date">Oct 08, 2010</span>
      </li>
      <li>
        <a href="#">Questions, Answered</a> –
        <span class="date">Sep 22, 2010</span>
      </li>
      <li>
        <a href="#">Evaluating Amazon's EC2 Micro Instances</a> –
        <span class="date">Sep 15, 2010</span>
      </li>
      <li>
        <a href="#">Mini Document Viewers</a> –
        <span class="date">Sep 10, 2010</span>
      </li>
      <li>
        <a href="#">Code Drop: Pixel Ping</a> –
        <span class="date">Sep 08, 2010</span>
      </li>
    </ul>
  </div>

  <div id="contact" class="sidebar_section gradient_light">
    Questions, comments, or concerns?<br />
    Don't hesitate to get in touch.
    <div class="minibutton" id="contact_button">Contact us</div>
  </div>

</div>
