<div id="sidebar" class="sans">
  
  <%= render :partial => 'help_navigation' if @nav == 'guide' %>

  <div id="search_wrapper" class="sidebar_section">
    <div id="search_desc">
      Search thousands of public documents<br />
      from newsrooms across the country:
    </div>
    <div id="search_box_wrapper" class="text_input search noselect">
      <div class="icon search_glyph"></div>
      <div class="search_inner">
        <input placeholder="Search..." id="search_box" />
      </div>
      <div class="icon cancel_search" title="clear search"></div>
    </div>
  </div>

  <div id="join" class="sidebar_section">
    DocumentCloud is a tool for journalists.<br />
    If you're regularly working with primary source documents, we can help.
    <div class="minibutton default" id="join_button">Join DocumentCloud</div>
  </div>

  <div id="login" class="sidebar_section">
    Already a DocumentCloud member?
    <a href="/login"><div class="minibutton" id="login_button">Log in now</div></a>
  </div>

  <div id="news" class="sidebar_section">
    <div class="section_title">
      Additional Resources
    </div>
    <ul>
      <li><a href="/featured">Featured Documents</a></li>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/about">Who We Are</a></li>
      <li><a href="/news">DocumentCloud in the News</a></li>
      <li><a href="/contact">Contact Information</a></li>
      <li><a href="/contributors">List of Contributing Organizations</a></li>
    </ul>
  </div>

  <div id="contact" class="sidebar_section">
    Questions, comments, or concerns?<br />
    Don't hesitate to get in touch.
    <div class="minibutton" id="contact_button">Contact us</div>
  </div>

</div>
