<%
  @nav    = 'about'
  @title  = 'Who We Are'
  @header = 'Who We Are: Meet the people behind DocumentCloud'
%>

<div id="content">


<p>DocumentCloud is a catalog of primary source documents and a tool for annotating, organizing and publishing them on the web. Documents are contributed by journalists, researchers and archivists. We're helping reporters get more out of documents and helping newsrooms make their online presence more engaging.</p>


<p>DocumentCloud was founded in 2009 with a grant from the <a href="http://www.newschallenge.org/">Knight News Challenge</a>. After two years as an independent nonprofit organization, DocumentCloud <a href="http://blog.documentcloud.org/blog/2011/06/new-home-at-ire/">became a project of Investigative Reporters and Editors</a> in June of 2011. 


  <h2>DocumentCloud Staff</h2>
  
<p class="bio"><a href="http://www.ire.org/about/staff/bios.html">IRE's staff</a> are all actively involved in helping guide DocumentCloud's next stage of development.</p>
 
<p class="bio"><img class="headshot" src="/images/home/staff/ted.jpg" alt="Jeremy Ashkenas">
<strong>Ted Han</strong> joins DocumentCloud from <a class="external" target="_blank" href="http://www.videojuicer.com">Videojuicer</a>, an online video platform focused on open standards and software integration. He's a computational linguist by degree, developer by trade, and Sci-Fi nerd by leisure. He was selected as a participant in the <a class="external" target="_blank" href="https://drumbeat.org/en-US/journalism/">Knight Mozilla Journalism Challenge</a> and has worked on <a class="external" target="_blank" href="http://www.datamapper.org">DataMapper</a>, Merb and a variety of data-based projects, including the <a class="external" target="_blank" href="http://www.crisiscommons.org">CrisisCommons</a> response to the Tohoku earthquake &amp; tsunami.</p>

<p class="bio"><strong>Lauren Grandestaff</strong>, director of <a href="http://www.ire.org/resourcecenter/">IRE's Resource Center</a>, provides support to DocumentCloud users. She directs collection, indexing, and archiving of research materials that include tens of thousands of investigative stories and thousands of reporter tipsheets and coordinates <a href="http://www.ire.org/resourcecenter/contest/">IRE's annual awards</a>, which honor the best investigative journalism around the world. A lifelong Missourian, Lauren does her part to keep Columbia, Missouri's <a href="http://yardsandgods.com">local music scene thriving</a>, too.</p> 

  
    <h2>Advisory Group</h2>
  <p>DocumentCloud's founders and founding staff continue to advise us on the project.</p> 
  <p class="bio">
    <img class="headshot" src="/images/home/staff/jeremy_new.jpg" alt="Jeremy Ashkenas">
    <strong>Jeremy Ashkenas</strong>, Lead Developer 2009-2011, joined DocumentCloud from
    <a href="http://zenbe.com/">Zenbe</a>, a provider of online email and
    collaboration software. He created the
    <a href="http://wiki.github.com/jashkenas/ruby-processing/">Ruby-Processing</a>
    visualization toolkit, the
    <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a>
    programming language and is a two-time winner of the Sunlight Foundation’s
    Apps for America competition, for
    <a href="http://know-thy-congressman.com/">Know Thy Congressman</a> and
    <a href="http://quakespotter.org/">Quakespotter</a>. You can contact him
    at <a href="mailto:jeremy@documentcloud.org">jeremy@documentcloud.org</a>.
  </p>

  <br />

  <p class="bio">
    <img class="headshot" src="/images/home/staff/amanda.jpg" alt="Amanda Hickman">
    <strong>Amanda Hickman</strong>, Program Director 2009-2011, joined DocumentCloud from
    <a href="http://www.gothamgazette.com">Gotham Gazette</a> where, as the
    Director of Technology, she managed development of a series of
    <a href="http://www.gothamgazette.com/archive/interactive">games about public
    policy </a>issues, built a pretty cool
    <a href="http://www.gothamgazette.com/campaigns/">database of candidates for
    local office</a> and shared an
    <a href="http://conference.journalists.org/2009conference/2009/10/04/publish2-my-ballard-and-gotham-gazette-win-inaugural-ojas/">ONA award for General Excellence</a>
    with her colleagues there. Prior to joining Gotham Gazette, she worked as a
    <a href="http://en.wikipedia.org/wiki/Circuit_rider_%28technology%29">Circuit Rider</a>,
    providing technology assistance and training to low-income grassroots groups
    in the U.S. and as a consultant to foundations
    looking for ways to support their grantees’ use of technology in organizing
    work. She taught an undergraduate course at NYU’s Gallatin School on using
    the Internet as an organizing tool. You can find her at
    <a href="mailto:amanda@documentcloud.org">amanda@documentcloud.org</a>.
  </p>
  
    <p>
    <strong><a href="mailto:scott@documentcloud.org">Scott Klein</a></strong>
    is the Editor of News Applications at <a href="http://www.propublica.org">ProPublica</a>,
    directing news application development and production. He previously worked
    at <i>The Nation</i>, directing editorial and business application
    development for the <a href="http://www.thenation.com">TheNation.com</a>.
    Earlier in his career, Scott worked at <i>The New York Times</i>.
  </p>

  <p>
    <strong><a href="mailto:aron@documentcloud.org">Aron Pilhofer</a></strong> is editor of Interactive News at <a href="http://www.nytimes.com">The New York Times</a>. His
team blends journalism and technology to enhance The Times's reporting
online through social media, community and dynamic, data-driven Web
applications. He is also co-founder of two news-related nonprofits:
DocumentCloud.org and Hacks and Hackers. Aron joined The Times in 2005
as a projects editor on the paper's newly expanded computer-assisted
reporting team. Prior to joining The Times, he reported for the Center
for Public Integrity in Washington, Gannett newspapers in New Jersey and
Delaware and was on the national training staff of <a href="http://www.ire.org"> Investigative
    Reporters and Editors</a>.

  </p>

  <p>
    <strong><a href="mailto:eric@documentcloud.org">Eric Umansky</a></strong>
    is a senior editor at <a href="http://www.propublica.org">ProPublica</a>,
    where he oversees daily reporting. Previously, Eric wrote Slate’s
    <a href="http://www.slate.com/?id=3944&amp;qp=26077">“Today’s Papers”</a>
    He also written, mostly on national security issues for
    <i>The New York Times Magazine</i>, <i>Washington Post</i>,
    <i>The New Republic</i>, and elsewhere. Earlier in his career, Eric was
    editor of <a href="http://MotherJones.com">MotherJones.com</a>.
  </p>


</div>
