<%
  @nav    = 'about'
  @title  = 'Who We Are'
  @header = 'Who We Are: Meet the people behind DocumentCloud'
%>

<div id="content">

<p>June 9, 2011 &mdash; <a href="http://blog.documentcloud.org/blog/2011/06/new-home-at-ire/">DocumentCloud is merging with Investigative Reporters and Editors.</a> It is great news for DocumentCloud and for our users. DocumentCloud will have a permanent place in a longstanding resource for investigative reporting. IRE has a long and established history of supporting investigative reporting, and we'll be a proud part of their ongoing work to provide journalists with tools that support their reporting. It goes without saying that DocumentCloud is a natural fit for an organization that has been upholding high professional standards and instilling a passion for public service journalism for more than 35 years. (<a href="http://blog.documentcloud.org/blog/2011/06/new-home-at-ire/">read more</a>)</p>

<p>DocumentCloud is a catalog of primary source documents and a tool for annotating, organizing and publishing them on the web. Documents are contributed by journalists, researchers and archivists. We're helping reporters get more out of documents and helping newsrooms make their online presence more engaging.</p>

 <p>Though DocumentCloud was founded by three journalists and programmers who work at The New York Times and ProPublica, we are a wholly independent 501c3 organization. The project was founded in 2009 with a generous grant from the <a href="http://www.newschallenge.org/">Knight News Challenge</a>.</p>

  <h2>Co-founders (and Board of Directors)</h2>
  <p>Our co-founders are actively involved in guiding the project, but continue to work full time in their respective newsrooms.</p>

  <p>
    <strong><a href="mailto:aron@documentcloud.org">Aron Pilhofer</a></strong> is editor of Interactive News at <a href="http://www.nytimes.com">The New York Times</a>. His
team blends journalism and technology to enhance The Times's reporting
online through social media, community and dynamic, data-driven Web
applications. He is also co-founder of two news-related nonprofits:
DocumentCloud.org and Hacks and Hackers. Aron joined The Times in 2005
as a projects editor on the paper's newly expanded computer-assisted
reporting team. Prior to joining The Times, he reported for the Center
for Public Integrity in Washington, Gannett newspapers in New Jersey and
Delaware and was on the national training staff of <a href="http://www.ire.org"> Investigative
    Reporters and Editors</a>.

  </p>

  <p>
    <strong><a href="mailto:eric@documentcloud.org">Eric Umansky</a></strong>
    is a senior editor at <a href="http://www.propublica.org">ProPublica</a>,
    where he oversees daily reporting. Previously, Eric wrote Slate’s
    <a href="http://www.slate.com/?id=3944&amp;qp=26077">“Today’s Papers”</a>
    He also written, mostly on national security issues for
    <i>The New York Times Magazine</i>, <i>Washington Post</i>,
    <i>The New Republic</i>, and elsewhere. Earlier in his career, Eric was
    editor of <a href="http://MotherJones.com">MotherJones.com</a>.
  </p>

  <p>
    <strong><a href="mailto:scott@documentcloud.org">Scott Klein</a></strong>
    is the Editor of News Applications at <a href="http://www.propublica.org">ProPublica</a>,
    directing news application development and production. He previously worked
    at <i>The Nation</i>, directing editorial and business application
    development for the <a href="http://www.thenation.com">TheNation.com</a>.
    Earlier in his career, Scott worked at <i>The New York Times</i>.
  </p>

  <h2>DocumentCloud Staff</h2>

  <p class="bio">
    <img class="headshot" src="/images/home/staff/jeremy_new.jpg" alt="Jeremy Ashkenas">
    <strong>Jeremy Ashkenas</strong>, Lead Developer, joins us from
    <a href="http://zenbe.com/">Zenbe</a>, a provider of online email and
    collaboration software. He created the
    <a href="http://wiki.github.com/jashkenas/ruby-processing/">Ruby-Processing</a>
    visualization toolkit, the
    <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a>
    programming language and is a two-time winner of the Sunlight Foundation’s
    Apps for America competition, for
    <a href="http://know-thy-congressman.com/">Know Thy Congressman</a> and
    <a href="http://quakespotter.org/">Quakespotter</a>. You can contact him
    at <a href="mailto:jeremy@documentcloud.org">jeremy@documentcloud.org</a>.
  </p>

  <br />

  <p class="bio">
    <img class="headshot" src="/images/home/staff/amanda.jpg" alt="Amanda Hickman">
    <strong>Amanda Hickman</strong>, Program Director, joined DocumentCloud from
    <a href="http://www.gothamgazette.com">Gotham Gazette</a> where, as the
    Director of Technology, she managed development of a series of
    <a href="http://www.gothamgazette.com/archive/interactive">games about public
    policy </a>issues, built a pretty cool
    <a href="http://www.gothamgazette.com/campaigns/">database of candidates for
    local office</a> and shared an
    <a href="http://conference.journalists.org/2009conference/2009/10/04/publish2-my-ballard-and-gotham-gazette-win-inaugural-ojas/">ONA award for General Excellence</a>
    with her colleagues there. Prior to joining Gotham Gazette, she worked as a
    <a href="http://en.wikipedia.org/wiki/Circuit_rider_%28technology%29">Circuit Rider</a>,
    providing technology assistance and training to low-income grassroots groups
    in the U.S. working on anti-poverty issues and as a consultant to foundations
    looking for ways to support their grantees’ use of technology in organizing
    work. She taught an undergraduate course at NYU’s Gallatin School on using
    the Internet as an organizing tool. An active local organizer, she’s got her
    hands in a few <a href="http://www.coactivate.org/projects/compost/summary">community composting</a>
    and <a href="http://greeneacres.interactivist.net/">gardening</a> projects,
    too. You can find her at
    <a href="mailto:amanda@documentcloud.org">amanda@documentcloud.org</a>.
  </p>

</div>
