<%
  @nav    = 'about'
  @title  = 'Who We Are'
  @header = 'Who We Are: Meet the people behind DocumentCloud.'
%>

<div id="content">

  <p>
    Conceived of over beers and sandwiches by journalists working at ProPublica 
    and <i>The New York Times</i>, DocumentCloud is an independent nonprofit 
    funded in 2009 by a two-year grant from the 
    <a href="http://www.newschallenge.org/">Knight News Challenge</a>. 
  </p>

  <h2>Co-founders (and Board of Directors)</h2>

  <p>
    <strong><a href="mailto:aron@documentcloud.org">Aron Pilhofer</a></strong> 
    is editor of Interactive News Technologies at <a href="http://www.nytimes.com">The New York Times</a>, 
    overseeing a news-focused team of journalist/developers who build dynamic, 
    data-driven applications to enhance The Times' reporting online. He joined 
    The Times in 2005. Previously, he was at the 
    <a href="http://www.publicintegrity.org/">Center for Public Integrity</a> 
    in Washington, and before that at <a href="http://www.ire.org"> Investigative 
    Reporters and Editors</a>.
  </p>

  <p>
    <strong><a href="mailto:eric@documentcloud.org">Eric Umansky</a></strong> 
    is a senior editor at <a href="http://www.propublica.org">ProPublica</a>, 
    where he oversees daily reporting. Previously, Eric wrote Slate’s 
    <a href="http://www.slate.com/?id=3944&amp;qp=26077">“Today’s Papers”</a> 
    He also written, mostly on national security issues for 
    <i>The New York Times Magazine</i>, <i>Washington Post</i>, 
    <i>The New Republic</i>, and elsewhere. Earlier in his career, Eric was 
    editor of <a href="http://MotherJones.com">MotherJones.com</a>.
  </p>

  <p>
    <strong><a href="mailto:scott@documentcloud.org">Scott Klein</a></strong> 
    is the Editor of News Applications at <a href="http://www.propublica.org">ProPublica</a>, 
    directing news application development and production. He previously worked 
    at <i>The Nation</i>, directing editorial and business application 
    development for the <a href="http://www.thenation.com">TheNation.com</a>. 
    Earlier in his career, Scott worked at <i>The New York Times</i>.
  </p>

  <h2>DocumentCloud Staff</h2>

  <p class="bio">
    <img class="headshot" src="/images/home/staff/jeremy.jpg" alt="Jeremy Ashkenas">
    <strong><a href="mailto:jeremy@documentcloud.org">Jeremy Ashkenas</a></strong> 
    is the lead developer at DocumentCloud. His previous job was at 
    <a href="http://zenbe.com/">Zenbe</a>, a provider of online email and 
    collaboration software. He created the 
    <a href="http://wiki.github.com/jashkenas/ruby-processing/">Ruby-Processing</a> 
    visualization toolkit, the 
    <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a> 
    programming language and is a two-time winner of the Sunlight Foundation’s 
    Apps for America competition, for 
    <a href="http://know-thy-congressman.com/">Know Thy Congressman</a> and 
    <a href="http://quakespotter.org/">Quakespotter</a>.
  </p>
  
  <br />
  
  <p class="bio">
    <img class="headshot" src="/images/home/staff/samuel.jpg" alt="Samuel Clay">
    <strong>Samuel Clay</strong>, Developer, joins us from 
    <a href="http://storybird.com">Storybird</a>, a collaborative storytelling 
    startup which works with artists to give children access to high quality 
    narrative art that they can use to publish their own original stories. He’s 
    also the mastermind behind <a href="http://www.newsblur.com">NewsBlur</a>, 
    an <a href="http://github.com/samuelclay/NewsBlur">open source</a> feed 
    reader that uses artificial intelligence to suggest stories you might want 
    to read. Samuel lives in Brooklyn with his dog and guinea pigs, where he 
    photographs historic districts for 
    <a href="http://www.newyorkfieldguide.com">New York Field Guide</a>. Find 
    him at <a href="mailto:samuel@documentcloud.org">samuel@documentcloud.org</a> 
    or on <a href="http://twitter.com/samuelclay">twitter</a>.
  </p>
  
  <br />
  
  <p class="bio">
    <img class="headshot" src="/images/home/staff/amanda.jpg" alt="Amanda Hickman">
    <strong>Amanda Hickman</strong>, Program Director, joined DocumentCloud from 
    <a href="http://www.gothamgazette.com">Gotham Gazette</a> where, as the 
    Director of Technology, she managed development of a series of 
    <a href="http://www.gothamgazette.com/archive/interactive">games about public 
    policy </a>issues, built a pretty cool
    <a href="http://www.gothamgazette.com/campaigns/">database of candidates for 
    local office</a> and shared an 
    <a href="http://conference.journalists.org/2009conference/2009/10/04/publish2-my-ballard-and-gotham-gazette-win-inaugural-ojas/">ONA award for General Excellence</a> 
    with her colleagues there. Prior to joining Gotham Gazette, she worked as a 
    <a href="http://en.wikipedia.org/wiki/Circuit_rider_%28technology%29">Circuit Rider</a>, 
    providing technology assistance and training to low-income grassroots groups 
    in the U.S. working on anti-poverty issues and as a consultant to foundations 
    looking for ways to support their grantees’ use of technology in organizing 
    work. She taught an undergraduate course at NYU’s Gallatin School on using 
    the Internet as an organizing tool. An active local organizer, she’s got her 
    hands in a few <a href="http://www.coactivate.org/projects/compost/summary">community composting</a> 
    and <a href="http://greeneacres.interactivist.net/">gardening</a> projects, 
    too. You can find her at 
    <a href="mailto:amanda@documentcloud.org">amanda@documentcloud.org</a>.
  </p>

</div>