<%
  @nav    = 'about'
  @title  = 'Who We Are'
  @header = 'Who We Are: Meet the people behind DocumentCloud'
%>

<div id="content">


<p>DocumentCloud is a catalog of primary source documents and a tool for annotating, organizing and publishing them on the web. Documents are contributed by journalists, researchers and archivists. We're helping reporters get more out of documents and helping newsrooms make their online presence more engaging.</p>


<p>DocumentCloud was founded in 2009 with a grant from the <a href="http://www.newschallenge.org/">Knight News Challenge</a>. After two years as an independent nonprofit organization, DocumentCloud <a href="http://blog.documentcloud.org/blog/2011/06/new-home-at-ire/">became a project of Investigative Reporters and Editors</a> in June 2011.


  <h2>DocumentCloud Staff</h2>
  
<p><a href="http://ire.org/about/staff-bios/">IRE's staff</a> are all actively involved in helping guide DocumentCloud's next stage of development.</p>
 
<p class="bio"><img class="headshot" src="/images/home/staff/ted.jpg" alt="Ted Han">
<strong>Ted Han</strong> runs DocumentCloud's technology efforts with a product focus. He studied computational linguistics and has worked in technology and startups for more than a decade. He was selected as a participant in the Knight Mozilla Journalism Challenge and has worked on <a class="external" target="_blank" href="http://www.datamapper.org">DataMapper</a>, Merb and a variety of data-based projects, including the <a class="external" target="_blank" href="http://www.crisiscommons.org">CrisisCommons</a> response to the Tohoku earthquake &amp; tsunami.</p>

<p class="bio"><img class="headshot" src="/images/home/staff/anthony.jpg" alt="Anthony DeBarros">
<strong>Anthony DeBarros</strong>, Director of Product Development, joined DocumentCloud in 2015. Previously, he was Director of Interactive Applications at Gannett Digital, leading a team that built data-driven interactives for 
<a class="external" target="_blank" href="http://www.usatoday.com/longform/news/nation/2014/03/11/fugitives-next-door/6262719/">investigations</a>, <a class="external" target="_blank" href="http://www.usatoday.com/pages/interactives/elections-results-2014/">elections</a> and the Gannett platform as well as publishing tools for the company's journalists. Before that, he was a database editor and investigative journalist with USA TODAY. He's a 2012 winner of an IRE Service Award for making Census data easily available to journalists.</p>

<p class="bio"><img class="headshot" src="/images/home/staff/lauren.jpg" alt="Lauren Grandestaff"><strong>Lauren Grandestaff</strong>, director of <a href="http://www.ire.org/resourcecenter/">IRE's Resource Center</a>, provides support to DocumentCloud users. She directs collection, indexing, and archiving of research materials that include tens of thousands of investigative stories and thousands of reporter tipsheets and coordinates <a href="http://www.ire.org/resourcecenter/contest/">IRE's annual awards</a>, which honor the best investigative journalism around the world.</p>

<p class="bio"><img class="headshot" src="/images/home/staff/nathan.jpg" alt="Nathan Stitt"><strong>Nathan Stitt</strong>, a developer with DocumentCloud, has more than 1.5 decades of experience writing web applications. He's the creator of the <a class="external" target="_blank" href="http://lanesframework.org/">Lanes web framework</a> and the <a class="external" target="_blank" href="http://stockor.org/">Stockor ERP system</a> as well as contributing to numerous open-source projects.</p>

    <h2>Advisory Group</h2>
  <p>DocumentCloud's founders and founding staff continue to advise us on the project.</p> 

    <p>
    <strong><a href="mailto:scott@documentcloud.org">Scott Klein</a></strong>
    is an assistant managing editor at <a href="http://www.propublica.org">ProPublica</a>.
    He directs a team of journalists, statisticians, designers and programmers building
    large interactive software projects that tell journalistic stories, and that make
    complex national statistics relevant to readers and their communities. Scott is a
    co-founder of DocumentCloud.
  </p>

  <p>
    <strong><a href="mailto:aron@documentcloud.org">Aron Pilhofer</a></strong> is executive editor of digital at <a href="http://www.theguardian.com/">The Guardian</a>. Previously, he was
    editor of interactive news at The New York Times. Aron joined The Times in 2005
    as a projects editor on the paper's newly expanded computer-assisted
    reporting team. Prior to joining The Times, he reported for the Center
    for Public Integrity in Washington, Gannett newspapers in New Jersey and
    Delaware and was on the national training staff of <a href="http://www.ire.org"> Investigative
    Reporters and Editors</a>. Aron is a co-founder DocumentCloud.

  </p>

  <p>
    <strong><a href="mailto:eric@documentcloud.org">Eric Umansky</a></strong>
    is an assistant managing editor at <a href="http://www.propublica.org">ProPublica</a>,
    where he edited its <a href="http://www.propublica.org/series/the-wall-street-money-machine">Pulitzer
    Prize-winning series about Wall Street</a>. Previously, he wrote a column for Slate 
    and was editor of Motherjones.com. He’s also written for The New York Times Magazine, 
    The Washington Post, The New Republic, and elsewhere. Eric is a co-founder of DocumentCloud.
  </p>

  <p class="bio">
    <img class="headshot" src="/images/home/staff/jeremy_new.jpg" alt="Jeremy Ashkenas">
    <strong>Jeremy Ashkenas</strong>, Lead Developer of DocumentCloud 2009-2011, is the creator of the
    <a href="http://wiki.github.com/jashkenas/ruby-processing/">Ruby-Processing</a>
    visualization toolkit, the <a href="http://coffeescript.org/">CoffeeScript</a>
    programming language, the <a href="http://backbonejs.org/">Backbone.js</a> JavaScript framework,
    and the <a href="http://underscorejs.org/">Underscore.js</a> JavaScript library.
    He is a two-time winner of the Sunlight Foundation’s Apps for America competition. He currently
    works at The New York Times.
  </p>

  <br />

  <p class="bio">
    <img class="headshot" src="/images/home/staff/amanda.jpg" alt="Amanda Hickman">
    <strong>Amanda Hickman</strong>, Program Director of DocumentCloud 2009-2011, currently teaches data analysis and visualization at CUNY Graduate School of Journalism. At DocumentCloud, she helped reporters around the world analyze, annotate, and publish primary source documents. Amanda managed development of a series of games about public policy issues as Gotham Gazette‘s director of technology. Amanda has taught at Columbia Graduate School of Journalism, NYU’s Gallatin School and CUNY Graduate School of Journalism.
  </p>
</div>
