<%
  @title  = "Contact"
  @header = "Contact: All the ways to get in touch"
%>

<div id="content">

  We're here to help you with DocumentCloud accounts or questions about the service. There are several ways to get in touch with us; check the section below that best fits what you need.

  <h2>Getting a DocumentCloud account</h2>
  <p>Currently, DocumentCloud is available to anyone who reports on primary source documents. Most users are in news organizations, but we do provide accounts for those who do document-based investigative reporting outside of a traditional newsroom. If that's you, we'd be glad to have you join. Please show us some of your reporting and tell us about the kind of documents you work with.</p>
  
  <p>To get an account:</p>
  
  <p>If your organization is already a DocumentCloud contributor, a person at your site with administrative privileges on DocumentCloud can create an account for you. If you don't know who that is, we can help you. Email us at <a href="mailto:support@documentcloud.org?subject=account help">support@documentcloud.org</a>.
  
  <p>If your organization is not yet a DocumentCloud contributor, you can <a href="mailto:info@documentcloud.org?subject=joining">request an account</a>. We ask two things of prospective users: permission to add your newsroom to our public list of <a href="/contributors">document contributors</a> and a note (email is fine) from your editor or editorial director confirming that they understand you'll be contributing documents to a public catalog and approve your participation in DocumentCloud. Once we get the go-ahead from your editor, expect to be up and running within two weeks.</p>

  <h2>Technical Support</h2>
  
  <p>You'll find the answers to most of your DocumentCloud questions in our <a href="https://www.documentcloud.org/help">Help documents</a>, such as <a href="https://www.documentcloud.org/help/publishing">how to publish documents</a> and <a href="https://www.documentcloud.org/help/collaboration">how to collaborate</a>.</p>
  
  <p>If you can't find the answer there, feel free to email us at <a href="mailto:support@documentcloud.org?subject=contact">support@documentcloud.org</a>.</p>
  
  <p>If you need help implementing our software components (e.g., Jammit, CloudCrowd, Underscore.js, Backbone.js, Docsplit, or Pixel Ping) please file an issue <a href="http://github.com/documentcloud">directly on Github</a>.</p>
  
  <h2>Feature Requests and Bug Reports</h2>
  
  <p>We welcome DocumentCloud bug reports and feature requests at <a href="http://documentcloud.uservoice.com">UserVoice</a>.</p>
  
  <h2>General Questions</h2>
  
  <p>For non-technical questions or general help, please email <a href="mailto:info@documentcloud.org?subject=question">info@documentcloud.org</a> or phone (202) 505-1010.</p>



</div>
