<%
  @title  = "Contact"
  @header = "Contact: All the ways to get in touch"
%>

<div id="content">

  <h2>Looking for an account?</h2>

  <p>If you’re interested in using DocumentCloud, just ask. <i>Okay, so it isn't quite that simple:</i></p>

  <p>DocumentCloud accounts are all newsroom based. DocumentCloud is available to anyone who reports on primary source documents. For the most part our users are journalists, but if you are doing document based investigative reporting we'd love to have you join us, even if you aren't a newsroom-based journalist in the conventional sense. If you're not in a traditional newsroom, please do show us some of your reporting and tell us a little bit about the kind of documents you're working with.</p>
  
 <p>If that describes you, definitely <a href="mailto:info@documentcloud.org?subject=joining">request an account</a>. We ask two things of prospective users: permission to add your newsroom to our public list of <a href="/contributors">document contributors</a> (you'd be in <a href="/contributors">excellent company</a>) and a note (email is just fine) from your editor confirming that they understand that you'll be contributing documents to a public catalog and approve your participation in DocumentCloud. Once we get the go-ahead from your editor, you should expect to be up and running with in a week. </p>

  <h2 id="officehours">Office Hours</h2>

  <p>We're experimenting with something new: office hours. Find us in <tt>#documentcloud</tt> on <tt>irc.freenode.net</tt>. New to IRC? The <a href="http://webchat.freenode.net/?channels=documentcloud">webchat</a> is the easiest way to hop on, but if you want to know more about how IRC works, there's <a href="http://www.irchelp.org/irchelp/ircprimer.html">a primer</a> for that, or if you're ready to test out different IRC clients, check out <a href="http://socialsourcecommons.org/tag/IRC">Social Source Commons</a>.</p>

  <p><a href="/about">Jeremy and Amanda</a> should definitely be in the channel most workdays from 9-5 eastern time, and the odds are good we'll keep longer hours than that. Drop in and let us know where you're stuck!</p>

  <h2>Other Questions</h2>

  <p>For other questions, feel free to  <a href="mailto:info@documentcloud.org?subject=question">email us</a>, though you can phone (646) 450-2162 or write to our Program Director directly (that’s <a href="mailto:amanda@documentcloud.org">amanda@documentcloud.org</a>).  </p>

  <p>Looking for technical support DocumentCloud? Browse <a href="/help">our documentation</a> or write to <em>support AT documentcloud DOT org</em>. We always welcome DocumentCloud bug reports and feature requests at <a href="http://documentcloud.uservoice.com">UserVoice</a>.  </p>

  <p>If you need help implementing our software components (eg. Jammit, CloudCrowd, Underscore.js, Backbone.js, Docsplit, or Pixel Ping) please file a bug <a href="http://github.com/documentcloud">directly on Github</a>.  </p>

</div>
