<%
  @title  = "Contact"
  @header = "Contact: All the ways to get in touch"
%>

<div id="content">

  We're here to help you with DocumentCloud accounts or questions about the service. There are several ways to get in touch with us; check the section below that best fits what you need.

  <h2>Getting a DocumentCloud account</h2>
  <p>Generally, DocumentCloud accounts are available to those who report on primary source documents. User accounts are organization-based, meaning that each user is connected to an overall organization account.</p>
  
  <p>There are several ways to get started with a DocumentCloud account:</p>
  
  <p>If you belong to a news organization, first check whether it's already a DocumentCloud contributor. If so, a person at your site with administrative privileges on DocumentCloud can create an account for you. If you don't know who that is, we can help. Email <a href="mailto:support@documentcloud.org?subject=account help">support@documentcloud.org</a>.
  
  <p>If your organization is not yet a DocumentCloud contributor, you can <a href="https://www.documentcloud.org/apply">apply for an organization account</a>. You will be asked to have an editor or manager grant permission to add your newsroom to our public list of <a href="/contributors">document contributors</a>; confirm that they understand you'll be contributing documents to a public catalog; and confirm you have read and agree to our <a href="https://www.documentcloud.org/terms">Terms of Service</a>. Once we receive this from your editor, expect to be up and running within a few days.</p>

  <p>At its discretion, DocumentCloud gives accounts to those who do document-based investigative reporting but are not employees of a news organization. Examples include freelancers on a specific assignment or educational uses. Requests are evaluated on a case-by-case basis. In general, we do not provide accounts until the website that will host the documents is live or can be previewed. When you <a href="https://www.documentcloud.org/apply">apply</a>, we'll ask you to show us some of your reporting and tell us about the kind of documents you work with.</p>

  <p>In addition, we are able to provide demo accounts to those who wish to evaluate the service but not publish documents. <a href="mailto:info@documentcloud.org?subject=demo">Contact us</a> to learn more.</p>


  <h2>Technical Support</h2>
  
  <p>You'll find the answers to most of your DocumentCloud questions in our <a href="https://www.documentcloud.org/help">Help documents</a>, such as <a href="https://www.documentcloud.org/help/publishing">how to publish documents</a> and <a href="https://www.documentcloud.org/help/collaboration">how to collaborate</a>.</p>
  
  <p>If you can't find the answer there, feel free to email us at <a href="mailto:support@documentcloud.org?subject=contact">support@documentcloud.org</a>.</p>
  
  <p>If you need help implementing our software components (e.g., Jammit, CloudCrowd, Underscore.js, Backbone.js, Docsplit, or Pixel Ping) please file an issue <a href="http://github.com/documentcloud">directly on Github</a>.</p>
  
  <h2>Feature Requests and Bug Reports</h2>
  
  <p>We welcome DocumentCloud bug reports and feature requests at <a href="http://documentcloud.uservoice.com">UserVoice</a>.</p>
  
  <h2>General Questions</h2>
  
  <p>For non-technical questions or general help, please email <a href="mailto:info@documentcloud.org?subject=question">info@documentcloud.org</a> or phone (202) 505-1010.</p>



</div>
