<% @title  = 'Frequently Asked Questions' %>

<header class="header_primary">
  <div class="container">
    <h1><%= link_to 'DocumentCloud', '/' %></h1>
    <nav class="header_nav">
      <%= link_to 'What is DocumentCloud?', home_url %>
    </nav>
  </div>
</header>

<div class="container paper-box">

  <h1>Frequently Asked Questions</h1>

  <p>Stub.</p>

 </div>

