<% @title  = 'Frequently Asked Questions' %>

<header class="header_primary">
  <div class="container">
    <h1><%= link_to 'DocumentCloud', '/' %></h1>
    <nav class="header_nav">
      <%= link_to 'What is DocumentCloud?', home_url %>
    </nav>
  </div>
</header>

<div class="container paper-box">

  <h1>Frequently Asked Questions</h1>

  <h2>General</h2>

  <p><b>What is DocumentCloud?</b></p>
  <p>DocumentCloud is a web-based software platform for organizing, researching, annotating, and publishing primary source documents. We offer a set of tools that help you find and tell stories in your documents.</p>

  <p><b>How much does it cost?</b></p>
  <p>Thanks to generous funding from the Knight Foundation, DocumentCloud since its launch in 2010 has been offered for free exclusively to journalism organizations. We are currently developing a paid model to ensure the DocumentCloud platform's sustainability, an effort you can read more about at the DocumentCloud blog.</p>

  <p><b>Who can have accounts?</b></p>
  <p>Currently, we are offering accounts to journalists -- both those within news organizations and those with a demonstrated freelance portfolio. In addition, we are opening the platform on a trial basis to users in related industries who work with public documents. Please apply.</p>

  <p><b>Where can I get help?</b></p>
  <p>You can find answers to most questions you have either in this FAQ or our Help documentation. If you can’t find the answer, or if you’re having trouble using DocumentCloud, please email us at support@documentcloud.org.

  <p><b>Where can I read your Terms of Service?</b></p>
  <p>The current version, as well as past versions, are here.</p>

  <h2>Privacy</h2>
  <p><b>What is DocumentCloud’s privacy policy?</b></p>
  <p>Please read our complete Privacy Policy for details.</p>

  <p><b>Who can see documents in my account?</b></p>
  <p>By default, any document you upload is set to "private" access and is viewable only by you. If you set the access level to "private to [your organization name]," then other DocumentCloud users in your organization can view the document, but not the public.</p>

  <h2>Accounts</h2>

  <p><b>How do I get an account?</b></p>
  <p>Start by filling out an application. Learn more about getting accounts at our Contact page.</p>

  <p><b>How does DocumentCloud organize accounts?</b></p>
  <p>Currently, we create accounts under the umbrella of an organization. That is, each user account is tied to at least one organization. This allows, for example, users within that organization to collaborate privately on documents.</p>

  <p><b>How do I log in and log out?</b></p>
  <p>To log in, on the DocumentCloud home page, enter your account email address and password in the login box. To log out, click the "Log Out" link at the top right of the workspace. Note: Always log out when you’re done working if you’re logged in on a shared computer.</p>

  <p><b>How do I reset my password?</b></p>
  <p>If you’ve forgotten your password, go to our password reset page: https://www.documentcloud.org/reset_password</p>

  <p><b>How do I change my email address and password?</b></p>
  <p>To change your email address, in the workspace, click the "Accounts" tab at top. Enter a new email address in the email box and click "Save." To change your password, Click the "Change Password" button, type your new password, and click "Save."</p>

  <p><b>Do I have to use my real name for my account?</b></p>
  <p>Yes, the DocumentCloud Terms of Service require that accounts use real names and valid email addresses. However, we allow organizations to create one shared account for posting documents and another shared account for use with automation technology or our API. These accounts should have an appropriate name, such as "[Organization name] Documents."</p>

  <p><b>How can I get accounts for others in my organization?</b></p>
  <p>Anyone in your organization who has a DocumentCloud account with administrator privileges can create accounts. Check around your organization, but if you’re not sure, email us at support@documentcloud.org</p>

  <p><b>What are the differences between admin, contributor and freelancer accounts?</b></p>
  <p>The abilities are largely similar but with some notable exceptions:</p>

  <table style="width:100%">
      <tr>
          <th style="font-weight:bold">Feature</th>
          <th style="font-weight:bold">Administrator</th>
          <th style="font-weight:bold">Contributor</th>
          <th style="font-weight:bold">Freelancer</th>
      </tr>
      <tr>
          <td>Add, modify or disable accounts</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
      </tr>
      <tr>
          <td>Access documents shared across an organization</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>No</td>
      </tr>
      <tr>
          <td>Upload, annotate, edit, publish documents</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
      </tr>
  </table>

  <p><b>Can I have more than one account with the same email?</b></p>
  <p>Yes, it is possible to use the same email with accounts under more than one organization. However, one of those organizations will be set as your default for uploading. We recommend using a different email for additional accounts.</p>

  <p><b>How many user accounts can an organization have under its account?</b></p>
  <p>Currently, there is no limit.</p>

  <p><b>What happens if my organization closes?</b></p>
  <p>Please notify DocumentCloud at support@documentcloud.org if your organization is closing, changing its name or experiencing another significant change. We value the documents uploaded and made public by our contributors and ask that you do not delete them. We will be glad to work with you on a transition plan.</p>

  <p><b>What happens to my documents and account if I leave my current organization?</b></p>
  <p>You are able at any time to download the original documents you uploaded to our service. Generally, we defer to each organization regarding disposition of the documents you uploaded to DocumentCloud while in their employment. Every organization has its own rules governing ownership of material generated while in their employment or service.</p>

  <p><b>Can I delete my account?</b></p>
  <p>Accounts cannot be deleted, but they can be disabled by another user within your organization who has administrator-level privileges. We (and the public) value the documents you uploaded and made public and are glad to continue to host them.</p>

  <h2>Search</h2>

  <p><b>What can I find in the public catalog?</b></p>
  <p>We feature more than 1.1 million documents provided by contributors ranging from The New York Times to The Guardian and hundreds of large and small news organizations, freelance journalists and others who report using public documents.</p>

  <p><b>Do I need an account to search the public catalog?</b></p>
  <p>No, you do not. We are proud to provide a valuable public resource at no cost.</p>

  <p><b>Will getting a DocumentCloud account allow me to see more documents?</b></p>
  <p>No, whether you have an account or not, the only documents available for viewing are those explicitly shared by the users who upload them.</p>

  <p><b>How can I search? (Some examples; link to help.)</b></p>
  <p>XXXXXXXXX</p>

  <p><b>Can I contribute documents to your public catalog?</b></p>
  <p>To start contributing, please apply for an account. You will need an active account to contribute documents. You can apply here.</p>

  <h2>Uploading</h2>
  <p><b>What kinds of file types can I upload?</b></p>
  <p>The most common file type our users upload is PDF, but DocumentCloud can process any file that LibreOffice can convert into a PDF. This includes Word documents, Excel spreadsheets, PowerPoint presentations, HTML and image files. We cannot process video, audio or closed-format files such as Outlook PST files.</p>

  <p><b>Is there a limit on the size of a file I can upload?</b></p>
  <p>Yes, 400 MB is the largest file you can upload.</p>

  <p><b>Are there restrictions on the content of documents I can upload?</b></p>
  <p>DocumentCloud is intended to be a repository of public documents. Our Terms of Service prohibits uploading copyrighted material that is not yours.</p>

  <p><b>How long does it take to process a document?</b></p>
  <p>Processing times will vary depending on the size of the file, whether or not it needs to be OCR’d, and current activity on the platform. Small documents are usually processed in a minute or less; larger documents can take significantly longer.</p>

  <p><b>What does DocumentCloud do with the documents I upload?</b></p>
  <p>When you upload a document, we save the original file. We extract images of each page in several sizes for our workspace and embeds. If there is a text layer embedded in the document, we retrieve that and store it in a database for searching. If there isn’t, we OCR the document to capture text. Finally, we pass the extracted text to the OpenCalais API to locate entities such as names, places and organizations.</p>

  <p><b>When I upload a document, can anyone else see it?</b></p>
  <p>By default, documents are set to private access upon upload. That means only you can see it. You have the option of setting access to "private to your organization," meaning anyone else with a DocumentCloud account in your organization can see it, or "public," meaning it’s viewable by everyone.</p>

  <p><b>Can I OCR my documents in languages other than English?</b></p>
  <p>Yes, we offer OCR in more than 20 languages via the Tesseract OCR engine’s language packs. In the workspace under the "Accounts" tab, choose your preferred language for OCR under the "New documents" drop down. Then click "Save."</p>

  <p><b>I don’t see the language I need for OCR. Can you add it?</b></p>
  <p>We are glad to add languages supported by Tesseract, the OCR engine we use. Please see https://en.wikipedia.org/wiki/Tesseract_(software) for a list of languages and contact us at support@documentcloud.org to discuss your needs.</p>

  <h2>Working with Documents</h2>

  <p><b>What information can I add to my documents?</b></p>
  <p>You can add several pieces of information either before or after uploading. These include a source, description, published URL and related article URL. To access these fields after you’ve uploaded a document, select the document and choose "Edit Document Information."</p>

  <p><b>What is the difference between Related Article URL and Published URL?</b></p>
  <p>Use the Related Article URL to tell readers the location of the article that uses this document as source material. Adding a URL in this field creates a Related Article link in the sidebar of the full viewer. The Published URL is the page where the document is embedded. Most users won't need to provide this — our platform can usually detect where the document is embedded. If a document might be accessed at more than one URL, however, you can specify the URL we should send users to if they find the document through a search of DocumentCloud.</p>

  <p><b>How can I add custom data (tags) to organize and search my documents?</b></p>
  <p>DocumentCloud allows you to define and search your own set of custom data (key/value pairs) associated with specific documents. To edit data for individual documents in the workspace, select the documents you wish to update, and choose "Edit Document Data" from the "Edit" menu. See "Editing and Searching your own Custom Data" in our Help section to learn more.</p>

  <p><b>How do I change the order of pages in a document I uploaded?</b></p>
  <p>Double-click the document to open it in the document workspace. In the sidebar, click "Reorder Pages." You’ll see thumbnails of all the pages in your document. Drag and drop pages into the order you’d like, then click "Save Page Order."</p>

  <p><b>How do I insert or replace pages in a document I uploaded?</b></p>
  <p>To insert one or more pages:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Double-click the document to open it in the document workspace.</li>
      <li>In the sidebar, click "Insert/Replace Pages." You’ll see thumbnails of all the pages in your document.</li>
      <li>To insert new pages at a specific position within the document, click between the pages above. If you'd like to replace a specific page with a new copy, click on the page you'd like to remove. Hold down the shift key to select multiple pages to replace at once.</li>
      <li>When you're ready, click the "Upload Pages" button.</li>
  </ul>

  <p><b>How do I remove pages from a document I uploaded?</b></p>
  <p>We recommend you retain a backup of your document before removing pages. To remove one or more pages:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Double-click the document to open it in the document workspace. In the sidebar, click "Remove Pages." You’ll see thumbnails of all the pages in your document.</li>
      <li>Select the pages you’d like to delete from your document, and then click "Remove X Pages."</li>
      <li>Note that once you remove pages they are permanently deleted and your original document is replaced.</li>
  </ul>

  <p><b>How do I redact portions of my document?</b></p>
  <p>We recommend you retain a backup of your document before making redactions. To redact a portion of a document:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Double-click the document to open it in the document workspace. In the sidebar, click "Redact Document."</li>
      <li>Click and drag to draw a black rectangle over each portion of the document you'd like to redact. (You can redact more than one section at a time.)</li>
      <li>When finished, click "Save Redactions."</li>
  </ul>
  <p><b>Does redacting a document also remove the text extracted from it?</b></p>
  <p>When you redact a portion of a document, we erase all data related to the redacted information, create a new redacted document, and delete the original document. Any text that was part of the redacted portion is deleted.</p>

  <p><b>Can I change the orientation of a page in a document?</b></p>
  <p>Currently, we do not support this. We recommend that you change the orientation of the page before uploading your document.</p>

  <p><b>How do I delete documents?</b></p>
  <p>In the workspace, right-click a document and select "Delete Document." You’ll be asked to confirm your choice.</p>

  <p><b>Once I delete a document, can I get it back?</b></p>
  <p>No, once you delete a document it’s permanently deleted from our platform.</p>

  <h2>Analyzing Data in Documents</h2>

  <p><b>How can I see entities extracted from my documents?</b></p>
  <p>Select one or more documents in the workspace. Under the "Analyze" menu, select "View Entities."</p>

  <p><b>How can I see a timeline of the dates in a document?</b></p>
  <p>Select one or more documents in the workspace. Under the "Analyze" menu, select "View Timeline." To zoom in on a time period, drag your cursor over a selection of dates.</p>

  <h2>Working With OCR and Document Text</h2>

  <p><b>What kind of OCR software does DocumentCloud use?</b></p>
  <p>We use Tesseract, an open-source OCR engine. Google currently sponsors development.</p>

  <p><b>Do you OCR every document I upload?</b></p>
  <p>No. If your document contains embedded text, we save that in our database. We use OCR only when there’s no text layer.</p>

  <p><b>Can I OCR a document even if it has text embedded in it?</b></p>
  <p>Yes. Double-click the document to open it in the document workspace. In the sidebar, click "Reprocess Text." In the dialog, click "Force OCR."</p>

  <p><b>How do I edit the text extracted from my document?</b></p>
  <p>To edit text:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Double-click the document to open it in the document workspace. In the sidebar, click "Edit Page Text."</li>
      <li>Navigate through pages in your document using the arrows.</li>
      <li>Save your edits by clicking "Save Text."</li>
  </ul>

  <p><b>How do I download all the text from a document?</b></p>
  <p>Select the document in the workspace. Under the "Publish" menu, choose "Download Full Text." Your browser will open a separate window or tab open to a URL that contains all the text. You can save it or copy and paste into a text editor.</p>

  <h2>Annotating</h2>

  <p><b>What are notes?</b></p>
  <p>In DocumentCloud, notes are a way to highlight important sections of documents with a short headline and explanatory text. Notes can either be private -- viewable only by you -- or public, meaning if you share your document with others in your organization or make it fully public, then readers will see your notes.</p>

  <p><b>How do I add a note?</b></p>
  <p>To add a note:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Double-click the document to open it in the document workspace. In the sidebar, click either "Add a Public Note" or "Add a Private Note."</li>
      <li>Drag your cursor to draw a box over the area of the document you want to highlight.</li>
      <li>When you release your cursor, you’ll see a dialog box that lets you add a short headline and some explanatory text.</li>
      <li>When done, click "Save."</li>
  </ul>

  <p><b>How do I edit an existing note?</b></p>
  <p>Find the note on your document and select it. Click the pencil icon to the right of the headline to edit the note.</p>

  <p><b>What is a draft note?</b></p>
  <p>You can save a public note as "Draft" if you’re not ready to publish it yet. While it’s in draft mode, the note will not be visible to others and will show a "Draft" icon in its header. You can switch the note to public by selecting it and clicking "Publish."</p>

  <p><b>What is the difference between public and private notes?</b></p>
  <p>Public notes are visible to anyone who has access to the document. Private notes are viewable only by the person who uploaded the document.</p>

  <p><b>Can I make a private note public or vice-versa?</b></p>
  <p>Not at this time. If you need to change the status of a note from public to private, or vice-versa, edit the note, copy the contents, and delete it. Then re-draw a new public or private note and add the information you copied.</p>

  <p><b>What is a page note, and how do I add one?</b></p>
  <p>Instead of highlighting a portion of a document, you can create a note that appears at the top of a page. To do this, follow the directions for creating a note and, rather than drawing a box on a page, click in between any two pages (or above the first page).</p>

  <p><b>How can I format the text of notes to make words bold, italic, etc.?</b></p>
  <p>You can format text in notes by using some basic HTML codes. For example, to bold a phrase, precede it with &lt;b&gt; and end it with &lt;/b&gt;.</p>

  <p><b>How do I publish a note?</b></p>
  <p>Any public notes you create are visible (i.e., published) as soon as you set the document’s access level to either "public."</p>

  <p><b>How do I link directly to a note from a website?</b></p>
  <p>Each public note has a specific URL that you can share. To find it, select the note. Then click the chain-link icon to the right of the small headline. In your browser, the URL will change to the note link. Copy that and use it on your website. When a reader clicks the link, they’ll be directed to the document with the note open.</p>

  <p><b>How do I embed a note on a website?</b></p>
  <p>In the workspace, select a document that has notes. Under the "Publish" menu, choose "Embed a Note." That will launch a dialog box to lead you through creating an embed code. For more on publishing notes and other assets, please consult our Help documents.</p>

  <h2>Projects</h2>

  <p><b>What are projects?</b></p>
  <p>Projects are labels you can apply to groups of documents to organize them by topic or project. A document can live in more than one project.</p>

  <p><b>How do I create a project?</b></p>
  <p>In the workspace at left, click the "New Project" button. Give your project a name and click "Save."</p>

  <p><b>Can I create sub-projects inside a project?</b></p>
  <p>Not at this time. However, if you are looking for a way to easily organize, filter or search your documents, we recommend you add custom data.</p>

  <p><b>How do I add documents to a project?</b></p>
  <p>You can drag and drop the file icon on the project title at the left of the workspace. Or highlight the file in the workspace, click the "Projects" icon, and choose the name of a project.</p>

  <p><b>How do I remove documents from a project?</b></p>
  <p>Select a document in the workspace. Click the "Projects" menu, which displays all your project titles. You’ll see a check mark next to each project the document belongs to. Find the project that you want to remove the document from, and click the title to remove the check mark.</p>

  <p><b>How do I share a project with others?</b></p>
  <p>In the workspace, hover over the name of your project in the project list, then click the pencil icon to show the project editing dialog. Click "Add a collaborator to this project." You can add email addresses of people who have DocumentCloud accounts -- whether they belong to your organization or another.</p>

  <p><b>Can I make all documents in a project public at once?</b></p>
  <p>At this time, no. You can edit up to 30 documents at a time in the workspace by setting the view to thumbnails and selecting all documents with your cursor. If you have a large number of documents, please contact us at support@documentcloud.org to discuss other options.</p>

  <h2>Collaboration</h2>

  <p><b>How can I see documents others in my organization have uploaded?</b></p>
  <p>At the top left of the workspace is a link to view all documents that users have either set to "public" access or "private to your organization." Clicking the arrow next to your organization name will reveal each user, and you can then click their name to see their documents.</p>

  <p><b>Can I let someone see a private document without letting them make changes to it?</b></p>
  <p>Yes, you can do this by granting them "reviewer" access. To do so:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Select one or more documents in the workspace. Under the "Analyze" menu, select "Share this document."</li>
      <li>In the dialog box that opens, click "Add Reviewer" and provide an email address and name for the person.</li>
      <li>Provide an optional message and click "Send."</li>
      <li>They’ll receive an email with a unique link to access the document.</li>
  </ul>

  <h2>Embedding and Sharing documents</h2>

  <p><b>How do I make a document visible to the public?</b></p>
  <p>In the workspace, select one or more documents. Under the "Edit" menu, choose "Access Level."
  Pick one of the three options. "Public Access" means anyone on the internet can search for and view the document. "Private Access" means only you and people with explicit permission (via collaboration) have access. "Private to [Organization Name]" means only the people in your organization have access. (No freelancers.)</p>

  <p><b>How do I set a time for a document to become public?</b></p>
  <p>If your document is private, you can set a publication date for it:</p>
  <ul style="list-style-type: disc;margin-left:20px">
      <li>Select one or more documents in the workspace. Under the "Publish" menu, select "Set Publication Date."</li>
      <li>Choose the date and time for publication and press "Save."</li>
  </ul>
  <p>The date and time set will show in the workspace. If you change your mind, re-open the publication date dialog and choose "Cancel."</p>

  <p><b>How do I get the URL of a document I want to share?</b></p>
  <p>Make sure you have set the document’s access to "public." Double-click a document to open it in the document workspace. The URL for sharing the document is now in your browser’s URL bar. The format is https://www.documentcloud.org/documents/[ID Number]-document-title-words.html</p>

  <p><b>How do I embed a document, page, notes or collection of documents on my website?</b></p>
  <p>DocumentCloud provides a wizard that walks you through the steps of generating codes for each type of embed. You then typically add the embed code to your website using your content management system’s embed function.</p>

  <p><b>Will DocumentCloud work with my CMS?</b></p>
  <p>DocumentCloud’s used by hundreds of organizations worldwide with many different content management systems. If your CMS offers the ability to embed snippets of JavaScript and HTML, you should be fine. We’re available to talk with your CMS’s developers to iron out any questions. Please contact us at support@documentcloud.org.</p>

  <p><b>Do embeds work on phones?</b></p>
  <p>Yes, all of our embed types can be viewed on phone or tablet screens. However, our page and note embeds are responsive and will work best on those devices.</p>

  <p><b>How do I embed documents using WordPress?</b></p>
  <p>The best way is to install our custom WordPress plugin, which lets you embed by entering shortcodes into your text. See the documentation for details.</p>

  <p><b>How do I change the width or height of an embed on my site?</b></p>
  <p>You can set the width and height while creating it using the embed wizard.</p>

  <p><b>Can readers make changes to documents I embed?</b></p>
  <p>No, only you or DocumentCloud users in your organization.</p>

  <p><b>Can I prevent people from downloading my original document?</b></p>
  <p>If you are embedding a document with our full viewer, you can disable the link to the original PDF that appears in the sidebar by unchecking the box in the embed wizard. Nevertheless, once you set your document to public access, it will appear in Internet search results, and people will be able to download it.</p>

  <p><b>How do I make the sidebar show or hide in the document viewer?</b></p>
  <p>Check or uncheck the "Show the Sidebar" option in the embed wizard. When embedding the viewer at narrow widths, hiding the sidebar is usually a good idea.</p>

  <h2>DocumentCloud's API</h2>

  <p><b>What is the DocumentCloud API?</b></p>
  <p>DocumentCloud's API provides resources to search, upload, edit, and organize documents as well as to work with projects. In addition, an oEmbed service provides easy integration of embedding documents, pages and notes. Full documentation is available.</p>

  <p><b>Do you need a DocumentCloud account to use the API?</b></p>
  <p>As with DocumentCloud’s workspace, you need an account to use the API to upload, update or delete documents, or create and modify projects. Other API functions, such as search, do not require an account. Consult the documentation for details.</p>

  <p><b>What libraries are available for working with the API?</b></p>
  <p>The open-source community has contributed several helpful libraries for interacting with DocumentCloud's API. These include Python, Ruby and Node.js wrappers. See the listing in the API documentation.</p>

  <p><b>Are there limits on API use?</b></p>
  <p>Yes. Please read our complete API Guidelines and Terms of Service.</p>

 </div>
