<%
  @title  = "Frequently Asked Questions"
  @header = "Frequently Asked Questions"
%>

<div id="content">

  <h6>What is it? </h6>
  <p>DocumentCloud is both a repository of primary source documents and a tool for document-based investigative reporting. Think of the repository as a card catalog for primary source documents. Our tools accelerate the work of reporters who need to make sense of large sets of documents. (You can use it on small sets, too.) </p>
  
  <h6>Yes, but what <i>is</i> it?</h6>
  <p>Ruby (<a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>) and JavaScript. We're using <a href="http://en.wikipedia.org/wiki/Tesseract_%28software%29">Tesseract</a> for OCR and <a href="http://www.opencalais.com/">OpenCalais</a> for entity extraction. Take a look at <a href="http://github.com/documentcloud">our GitHub projects</a> and <a href="http://blog.documentcloud.org">our blog</a> to get a better sense of the tools we’re using.</p>
  
  <h6>What can I do with it?</h6>
  <p>Take a look at <a href="/featured">what other reporters are doing</a> with it! And that's just the beginning. When you upload a document to DocumentCloud, you can annotate it, share it with colleagues in your newsroom or beyond your newsroom, view lists of people and places named in it, plot the dates it contains on a timeline and more. </p> 
  
  <h6>How do I get an account?</h6>
  <p>Learn more about getting accounts via our <a href="/contact">Contact</a> page.</p>
  
  <h6>Is there an API?</h6>
  <p><a href="/help/api">Yes.</a> </p>
  
  <h6>Are my documents automatically public?</h6>
  <p>No. DocumentCloud was started by journalists who understand journalism. Documents you upload aren't public until you make them public.</p>
  
  <h6>Can I keep documents behind a pay wall?</h6>
  <p>Sure. Other reporters who are DocumentCloud users can view your public documents from our workspace, but your public facing copy can sit behind a paywall. If the general public has no access to your reporting, however, you probably aren't a good fit -- DocumentCloud is intended as a public catalog.</p>
  
  <h6>What does it cost?</h6>
  <p>Currently, DocumentCloud is a free service. In the future, we will develop models to ensure the platform's sustainability. See the next section for more.</p>
  
  <h6>Who funds it? </h6>
  <p>DocumentCloud has been funded by generous grants from the <a href="http://www.knightfoundation.org/">John S. and James L. Knight Foundation</a>. Initial funding came in 2009, when DocumentCloud was the winner of a <a href="http://www.knightfoundation.org/grants/20083268/">Knight News Challenge</a> grant. The Knight Foundation awarded subsequent grants in <a href="http://www.knightfoundation.org/grants/20110146/">2011</a> and <a href="http://www.knightfoundation.org/press-room/press-release/documentcloud-annotation-tool-journalists-improve-/">2014</a> to further develop the platform. The latest grant is designed to expand the DocumentCloud team, improve the service and find revenue models that can help DocumentCloud reach sustainability. Finally, in 2011, DocumentCloud <a href="http://blog.documentcloud.org/blog/2011/06/new-home-at-ire/">merged with Investigative Reporters and Editors</a>, a nonprofit grassroots organization committed to fostering excellence in investigative journalism. IRE, itself housed at the Missouri School of Journalism at the University of Missouri in Columbia, provides staff support and guidance to the team while connecting us strongly to the journalists whose work is at the core of the platform.</p>
  
  <h6>Why would I want to share my documents? </h6>
  <p>Because it makes your documents and your reporting more findable, more useful and ultimately more popular. </p>
  <p>We know that many journalists want to share their source materials. It’s one of the reasons why most news organizations post source documents alongside news stories on their websites. DocumentCloud makes it easy to make those documents useful or even findable after the story fades from the headlines.</p>
  <p>Many other organizations (bloggers, watchdog groups, citizen journalists) are in that same boat. They have a wealth of documents but are only able to post them as individual PDF files. This is the problem DocumentCloud solves. </p>
  
  <h6>Can’t I already find documents using a search engine? </h6>
  <p>Search engines are very powerful; our goal is to make documents even easier to find on search engines. DocumentCloud has information about documents and relations between them, for example what locations, people, or organizations a group of documents have in common. </p>
  
  <h6>How do you guarantee authenticity?</h6>
  <p>Currently, we limit access to journalists and other researchers who have an established editorial process and a history of publishing high quality reporting. Each contributing organization takes responsibility for ensuring that the documents it uploads to DocumentCloud are what they say they are.</p>
  
<div id="faqs">
<h6>Find more answers to new questions on <a href="http://blog.documentcloud.org/blog/tag/faq/">our blog</a>.</h6> 

    <ul>
        <li><a href="http://blog.documentcloud.org/blog/2011/08/getting-the-most-out-of-documentcloud/">Where to find examples of our API in action</a></li>
        <li><a href="http://blog.documentcloud.org/blog/2011/05/faq-blogs/">Blog software and other CMSs</a></li>
        <li><a href="http://blog.documentcloud.org/blog/2011/04/long_wait/">Uploads that take too long</a></li>
        <li><a href="http://blog.documentcloud.org/blog/2011/01/frequently-asked-questions-journalism-school-edition/">How we work with journalism schools</a></li>
        <li><a href="http://blog.documentcloud.org/blog/2010/12/frequently-asked-questions-wikileaks-edition/">WikiLeaks</a></li>
    </ul>

</div>
</div>
