<%
  @bodyclass = 'homepage'
  @nav       = 'overview'
%>

<div id="content">

  <div id="analyze" class="graf section">
    <div class="number one"></div>
    <h2>Know more about your documents.</h2>
    <img class="visual left" src="/images/home/entities_small.png" width="275" height="90" />
    DocumentCloud runs every document you upload through
    <a href="http://www.opencalais.com/">Thomson Reuters OpenCalais</a>, giving you
    access to extensive information about the people, places and organizations
    mentioned in each.
  </div>

  <div class="graf">
    <img class="visual" src="/images/home/timeline2.png" width="307" height="106" />
    Reveal all the dates mentioned in a set of documents, and plot them on a
    timeline. Zoom in to view just the few critical months or days. Discover
    documents related to your story and explore links to the original reporting.
  </div>

  <hr />

  <div id="annotate" class="graf section">
    <div class="number two"></div>
    <h2>Highlight what matters.</h2>
    <img class="visual left" src="/images/home/note.png" width="275" height="118" />
    Annotate documents to highlight key passages. Use public notes to compose
    annotations that will be part of your published reporting, and private
    notes to organize your own thoughts. Every note has a unique URL, so you can
    point readers right to the passage you want to highlight.
  </div>

  <div class="graf">
    When <a href="http://news.stlpublicradio.org/">St. Louis Public Radio</a> published
    <a href="http://apps.stlpublicradio.org/ferguson-project/evidence.html">thousands
    of pages</a> of grand jury testimony, forensic reports and other documents related
    to the death of Michael Brown in Ferguson, Mo., they served their audience by
    <a href="https://www.documentcloud.org/documents/1370501-grand-jury-volume-12.html#document/p32/a189751">
    identifying passages</a> containing key eyewitness accounts.
  </div>

  <hr />

  <div id="publish" class="graf section">
    <div class="number three"></div>
    <h2>Share your work.</h2>
    <img class="visual" src="/images/home/viewer.png" width="300" height="351" />
    Everything you upload to DocumentCloud stays private until you're ready
    to make it public, but once you decide to publish, your documents
    join more than one million other primary source documents in our
    public catalog.
    Use our document viewer to
    <a href="http://www.pbs.org/newshour/spc/rundown/documents/mark-twain-concerning-the-interview.html">embed documents on your own website</a>
    and introduce your audience to the larger paper trail behind your story.
  </div>

  <div class="graf">
    From our catalog, reporters and the public alike can find your documents
    and follow links back to your reporting. DocumentCloud contains
    court filings, hearing transcripts, testimony, legislation, reports,
    memos, meeting minutes, and correspondence. See what's
    <a href="/public/search/">already in our catalog</a>.
    Make your documents part of the cloud.
  </div>

</div>

<div id="tweets" style="display:none;">

</div>

<div id="pitch">
  If you regularly report on primary source documents,<br />
  DocumentCloud can help you get the most out of them.
  <a href="/apply" style="text-decoration:none;"><div class="minibutton default">Join DocumentCloud</div></a>
</div>
