<%
  @bodyclass = "homepage"
%>

<a id="knightfdn" class="imagelink" href="http://knightfoundation.org/"></a>

<div id="docs_wrapper">
  <img id="document_stack" alt="" src="/images/home/art.png" />
</div>

<div id="container">

  <div id="sidebar" class="sans">
    
    <div id="search_wrapper" class="sidebar_section gradient_light">
      <div id="search_desc">
        Search thousands of public documents<br />
        from newsrooms across the country:
      </div>
      <div id="search_box_wrapper" class="text_input search noselect">
        <div class="icon search_glyph"></div>
        <div class="search_inner">
          <input placeholder="Search..." id="search_box" />
        </div>
        <div class="icon cancel_search" title="clear search"></div>
      </div>
    </div>
    
    <div id="join" class="sidebar_section gradient_light">
      DocumentCloud is a tool for journalists.<br /> 
      If you're regularly working with primary source documents, we can help.
      <div class="minibutton default" id="join_button">Join DocumentCloud</div>
    </div>
    
    <div id="news" class="sidebar_section gradient_light">
      <div id="news_desc">
        Latest News
      </div>
      <ul>
        <li>
          <a href="#">Code Drop: Backbone.js</a> – 
          <span class="date">Oct 13, 2010</span>
        </li>
        <li>
          <a href="#">How to: Grab Thumbnail Images</a> – 
          <span class="date">Oct 08, 2010</span>
        </li>
        <li>
          <a href="#">Questions, Answered</a> – 
          <span class="date">Sep 22, 2010</span>
        </li>
        <li>
          <a href="#">Evaluating Amazon's EC2 Micro Instances</a> – 
          <span class="date">Sep 15, 2010</span>
        </li>
        <li>
          <a href="#">Mini Document Viewers</a> – 
          <span class="date">Sep 10, 2010</span>
        </li>
        <li>
          <a href="#">Code Drop: Pixel Ping</a> – 
          <span class="date">Sep 08, 2010</span>
        </li>
      </ul>
    </div>
    
  </div>

  <div id="content">

    <div id="analyze" class="graf section">
      <div class="number one"></div>
      <h1>Know more about your documents.</h1>
      <img class="visual left" src="/images/home/entities_small.png" />
      DocumentCloud runs every document you upload through
      <a href="http://www.opencalais.com/">OpenCalais</a>, giving you
      access to extensive information about the people, places and organizations
      mentioned in each.
    </div>
    
    <div class="graf">
      <img class="visual" src="/images/home/timeline_small.png" />
      Reveal all the dates mentioned in a set of documents,
      and plot them on a timeline. Discover documents related to your story and explore links
      to the reporting behind them. Run sophisticated searches across the documents
      in your project, or all of DocumentCloud.
    </div>
    
    <hr />

    <div id="annotate" class="graf section">
      <div class="number two"></div>
      <h1>Highlight what matters.</h1>
      <img class="visual left" src="/images/home/note.png" />
      Annotate documents to highlight key passages. Use public notes to compose 
      annotations that will be part of your published reporting, and private 
      notes to organize your own thoughts. Every note has a unique URL, so you can
      point readers right to the passage you want to highlight.
    </div>

    <div class="graf">
      When Memphis&rsquo; Commercial Appeal published
      <a href="http://www.commercialappeal.com/withers-exposed/">Ernest Withers: Exposed</a>, 
      an extensive investigation which revealed that the photographer responsible 
      for some of the most iconic photographs of the civil rights movement, 
      Ernest Withers, had also been working as an FBI  informant, they were able 
      to point readers right to 
      <a href="http://www.commercialappeal.com/withers-exposed/pages-from-foia-reveal-withers-as-informant/#document/p2/a2431">the passage</a>
      that revealed the identity of confidential informant ME 338-R.
    </div>
    
    <hr />

    <div id="publish" class="graf section">
      <div class="number three"></div>
      <h1>Share your work.</h1>
      <img class="visual" src="/images/home/viewer.png" />
      Everything you upload to DocumentCloud stays private until you're ready 
      to make it public, but once you decide to publish your primary source documents, 
      they join thousands of other documents in our public catalog.
      Use our document viewer to embed documents on your own website and
      introduce your audience to your story&rsquo;s paper trail.
    </div>

    <div class="graf">
      From our catalog, reporters and the public alike can find your documents 
      and follow links back to your original reporting. DocumentCloud contains 
      court filings, hearing transcripts, testimony, legislation, lab reports, 
      memos, meeting minutes, correspondence. See what's 
      <a href="/public">already in our catalog</a>. 
      Make your documents part of the cloud.
    </div>

  </div>

</div>
