<%
  @bodyclass = "homepage"
%>

<a id="knightfdn" class="imagelink" href="http://knightfoundation.org/"></a>

<img id="document_stack" alt="" src="/images/home/docs.png" />

<div id="container">

  <h1 id="tagline">
    <b>DocumentCloud</b> turns documents into data.
  </h1>

  <div id="search_box_wrapper" class="text_input search noselect">
    <div class="icon search_glyph"></div>
    <div class="search_inner">
      <input placeholder="Search thousands of public documents..." id="search_box" />
    </div>
    <div class="icon cancel_search" title="clear search"></div>
  </div>

  <h2 class="serif">
    DocumentCloud can help you <b>analyze</b> your primary source documents,<br /> <b>annotate</b> 
    highlights,
    and <b>publish</b> the material that supports your story.
  </h2>

  <div id="content">

    <div class="graf section">
      <div class="number one"></div>
      <h3><b>Analyze</b></h3>
      <h4 class="serif">The people, places, organizations, and dates in your docs.</h4>
      <br />
      DocumentCloud runs every document you upload through
      <a href="http://www.opencalais.com/">OpenCalais</a>, giving you
      access to extensive information about the people, places and organizations
      mentioned in each. We find all the dates in a document, and plot them on
      a timeline for you. We&rsquo;ll even help you find related documents and
      reporting in our catalog.
    </div>

    <span class="photo">
      <img src="/images/home/entities.png" />
      <span class="caption serif">Listing each page that contains a reference to a specific organization.</span>
    </span>

    <div class="graf section">
      <div class="number two"></div>
      <h3><b>Annotate</b></h3>
      <h4 class="serif">Highlight what matters.</h4>
      <br />
      Annotate documents to highlight key passages. Use <b>private notes</b> to organize
      your own thoughts. Use <b>public notes</b> to compose annotations that will be part
      of your published reporting. Every annotation has a unique URL, so you can
      point readers right to the passage you want to highlight.
    </div>

    <div class="graf">
      When Memphis&rsquo; Commercial Appeal published
      <a href="http://www.commercialappeal.com/withers-exposed/">Ernest Withers: Exposed</a>, 
      an extensive investigation which revealed that the photographer responsible 
      for some of the most iconic photographs of the civil rights movement, 
      Ernest Withers, had also been working as an FBI  informant, they were able 
      to point readers right to 
      <a href="http://www.commercialappeal.com/withers-exposed/pages-from-foia-reveal-withers-as-informant/#document/p2/a2431">the passage</a>
      that revealed the identity of confidential informant <b>ME 338-R</b>.
    </div>
    
    <span class="photo bleed">
      <img src="/images/home/withers.png" />
      <span class="caption serif">Highlighting the sentence that reveals Withers&rsquo; informant number.</span>
    </span>

    <div class="graf section">
      <div class="number three"></div>
      Consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
      vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
      zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum
      dolor sit amet, consectetuer adipiscing.
    </div>

  </div>

</div>
