<%
  @bodyclass = 'homepage'
%>

<a id="knightfdn" class="imagelink" href="http://knightfoundation.org/"></a>

<img id="document_stack" alt="" src="/images/home/docs.png" />

<div id="container">

  <h1 id="tagline">
    <b>DocumentCloud</b> turns documents into data.
  </h1>
  
  <div id="search_box_wrapper" class="text_input search noselect">
    <div class="icon search_glyph"></div>
    <div class="search_inner">
      <input placeholder="Search thousands of public documents..." id="search_box" />
    </div>
    <div class="icon cancel_search" title="clear search"></div>
  </div>
  
  <h2 class="serif">
    DocumentCloud is a tool for journalists. If you're working with large 
    (or small!) volumes of primary source documents, we can help you 
    <b>analyze</b> your material, <b>annotate</b> the important bits, and <b>publish</b> the source
    documents alongside your story.
  </h2>
  
  <div id="content">
    
    <div class="graf">
      <div class="number one"></div>
      <h3><b>Analyze</b></h3>
      <h4 class="serif">The people, places, organizations, and dates in your docs.</h4>
      <br />
      DocumentCloud runs every document you upload through 
      <a href="http://www.opencalais.com/">OpenCalais</a>, giving you 
      access to extensive information about the people, places and organizations 
      mentioned in each. We find all the dates in a document, and plot them on 
      a timeline for you. We'll even help you find related documents and 
      reporting in our catalog.
    </div>

    <div class="graf">
      <div class="number two"></div>
      Erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
      ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis 
      autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie 
      consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
    </div>

    <div class="graf">
      <div class="number three"></div>
      Consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at 
      vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum 
      zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum 
      dolor sit amet, consectetuer adipiscing.
    </div>
    
  </div>
  
</div>