<%
  @bodyclass = 'homepage'
  @nav       = 'overview'
%>

<div id="content">

  <div id="analyze" class="graf section">
    <div class="number one"></div>
    <h1>Know more about your documents.</h1>
    <img class="visual left" src="/images/home/entities_small.png" />
    DocumentCloud runs every document you upload through
    <a href="http://www.opencalais.com/">OpenCalais</a>, giving you
    access to extensive information about the people, places and organizations
    mentioned in each.
  </div>

  <div class="graf">
    <img class="visual" src="/images/home/timeline2.png" />
    Reveal all the dates mentioned in a set of documents, and plot them on a
    timeline. Zoom in to view just the few critical months, or days. Discover
    documents related to your story and explore links to the reporting behind
    them.
  </div>

  <hr />

  <div id="annotate" class="graf section">
    <div class="number two"></div>
    <h1>Highlight what matters.</h1>
    <a href="http://www.lasvegassun.com/hospital-care/documents/butts-motion/#document/p9/a4632"><img class="visual left" src="/images/home/note.png" /></a>
    Annotate documents to highlight key passages. Use public notes to compose
    annotations that will be part of your published reporting, and private
    notes to organize your own thoughts. Every note has a unique URL, so you can
    point readers right to the passage you want to highlight.
  </div>

  <div class="graf">
    When Memphis&rsquo; Commercial Appeal published
    <a href="http://www.commercialappeal.com/withers-exposed/">Ernest Withers: Exposed</a>,
    an extensive investigation which revealed that the photographer responsible
    for some of the most iconic photographs of the civil rights movement,
    Ernest Withers, had also been working as an FBI  informant, they were able
    to point readers right to
    <a href="http://www.commercialappeal.com/withers-exposed/pages-from-foia-reveal-withers-as-informant/#document/p2/a2431">the passage</a>
    that revealed the identity of confidential informant ME 338-R.
  </div>

  <hr />

  <div id="publish" class="graf section">
    <div class="number three"></div>
    <h1>Share your work.</h1>
    <a href="http://www.pbs.org/newshour/rundown/documents/mark-twain-concerning-the-interview.html"><img class="visual" src="/images/home/viewer.png" /></a>
    Everything you upload to DocumentCloud stays private until you're ready
    to make it public, but once you decide to publish your primary source documents,
    they join thousands of other documents in our public catalog.
    Use our document viewer to embed documents on your own website and
    introduce your audience to your story&rsquo;s paper trail.
  </div>

  <div class="graf">
    From our catalog, reporters and the public alike can find your documents
    and follow links back to your original reporting. DocumentCloud contains
    court filings, hearing transcripts, testimony, legislation, lab reports,
    memos, meeting minutes, correspondence. See what's
    <a href="/public">already in our catalog</a>.
    Make your documents part of the cloud.
  </div>

</div>

<div id="quotes">
  <div class="quote">
    &ldquo;DocumentCloud really saved my bacon.&rdquo;
    <div class="attribution">&mdash; Testy McTest</div>
  </div>
  <div class="quote">
    &ldquo;After two weeks on DocumentCloud, I could fit into my wedding dress again.&rdquo;
    <div class="attribution">&mdash; Testina Test</div>
  </div>
  <div class="quote">
    &ldquo;I love DocumentCloud! It helped me succeed with my passion!&rdquo;
    <div class="attribution">&mdash; Tester McTesterson</div>
  </div>
  <div class="minibutton default" id="quotes_button">Join DocumentCloud</div>
</div>
