<%
  @bodyclass = 'homepage'
%>

<img id="document_stack" alt="" src="/images/home/docs.png" />

<div id="container">

  <h1 id="tagline">
    <b>DocumentCloud</b> turns documents into data.
  </h1>
  
  <div id="search_box_wrapper" class="text_input search noselect">
    <div class="icon search_glyph"></div>
    <div class="search_inner">
      <input placeholder="Search thousands of public documents..." id="search_box" />
    </div>
    <div class="icon cancel_search" title="clear search"></div>
  </div>
  
  <div id="content">
    
    <h2>
      DocumentCloud is a tool for journalists. If you're working with large 
      (or small!) volumes of primary source documents, we can help you 
      draw connections and gain more information from them.
    </h2>
    
    <div class="graf">
      <div class="number one"></div>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut 
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure 
      dolor in hendrerit in vulputate velit esse molestie.
    </div>

    <div class="graf">
      <div class="number two"></div>
      Erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
      ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis 
      autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie 
      consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
    </div>

    <div class="graf">
      <div class="number three"></div>
      Consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at 
      vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum 
      zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum 
      dolor sit amet, consectetuer adipiscing.
    </div>
    
  </div>
  
</div>