<%
  @title  = "DocumentCloud for your Language"
  @header = "Interested in DocumentCloud for your language?"
%>

<div id="content">
  <div id="multilanguage">
    <h6>Get in touch.</h6>
    <br/>
    <p>We're working on bringing DocumentCloud's tools and platform to languages beyond English.  As part of the effort, we want to know more about the reporters and reporting organization who would like to use DocumentCloud in languages we don't yet support.</p>
    
    <p>If that description fits you, we've set up a questionnaire for you to fill out, so that we can better plan for future language support and to let you know when DocumentCloud comes to your language!</p>
    
    <iframe src="https://docs.google.com/a/knowtheory.net/spreadsheet/embeddedform?formkey=dGlLcmwzemJXaWN5a1NkVzRucVZaN0E6MQ" width="760" height="972" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>