<html>
<head>
<STYLE type="text/css">
title { color: #3333FF}
</STYLE>
<title>Privacy Statement for DocumentCloud</title>
</head>
<body>
<h1 class="title">Privacy Policy</h1>
<!-- "About Us" section of privacy policy -->
<h2>About Us</h2>
<p>This is a privacy policy for DocumentCloud.
Our homepage on the Web is located at <a href="https://www.documentcloud.org/">
https://www.documentcloud.org/</a>.
The full text of our privacy policy is available on the Web at 
<a href="https://www.documentcloud.org/privacy">
https://www.documentcloud.org/privacy</a>
This policy does not tell users where they can go to exercise their opt-in or opt-out options.
<p>We invite you to contact us if you have questions about this policy.
You may contact us by mail at the following address:
<pre>DocumentCloud
Investigative Reporters and Editors
141 Neff Annex
University of Missouri
Columbia, Missouri 65211 
United States of America
</pre>
<p>You may contact us by e-mail at 
<a href="mailto:support@documentcloud.org">
support@documentcloud.org</a>. 
You may call us at (202) 505-1010.
<!-- "Privacy Seals" section of privacy policy -->
<h2>Dispute Resolution and Privacy Seals</h2>
<p>We have no privacy seals or other assurance mechanisms.
<!-- "Additional information" section of privacy policy -->
<h2>Additional Information</h2>
<p>
This policy is valid until 1 Jan, 2013 at 12:00:00 CST.
</p>
<!-- "Data Collection" section of privacy policy -->
<h2>Data Collection</h2>
<p>P3P policies declare the data they collect in groups (also referred to as "statements").
This policy contains 2 data groups.
The data practices of each group will be explained separately.
<hr width="50%" align="center">
<h3>Group "Basic information"</h3>
<p>We collect the following information:
<ul>
<li>Click-stream data</li>
<li>HTTP protocol elements</li>
<li>Search terms</li>
<li>Online contact information</li>
<li>Preference data</li>
<li>Organization Name</li>
</ul>
<p>This data will be used for the following purposes:</p>
<ul>
<li>Completion and support of the current activity.</li>
<li>Web site and system administration.</li>
<li>Research and development.</li>
</ul>
<p>This data will be used by ourselves and our agents.
<p>The following explanation is provided for why this data is collected:</p>
<blockquote>Data collected from all Web users: access logs, and search strings (if entered).</blockquote>
<hr width="50%" align="center">
<h3>Group "Cookies"</h3>
<p>We collect the following information:
<ul>
<li>Unique identifiers</li>
</ul>
<p>At the user's option, we may also collect the following data:
<ul>
<li>HTTP cookies</li>
</ul>
<p>This data will be used for the following purposes:</p>
<ul>
<li>Research and development.</li>
<li>One-time tailoring.</li>
</ul>
<p>This data will be used by ourselves and our agents.
<p>The following explanation is provided for why this data is collected:</p>
<blockquote>Cookies are used to track visitors to our site, 
so we can better understand what portions of our site best serve you.</blockquote>
<!-- "Use of Cookies" section of privacy policy -->
<hr width="50%" align="center">
<h2>Cookies</h2>
<p>Cookies are a technology which can be used to provide you with tailored information from a Web site. A cookie is an element of data that a Web site can send to your browser, which may then store it on your system. You can set your browser to notify you when you receive a cookie, giving you the chance to decide whether to accept it.
<p>Our site makes use of cookies.
Cookies are used for the following purposes:
<ul>
<li>User targeting
<li>Research and development
</ul>
<!-- "Compact Policy Explanation" section of privacy policy -->
<hr width="50%" align="center">
<h2>Compact Policy Summary</h2>
<p>The compact policy which corresponds to this policy is:
<pre>
    CP="CAO CURa ADMa DEVa TAIa OUR BUS IND ONL UNI COM NAV INT DEM PRE"
</pre>
<p>The following table explains the meaning of each field in the compact policy.
<center><table width="80%" border="1" cols="2">
<tr><td align="center" valign="top" width="20%"><b>Field</b></td><td align="center" valign="top" width="80%"><b>Meaning</b></td></tr>
<tr><td align="left" valign="top" width="20%"><tt>CP=</tt></td>
<td align="left" valign="top" width="80%">This is the compact policy header; it indicates that what follows is a P3P compact policy.</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>CAO</tt></td>
<td align="left" valign="top" width="80%">
Access is available to contact and other information.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>CURa</tt></td>
<td align="left" valign="top" width="80%">
The data is used for completion of the current activity.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>ADMa</tt></td>
<td align="left" valign="top" width="80%">
The data is used for site administration.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>DEVa</tt></td>
<td align="left" valign="top" width="80%">
The data is used for research and development.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>TAIa</tt></td>
<td align="left" valign="top" width="80%">
The data is used for tailoring the site.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>OUR</tt></td>
<td align="left" valign="top" width="80%">
The data is given to ourselves and our agents.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>BUS</tt></td>
<td align="left" valign="top" width="80%">
Our business practices specify how long the data will be kept.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>IND</tt></td>
<td align="left" valign="top" width="80%">
The data will be kept indefinitely.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>ONL</tt></td>
<td align="left" valign="top" width="80%">
Online contact information is collected.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>UNI</tt></td>
<td align="left" valign="top" width="80%">
Unique identifiers are collected.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>COM</tt></td>
<td align="left" valign="top" width="80%">
Computer information is collected.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>NAV</tt></td>
<td align="left" valign="top" width="80%">
Navigation and clickstream data is collected.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>INT</tt></td>
<td align="left" valign="top" width="80%">
Interactive data is collected.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>DEM</tt></td>
<td align="left" valign="top" width="80%">
Demographic and socioeconomic data is collected.
</td></tr>
<tr><td align="left" valign="top" width="20%"><tt>PRE</tt></td>
<td align="left" valign="top" width="80%">
Preference information is collected.
</td></tr>
</table></center>
<p>The compact policy is sent by the Web server along with the cookies it describes.
For more information, see the P3P deployment guide at <a href="http://www.w3.org/TR/p3pdeployment">http://www.w3.org/TR/p3pdeployment</a>.
<!-- "Policy Evaluation" section of privacy policy -->
<hr width="50%" align="center">
<h2>Policy Evaluation</h2>
<p>Microsoft Internet Explorer 6 will evaluate this policy's compact policy whenever it is used with a cookie.
The actions IE will take depend on what privacy level the user has selected in their browser (Low, Medium, Medium High, or High; the default is Medium.
In addition, IE will examine whether the cookie's policy is considered satisfactory or unsatisfactory, whether the cookie is a session cookie or a persistent cookie, and whether the cookie is used in a first-party or third-party context.
This section will attempt to evaluate this policy's compact policy against Microsoft's stated behavior for IE6.
<p><b>Note:</b> this evaluation is currently experimental and should not be considered a substitute for testing with a real Web browser.
<p><b>Satisfactory policy</b>: this compact policy is considered <em>satisfactory</em> according to the rules defined by Internet Explorer 6.
IE6 will accept cookies accompanied by this policy under the High, Medium High, Medium, Low, and Accept All Cookies settings.
</body></html>
