<% @title  = 'Privacy Policy' %>

<header class="header_primary">
  <div class="container">
    <h1><%= link_to 'DocumentCloud', '/' %></h1>
    <nav class="header_nav">
      <%= link_to 'What is DocumentCloud?', home_url %>
    </nav>
  </div>
</header>

<div class="container paper-box">

  <h1>Privacy Policy</h1>

  <p>DocumentCloud is provided by Investigative Reporters and Editors Inc., a nonprofit corporation. This privacy policy extends our terms and conditions, which may be found at <a href="https://www.documentcloud.org/terms">https://www.documentcloud.org/terms</a>.</p>

  <ol class="decimal">
  	<li><b>Information DocumentCloud collects about all users, including Document Contributors and non-contributing users:</b></li>
  	<ol class="lower-alpha">
  		<li>When you read or download documents from DocumentCloud, we collect limited, anonymous data. For instance, our web server records the Internet Protocol address of the computer you are using, information about your browser and operating system, date and time of access and the internet address and page which referred you to our site. The information logged by DocumentCloud is automatically deleted at regular intervals. In addition, we analyze traffic to DocumentCloud using Google Analytics. Google Analytics is subject to the privacy policy of Google, Inc., which you can find at <A HREF="http://www.google.com/privacy">http://www.google.com/privacy</A>.  We use this information to generate statistics and measure site activity to improve the usefulness of the site to our visitors.</li>
  		<li>Documents available through DocumentCloud are stored on s3 servers provided by Amazon Web Services. Amazon Web Services is a subsidiary of Amazon.com (Their privacy policies may be found at <A HREF="http://aws.amazon.com/privacy/">http://aws.amazon.com/privacy/</A> and <A HREF="http://www.amazon.com/privacy">http://www.amazon.com/privacy</A> respectively).  </li>
  	</ol>
  	<li><b>Information DocumentCloud collects about Document Contributors:</b></li>
  	<ol class="lower-alpha">
  		<li>You are a Document Contributor if you upload files to DocumentCloud, either through our API or via the web interface. </li>
  		<li>We use cookies to store login information for registered users. The only personally identifying information stored in our application-wide cookie is your encrypted account id. Cookies expire after one month.  </li>
  		<li>DocumentCloud is not intended as an anonymous publishing service. All Document Contributors must be associated with an organization or publication. As a Document Contributor, you are required to provide DocumentCloud with your full name. Your name and the name of your organization or publication may be made public alongside any documents you publish through DocumentCloud. </li>
  		<ol class="lower-roman">
  			<li>Organizations and publications who are using DocumentCloud may be listed at <A HREF="https://www.documentcloud.org/contributors">https://www.documentcloud.org/contributors</A>.</li>
  			<li>Registered users may be able to determine, through searches or features not yet implemented, whether any individual is also a registered user of DocumentCloud. (see also, <b>this is still the Internet.</b>)</li>
  		</ol>
  		<li>Other information which you provide to DocumentCloud, such as your email address or other contact information, will remain private. We will not share private contact information except as described below (see <b>when DocumentCloud discloses information</b>).</li>
  		<li>All documents uploaded to DocumentCloud are processed by OpenCalais, a subsidiary of Thomson Reuters. Their privacy policy may be found at <a href="http://www.opencalais.com/privacy">http://www.opencalais.com/privacy</a>.</li>
  		<li>Some documents in DocumentCloud are private:</li>
  		<ol class="lower-roman">
  			<li>We store private notes on behalf of Document Contributors and allow Document Contributors to upload documents that are not made public immediately and may never be made public. More information on how document privacy works is available in our documentation. </li>
  		</ol>
  	</ol>
  	<li><b>This is still the Internet:</b></li>
  	<ol class="lower-alpha">
  		<li>DocumentCloud uses cookies to store login information for Document Contributors. If you are using a public computer, and you fail to log out or quit the browser after you finish your session, another person may be able to access your account.  </li>
  		<li>Communications between you and DocumentCloud may pass through many machines, operating systems, programs, browsers, Web servers, networks, routers, Ethernet switches, Internet service providers, proxy servers, intranets, the public phone system, or other devices on your premises, at DocumentCloud, and in between. Some of these devices create logs of activities that are recorded on computer systems.</li>
  		<li>It is possible that the servers that host DocumentCloud could become compromised by others and that the information on DocumentCloud's computers could be collected and disseminated without the knowledge or consent of DocumentCloud. </li>
  	</ol>
  	<li><b>Limitation of Liability</b></li>
  	<ol class="lower-alpha">
  		<li><b>IMPORTANT:</b> DocumentCloud is not responsible for breaches of privacy that may occur as a result of any user's failure to exercise best practices at public workstations, on public networks, or with respect to secure passwords. DocumentCloud is not responsible for breaches of privacy that may occur as a result of third party access over which we have no control. </li>
  	</ol>
  	<li><b>When DocumentCloud discloses information: </b></li>
  	<ol class="lower-alpha">
  		<li>DocumentCloud may disclose any information it collects from users if DocumentCloud believes in good faith that such action is necessary  to comply with legal process.</li>
  		<li>Upon receipt of a subpoena or similar demand for user information, DocumentCloud will promptly notify the user of the request unless we reasonably believe we are legally prohibited from doing so. If we believe we are legally required to provide the information requested, we will provide it no sooner than 30 days after notifying the user, unless we reasonably believe we are legally required to provide it sooner. </li>
  	</ol>
  	<li><b>Children's privacy:</b></li>
  	<ol class="lower-alpha">
  		<li>DocumentCloud content is intended for adults. We do not knowingly collect personal information from children under 13 years old. If you are a parent or legal guardian of a child under age 13 who you believe has submitted personal information to DocumentCloud, please contact us immediately.</li>
  	</ol>
  	<li><b>Changes and updates to this notice:</b></li>
  	<ol class="lower-alpha">
  		<li>We retain the right to make changes, in our sole discretion, to this Privacy Policy. We will post any updated policies to DocumentCloud's website.</li>
  	</ol>
  	<li><b>Feedback about this policy:</b></li>
  	<ol class="lower-alpha">
  		<li>We welcome your feedback about this policy and our software. Please email us your thoughts at <a href="mailto:support@documentcloud.org?subject=feedback">support@documentcloud.org</a>.</li>
  	</ol>
  	<li><b>Contacting DocumentCloud</b>
  	   <ol class="lower-alpha">
         <li>See <a href="/contact">contact us</a> for the complete array of ways to reach us for technical support or new account questions. Our mailing address is:
           <p style="margin-left:15%">
             DocumentCloud<br>
             Investigative Reporters and Editors<br>
             141 Neff Annex<br>
             University of Missouri<br>
             Columbia, MO 65211
           </p>
         </li>
      </ol>
    </li>
  </ol>

</div>
