<a href="<%= doc.url() %>" class="DC-document-tile">

  <div class="DC-document-thumbnail-select"></div>
  <div class="DC-document-thumbnail"><img src="<%= doc.get('resources')['thumbnail'] %>" /></div>
  <div class="DC-document-title"><%= Inflector.truncate(doc.get('title'), 100) %></div>
  <div class="DC-document-description"><%= Inflector.truncate(doc.get('description') || "", 80) %></div>
  
</a>