<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    <% if @bad_request %>

      top.dc.app.uploader.error('Upload failed. Please check the document file.');
      top.dc.app.uploader.cancelUpload();

    <% else %>

      top.dc.app.uploader.confirmUpload();
      top.Documents.add(new top.dc.model.Document(<%= @document.to_json %>));
      <% if @project_id %>
        top.Projects.incrementCountById(<%= @project_id %>);
      <% end %>

    <% end %>
  </script>
</head>
<body>
</body>
</html>