<div class="DC-embed DC-embed-page" data-version="1.1" data-options='<%= data.to_json %>' style="font-size:10pt;line-height:14pt;">
  <a class="DC-embed-resource" href="<%= options[:resource_url] %>" target="_blank">View entire document on DocumentCloud</a>
</div>
