<div class="DC-embed" data-version="1.0" style="font-size:10pt">
  <p><a class="DC-embed-resource" href="<%= options[:resource_url] %>" target="_blank">Click to view on DocumentCloud</a></p>
</div>
<script src="<%= DC.cdn_root(:agnostic => true) %>/embed/loader/enhance.js"></script>
