<div class="DC-embed" data-version="1.1" style="font-size:10pt;line-height:14pt;">
  <a class="DC-embed-resource" href="<%= options[:resource_url] %>" target="_blank">View entire document on DocumentCloud</a>
</div>
<script src="<%= DC.cdn_root(:agnostic => true) %>/embed/loader/enhance.js"></script>
