<% (@stylesheets_header ||= []).push File.join(DC.cdn_root(:agnostic => true), "/embed/page/page_embed.css") %>

<div id="DC-embed-container">
    <!-- TODO: Remove `respond_to?` check when aspect ratios are stored -->
  <img src="<%= @current_document.page_image_url(@current_page.page_number, 'normal') %>" alt="<%= @current_page.title %>" style="width:100%;height:auto;display:block">
</div>

<% (@javascripts_footer ||= []).push File.join(DC.cdn_root(:agnostic => true), "/embed/page/page_embed.js") %>
<%
  @javascript_footer_inline = <<-EOS
    DocumentCloud.embed.load('#{@current_page.canonical_url}', {
      container: '#DC-embed-container'
    });
  EOS
%>
