<% if options[:use_default_container] %>
<div id="<%= options[:default_container_id] %>" class="DV-container"></div>
<% end %>
<script type="text/javascript">
  DV.load("<%= options[:resource_js_url] %>", <%= data.to_json %>);
</script>