<% if template_options[:use_default_container] %>
  <div id="<%= template_options[:default_container_id] %>" class="DV-container"></div>
<% end %>
<script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
<script type="text/javascript">
  DV.load("<%= template_options[:resource_js_url] %>", {
    <%= embed_data.map{ |k,v| "'#{k}': '#{v}'"}.join(",\n") %>
  });
</script>
<% if embed_data[:pdf] %>
<noscript>
  <a href="<%#= template_options[:pdf_url] %>"><%#= template_options[:title] %> (PDF)</a>
  <br>
  <a href="<%#= template_options[:full_text_url] %>"><%#= template_options[:title] %> (Text)</a>
</noscript>
<% end %>