<div class="DC-embed DC-embed-document DV-container">
  <div style="position:relative;padding-bottom:<%= options[:document].inverted_aspect_ratio * 100 %>%;height:0;overflow:hidden;max-width:100%;">
    <%= content_tag :iframe, nil, {
          src: options[:document].iframe_embed_src_url(data),
          title: "#{options[:document].title} (Hosted by DocumentCloud)",
          sandbox: ['allow-scripts', 'allow-same-origin', 'allow-popups', 'allow-forms'],
          frameborder: '0',
          style: 'position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #aaa;border-bottom:0;box-sizing:border-box;' } %>
  </div>
</div>
