<div id="login_flash">
    <h1><%= flash[:notice] || flash[:failure] %></h1>
</div>
<script type="text/javascript">
  EmbeddedLogin.setLoginStatus( <%=raw @status%>, <%=raw @remote_data.to_json %> );
</script>
