<%
  @title      = "Sign Up Information"
  @bodyclass  = "full_page_background"
%>

<div id="docs" class="full_page_background">
  <h1>Sign Up Information</h1>
  <p>
    Find information on obtaining a DocumentCloud account for yourself or<br />
    your organization by visiting our <a href="https://www.documentcloud.org/apply">account request page</a>.
  </p>
</div>