/*--------------------- Account Views (Rows & Badges) ------------------------*/

.account_view.badge {
  position: relative;
  margin: 20px 0 20px 30px;
  font: 11px/16px Arial;
  color: #555;
}
  .account_view.badge img.avatar {
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
  }
  .account_view.badge .name {
    font-weight: bold;
  }

/*--------------------------- Accounts Dialog --------------------------------*/
.account_list {
  max-width: none;
  width: 800px;
}
  .account_list .custom {
    position: relative;
    max-height: 323px;
    overflow-y: auto; overflow-x: hidden;
    padding: 0;
    margin-bottom: 15px;
  }
  .account_list .minibutton.cancel {
    display: none;
  }
  .account_list table,
  .collaborator_list
  .reviewer_list {
    width: 100%;
    border-top: 1px solid #222;
  }
    .account_list td,
    .collaborator_list td,
    .reviewer_list td {
      padding: 10px;
      vertical-align: middle;
      white-space: nowrap;
      border-bottom: 1px solid #222;
      font-size: 11px; line-height: 25px;
      color: #ccc;
    }
      .account_list .first,
      .collaborator_list .first,
      .reviewer_list .first {
        width: 0%; padding: 0;
      }
      .account_list .last,
      .collaborator_list .last,
      .reviewer_list .last {
        padding-right: 0;
      }
      .account_list .name  { width: 0%; }
      .account_list .email { width: 0%; }
      .account_list .last  { width: 100%; }

.account_list tr .edit, .account_list tr .display {
  display: none;
}
.account_list tr.edit_view .edit, .account_list tr.display_view .display {
  display: block;
}
.account_list img.avatar,
.collaborator_list img.avatar,
.reviewer_list img.avatar {
  position: relative;
  top: 4px;
  border: 1px solid #555;
}
.account_list .text_input {
  width: 150px;
}
.account_list .text_link {
  color: #ccc;
}
.account_list .name_wrapper {
  width: 240px;
}
  .account_list .name .display {
  }
  .account_list .name_wrapper .text_input {
    float: left;
    width: 100px;
  }
    .account_list .name_wrapper .text_input:first-child {
      margin-right: 20px;
    }
.account_list .role .display {
  font: italic 10px/18px Arial;
  color: #555;
}
.account_list .controls_wrapper {
  min-width: 100px;
}
.account_list .change_password,
.account_list .edit_account {
  float: left;
  margin: 0 15px 0 0;
  cursor: pointer;
}
.account_list .save_changes {
  float: left;
  position: relative;
  left: -6px;
  margin: 0 5px;
}
.account_list .delete_account {
  float: left;
}
.account_list .pending_wrap {
  position: relative;
}
  .account_list .pending_badge {
    display: none;
    position: absolute;
    margin: 19px 0 0 17px;
    z-index: 5;
  }
    .account_list .row.pending .pending_badge,
    .account_list .admin.pending .pending_badge {
      display: block;
    }
.account_list tr.row .pending_notification,
.account_list tr.admin .pending_notification {
  font: 10px Arial;
  text-transform: uppercase;
  padding-left: 7px;
  color: #999;
  display: none;
}
  .account_list .row.pending .pending_notification,
  .account_list tr.admin.pending .pending_notification {
    display: inline;
  }

/*--------------------------- Share Documents Dialog ----------------------------*/
.share_dialog {
  width: 640px;
}
  .share_dialog .title {
    margin-bottom: 14px;
  }
  .share_dialog .custom {
    max-height: none;
    margin-bottom: 0;
  }
  .share_dialog .controls {
    display: none;
  }
  .share_dialog .document_reviewers {
    margin: 0;
    text-align: left;
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .share_dialog .reviewers {
    position: relative;
  }
  .share_dialog td {
    white-space: normal;
/*    height: 46px;*/
    vertical-align: middle;
  }
  .share_dialog .text_input {
    width: auto;
  }
  .share_dialog .email .text_input.dark.small {
    margin: 0;
  }
  .share_dialog .text_input.dark.small input {
    height: 15px;
  }
  .share_dialog .edit_column {
    width: 16px;
    padding-right: 5px;
  }
    .share_dialog .edit_account {
      margin: 0;
    }
    .share_dialog .cancel_changes {
      margin: 2px;
    }
    .share_dialog .save_changes,
    .share_dialog .remove_reviewer {
      float: left;
    }
  .share_dialog .email {
    width: 130px;
  }
    .share_dialog .email .minibutton {
      float: right;
    }
    .share_dialog .email input[name=email] {
      width: 130px;
    }
  .share_dialog .nowrap {
    white-space: nowrap;
  }
  .share_dialog .name {}
    .share_dialog .name input,
    .share_dialog .name_wrapper .text_input {
      width: 86px;
    }
    .share_dialog .name_wrapper {
      width: 204px;
    }
    .share_dialog .name .edit_account {
      margin: 4px 4px 0 8px;
    }
    .share_dialog .name .account_name {
      float: left;
    }
  .share_dialog .document_count {
    font-size: 10px;
    color: #555;
    font-style: italic;
  }
  .share_dialog .reviewers_title {
    font-size: 15px;
    margin: 0 0 0 42px;
  }
  .share_dialog .reviewers_document_image {
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
    .share_dialog .reviewers_document_image img {
      width: 30px;
      height: 37px;
      border: 1px solid #303030;
      margin: 0 6px 0 0;
    }
  .share_dialog .reviewer_list {
    margin: 4px 15px 30px 42px;
    width: auto;
  }
    .share_dialog .reviewers_empty {
      font-size: 12px;
      color: #A0A0A0;
    }
    .share_dialog .account_view {
      padding: 10px 0;
      height: 27px;
      font: 11px/27px Helvetica, Arial;
      border-bottom: 1px solid #222;
    }
  .share_dialog .reviewer_management {
    text-align: left;
    margin-top: 10px;
    display: none;
  }
  .share_dialog .reviewers_common .reviewers_title {
    margin-left: 0;
  }
  .share_dialog .reviewers_common .reviewer_list {
    margin-left: 0;
  }
  .share_dialog .enter_full_name_label,
  .share_dialog .reviewer_management input[name=first_name],
  .share_dialog .reviewer_management input[name=last_name] {
    display: none;
  }
  .share_dialog .reviewer_management .last {
    line-height: 12px;
    font-size: 10px;
    white-space: normal;
    padding: 10px;
    color: #FF0000;
  }
  .share_dialog .reviewer_management .last.error_white {
    color: #FFF;
  }
  .share_dialog .document_reviewers_empty {
    overflow: hidden;
    text-align: left;
    color: #909090;
    font-size: 12px;
    margin: 0 0 12px 0;
  }
  .share_dialog .add_reviewer.on_editing {
    display: none;
  }

  /* Step Two: Email Reviewers */

  .share_dialog .step_two {
    text-align: left;
    overflow: hidden;
  }
  .share_dialog .email_message {
    float: right;
    width: 400px;
    padding: 0 8px;
    margin: 10px 0 0 0;
  }
    .share_dialog .email_message .email_message_heading {
      font-size: 12px;
      margin: 0 0 12px 0;
    }
    .share_dialog .email_message .email_message_heading_optional {
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: #606060;
      padding: 0 4px;
    }
    .share_dialog .email_message .email_message_body {
      font: 11px/13px Menlo, Consolas, Monaco, Courier, monospace;
      color: #F3F3F3;
    }
      .share_dialog .email_message .email_message_body p {
        margin: 8px 0;
      }
      .share_dialog .email_message .email_message_body .custom_message {
        position: relative;
      }
        .share_dialog .email_message .email_message_body .custom_message p {
          margin: 0;
        }
      .share_dialog .email_message .email_message_body .hide_custom_email {
        position: absolute;
        top: 0;
        right: 0;
      }
      .share_dialog .email_message .email_message_body textarea {
        width: 100%;
        font-size: 12px;
        font-family: inherit;
        padding: 4px;
        height: 40px;
        margin: 0 0 4px 0;
      }
  .share_dialog .email_reviewers {
    width: 215px;
    float: left;
    margin: 10px 0 0 0;
  }
    .share_dialog .email_reviewers .email_reviewers_heading {
      font-size: 12px;
      margin: 0 0 2px 0;
    }
    .share_dialog .show_custom_email {
      margin: 14px 0 20px;
      color: lightblue;
      font-weight: bold;
    }
    .share_dialog .is_custom_email .show_custom_email,
    .share_dialog .not_custom_email .hide_custom_email {
      display: none;
    }
    .share_dialog .not_custom_email .show_custom_email,
    .share_dialog .is_custom_email .hide_custom_email {
      display: block;
    }
    .share_dialog .email_reviewers_list {
      max-height: 270px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 8px 0 0;
    }
      .share_dialog .reviewer_email {
        margin: 0;
        padding: 3px 0;
        height: auto;
        font-size: 11px;
        line-height: 14px;
        position: relative;
        overflow: hidden;
      }
        .share_dialog .reviewer_email .reviewer_email_remove {
          position: absolute;
          right: 0px;
          top: 12px;
          display: none;
          cursor: pointer;
        }
        .share_dialog .reviewer_email:hover .reviewer_email_remove {
          display: block;
        }
        .share_dialog .reviewer_email .reviewer_email_image {
          float: left;
          margin: 0 8px 0 0;
          line-height: 0;
        }
        .share_dialog .reviewer_email .reviewer_email_image img {
          top: 0;
        }
        .share_dialog .reviewer_email .reviewer_email_name {
          margin: 1px 0 3px;
          font-weight: bold;
        }
        .share_dialog .reviewer_email .reviewer_email_email {
          margin: 0;
          color: #C0C0C0;
        }

  /* Controls */

  .share_dialog .step_controls {
    clear: both;
    margin: 24px 0 0 0;
  }
    .share_dialog .step_controls .cancel {
      float: left;
    }
    .share_dialog .step_controls .next,
    .share_dialog .step_controls .close,
    .share_dialog .step_controls .previous {
      float: right;
      margin-left: 8px;
    }
    .share_dialog.p1_step .step_controls .previous,
    .share_dialog.p2_step .step_controls .close,
    .share_dialog.p2_step .step_controls .add_reviewer {
      display: none;
    }
  .share_dialog.p2_step .step_one,
  .share_dialog.p1_step .step_two {
    display: none;
  }
  .share_dialog .icon.spinner_dark {
    top: 30px;
    bottom: none;
  }