/*--------------------- Account Views (Rows & Badges) ------------------------*/

.account_view.badge {
  position: relative;
  margin: 20px 0 20px 30px;
  font: 11px/16px Arial;
  color: #333;
}
  .account_view.badge img.avatar {
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
  }
  .account_view.badge .name {
    font-weight: bold;
  }

/*--------------------------- Accounts Dialog --------------------------------*/
.account_list {
  max-width: none;
  width: 800px;
}
  .account_list .custom {
    position: relative;
    max-height: 323px;
    overflow-y: auto; overflow-x: hidden;
    padding: 0;
    margin-bottom: 15px;
  }
  .account_list .minibutton.cancel {
    display: none;
  }
  .account_list .organization {

  }
  .account_list .language {
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .account_list .language .edit_language {
    display: inline-block;
    cursor: pointer;
  }
    .account_list .languages td {
      padding: 3px;
      cursor: pointer;
      width: 20%;
    }
      .account_list .languages td.active {
        border-radius:6px;
        -moz-border-radius:6px;
        background: none repeat scroll 0 0 #6C7A7D;
        border: 1px solid #303F42;
        text-indent: 5px;
      }
      .account_list_content .editing td {
        padding: 0px;
        border-bottom: 0;
      }
      .account_list_content .language {
        font-size: 12px;
        padding-bottom: 5px;
      }

  .account_list table,
  .collaborator_list {
    width: 100%;
    border-top: 1px solid #222;
  }
    .account_list_content .languages table {
      border-top: 0;
    }
    .account_list td,
    .collaborator_list td {
      padding: 10px;
      vertical-align: middle;
      white-space: nowrap;
      border-bottom: 1px solid #222;
      font-size: 11px; line-height: 25px;
      color: #ccc;
    }
      .collaborator_list .account_view.disabled_role td {
        color: #777;
      }
      .account_list .first,
      .collaborator_list .first {
        width: 0%; padding: 0;
      }
      .account_list .last,
      .collaborator_list .last {
        padding-right: 0;
      }
      .account_list .name  { width: 0%; }
      .account_list .email { width: 0%; }
      .account_list .last  { width: 100%; }

.account_list tr .edit, .account_list tr .display {
  display: none;
}
.account_list tr.edit_view .edit, .account_list tr.display_view .display {
  display: block;
}
.account_list .disabled_role.display_view td {
  color: #777777;
}
.account_list img.avatar,
.collaborator_list img.avatar {
  position: relative;
  top: 4px;
  border: 1px solid #333;
}
.account_list .text_input {
  width: 150px;
}
.account_list .text_link {
  color: #ccc;
}
.account_list .name_wrapper {
  width: 240px;
}
  .account_list .name .display {
  }
  .account_list .name_wrapper .text_input {
    float: left;
    width: 100px;
  }
    .account_list .name_wrapper .text_input:first-child {
      margin-right: 20px;
    }
.account_list .role .display,
.account_list .role .edit {
  font: 11px/18px Arial;
  color: #777;
}
.account_list .controls_wrapper {
  min-width: 100px;
}
.account_list .change_password,
.account_list .edit_account {
  float: left;
  margin: 0 15px 0 0;
  cursor: pointer;
}
.account_list .save_changes {
  float: left;
  position: relative;
  left: -6px;
  margin: 0 5px;
}
.account_list .disable_account,
.account_list .enable_account {
  float: left;
}
.account_list .pending_wrap {
  position: relative;
}
  .account_list .pending_badge {
    display: none;
    position: absolute;
    margin: 19px 0 0 17px;
    z-index: 5;
  }
    .account_list .row.pending .pending_badge,
    .account_list .admin.pending .pending_badge {
      display: block;
    }
.account_list tr.row .pending_notification,
.account_list tr.admin .pending_notification {
  font: 10px Arial;
  text-transform: uppercase;
  padding-left: 7px;
  color: #808080;
  display: none;
}
  .account_list .row.pending .pending_notification,
  .account_list tr.admin.pending .pending_notification {
    display: inline;
  }

#disable_account_confirm {
  width: 342px;
}

/*--------------------------- Share Documents Dialog ----------------------------*/
.share_dialog {
  width: 600px;
}
  .share_dialog .account_list {
    width: 100%;
  }
  .share_dialog .custom {
    max-height: none;
    margin-bottom: 0;
  }
  .share_dialog .controls {
    display: none;
  }
  .share_dialog .document_reviewers {
    margin: 0;
    text-align: left;
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .share_dialog .reviewers {
    position: relative;
  }
  .share_dialog td {
    white-space: normal;
    vertical-align: middle;
  }
  .share_dialog .text_input {
    width: auto;
  }
  .share_dialog .email .text_input.dark.small {
    margin: 0;
  }
  .share_dialog .text_input.dark.small input {
    height: 15px;
  }
  .share_dialog .edit_column {
    width: 16px;
    padding-right: 5px;
  }
    .share_dialog .edit_account {
      float: none;
      position: relative;
      margin: -3px 0 0 0;
      display: inline-block;
    }
    .share_dialog .cancel_changes {
      margin: 2px;
    }
    .share_dialog .save_changes,
    .share_dialog .remove_reviewer {
      float: left;
    }
  .share_dialog .email {
    width: 130px;
  }
    .share_dialog .email .minibutton {
      float: right;
    }
    .share_dialog .email input[name=email] {
      width: 130px;
    }
  .share_dialog .nowrap {
    white-space: nowrap;
  }
  .share_dialog .name {}
    .share_dialog .name input,
    .share_dialog .name_wrapper .text_input {
      width: 66px;
    }
    .share_dialog .name_wrapper {
      width: 164px;
    }
    .share_dialog .name .edit_account {
      margin: 4px 4px 0 8px;
    }
  .share_dialog .document_count {
    font-size: 10px;
    color: #333;
    font-style: italic;
  }
  .share_dialog .account_view {
    padding: 10px 0;
    height: 27px;
    font: 11px/27px Helvetica, Arial;
    border-bottom: 1px solid #222;
  }
  .share_dialog .reviewer_management {
    text-align: left;
    margin-top: 10px;
    display: none;
  }
  .share_dialog .reviewers_common .reviewers_title {
    margin-left: 0;
  }
  .share_dialog .enter_full_name_label,
  .share_dialog .reviewer_management input[name=first_name],
  .share_dialog .reviewer_management input[name=last_name] {
    display: none;
  }
  .share_dialog .reviewer_management .last {
    line-height: 12px;
    font-size: 10px;
    white-space: normal;
    padding: 10px;
    color: #FF0000;
  }
  .share_dialog .reviewer_management .last.error_white {
    color: #FFF;
  }
  .share_dialog .document_reviewers_empty {
    overflow: hidden;
    text-align: left;
    color: #ccc;
    font-size: 12px;
    margin: 0 0 12px 0;
  }
  .share_dialog .add_reviewer {
    float: left;
  }
    .share_dialog .add_reviewer.on_editing {
      display: none;
    }

  /* Step Two: Email Reviewers */

  .share_dialog .step_two {
    text-align: left;
  }
    .share_dialog textarea.email_message {
      width: 584px;
      margin: 15px 0;
    }

  /* Controls */

  .share_dialog .step_controls {
    clear: both;
    margin: 24px 0 0 0;
  }
    .share_dialog .step_controls .cancel {
      float: left;
    }
    .share_dialog .step_controls .next,
    .share_dialog .step_controls .close,
    .share_dialog .step_controls .previous {
      float: right;
      margin-left: 8px;
    }
    .share_dialog.p1_step .step_controls .previous,
    .share_dialog.p2_step .step_controls .close,
    .share_dialog.p2_step .step_controls .add_reviewer {
      display: none;
    }
  .share_dialog.p2_step .step_one,
  .share_dialog.p1_step .step_two {
    display: none;
  }
  .share_dialog .icon.spinner_dark {
    top: 30px;
    bottom: none;
  }