/*--------------------- Account Views (Rows & Badges) ------------------------*/

.account_view.badge {
  position: relative;
  margin: 20px 0 20px 30px;
  font: 11px/16px Arial;
  color: #555;
}
  .account_view.badge img.avatar {
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
  }
  .account_view.badge .name {
    font-weight: bold;
  }

/*--------------------------- Accounts Dialog --------------------------------*/
#account_list {
  max-width: none;
  width: 800px;
}
  #account_list .custom {
    max-height: 323px;
    overflow: auto;
    padding: 0;
    margin-bottom: 15px;
  }
  #account_list .minibutton.cancel {
    display: none;
  }
  #account_list table,
  .collaborator_list {
    width: 100%;
    border-top: 1px solid #222;
  }
    #account_list td,
    .collaborator_list td {
      padding: 10px;
      vertical-align: middle;
      white-space: nowrap;
      border-bottom: 1px solid #222;
      font-size: 11px; line-height: 25px;
      color: #ccc;
    }
      #account_list .first, .collaborator_list .first { width: 0%; padding: 0; }
      #account_list .name                             { width: 0%; }
      #account_list .email                            { width: 0%; }
      #account_list .last, .collaborator_list .last   { padding-right: 0; }
      #account_list .last                             { width: 100%; }

#account_list tr .edit, #account_list tr .display {
  display: none;
}
#account_list tr.edit_view .edit, #account_list tr.display_view .display {
  display: block;
}
#account_list img.avatar,
.collaborator_list img.avatar {
  position: relative;
  top: 4px;
  border: 1px solid #555;
}
#account_list .text_input {
  width: 150px;
}
#account_list .name_wrapper {
  width: 240px;
}
  #account_list .name .display {
  }
  #account_list .name_wrapper .text_input {
    float: left;
    width: 100px;
  }
    #account_list .name_wrapper .text_input:first-child {
      margin-right: 20px;
    }
#account_list .role .display {
  font: italic 10px/18px Arial;
  color: #555;
}
#account_list .controls_wrapper {
  min-width: 100px;
}
#account_list span.edit_account,
#account_list span.change_password {
  float: left;
  opacity: 0; filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear;
  color: #ccc;
}
  #account_list tbody span.edit_account {
    margin-right: 10px;
  }
  #account_list tbody tr:hover span.edit_account,
  #account_list tbody tr:hover span.change_password {
    opacity: 1; filter: alpha(opacity=100);
  }
#account_list .save_changes {
  float: left;
  position: relative;
  left: -6px;
  margin: 0 5px;
}
#account_list .delete_account {
  float: left;
}
#account_list .pending_wrap {
  position: relative;
}
  #account_list .pending_badge {
    display: none;
    position: absolute;
    margin: 15px 0 0 15px;
  }
    #account_list .row.pending .pending_badge,
    #account_list .admin.pending .pending_badge {
      display: block;
    }
#account_list tr.row .pending_notification,
#account_list tr.admin .pending_notification {
  font: 10px Arial;
  text-transform: uppercase;
  padding-left: 7px;
  color: #999;
  display: none;
}
  #account_list .row.pending .pending_notification,
  #account_list tr.admin.pending .pending_notification {
    display: inline;
  }
