.docalog .custom {
  width: 500px;
}
  .docalog .row {
    height: 30px;
    margin-bottom: 15px;
    position: relative;
  }
    .docalog .row.tall {
      height: 90px;
    }
    .docalog .row.last {
      margin-bottom: 0;
    }
  .docalog input.changed, .docalog textarea.changed {
    border-color: #2a955c !important;
  }
  .docalog label {
    display: block;
    line-height: 27px;
    font-size: 12px;
    color: #ccc;
    text-align: left;
    position: absolute;
    left: 0;
  }
  .docalog .text_input {
    position: absolute;
    right: 0;
    width: 375px;
  }
  .docalog textarea.content {
    float: right;
    width: 371px; height: 78px;
    display: block;
  }
  .docalog .document_access {
    position: relative;
    margin: 0;
    left: -25px; top: 4px;
  }