#docs {
  position: static;
  padding: 20px 25px 30px 50px;
  color: #555;
  background: #fff;
  font: 14px/18px Helvetica, Arial;
}
  #docs h1, #docs h2, #docs h3 {
    font: 25px/50px Helvetica, Arial;
    color: #222;
    margin: 40px 0 10px 0;
  }
    #docs h2 {
      font: 18px/40px Helvetica, Arial;
    }
    #docs h3 {
      margin-top: 25px;
      font: 14px Helvetica, Arial;
    }
  #docs p, #docs form, #docs pre {
    position: relative;
    margin: 0 0 20px 0;
    width: 600px;
  }
  #docs ul {
    list-style: disc;
    padding-left: 20px;
  }
    #docs li {
      margin-bottom: 10px;
      width: 580px;
    }
  #docs table {
    margin: 20px 0 20px 0;
    width: 600px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
  }
    #docs th {
      text-transform: uppercase;
      font: 10px Helvetica, Arial;
      color: #222;
    }
    #docs th, #docs td {
      padding: 5px 20px 5px 10px;
      border-bottom: 1px solid #bbb;
      border-right: 1px solid #bbb;
      vertical-align: middle;
      line-height: 16px;
    }
      #docs td {
        font-size: 12px;
        background: #f0fafa;
      }
      #docs .alt > td {
        background: #f4f4f4;
      }
      #docs .param {
        font-weight: bold;
      }
      #docs .desc {
        font: italic 11px Helvetica, Arial;
        color: #555;
      }
    #docs table col.parameter {
      font-weight: bold;
    }
  #docs a {
    color: #000;
    text-decoration: underline;
  }
  #docs label {
    font: 12px/12px Helvetica, Arial;
  }
  #docs pre, #docs tt, #docs #search_results {
    font: 12px/18px "Monaco", monospace;
  }
    #docs #search_results {
      margin: 35px 0 0 0;
    }

#docs .text_input {
  position: absolute;
  display: block;
  margin: 0 0 0 140px;
  width: 380px;
}
#docs .minibutton {
  position: absolute;
  right: 5px;
  margin-top: 3px;
}