#document_list {
  padding: 10px 10px 0px 15px;
  -webkit-transition: top 0.1s linear;
  z-index: 5;
}
  .open_toolbar #document_list, body.visualize #document_list {
    top: 43px;
  }
  body.paginated #document_list {
    bottom: 38px;
  }

.document {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  background: #f7f7f7;
}
  .document.is_selected {
    border-color: #eea;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  }
  .document.muted {
    border-color: white;
    background: white;
  }
  #document_list .document {
    min-height: 77px;
    padding: 5px 30px 5px 77px;
    margin-bottom: 15px;
  }
  img.doc {
    background: white;
    position: absolute;
    width: 60px; height: 75px;
    -webkit-box-shadow: 0 0px 5px #777; -moz-box-shadow: 0 0px 5px #777;
  }
  .document img.doc {
    left: 7px; top: 6px;
  }
    body.logged_in .document img.doc {
      cursor: pointer;
    }
  .document .title {
    display: block;
    color: #254555;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    overflow: hidden;
    height: 18px;
  }
    .document .view_document {
      cursor: pointer;
      float: left;
    }
    .document_tools {
      display: block;
      float: left;
      padding-left: 10px;
      opacity: 0.5; filter: alpha(opacity=50);
      -webkit-transition: opacity 0.2s linear;
    }
      .document:hover .document_tools {
        opacity: 1; filter: alpha(opacity=100);
      }
      .document_tools > div {
        float: left;
        margin-right: 7px;
      }
  .document .source {
    font: 11px/14px Arial;
    overflow: hidden;
    height: 14px;
    color: #808080;
    margin-bottom: 8px;
  }
  .document .summary {
    line-height: 16px;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
    color: #454546;
  }
    .document .summary b {
      font-size: 12px;
    }
  .document .show_notes {
    cursor: pointer;
  }
    .document:hover .show_notes {
      text-decoration: underline;
    }
    .document .show_notes > span {
      display: none;
    }
      .document.no_notes:hover .show,
      .document.has_notes .hide {
        display: inline;
      }

/*------------------------------ ANNOTATIONS ---------------------------------*/
.document .notes {
  display: none;
  padding-bottom: 5px;
}
  .document.has_notes .notes {
    display: block;
  }
  .note {
    position: relative;
    margin: 15px 0 0 0;
    padding: 15px;
    font: 12px/16px Arial;
    color: #454545;
  }
    .note .note_background {
      position: absolute;
      background: white;
      top: 0; left: 0; bottom: 0; right: 0;
      border: 5px solid #efd12d;
      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
      -webkit-box-shadow: 0 0px 15px #777; -moz-box-shadow: 0 0px 15px #777;
    }
      .note.private_access .note_background {
        border-color: #68d5ef;
      }
    .note .note_contents {
      position: relative;
      overflow: hidden;
    }
      .note .note_title {
        cursor: pointer;
        color: #254555;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .note .page_number {
        cursor: pointer;
        font: bold 10px Arial;
        color: black;
        float: right;
      }
      .note .note_excerpt_wrap {
        border: 1px solid #dadada;
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;
      }
        .note .note_excerpt {
          position: relative;
          margin: 0 auto;
          width: 750px;
        }
          .note .left_cover,
          .note .right_cover {
            position: absolute;
            z-index: 5;
            background: white;
            opacity: 0.68;
            filter: alpha(opacity=68);
          }
            .note .left_cover {
              left: 0;
            }
            .note .right_cover {
              right: 0;
            }
          .note .note_image {
            left: 0;
            position: absolute;
          }