/* ========================= */
/* = Document Embed Dialog = */
/* ========================= */

.document_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}
  .document_embed_dialog .custom {
    height: 360px;
    position: relative;
    font-size: 12px;
  }

.publish_step {
  display: none;
  width: 500px;
}
  .publish_step.is_enabled {
    display: block;
  }

.document_embed_dialog .controls {
  display: none;
}

.document_embed_dialog .publish_wizard_controls {
  position: absolute;
  bottom: 0px;
  width: 500px;
  height: 24px;
}
  .document_embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .document_embed_dialog .publish_wizard_controls .next,
  .document_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.document_embed_dialog .publish_section {
  position: relative;
  margin-bottom: 20px;
}
  .document_embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .document_embed_dialog .text_input,
  .document_embed_dialog input[type="checkbox"],
  .document_embed_dialog select {
    position: absolute;
    left: 155px;
  }
    .document_embed_dialog .text_input {
      left: 135px;
      right: 0px;
    }
    .document_embed_dialog select {
      margin-top: 5px;
    }
    .document_embed_dialog input[type="checkbox"] {
      margin-top: 7px;
    }
  .document_embed_dialog label {
    display: inline-block;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .document_embed_dialog .dimensions {
    font-size: 11px;
    position: absolute;
    left: 245px;
    top: 1px;
  }
    .document_embed_dialog .dimensions label {
      font-weight: normal;
      margin-left: 10px;
    }
    .document_embed_dialog .dimensions input {
      font-size: 11px;
      margin: 0 5px;
      width: 30px;
      padding: 0;
    }

  .document_embed_dialog textarea.snippet {
    width: 484px;
    height: 200px;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }

.document_embed_dialog .open_to {
  position: absolute;
  top: 0; left: 255px;
}
  .document_embed_dialog .open_to select {
    position: static;
  }
  .document_embed_dialog .open_to .error {
    font-size: 10px;
    color: #f00;
    margin-top: 5px;
  }

/* ======================= */
/* = Search Embed Dialog = */
/* ======================= */

.search_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}
  .search_embed_dialog .custom {
    height: 360px;
    position: relative;
    font-size: 12px;
  }

.publish_step {
  display: none;
  width: 500px;
}
  .publish_step.is_enabled {
    display: block;
  }

.search_embed_dialog .controls {
  display: none;
}

.search_embed_dialog .publish_wizard_controls {
  position: absolute;
  bottom: 0px;
  width: 500px;
  height: 24px;
}
  .search_embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .search_embed_dialog .publish_wizard_controls .next,
  .search_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.search_embed_dialog .publish_config {
  margin: 20px 0;
}
.search_embed_dialog .publish_section {
  position: relative;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
  .search_embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .search_embed_dialog .publish_prepare_input {
    margin: 0 0 2px 0;
    overflow: hidden;
  }
    .search_embed_dialog input {
      float: left;
    }
    .search_embed_dialog label {
      float: left;
      display: inline-block;
      line-height: 25px;
      width: 150px;
    }

  .search_embed_dialog textarea.snippet {
    width: 484px;
    height: 240px;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }

.search_embed_dialog .publish_prepare_section {
  margin: 0 0 16px 0;
  clear: both;
  overflow: hidden;
}
  .search_embed_dialog .publish_prepare_section_label {
    margin: 0 0 4px 0;
  }
.search_embed_dialog .sidelabel {
  font-size: 10px;
  line-height: 24px;
  color: #999;
  margin: 0 0 0 10px;
  display: inline;
  width: auto;
  float: none;
}
.search_embed_dialog .publish_step_1 input[type=text] {
  width: 30px;
}
.search_embed_dialog input[type="checkbox"] {
  margin: 7px 0 0 0;
}
.search_embed_dialog .publish_step_1 input.input_title {
  width: 250px;
}
.search_embed_dialog .publish_step_1 select {
  margin-top: 5px;
  width: 120px;
}
.search_embed_dialog .publish_step_1 .dimensions {
  font-size: 11px;
  position: absolute;
  left: 290px;
  top: 1px;
}
  .search_embed_dialog .publish_step_1 .dimensions label {
    font-weight: normal;
    margin-left: 10px;
  }
  .search_embed_dialog .publish_step_1 .dimensions input {
    font-size: 11px;
    margin: 0 5px;
    float: none;
    position: static;
  }

/* ===================== */
/* = Note Embed Dialog = */
/* ===================== */

.note_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}
  .note_embed_dialog .custom {
    position: relative;
    font-size: 12px;
  }

.note_embed_dialog .controls {
  display: none;
}

.note_embed_dialog .publish_wizard_controls {
  height: 24px;
}
  .note_embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .note_embed_dialog .publish_wizard_controls .next,
  .note_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.note_embed_dialog .publish_section {
  position: relative;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
  .note_embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .note_embed_dialog .publish_prepare_input {
    margin: 0 0 2px 0;
    overflow: hidden;
  }
  .note_embed_dialog textarea.snippet {
    width: 100%;
    height: 240px;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }

.note_embed_dialog .publish_prepare_section {
  margin: 0 0 16px 0;
  clear: both;
  overflow: hidden;
}
  .note_embed_dialog .publish_prepare_section_label {
    margin: 0 0 4px 0;
  }
  
.note_embed_dialog .publish_step_1 label {
  float: left;
  margin: 0 6px 0 0;
}
.note_embed_dialog .publish_step_1 select {
  margin: 0;
  width: 300px;
}
.note_embed_dialog .note_preview {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 12px;
}
  .note_embed_dialog .note_preview .edit_note {
    display: none;
  }
  .note_embed_dialog .note_preview .annotation_meta {
    display: none;
  }
  .note_embed_dialog .note_preview .note {
    background-color: white;
    margin-top: 0;
  }
