/* ========================= */
/* = Document Embed Dialog = */
/* ========================= */

.document_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}
  .document_embed_dialog .custom {
    height: 430px;
    position: relative;
    font-size: 12px;
  }

.publish_step {
  display: none;
  width: 500px;
}
  .publish_step.is_enabled {
    display: block;
  }

.document_embed_dialog .controls {
  display: none;
}

.document_embed_dialog .publish_wizard_controls {
  position: absolute;
  bottom: 0px;
  width: 500px;
  height: 24px;
}
  .document_embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .document_embed_dialog .publish_wizard_controls .next,
  .document_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.document_embed_dialog .publish_section {
  position: relative;
  margin-bottom: 20px;
}
  .document_embed_dialog .publish_step_2 .publish_section {
    margin-bottom: 5px;
  }
  .document_embed_dialog .text_input {
    position: absolute;
    left: 155px;
  }
    .document_embed_dialog .text_input {
      left: 180px;
      right: 0px;
    }
    .document_embed_dialog select {
      margin-top: 5px;
    }
    .document_embed_dialog input[type="checkbox"] {
      margin-top: 7px;
    }
  .document_embed_dialog label {
    display: inline-block;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .document_embed_dialog .publish_step_2 label {
    margin-bottom: 2px;
  }
  .document_embed_dialog .dimensions {
    font-size: 11px;
    display: inline-block;
  }
    .document_embed_dialog .dimensions label {
      font-weight: normal;
      margin-left: 10px;
    }
    .document_embed_dialog .dimensions input {
      font-size: 10px;
      margin: 0 5px;
      width: 30px;
      padding: 0;
    }

  .document_embed_dialog .snippet {
    width: 484px;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }

    .document_embed_dialog textarea.snippet {
      height: 235px;
    }
  
    .document_embed_dialog input.snippet {
      height: 1.2em;
    }
  
.dialog .remove_lines {
  float: right;
}

.document_embed_dialog .open_to {
  position: absolute;
  top: 0; left: 255px;
}
  .document_embed_dialog .open_to select {
    position: static;
  }
  .document_embed_dialog .open_to .error {
    font-size: 10px;
    color: #f00;
    margin-top: 5px;
  }

/* ======================= */
/* = Search Embed Dialog = */
/* ======================= */

.search_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}
  .search_embed_dialog .custom {
    height: 360px;
    position: relative;
    font-size: 12px;
  }

.publish_step {
  display: none;
  width: 500px;
}
  .publish_step.is_enabled {
    display: block;
  }

.search_embed_dialog .controls {
  display: none;
}

.search_embed_dialog .publish_wizard_controls {
  position: absolute;
  bottom: 0px;
  width: 500px;
  height: 24px;
}
  .search_embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .search_embed_dialog .publish_wizard_controls .next,
  .search_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.search_embed_dialog .publish_config {
  margin: 10px 0;
}
.search_embed_dialog .publish_section {
  position: relative;
  clear: both;
  overflow: hidden;
}
  .search_embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .search_embed_dialog .publish_prepare_input {
    margin: 0 0 2px 0;
    overflow: hidden;
  }
    .search_embed_dialog input {
      float: left;
    }
    .search_embed_dialog label {
      float: left;
      display: inline-block;
      line-height: 25px;
      width: 175px;
    }

  .search_embed_dialog textarea.snippet {
    width: 484px;
    height: 240px;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }

.search_embed_dialog .publish_prepare_section {
  margin: 0 0 16px 0;
  clear: both;
  overflow: hidden;
}
.search_embed_dialog .sidelabel {
  font-size: 10px;
  line-height: 24px;
  color: #999;
  margin: 0 0 0 10px;
  display: inline;
  width: auto;
  float: none;
}
.search_embed_dialog .publish_step_1 input[type=text] {
  width: 30px;
}
.search_embed_dialog input[type="checkbox"] {
  margin: 7px 0 0 0;
}
.search_embed_dialog .publish_step_1 input.input_title {
  width: 240px;
}
.search_embed_dialog .publish_step_1 select {
  margin-top: 5px;
  width: 120px;
}
.search_embed_dialog .publish_step_1 .dimensions {
  font-size: 11px;
  position: absolute;
  left: 290px;
  top: 1px;
}
  .search_embed_dialog .publish_step_1 .dimensions label {
    font-weight: normal;
    margin-left: 10px;
  }
  .search_embed_dialog .publish_step_1 .dimensions input {
    font-size: 11px;
    margin: 0 5px;
    float: none;
    position: static;
  }

/* ===================== */
/* = Page Embed Dialog = */
/* ===================== */

.page_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}

.page_embed_dialog .controls {
  display: none;
}

.page_embed_dialog .publish_wizard_controls {
  height: 24px;
}
  .page_embed_dialog .publish_wizard_controls .next,
  .page_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.page_embed_dialog .publish_section {
  position: relative;
  margin-bottom: 24px;
  clear: both;
}
  .page_embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .page_embed_dialog .snippet {
    width: 96%;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }
  .page_embed_dialog textarea.snippet {
    height: 120px;
  }
  .page_embed_dialog input.snippet {
    height: 1.5em;
  }

.page_embed_dialog .page_preview_section {
  display: none;
  background: rgb(224, 225, 227) url('/images/embed/ui/bg.jpg') 0 0 repeat;
  padding: 25px;
  border-radius: 3px;
}

.page_embed_dialog .page_preview {
  margin: 0 auto;
  width: 400px;

  font: 400 10pt/14pt sans-serif;
  color: rgb(115, 115, 115);
}

  .page_embed_dialog .page_preview a {
    color: rgb(90, 118, 160);
    text-decoration: underline;
  }

  .page_embed_dialog .page_preview p {
    margin: 0.5em 0;
  }

/* ===================== */
/* = Note Embed Dialog = */
/* ===================== */

.note_embed_dialog {
  width: 500px;
  font-size: 12px;
  text-align: left;
}
  .note_embed_dialog .custom {
    position: relative;
    font-size: 12px;
  }

.note_embed_dialog .controls {
  display: none;
}

.note_embed_dialog .publish_wizard_controls {
  height: 24px;
}
  .note_embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .note_embed_dialog .publish_wizard_controls .next,
  .note_embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.note_embed_dialog .publish_section {
  position: relative;
  margin-bottom: 24px;
  clear: both;
}
  .note_embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .note_embed_dialog .publish_prepare_input {
    margin: 0 0 2px 0;
    overflow: hidden;
  }
  .note_embed_dialog .snippet {
    width: 96%;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }
  .note_embed_dialog textarea.snippet {
    height: 120px;
  }
  .note_embed_dialog input.snippet {
    height: 1.5em;
  }
.note_embed_dialog .note {
   box-shadow: none; 
   -webkit-box-shadow: none; 
   -moz-box-shadow: none;
}
.note_embed_dialog .publish_prepare_section {
  margin: 0 0 16px 0;
  clear: both;
  overflow: hidden;
}
  
.note_embed_dialog .publish_step_1 label {
  float: left;
  margin: 0 6px 0 0;
}
.note_embed_dialog .publish_step_1 select {
  margin: 0;
  width: 300px;
}
.note_embed_dialog .note_preview {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 12px;
  margin-right: -12px;
}
  .note_embed_dialog .note_preview .edit_note {
    display: none;
  }
  .note_embed_dialog .note_preview .annotation_meta {
    display: none;
  }
  .note_embed_dialog .note_preview .note {
    background-color: white;
    margin-top: 0;
  }