#entities {
  position: absolute;
  top: 15px; bottom: 0; left: 370px; right: 15px;
}
  #entities .entity_list {
    margin-bottom: 15px;
  }
    #entities .toggle {
      display: inline-block;
      cursor: pointer;
      position: absolute;
      opacity: 0.75; filter: alpha(opacity=75);
      margin-top: 2px;
    }
      #entities .entity_list.less_shown .toggle .less,
      #entities .entity_list.more_shown .toggle .more {
        display: none;
      }
    #entities .list_content.rest {
      display: none;
    }
      #entities .more_shown .list_content.rest {
        display: inline;
      }
    #entities .type_title {
      font: bold 14px/18px Arial;
      color: #204055;
      cursor: pointer;
    }
    #entities .entity {
      cursor: pointer;
      font: 11px/18px Arial;
      color: #454545;
    }
      #entities .entity:hover {
        color: #204055;
        text-decoration: underline;
      }