/* Entities inside of Document Tiles ---------------------------------------*/

.document .entities {
  overflow: hidden;
  position: relative;
  margin-right: -50px;
}
  .document .entity_group {
    width: 400px;
    min-height: 274px;
    margin: 0 50px 20px 0;
    float: left;
  }
    .document .entity_group_title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .document .entity_line {
      line-height: 15px;
      height: 15px;
      padding: 5px 0;
    }
      .document .entity_line_title {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;
        position: absolute;
      }
      .document .entity_buckets {
        position: relative;
        width: 290px;
        margin-left: 110px;
        height: 15px;
      }
        .document .entity_rule {
          position: absolute;
          background: #eee;
          width: 100%;
          top: 7px;
          height: 1px;
        }
        .document .entity_bucket_wrap {
          position: relative;
          display: block;
          float: left;
          width: 3px; height: 15px; 
          padding-right: 1px;
          cursor: pointer;
        }
          .document .entity_bucket {
            position: absolute;
            top: 50%;
            width: 3px;
            background: #ccc;
            background: rgba(0,0,0,0.3);
          }
            .document .entity_bucket_wrap:hover .entity_bucket {
              background: #999;
              background: rgba(0,0,0,0.5);
            }