.help_text {
  font: 11px/16px Helvetica, Arial;
  color: #555;
}

#contact_us .text {
  font-size: 10px;
  margin-bottom: 30px;
  color: #999;
}
  #contact_us .text a {
    color: #999;
    text-decoration: underline;
  }

#help {
  color: #555;
  padding: 15px 30px 30px;
  max-width: 550px;
  font: 14px/18px Helvetica, Arial;
  display: none;
}
  #help .static_only {
    display: none;
  }
  body.help_panel_tab #help {
    display: block;
  }
  #help code, #help tt, #help pre {
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
  }
  #help img {
    float: right;
    margin-left: 15px;
  }  
  #help img.full_line {
    display: block;
    margin: 0 auto;
    float: none;
  }
  #help em {
    font-style: italic;
  }
  #help a {
    color: #000;
  }
    #help a:hover {
      text-decoration: underline;
    }
  #help h1, #help h2 {
    margin: 30px 0 15px 0;
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }
  #help h2 {
    font-size: 14px;
  }
  #help p {
    margin: 20px 0;
  }
  #help ul {
    list-style-type: disc;
    padding-left: 25px;
  }
    #help ul li {
      margin-bottom: 5px;
    }
  #help_toolbar {
    height: 26px;
    margin-bottom: 20px;
  }
    #help_toolbar .minibutton {
      width: 150px;
      float: left;
      margin: 0 8px 8px 0;
    }
  #help_content {
    clear: both;
  }
  #help td, #help th {
    padding: 0 15px 15px 0;
    font-size: 12px;
  }
    #help th {
      color: #000;
      font-weight: bold;
    }
    #help td:first-child {
      min-width: 75px;
      font-weight: bold;
    }