.help_text {
  font: 11px/16px Arial;
  color: #555;
}

#help {
  color: #555;
  padding: 15px 30px 30px;
  max-width: 550px;
  font: 14px/18px Arial;
  display: none;
}
  body.help_panel_tab #help {
    display: block;
  }
  #help code, #help tt, #help pre {
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
  }
  #help img {
    float: right;
    margin-left: 15px;
  }
  #help em {
    font-style: italic;
  }
  #help a {
    color: #000;
  }
    #help a:hover {
      text-decoration: underline;
    }
  #help h1 {
    margin: 30px 0 15px 0;
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }
  #help p {
    margin: 20px 0;
  }
  #help_toolbar {
    height: 30px;
    margin-bottom: 20px;
  }
    #help_toolbar .minibutton {
      width: 140px;
      float: left;
      margin-right: 8px;
    }
  #help td, #help th {
    padding: 0 15px 15px 0;
    font-size: 12px;
  }
    #help th {
      color: #000;
      font-weight: bold;
    }
    #help td:first-child {
      min-width: 75px;
      font-weight: bold;
    }