.icon {
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  width: 16px; height: 16px;
}
  .icon.size32 {
    width: 32px; height: 32px;
  }

#no_results .icon.document {
  width: 60px; height: 75px;
  background: url(/images/embed/documents/generic.png);
  border: 0;
}

.icon.warning_16 {
  background-image: url(/images/embed/icons/warning_16.png);
}
.icon.search_button_16 {
  background-image: url(/images/embed/icons/search_button_16.png);
}
.icon.spinner,
#spinner {
  background-image: url(/images/embed/ui/spinner_circle.gif);
}
.icon.spinner_dark {
  background-image: url(/images/embed/ui/spinner_circle_dark.gif);
}
.icon.note {
  background-image: url(/images/embed/icons/note.png);
}
.icon.add_16 {
  background-image: url(/images/embed/icons/add_16.png);
  background-position: 1px 1px;
}
.icon.lock,
.DV-privateLock {
  background-image: url(/images/embed/icons/lock.png);
}
.icon.cancel_search {
  width: 11px; height: 11px;
  background: url(/images/embed/icons/cancel_search.png);
  cursor: pointer;
}
.icon.white_plus {
  width: 10px; height: 10px;
  background-image: url(/images/embed/icons/plus.png);;
}
.icon.edit_glyph,
.DV-showEdit {
  background-position: center 0;
  background-image: url(/images/embed/icons/twopencils.png);;
}
  .icon.edit_glyph:hover,
  .DV-showEdit:hover {
    background-position: center -16px;
  }
.icon.search_glyph {
  width: 12px; height: 12px;
  background-image: url(/images/embed/icons/search_glyph.png);;
}

.icon.plus, .icon.minus {
  display: block;
  width: 14px; height: 14px;
  background-position: center center;
}
  .icon.plus {
    background-image: url(/images/embed/ui/plus.png);
  }
  .icon.minus {
    background-image: url(/images/embed/ui/minus.png);
  }

.icon.mini_note {
  width: 12px; height: 7px;
  background-image: url(/images/embed/icons/mini_note.png);
}

.icon.calais_30 {
  width: 30px; height: 30px;
  background-image: url(/images/embed/icons/calais_30.png);
}

#notifier.warn_style {
  background-image: url(/images/embed/icons/bullet_red.png);
}
#notifier.info_style,
.menu_content .menu_item.checked {
  background-image: url(/images/embed/icons/dark_check.png);
}
.menu_content .menu_item.plus {
  background-image: url(/images/embed/icons/dark_plus.png);
}