.icon {
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  width: 16px; height: 16px;
}
  .icon.size32 {
    width: 32px; height: 32px;
  }

#no_results .icon.document {
  width: 60px; height: 75px;
  background: url(/images/embed/documents/generic.png);
  border: 0;
}

.icon.alert_gray {
  background-image: url(/images/embed/icons/alert_gray.png);
}
.icon.alert_yellow {
  background-image: url(/images/embed/icons/alert_yellow.png);
}
.icon.spinner,
#spinner {
  background-image: url(/images/embed/ui/spinner_circle.gif);
}
.icon.spinner_dark {
  background-image: url(/images/embed/ui/spinner_circle_dark.gif);
}
.icon.lock,
.DV-privateLock {
  background-image: url(/images/embed/icons/lock.png);
  background-position: center 0;
}
.icon.published {
  background-image: url(/images/embed/icons/published.png);
  background-position: center 0;
}
  .icon.published:hover {
    background-position: center -28px;
  }
.icon.cancel_search, .icon.cancel_search_dark {
  width: 11px; height: 11px;
  background-position: center 0;
  background-image: url(/images/embed/icons/cancel_search.png);
  cursor: pointer;
}
  .icon.cancel_search_dark {
    background-image: url(/images/embed/icons/cancel_search_dark.png);
  }
  .icon.cancel_search:hover, .icon.cancel_search_dark:hover {
    background-position: center -11px;
  }
.icon.white_plus {
  width: 10px; height: 10px;
  background-image: url(/images/embed/icons/plus.png);
}
.icon.edit_glyph,
.DV-showEdit {
  background-position: center 0;
  background-image: url(/images/embed/icons/twopencils.png);
}
  .icon.edit_glyph_dark {
    background-position: center 0;
    background-image: url(/images/embed/icons/twopencils_dark.png);
  }
  .icon.edit_glyph:hover,
  .icon.edit_glyph_dark:hover,
  .DV-showEdit:hover {
    background-position: center -26px;
  }
.icon.permalink {
  background-position: center 0;
  background-image: url(/images/embed/icons/link.png);
}
  .icon.permalink:hover {
    background-position: center -32px;
  }
.icon.search_glyph {
  width: 12px; height: 12px;
  background-image: url(/images/embed/icons/search_glyph.png);
}

.icon.plus, .icon.minus {
  display: block;
  width: 14px; height: 14px;
  background-position: center center;
}
  .icon.plus {
    background-image: url(/images/embed/ui/plus.png);
  }
  .icon.minus {
    background-image: url(/images/embed/ui/minus.png);
  }

.icon.toggle,
.DV-caret {
  width: 12px; height: 12px;
  background-position: 0 -12px;
  background-image: url(/images/embed/ui/toggle.png);
}
  .icon.toggle:hover {
    background-position: 0 -36px;
  }
  .show_accounts .icon.toggle,
  .icon.toggle.is_enabled,
  .DV-caret {
    background-position: 0 0;
  }
    .show_accounts .icon.toggle:hover,
    .icon.toggle.is_enabled:hover,
    .left_chosen .DV-caret,
    .right_chosen .DV-caret {
      background-position: 0 -24px;
    }

.icon.file {
  height: 32px;
  width: 32px;
  background-image: url(/images/rare/file.png);
}
  .icon.file_pdf {
    background-image: url(/images/rare/file_acrobat.png);
  }
  .icon.file_doc, .icon.file_docx, .icon.file_wps {
    background-image: url(/images/rare/file_word.png);
  }
  .icon.file_ppt, .icon.file_pptx {
    background-image: url(/images/rare/file_powerpoint.png);
  }
  .icon.file_xls, .icon.file_xlsx, .icon.file_csv {
    background-image: url(/images/rare/file_excel.png);
  }

.icon.mini_note, .icon.mini_note_private {
  width: 12px; height: 7px;
  background-image: url(/images/embed/icons/mini_note.png);
}
  .icon.mini_note_private {
    background-image: url(/images/embed/icons/mini_note_private.png);
  }
.icon.mini_redaction {
  width: 8px; height: 4px;
  background: #6a6a6a;
  border: 1px solid #333;
  margin: 1px 0 0 1px;
}

#notifier.warn_style {
  background-image: url(/images/embed/icons/bullet_red.png);
}
#notifier.info_style,
.menu_content .menu_item.checked {
  background-image: url(/images/embed/icons/dark_check.png);
}
.menu_content .menu_item.plus {
  background-image: url(/images/embed/icons/dark_plus.png);
}

/*-------------------- Online Social Services --------------------- */
.login_services {
  list-style: none;
}
  .login_services a.icon {
    font-size: 11px;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999em;
  }
  .login_services .icon.twitter {
      background: url("/images/embed/icons/social-icons.png");
  }
  .login_services .icon.facebook {
      background: url("/images/embed/icons/social-icons.png") -32px 0;
  }
  .login_services .icon.google {
      background: url("/images/embed/icons/social-icons.png") -64px 0;
  }
  .login_services li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
