.icon {
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  width: 16px; height: 16px;
}
  .icon.size32 {
    width: 32px; height: 32px;
  }

#no_results .icon.document {
  width: 60px; height: 75px;
  background: url(/images/embed/documents/generic.png);
}

.icon.delete {
  background-image: url(/images/embed/icons/delete.png);
}
.icon.page_white_get {
  background-image: url(/images/embed/icons/page_white_get.png);
}
.icon.page_text_add_32 {
  background-image: url(/images/embed/icons/page_text_add_32.png);
}
.icon.warning_16 {
  background-image: url(/images/embed/icons/warning_16.png);
}
.icon.folder {
  background-image: url(/images/embed/icons/folder.png);
}
.icon.folder_add {
  background-image: url(/images/embed/icons/folder_add.png);
}
.icon.folder_32 {
  background-image: url(/images/embed/icons/folder_32.png);
}
.icon.search_button_16 {
  background-image: url(/images/embed/icons/search_button_16.png);
}
.icon.search_32 {
  background-image: url(/images/embed/icons/search_32.png);
}
.icon.page_text_32 {
  background-image: url(/images/embed/icons/page_text_32.png);
}
.icon.note {
  background-image: url(/images/embed/icons/note.png);
}
.icon.add_16 {
  background-image: url(/images/embed/icons/add_16.png);
  background-position: 1px 1px;
}
.icon.lock {
  background-image: url(/images/embed/icons/lock.png);
}
.icon.calais {
  background-image: url(/images/embed/icons/calais.jpg);
}

.icon.plus, .icon.minus {
  display: block;
  width: 14px; height: 14px;
  background-position: center center;
}
  .icon.plus {
    background-image: url(/images/embed/ui/plus.png);
  }
    .icon.plus:hover {
      background-image: url(/images/embed/ui/plus_lit.png);
    }
  .icon.minus {
    background-image: url(/images/embed/ui/minus.png);
  }
    .icon.minus:hover {
      background-image: url(/images/embed/ui/minus_lit.png);
    }