#metadata_container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
  .metadata {
    padding: 0 0 10px 0;
    font-size: 10px;
    color: #333;
    line-height: 12px;
  }

.metalist {
  margin: 10px 0 0 0;
}
  .metalist:first-child {
    margin-top: 0;
  }
    .metalist:first-child .metalist_title {
      padding-top: 7px;
    }
  .metalist_content.rest {
    display: none;
  }
    .metalist.more_shown .metalist_content.rest {
      display: block;
    }
  .metalist .toggle {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    opacity: 0.75; filter: alpha(opacity=75);
    margin-top: -2px;
  }
    .metalist.less_shown .toggle .less,
    .metalist.more_shown .toggle .more {
      display: none;
    }
  .metalist_title {
    text-transform: uppercase;
    padding: 3px 5px 2px 9px;
    border-top: 1px solid #d0d0d0;
    color: #777;
  }
  .metalist_entry {
    padding: 1px 0 1px 19px;
    line-height: 14px;
    font-size: 11px;
  }
    .metalist_entry:first-child {
      padding-top: 3px;
    }
    .metalist_entry:hover {
      background: #d7d7d7;
    }
    .metalist_entry .jump_to {
      cursor: pointer;
    }
    .metalist_entry .add_to_search {
      display: none;
      position: absolute;
      opacity: 0.75; filter: alpha(opacity=75);
      cursor: copy;
    }
      .metalist_entry:hover .add_to_search {
        display: inline-block;
      }