#navigation {
  height: 16px;
  padding: 7px 15px;
  font: 11px/16px Arial;
  color: #254555;
}
  #navigation span {
    cursor: pointer;
  }
    #navigation span:hover {
      text-decoration: underline;
    }

/*------------------------- View-mode visibility -----------------------------*/

div.active_search,
div.empty_search {
  display: none;
}
  body.active_search div.active_search,
  body.empty_search div.empty_search {
    display: block;
  }