#sidebar .block {
  background: #fff;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 30px 20px 30px;
}
  #sidebar .block.explanation {
    font: 11px/15px Helvetica, Arial;
    color: #333;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
  }
    #sidebar .block.first_explanation {
      margin-top: 0;
      border-top: 0;
      border-right: 2px solid #ccc;
    }
  #sidebar .calais_info {
    margin-top: 15px;
    line-height: 30px;
    display: block;
  }
    #sidebar .block .calais_30 {
      float: left;
      margin-right: 12px;
    }
    
#organizer { display: none; }
body.search_panel_tab #organizer { display:block; }

#organizer_projects,
#entities {
  position: relative;
  display: none;
  overflow: hidden;
}
  body.documents_sidebar_tab #organizer_projects,
  body.entities_sidebar_tab #entities {
    display: block;
  }
#organizer #project_controls {
  margin-right: 2px;
  position: relative;
  padding: 20px 15px;
}
  #new_document_form {
    position: relative;
    height: 26px;
    overflow: hidden;
    width: 150px;
  }
    #new_document_form input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      border: 300px solid transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -o-transform: translate(-300px, -300px) scale(10);
      -moz-transform: translate(-800px, 0) scale(10);
      cursor: pointer;
    }
    #new_document_form button {
      display: none;
    }
    #new_document_form .minibutton {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 130px;
    }
#organizer .project_list_wrap {
}
  #organizer.has_projects .project_help {
    display: none;
  }
  #organizer .project_help {
    padding: 15px 10px 15px 30px;
    border-bottom: 1px solid #e0e0e0;
  }

#organizer .account_links {
  display: none;
  color: #808080;
  font-size: 11px;
  line-height: 17px;
}
  #organizer .show_accounts .account_links {
    display: block;
  }
  #organizer .toggle_account_links {
    position: absolute;
    margin: 4px 0 0 -13px;
  }

#organizer .box,
#organization_list .box,
#organizer .top_level_search {
  position: relative;
  padding: 15px 20px 15px 30px;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #fff;
  border-right: 2px solid #ccc;
  background: #f4f3f1;
}
  #organizer .top_level_search {
    padding: 20px 20px 20px 30px;
  }
  #organizer .box,
  #organization_list .box {
    background-image: url(/images/embed/ui/box_back.png);
    background-repeat: repeat-y;
    background-position: right top;
  }
    #organizer .box:hover, #organization_list .box:hover {
      background: #fff;
    }
  body.search_panel_tab #organizer .box.is_selected,
  body.search_panel_tab #organizer .box.is_selected:hover {
    border-right-color: transparent;
    background: #fff;
  }
  #organizer .box .edit_glyph,
  #organization_list .box .edit_glyph {
    display: inline;
    width: 0;
    vertical-align: baseline;
    padding-right: 11px;
    margin-left: 6px;
    zoom: 1;
    visibility: hidden;
  }
    #organizer .box:hover .edit_glyph,
    #organization_list .box:hover .edit_glyph, 
    body.search_panel_tab #organizer .box.is_selected .edit_glyph {
      visibility: visible;
    }
  #organizer .box .title,
  #organization_list .box .title {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    color: #333;
  }
    body.search_panel_tab #organizer .box.is_selected .title,
    #organization_list .box.is_selected .title,
    #organizer .box:hover .title,
    #organization_list .box:hover .title {
      color: #000;
    }
    #organizer .box .last_word,
    #organization_list .box .last_word {
      white-space: nowrap;
    }
  #organizer .box .description,
  #organization_list .box .description {
    font-size: 11px;
    line-height: 14px;
    margin: 5px 0;
    color: #333;
  }
  #organizer .box .counts,
  #organizer .top_level_search .text_link,
  #organization_list .box .counts {
    font-size: 11px;
    line-height: 17px;
    color: #808080;
  }
    #organizer .box .counts,
    #organization_list .box .counts {
      line-height: 14px; margin: 2px 0 1px 0;
    }
    #organizer .top_level_search .text_link:hover {
      color: black;
    }
  #organizer .top_level_search {
    border-top: 0;
    background: #fff;
    border-right: 2px solid #ccc;
  }

/*------------------------------ Entities ---------------------------------*/
#entities {
  font: 11px/15px Helvetica, Arial;
  color: #333;
  background: #fff;
  margin-right: 2px;
}
  #entities .section {
    width: 308px;
    margin: 30px 0 0 0;
  }
    #entities .section.first {
      margin-top: 20px;
    }
    #entities .category {
      font: bold 12px Helvetica, Arial;
      padding-left: 30px;
      color: #000;
    }
    #entities .rows {
      margin: 4px 0 0 0;
    }
      #entities .row {
        width: 268px;
        padding: 0px 10px 1px 30px;
        border: 1px solid transparent;
        border-left: 0; border-right: 0;
        cursor: pointer;
        position: relative;
      }
        #entities .row:hover,
        #entities .row.active {
          border-color: #d9d9d9;
          background: #f9f9f9;
          margin-top: -1px; padding: 1px 10px 1px 30px;
        }
        #entities .count {
          color: #808080;
        }
        #entities .more, #entities .less {
          padding-left: 30px;
        }
        #entities .show_pages {
          margin-left: 3px;
          zoom: 1;
          opacity: 0; filter: alpha(opacity=0);
        }
          #entities .row.active .show_pages,
          #entities .row:hover .show_pages {
            opacity: 1; filter: alpha(opacity=100);
          }
        #entities .cancel_search {
          position: absolute;
          top: 50%; left: 10px; margin-top: -6px;
          display: none;
        }
          #entities .row.active .cancel_search {
            display: block;
          }
  #entities .no_results {
    padding: 15px 15px 15px 30px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    color: #333;
  }

/*--------------------------- Edit Project Dialog ----------------------------*/
#project_dialog {
  width: 425px;
}
  #project_dialog .collaboration {
    margin: 30px 0 10px;
    text-align: left;
  }
  #project_dialog .enter_email .minibutton {
    float: right;
  }
  #project_dialog .enter_email_label {
    font-size: 12px;
  }
  #project_dialog .enter_email .text_input {
    position: absolute;
    left: 170px; right: 125px;
  }
  #project_dialog .collaborators_title {
  }
  #project_dialog .collaborator_list_wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 185px;
    margin: 15px 0;
  }
    #project_dialog .account_view {
      padding: 10px 0;
      height: 27px;
      font: 11px/27px Helvetica, Arial;
      border-bottom: 1px solid #222;
    }
  #project_dialog .slug {
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    color: #808080;
  }
  #project_dialog .description_wrap {
    margin: 10px 0 0 0;
  }
    #project_dialog #project_description {
      width: 410px;
      height: 64px;
    }

/*------------------------------- Scrolling ----------------------------------*/
.scroll {
  position: absolute;
  top: 5px; bottom: 5px; left: 0; right: 0;
}
  .scroll.not_active {
    top: 5px; bottom: 15px;
  }
  .scroll_content {
    position: absolute;
    top: 0; bottom: 0;
    width: 310px;
    overflow-y: hidden;
  }
    .scroll.is_active .scroll_content {
      top: 0px; bottom: 20px;
    }
  .scroll_up, .scroll_down {
    height: 19px;
    cursor: pointer;
    position: absolute;
    width: 308px;
    z-index: 10;
  }
    .scroll_up {
      background: #fff url(/images/embed/ui/page_up.png) no-repeat;
      border-bottom: 1px solid #e0e0e0;
    }
    .scroll_down {
      background: #fff url(/images/embed/ui/page_down.png) no-repeat;
      bottom: 0px;
      border-top: 1px solid #e0e0e0;
    }
      .scroll.top_position .scroll_up, .scroll_up.bottom_position .scroll_down {
        border-color: transparent;
      }
      .scroll.not_active .scroll_up, .scroll.not_active .scroll_down {
        display: none;
      }
      .scroll.top_position .scroll_up, .scroll.bottom_position .scroll_down {
        background: #fff;
        cursor: default;
      }
