#organizer {
}
  #project_controls {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 15px 15px 30px;
    margin-right: 2px;
  }
    #project_controls .minibutton {
      float: left;
      margin-right: 10px;
    }
  #organizer .sidebar_section {
    padding-bottom: 15px;
  }
  #organizer #organizer_projects,
  #organizer #organizer_entities {
    position: relative;
    display: none;
    overflow: hidden;
  }
    #organizer.projects_active #organizer_projects,
    #organizer.entities_active #organizer_entities {
      display: block;
    }
  #organizer .project_list_wrap {
  }
    #organizer.has_projects .project_help {
      display: none;
    }
    #organizer .project_help {
      padding: 10px 15px;
    }
    #organizer .box {
      position: relative;
      padding: 15px 15px 15px 30px;
      cursor: pointer;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #fff;
      border-right: 2px solid #ccc;
      background: #f4f3f1;
    }
      #organizer .box, #organizer_entities .section {
        background-image: url(/images/embed/ui/box_back.png);
        background-repeat: repeat-y;
        background-position: right top;
      }
      #organizer .box.is_selected,
      #organizer .box.is_selected:hover {
        border-right: 0;
        width: 265px;
        background: #fff;
        border-top-right-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0;
      }
      #organizer .box .edit,
      #organizer .box.uploaded_documents:hover .edit {
        display: none;
      }
        #organizer .box:hover .edit {
          display: inline;
        }
      #organizer .box .title {
        font: bold 14px Arial;
        color: #4e4e4e;
      }
        #organizer .box.is_selected .title,
        #organizer .box:hover .title {
          color: #000;
        }
      #organizer .box .counts,
      #project_dialog .counts {
        font: 10px/16px Arial;
        color: #808080;
      }

/*------------------------------ Entities ---------------------------------*/
#organizer #organizer_entities {
  font: 11px/14px Arial;
  color: #000;
  background: #f4f3f1;
}
  #organizer_entities .section {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
    border-right: 2px solid #ccc;
  }
    #organizer_entities .section:first-child {
      border-top: 0;
    }
    #organizer_entities .category {
      font: bold 14px Arial;
      padding-left: 30px;
      color: #4e4e4e;
    }
    #organizer_entities .rows {
      margin: 4px 0;
    }
      #organizer_entities .row {
        padding-left: 30px;
        border: 1px solid transparent;
        border-left: 0; border-right: 0;
        cursor: pointer;
        position: relative;
      }
        #organizer_entities .row.active,
        #organizer_entities .row:hover {
          border-top-color: #fff;
          border-bottom-color: #e0e0e0;
        }
          #organizer_entities .row.active,
          #organizer_entities .row.active:hover {
            background: #fff;
            width: 280px;
          }
        #organizer_entities .count,
        #organizer_entities .show_pages {
          font-size: 10px;
          color: #808080;
        }
        #organizer_entities .show_pages {
          margin-left: 3px;
        }
          #organizer_entities .show_pages:hover {
            text-decoration: underline;
          }
        #organizer_entities .cancel_search {
          position: absolute;
          top: 2px; left: 10px;
        }
    #organizer_entities .more, #organizer_entities .less {
      padding-left: 30px;
      font-weight: bold;
      cursor: pointer;
    }
  #organizer_entities .no_results {
    margin: 15px;
    color: #4e4e4e;
  }

/*--------------------------- Edit Project Dialog ----------------------------*/
#project_dialog {
  width: 375px;
}
  #project_dialog .custom {
    padding: 15px 15px 25px 15px;
    width: 340px;
  }
    #project_dialog label {
      display: block;
      font: bold 13px/25px Arial;
      color: #4e4e4e;
      margin-bottom: 10px;
    }
    #project_dialog .text_input {
      position: absolute;
      right: 12px;
      width: 300px;
    }
    #project_dialog .delete {
      float: left;
      margin-left: 10px;
    }

/*---------------------------- Projects Menu ---------------------------------*/
#projects_menu_content {

}
  #projects_menu_content .menu_item {
  }
