#organizer {
}

  #organizer .sidebar_section {
    padding-bottom: 15px;
  }
    #organizer .nametag.large {
      position: relative;
      padding-right: 0;
    }
      #organizer .nametag .button {
        float: left;
        width: 121px;
        cursor: pointer;
        color: #204055;
      }
        #organizer .nametag .button:hover {
          text-decoration: underline;
        }
        #organizer .nametag .button:first-child {
          border-right: 1px dotted #d0d0d0;
          width: 115px;
          padding-right: 15px;
          margin-right: 15px;
        }
        #sidebar .nametag .icon {
          float: left;
          margin-right: 10px;
        }


  #organizer .project_list,
  #organizer .project_help {
    position: absolute;
    top: 42px; bottom: 0px; left: 0; right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
  }
    #organizer.has_projects .project_list,
    #organizer.no_projects .project_help {
      display: block;
    }
    #organizer .project_help {
      padding: 10px 15px;
    }
    #organizer .box {
      position: relative;
      padding: 15px;
      cursor: pointer;
      border-bottom: 1px solid #d0d0d0;
    }
      #organizer .box.is_open {
        background-color: #f7f7f7;
      }
      #organizer .box .pointer {
        width: 10px; height: 19px;
        position: absolute; right: 15px; top: 50%;
        margin-top: -10px;
        background-image: url(/images/embed/ui/pointer.png);
        display: none;
      }
        #organizer .box.is_open .pointer {
          display: block;
        }
      #organizer .box .edit {
        display: none;
      }
        #organizer .box:hover .edit {
          display: inline;
        }
      #organizer .box .title {
        font: bold 14px Arial;
        color: #204055;
      }
      #organizer .box .counts,
      #project_dialog .counts {
        font: 10px/16px Arial;
        color: #777;
      }

/*--------------------------- Edit Project Dialog ----------------------------*/
#project_dialog {
  width: 375px;
}
  #project_dialog .custom {
    padding: 15px 15px 25px 15px;
    width: 340px;
  }
    #project_dialog label {
      display: block;
      font: bold 13px/25px Arial;
      color: #454545;
      margin-bottom: 10px;
    }
    #project_dialog .text_input {
      position: absolute;
      right: 12px;
      width: 300px;
    }
    #project_dialog .delete {
      float: left;
      margin-left: 10px;
    }

/*---------------------------- Projects Menu ---------------------------------*/
#projects_menu_content {

}
  #projects_menu_content .menu_item {
  }
