#organizer {
}
  #organizer #tabs {
    position: absolute;
    left: 15px;
    top: -32px;
  }
    #organizer #tabs .tab {
      position: relative;
      width: 90px;
      padding: 10px 0 8px 0;
      text-align: center;
      font: bold 11px Arial;
      height: 12px;
      cursor: pointer;
      float: left;
      margin-right: 4px;
      top: 1px;
      border: 1px solid #b0b0b0;
      border-bottom: 0;
      color: #808080;
      -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
      -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
    }
      #organizer.projects_active #projects_tab,
      #organizer.entities_active #entities_tab {
        background: white;
        bottom: -1px;
        color: #204055;
      }

  #new_project, #upload_document {
    margin: 15px 0 15px 15px;
  }

  #organizer .sidebar_section {
    padding-bottom: 15px;
  }
  #organizer #organizer_projects,
  #organizer #organizer_entities {
    display: none;
  }
    #organizer.projects_active #organizer_projects,
    #organizer.entities_active #organizer_entities {
      display: block;
    }
  #organizer .project_list_wrap {
    position: absolute;
    top: 0px; bottom: 0px; left: 0; right: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
    #organizer.has_projects .project_help {
      display: none;
    }
    #organizer .project_help {
      padding: 10px 15px;
    }
    #organizer .box {
      position: relative;
      padding: 15px;
      cursor: pointer;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #fff;
      border-right: 6px solid #ede9e8;
    }
      #organizer .box:hover {
        border-right: 0;
      }
      #organizer .box.is_selected {
        background-color: #fff;
        border-right: 0;
      }
      #organizer .box .pointer {
        width: 10px; height: 19px;
        position: absolute; right: 15px; top: 50%;
        margin-top: -10px;
        background-image: url(/images/embed/ui/pointer.png);
        display: none;
      }
        #organizer .box.is_selected .pointer {
          display: block;
        }
      #organizer .box .edit,
      #organizer .box.uploaded_documents:hover .edit {
        display: none;
      }
        #organizer .box:hover .edit {
          display: inline;
        }
      #organizer .box .title {
        font: bold 14px Arial;
        color: #555;
      }
        #organizer .box.is_selected .title, #organizer .box:hover .title {
          color: #204055;
        }
      #organizer .box .counts,
      #project_dialog .counts {
        font: 10px/16px Arial;
        color: #555;
      }

/*------------------------------ Entities ---------------------------------*/
#organizer #organizer_entities {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow-y: auto;
}
  #organizer .section {
    padding: 15px 5px 15px 15px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
  }
    #organizer .category {
      font: bold 14px Arial;
      margin-bottom: 2px;
      color: #555;
    }
    #organizer .row {
      font: 11px/14px Arial;
    }
      #organizer .facet {
        cursor: pointer;
        color: #204055;
      }
      #organizer .count {
        font-size: 10px;
        color: #777;
      }

/*--------------------------- Edit Project Dialog ----------------------------*/
#project_dialog {
  width: 375px;
}
  #project_dialog .custom {
    padding: 15px 15px 25px 15px;
    width: 340px;
  }
    #project_dialog label {
      display: block;
      font: bold 13px/25px Arial;
      color: #454545;
      margin-bottom: 10px;
    }
    #project_dialog .text_input {
      position: absolute;
      right: 12px;
      width: 300px;
    }
    #project_dialog .delete {
      float: left;
      margin-left: 10px;
    }

/*---------------------------- Projects Menu ---------------------------------*/
#projects_menu_content {

}
  #projects_menu_content .menu_item {
  }
