#paginator {
  position: absolute;
  display: none;
  bottom: 0px; left: 0px; right: 0px;
  height: 22px;
  padding: 7px 15px 7px 20px;
  font: 11px/22px Arial;
  color: #4e4e4e;
  text-align: center;
  border: 1px solid #ddd; border-left: 0; border-right: 0;
  z-index: 10;
}
  body.paginated #paginator {
    display: block;
  }
  #paginator span.description {
    position: absolute;
    left: 20px;
  }
  #paginator span.page_link, #paginator span.arrow {
    cursor: pointer;
    padding: 0 5px;
  }
    #paginator span.page_link:hover, #paginator span.arrow:hover, #paginator span.page_link.current {
      color: #000;
    }
      #paginator span.page_link.current {
        font-weight: bold;
      }