#paginator {
  display: none;
  position: absolute;
  bottom: 20px; left: 30px; right: 30px;
  padding: 12px 0 10px;
  font-size: 11px;
  color: #999;
  text-align: right;
  border-top: 1px solid #e0e0e0;
}
  body.paginated #paginator {
    display: block;
  }
  #paginator .description {
    float: left;
  }
    #paginator .range {
      font-weight: bold;
    }
  #paginator .prev, #paginator .next {
    cursor: pointer;
  }
    #paginator .text {
      text-decoration: underline;
    }
  #paginator .enumeration {
    margin: 0 8px;
  }