/* ================== */
/* = Publish Dialog = */
/* ================== */

.embed_dialog {
  width: 500px;
  height: 400px;
  font-size: 12px;
  text-align: left;
}
  .embed_dialog .custom {
    font-size: 12px;
  }

.publish_step {
  display: none;
  width: 500px;
}
  .publish_step.is_enabled {
    display: block;
  }

.embed_dialog .controls {
  display: none;
}

.embed_dialog .publish_wizard_controls {
  position: absolute;
  bottom: 30px;
  width: 500px;
}
  .embed_dialog .publish_wizard_controls .cancel {
    float: left;
  }
  .embed_dialog .publish_wizard_controls .next,
  .embed_dialog .publish_wizard_controls .previous {
    float: right;
    margin-left: 8px;
  }

.embed_dialog .publish_section {
  position: relative;
  margin-bottom: 20px;
}
  .embed_dialog .publish_info {
    font-size: 11px;
    color: #ccc;
  }
  .embed_dialog .text_input,
  .embed_dialog input[type="checkbox"],
  .embed_dialog select {
    position: absolute;
    left: 150px;
  }
    .embed_dialog .text_input {
      right: 0px;
    }
    .embed_dialog select {
      margin-top: 5px;
    }
    .embed_dialog input[type="checkbox"] {
      margin-top: 7px;
    }
  .embed_dialog label {
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .embed_dialog .dimensions {
    font-size: 11px;
    position: absolute;
    left: 245px;
    top: 1px;
  }
    .embed_dialog .dimensions label {
      font-weight: normal;
      margin-left: 10px;
    }
    .embed_dialog .dimensions input {
      margin: 0 5px;
      width: 30px;
    }

  .embed_dialog textarea.snippet {
    width: 484px;
    height: 200px;
    border: 1px solid #dedede;
    font: 11px Menlo, Consolas, Monaco, Courier, monospace;
    margin: 10px 0px;
    padding: 8px;
    resize: none;
  }