#related_documents_container {
  display: none;
  padding: 25px 27px 0;
}
  body.related_documents.documents_panel_tab #related_documents_container {
    display: block;
  }
  body.related_documents #search_box_container {
      display: none;
  }
  
  #related_documents_container .document {
      font: 11px/14px Helvetica,Arial;
      margin-bottom: 20px;
      min-height: 80px;
      padding: 2px 30px 5px 90px;
  }
  #related_documents_container .show_notes,
  #related_documents_container .description {
      display: none;
  }
  #related_documents_container .related_documents_header {
    color:#000000;
    font:bold 22px Helvetica, Arial;
    padding:0 20px 20px;
    text-align:center;
  }