/*------------------------------ TIMELINE ---------------------------------*/

#timeline_dialog {
  max-width: none;
  width: 800px;
}
  #timeline_dialog .text {
    padding: 3px 3px 20px 3px;
  }
  #timeline_dialog .cancel {
    display: none;
  }
  #timeline_dialog .timeline_plot {
    width: 800px;
    cursor: default;
  }
  #timeline_dialog .tickLabel {
    font-size: 11px;
    color: #ccc;
  }
  #timeline_dialog .zoom_out {
    width: 80px;
  }