/*------------------------------ TIMELINE ---------------------------------*/

#timeline_dialog {
  max-width: none;
  width: 820px;
}
  #timeline_dialog .text {
    padding: 3px 3px 20px 3px;
  }
  #timeline_dialog .cancel {
    display: none;
  }
  #timeline_dialog .zoom_out {
    display: none;
    float: left;
    margin-left: 10px;
  }
    #timeline_dialog.on_zoom .zoom_out {
      display: block;
    }