#search_toolbar_container {
  overflow: hidden;
  height: 24px;
  margin: 0 10px 0 30px;
  position: relative;
}

#toolbar .minibutton {
  float: left;
  position: relative;
  margin: 0 0 22px 10px;
  z-index: 1;
}
  #toolbar #open_viewers {
    margin-left: 0;
  }

#calais_credits {
  display: none;
  position: absolute;
  z-index: 0;
  right: 20px; top: 4px;
  color: #4e4e4e;
  width: 140px;
  font: 10px/18px Arial;
  cursor: pointer;
}
  body.visualize #calais_credits {
    display: block;
  }
  #calais_credits .icon {
    float: right;
    margin-left: 8px;
    -webkit-box-shadow: 0 0px 1px #000; -moz-box-shadow: 0 0px 1px #000;
  }
