span[role="link"] {
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}

.serif, .serif * {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

select {
  font-size: 11px;
  height: 20px;
}

.float_left {
  float: left;
}
.float_right {
  float: right;
}

/*------------------------------ Gradients ---------------------------------*/
.gradient_selected,
#organizer .box:hover,
#organizer .row:hover {
  background: #fffbd0;
  background: -webkit-gradient(linear, left top, left 50%, from(#fff), to(#ffd));
  background: -moz-linear-gradient(top, #fff, #ffd 50%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#FFFFDD');
}
.gradient_blue,
.minibutton.ok {
  background: #ddddff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9ff), to(#ddddff));
  background: -moz-linear-gradient(top, #f9f9ff, #ddddff);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F9F9FF', EndColorStr='#DDDDFF');
}
.gradient_white {
  background: #f4f3f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f3f1));
  background: -moz-linear-gradient(top, #ffffff, #f4f3f1);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#f4f3f1');
}
.gradient_light,
.minibutton,
.minibutton.not_enabled:active {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));
  background: -moz-linear-gradient(top, #ffffff, #d0d0d0);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#D0D0D0');
}
.gradient_mid {
  background: #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C2C2C2));
  background: -moz-linear-gradient(top, #EAEAEA, #C2C2C2);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EAEAEA', EndColorStr='#C2C2C2');
}
.gradient_gray,
.tab,
.minibutton {
  background: #aaaaaa;
  background: -webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#888888));
  background: -moz-linear-gradient(top, #b0b0b0, #888888);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#b0b0b0', EndColorStr='#888888');
}
.gradient_inverted,
.minibutton:active, .minibutton.is_active {
  background: #aaaaaa;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#b0b0b0));
  background: -moz-linear-gradient(top, #888888, #b0b0b0);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#888888', EndColorStr='#b0b0b0');
}


/*------------------------------ Text Inputs ---------------------------------*/
div.text_input {
  position: relative;
  height: 30px;
  background: transparent url(/images/embed/ui/text_input_large_left.png) no-repeat center left;
}
  div.text_input.small {
    height: 23px;
    background: transparent url(/images/embed/ui/text_input_small_left.png) no-repeat center left;
  }
  div.text_input.search {
    height: 22px;
    background: transparent url(/images/embed/ui/search_input_left.png) no-repeat center left;
  }
  div.text_input .background {
    background: transparent url(/images/embed/ui/text_input_large_right.png) no-repeat center right;
    margin-left: 6px;
    height: 30px;
  }
    div.text_input.small .background {
      background: transparent url(/images/embed/ui/text_input_small_right.png) no-repeat center right;
      margin-left: 5px;
      height: 23px;
    }
    div.text_input.search .background {
      background: transparent url(/images/embed/ui/search_input_right.png) no-repeat center right;
      margin-left: 18px;
      height: 22px;
    }
  div.text_input .inner {
    position: absolute;
    top: 2px; left: 4px; right: 10px;
  }
    div.text_input.small .inner {
      top: 1px; left: 3px; right: 3px;
    }
    div.text_input.search .inner {
      top: 1px; left: 17px; right: 13px;
    }
  div.text_input input {
    display: block;
    border: none;
    outline: none;
    margin: 0; padding: 0;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
    div.text_input.small input,
    div.text_input.search input {
      font: 12px/12px Arial;
      padding: 4px;
    }
  div.text_input .cancel_search {
    position: absolute;
    right: 6px; top: 6px;
  }

textarea.text_area {
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  resize: none;
  line-height: 16px;
  overflow: auto;
}

/*----------------------------- Mini Buttons ---------------------------------*/
.minibutton {
  cursor: pointer;
  font: bold 11px Arial;
  color: #fff;
  padding: 4px 10px;
  width: 50px;
  text-align: center;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  border: 1px solid #999;
}
  .minibutton::selection, .minibutton > span::selection {
    background: transparent;
  }
  .minibutton.not_enabled,
  .minibutton.not_enabled:active,
  .minibutton.not_enabled:hover {
    opacity: 0.33; filter: alpha(opacity=33);
    cursor: default;
  }

/*--------------------------------- Menus ------------------------------------*/
.minibutton.menu {
  width: auto;
  text-align: left;
  padding: 4px 5px 4px 8px;
}
.minibutton.menu .wrapper {
  position: relative;
}
  .minibutton.menu .label {
    position: relative;
    display: block;
    padding-right: 25px;
    background: url(/images/embed/icons/menu_down.png) no-repeat right center;
  }
    .minibutton.menu.is_active .label {
      padding-left: 14px;
    }
  .minibutton.menu .closer {
    position: absolute;
    left: 0; top: 0px;
    padding: 0 4px 0 2px;
    font-weight: bold;
    color: #aa5555;
    display: none;
  }
    .minibutton.menu.is_active .closer {
      display: block;
    }
  .minibutton.warn {
    color: #aa3333;
  }

.menu_content {
  display: none;
  position: absolute;
  z-index: 100;
  width: 160px;
  background: white;
  padding: 4px;
  opacity: 0.95; filter: alpha(opacity=95);
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px #777; -moz-box-shadow: 0 3px 7px #777;
}
  .menu_content .menu_item {
    cursor: pointer;
    font: 11px/18px Arial;
    color: #000;
    padding: 0px 3px 3px 3px;
    height: 16px;
    overflow: hidden;
    border-top: 1px solid #eee;
  }
    .menu_content .menu_item.divider {
      border-bottom: 1px solid #c6c6c6;
    }
    .menu_content .menu_item:first-child {
      border-top: 0;
    }
    .menu_content .menu_item:hover,
    .menu_content .menu_item.selected {
      background-color: #ffffe5;
    }
      .menu_content .menu_item.disabled {
        color: #ccc;
        cursor: default;
      }
      .menu_content .menu_item.disabled:hover {
        background-color: transparent;
      }
  .menu_content .menu_autofilter .icon {
    position: absolute;
  }
    .menu_content .add_16,
    .menu_content .auto_add,
    .menu_content.none_selected .search_button_16 {
      display: none;
    }
    .menu_content.none_selected .add_16,
    .menu_content.none_selected .auto_add {
      display: block;
    }
  .menu_content .auto_add {
    margin: 0 0 4px 19px;
    font: italic 10px Arial;
    color: #4e4e4e;
  }
  .menu_content .autofilter_input {
    font-size: 11px;
    margin: 0 0 5px 19px;
    width: 131px; height: 11px;
    border: 1px solid #ddd;
    padding: 1px 4px 2px 4px !important;
  }

/*------------------------------ Dialog Boxes --------------------------------*/
div.dialog {
  position: absolute;
  min-width: 300px;
  max-width: 600px;
  padding-top: 27px;
  z-index: 1000;
  font: 12px Arial;
}
  div.dialog.short_prompt_dialog,
  div.dialog.alert_dialog {
    width: 300px;
  }
  div.dialog.prompt_dialog {
    width: 430px;
  }
  div.dialog .dialog_background {
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fcfcfc;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-shadow: 0 5px 50px #4e4e4e; -moz-box-shadow: 0 5px 50px #4e4e4e;
  }
  div.dialog .title {
    position: absolute; top: 0; left: 0; right: 0;
    overflow: hidden;
    height: 16px;
    padding: 5px 10px;
    font: 14px/18px Arial;
    color: #000;
    cursor: move;
    border-bottom: 1px solid #bbb;
    border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
  }
    div.dialog span.subtitle {
      color: #4e4e4e;
      margin-left: 3px;
      font: italic 10px/18px Arial;
    }
  div.dialog .text, div.dialog .custom,
  div.dialog .prompt, div.dialog .short_prompt {
    padding: 10px 10px 15px 10px;
    line-height: 16px;
  }
  div.dialog .controls button, div.dialog .controls .minibutton {
    float: right;
    margin: 0 10px 8px 0;
  }
    div.dialog.alert_dialog button.cancel,
    div.dialog.alert_dialog .minibutton.cancel {
      display: none;
    }
  div.dialog.short_prompt_dialog select {
    width: 100%;
  }
  div.dialog textarea.content {
    width: 400px; height: 100px;
  }

/*------------------------------ Hidden Iframes ------------------------------*/
iframe.hidden_iframe {
  width: 0; height: 0;
  border: 0;
  display: none;
}

/*------------------------------ Error Messages ------------------------------*/
.form_error, .form_success {
  position: relative;
  text-align: center;
}
  .form_error > span, .form_success > span, #notifier {
    color: #844;
    text-transform: uppercase;
    font: 10px Arial;
    padding: 4px 8px 5px;
    border: 1px solid #aa7766;
    background: #fcc;
    margin: 0 auto;
    display: inline;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  }

/*------------------------------ Selections ----------------------------------*/
.selection {
  position: absolute;
  background-color: #FFF233;
  filter: alpha(opacity=30);
  opacity: 0.3;
  z-index: 100;
  border: 1px solid #aaaa00;
  -webkit-box-shadow: 0 0px 10px #777; -moz-box-shadow: 0 0px 7px #777;
}

/*--------------------------- Notifier, Tooltip ------------------------------*/

#notifier, #tooltip {
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 5000;
}
  #notifier.info_style,
  .form_success > span {
    color: #171;
    border-color: #171;
    background: #cec;
  }
  #tooltip {
    color: #000;
    border-width: 0;
    padding: 4px 8px;
    font: 11px/14px Arial;
  }
    #tooltip_background {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      z-index: -1;
      -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
      -webkit-box-shadow: 0 0px 10px #777; -moz-box-shadow: 0 0px 7px #777;
    }