span[role="link"] {
  text-decoration: underline;
  cursor: pointer;
  color: #254555;
}

.serif, .serif * {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

.hidden {
  display: none;
}

select {
  height: 15px;
}

/*------------------------------ Gradients ---------------------------------*/
.gradient_selected,
#organizer .box:hover {
  background: #ffffe5;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffe));
  background: -moz-linear-gradient(top, #ffffff, #ffe);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#FFFFEE');
}
.gradient_blue {
  background: #ddddff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9ff), to(#ddddff));
  background: -moz-linear-gradient(top, #f9f9ff, #ddddff);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F9F9FF', EndColorStr='#DDDDFF');
}
.gradient_white,
.minibutton {
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf));
  background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#DFDFDF');
}
.gradient_light,
.minibutton:hover, .minibutton.is_open {
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#d5d5d5));
  background: -moz-linear-gradient(top, #f5f5f5, #d5d5d5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F5F5F5', EndColorStr='#D5D5D5');
}
.gradient_mid {
  background: #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C2C2C2));
  background: -moz-linear-gradient(top, #EAEAEA, #C2C2C2);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EAEAEA', EndColorStr='#C2C2C2');
}
.gradient_inverted,
.minibutton:active, .minibutton.is_active {
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#F5F5F5));
  background: -moz-linear-gradient(top, #C2C2C2, #F5F5F5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#C2C2C2', EndColorStr='#F5F5F5');
}


/*------------------------------ Text Inputs ---------------------------------*/
div.text_input {
  position: relative;
  height: 30px;
  background: transparent url(/images/embed/ui/text_input_large_left.png) no-repeat center left;
}
  div.text_input.small {
    height: 23px;
    background: transparent url(/images/embed/ui/text_input_small_left.png) no-repeat center left;
  }
  div.text_input.search {
    height: 22px;
    background: transparent url(/images/embed/ui/search_input_left.png) no-repeat center left;
  }
  div.text_input .background {
    background: transparent url(/images/embed/ui/text_input_large_right.png) no-repeat center right;
    margin-left: 6px;
    height: 30px;
  }
    div.text_input.small .background {
      background: transparent url(/images/embed/ui/text_input_small_right.png) no-repeat center right;
      margin-left: 5px;
      height: 23px;
    }
    div.text_input.search .background {
      background: transparent url(/images/embed/ui/search_input_right.png) no-repeat center right;
      margin-left: 18px;
      height: 22px;
    }
  div.text_input .inner {
    position: absolute;
    top: 2px; left: 4px; right: 10px;
  }
    div.text_input.small .inner {
      top: 1px; left: 3px; right: 3px;
    }
    div.text_input.search .inner {
      top: 1px; left: 17px; right: 13px;
    }
  div.text_input input {
    display: block;
    border: none;
    margin: 0; padding: 0;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
    div.text_input.small input,
    div.text_input.search input {
      font: 12px/12px Arial;
    }

/*----------------------------- Mini Buttons ---------------------------------*/
.minibutton {
  cursor: pointer;
  font: 11px Arial;
  text-shadow: 0px 1px 1px #fff;
  color: #254555;
  padding: 4px 5px;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  -webkit-box-shadow: 0 0 1px #000; -moz-box-shadow: 0 0 1px #000;
}
  .minibutton:hover, .minibutton.is_open {
    color: #222;
    -webkit-box-shadow: 0 0 4px #777; -moz-box-shadow: 0 0 4px #777;
  }
  .minibutton::selection, .minibutton > span::selection {
    background: transparent;
  }
  .minibutton.disabled {
    opacity: 0.33; filter: alpha(opacity=33);
    cursor: default;
  }
    .minibutton.disabled:hover {
      -webkit-box-shadow: 0 0 1px #000; -moz-box-shadow: 0 0 1px #000;
    }

/*--------------------------------- Menus ------------------------------------*/
.minibutton.menu .wrapper {
  position: relative;
}
  .minibutton.menu .label {
    position: relative;
    display: block;
    left: 2px;
    padding-right: 18px;
    background: url(/images/embed/icons/bullet_arrow_down.png) no-repeat right center;
  }
    .minibutton.menu.is_active .label {
      padding-left: 15px;
    }
  .minibutton.menu .closer {
    position: absolute;
    left: 3px; top: 0px;
    font-weight: bold;
    color: #aa5555;
    display: none;
  }
    .minibutton.menu.is_active .closer {
      display: block;
    }

.menu_content {
  display: none;
  position: absolute;
  z-index: 100;
  width: 150px;
  background: white;
  padding: 4px;
  opacity: 0.95; filter: alpha(opacity=95);
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px #777; -moz-box-shadow: 0 3px 7px #777;
}
  .menu_content .menu_item {
    cursor: pointer;
    font: 11px/18px Arial;
    color: #454545;
    padding: 0px 3px 3px 3px;
    height: 16px;
    overflow: hidden;
    border-top: 1px solid #eee;
  }
    .menu_content .menu_item.divider {
      border-bottom: 1px solid #c6c6c6;
    }
    .menu_content .menu_item:first-child {
      border-top: 0;
    }
    .menu_content .menu_item:hover,
    .menu_content .menu_item.selected {
      background-color: #ffffe5;
    }
  .menu_content .menu_autofilter .icon {
    position: absolute;
  }
    .menu_content .add_16,
    .menu_content .auto_add,
    .menu_content.none_selected .search_button_16 {
      display: none;
    }
    .menu_content.none_selected .add_16,
    .menu_content.none_selected .auto_add {
      display: block;
    }
  .menu_content .auto_add {
    margin: 0 0 4px 19px;
    font: italic 10px Arial;
    color: #777;
  }
  .menu_content .autofilter_input {
    font-size: 11px;
    margin: 0 0 5px 19px;
    width: 121px; height: 11px;
    border: 1px solid #ddd;
    padding: 1px 4px 2px 4px !important;
  }

/*------------------------------ Dialog Boxes --------------------------------*/
div.dialog {
  position: absolute;
  min-width: 300px;
  max-width: 600px;
  padding-top: 27px;
  z-index: 1000;
  font: 12px Arial;
}
  div.dialog.short_prompt_dialog {
    width: 300px;
  }
  div.dialog .dialog_background {
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #f7f7f7;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-shadow: 0 5px 50px #888; -moz-box-shadow: 0 5px 50px #888;
  }
  div.dialog .title {
    position: absolute; top: 0; left: 0; right: 0;
    height: 16px;
    padding: 5px 10px;
    font: 14px Arial;
    color: #454545;
    cursor: move;
    border-bottom: 1px solid #bbb;
    -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
  }
  div.dialog .text, div.dialog .custom,
  div.dialog .prompt, div.dialog .short_prompt {
    padding: 10px 10px 15px 10px;
  }
  div.dialog .controls button, div.dialog .controls .minibutton {
    float: right;
    margin: 0 10px 8px 0;
  }
    div.dialog.alert_dialog button.cancel,
    div.dialog.alert_dialog .minibutton.cancel {
      display: none;
    }
  div.dialog textarea.content {
    border: 1px solid #dadada;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    resize: none;
    width: 400px; height: 100px;
    line-height: 16px;
  }

/*------------------------------ Hidden Iframes ------------------------------*/
iframe.hidden_iframe {
  width: 0; height: 0;
  border: 0;
  display: none;
}


/*------------------------------ Error Messages ------------------------------*/
.form_error {
  position: relative;
  text-align: center;
}
  .form_error > span, #notifier {
    color: #844;
    text-transform: uppercase;
    font: 10px Arial;
    padding: 4px 8px;
    border: 1px solid #aa7766;
    background: #fcc;
    margin: 0 auto;
    display: inline;
  }

/*--------------------------- Notifier, Tooltip ------------------------------*/

#notifier, #tooltip {
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 5000;
}
  #notifier.info_style {
    color: #171;
    border-color: #171;
    background: #cec;
  }
  #tooltip {
    color: #454545;
    border-width: 0;
    padding: 4px 8px;
    font: 11px/14px Arial;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    -webkit-box-shadow: 0 0px 10px #777; -moz-box-shadow: 0 0px 7px #777;
  }