#upload_dialog .custom {
  padding: 15px;
  width: 500px;
}
  #upload_dialog label {
    display: block;
    font: bold 13px/25px Arial;
    color: #454545;
    margin-bottom: 15px;
  }
  #upload_dialog .text_input {
    position: absolute;
    right: 15px;
    width: 390px;
  }
  #upload_dialog textarea {
    float: right;
    width: 380px; height: 78px;
    margin-bottom: 10px;
  }
  #document_upload_file, #document_upload_access, #document_project_title {
    position: absolute;
    left: 125px;
  }
    #document_project_title {
      line-height: 28px;
    }

#no_uploads .icon {
  float: left;
  margin-right: 10px;
  opacity: 0.75; filter: alpha(opacity=75);
}

#upload_progress {
  position: relative;
  margin-bottom: 25px;
}
  #upload_progress .document_progress {
    margin: 0 0 15px 0;
    position: relative;
    background: #fafafa;
    -webkit-border-radius: 6px; -moz-border-radius: 6px;
    -webkit-box-shadow: 0 0 4px #777; -moz-box-shadow: 0 0 4px #777;
  }
    #upload_progress .status_wrap {
      position: absolute;
      top: 4px; left: 8px;
      color: #666;
      font: 10px/14px Arial;
      text-transform: uppercase;
    }
      #upload_progress .doc_title, #upload_progress .status {
        line-height: 14px;
        height: 14px;
        overflow: hidden;
      }
    #upload_progress .progress_bar {
      height: 34px;
      -webkit-border-radius: 6px; -moz-border-radius: 6px;
    }

#upload_info {
  font: italic 11px/14px Arial;
  color: #777;
  position: absolute;
  left: 10px; bottom: 10px;
}
  #upload_info .spinner {
    float: right;
    margin-left: 5px;
  }
