#upload_dialog {

}

#upload_dialog .upload_document_tiles {
  max-height: 372px;
  overflow-y: auto;
  overflow-x: hidden;
}

#upload_dialog .row {
  position: relative;
  width: 500px;
  border-bottom: 1px solid #222;
  padding: 10px 0px 10px 0;
  margin: 0;
  text-align: left;
  overflow: hidden;
  clear: both;
}
  #upload_dialog .row:first-child {
    border-top: 1px solid #222;
  }
  #upload_dialog label {
    float: left;
    line-height: 12px;
  }
  #upload_dialog .text_input {
    width: 315px;
  }
  #upload_dialog .text_input input {
    width: 315px;
  }
  #upload_dialog .text_area {
    width: 311px; /* Damn textareas! */
    display: block;
  }

#upload_dialog .upload_title {
  border-bottom: none;
  margin-bottom: 0;
}
  #upload_dialog .upload_title .text_input {
    margin: 3px 0 0 10px;
    float: left;
  }
  #upload_dialog .upload_title .upload_file_size {
    float: right;
    font-size: 10px;
    color: #808080;
    margin: 6px 4px 0 4px;
  }
  #upload_dialog .upload_title .icon.edit_glyph {
    float: right;
    margin: 7px 4px 0 4px;
    cursor: pointer;
  }
  #upload_dialog .upload_title .icon.cancel_search {
    float: right;
    margin: 9px 4px 0 4px;
  }

#upload_dialog .upload_edit {
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  margin: 0 0 0 42px;
  clear: both;
  display: none;
}
  #upload_dialog .upload_edit label {
    margin: 10px 0 0 0;
    float: none;
    font-size: 12px;
  }
  #upload_dialog .upload_edit .text_input {
    margin: 8px 0 0 0;
  }
  #upload_dialog .upload_edit .text_area {
    margin: 8px 0 0 0;
  }
  #upload_dialog .upload_edit select {
    display: block;
    margin: 8px 0 0 0;
    position: static;
    left: 0;
    top: 0;
  }

#upload_dialog .upload_progress_bar_container {
  background:none repeat scroll 0 0 transparent;
  height:30px;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
}
  #upload_dialog .upload_progress_bar_container .upload_progress_bar {
    height: 30px;
    width: 100%;
    background-color: #3349D2;
  }
