#upload_dialog .upload_browse_container {
  position:absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
}

#upload_dialog .minibutton.ok {
  padding-left: 28px;
  padding-right: 28px;
  width: auto;
}

#upload_dialog .upload_document_tiles {
  margin: 0 -28px 8px 0;
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px 0 0;
}
  #upload_dialog .upload_document_tiles .upload_document_queue {
    width: 500px;
  }

#upload_dialog .row {
  border-bottom: 1px solid #363636;
  margin-bottom: 8px;
  padding-bottom: 8px;
  text-align: left;
}

#upload_dialog input.error {
  border-color: #991612;
}

#upload_dialog .queued_file {
  position: relative;
}

#upload_dialog .row {
  overflow: hidden;
  clear: both;
}
  #upload_dialog label {
    float: left;
    line-height: 12px;
  }
  #upload_dialog .text_input {
    width: 340px;
    float: left;
  }
  #upload_dialog .text_input input {
    width: 324px;
  }
  #upload_dialog .text_area {
    width: 320px; /* Damn textareas! */
    display: block;
  }

#upload_dialog .upload_title {
  border-bottom: none;
  margin-bottom: 0;
}
  #upload_dialog .upload_title .text_input {
    margin: 3px 0 0 10px;
  }
  #upload_dialog .upload_title .upload_file_size {
    float: right;
    font-size: 10px;
    color: #808080;
    margin: 5px 4px 0 4px;
  }
  #upload_dialog .upload_title .icon.edit_glyph {
    float: right;
    margin: 5px 4px 0 4px;
    cursor: pointer;
  }
  #upload_dialog .upload_title .icon.cancel_search {
    float: right;
    margin: 7px 4px 0 4px;
  }
  #upload_dialog label.upload_icon {
    height: 32px;
    width: 32px;
    background: transparent url(/images/embed/icons/page_text_32.png) no-repeat 0 0;
  }
    #upload_dialog label.upload_icon.upload_icon_pdf {
      background: transparent url(/images/embed/icons/page_text_32.png) no-repeat 0 0;
    }

#upload_dialog .upload_edit {
  padding-bottom: 0;
  margin: 0 0 0 44px;
  clear: both;
  display: none;
}
  #upload_dialog .upload_edit .upload_description {
    overflow: hidden;
  }
  #upload_dialog .upload_edit .upload_source {
    overflow: hidden;
  }
  #upload_dialog .upload_edit .upload_access {
    overflow: hidden;
    text-align: left;
  }
  #upload_dialog .upload_edit label {
    margin: 8px 0 0 0;
    float: none;
    text-transform: uppercase;
    font-size: 11px;
  }
  #upload_dialog .upload_edit .text_input {
    margin: 8px 0 0 0;
  }
  #upload_dialog .upload_edit textarea.text_area {
    margin: 8px 0 0 0;
  }
  #upload_dialog .upload_edit .upload_description_row {
    margin-bottom: 8px;
  }
  #upload_dialog .upload_edit select {
    display: block;
    margin: 8px 0 0 0;
    position: static;
    left: 0;
    top: 0;
  }
  

#upload_dialog .upload_progress_bar_container {
  background:none repeat scroll 0 0 transparent;
  height:30px;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
}
  #upload_dialog .upload_progress_bar_container .upload_progress_bar {
    height: 30px;
    width: 100%;
    background-color: #3349D2;
  }
