#upload_dialog .custom {
  padding: 15px;
  width: 500px;
}
  #upload_dialog label {
    display: block;
    font: bold 13px/25px Arial;
    color: #4e4e4e;
    margin-bottom: 15px;
  }
  #upload_dialog .text_input {
    position: absolute;
    right: 15px;
    width: 390px;
  }
  #upload_dialog textarea {
    float: right;
    width: 380px; height: 78px;
    margin-bottom: 10px;
  }
  #document_upload_file, #document_upload_access, #document_project_title {
    position: absolute;
    left: 125px;
  }
    #document_project_title {
      line-height: 28px;
    }

#no_uploads .icon {
  float: left;
  margin-right: 10px;
  opacity: 0.75; filter: alpha(opacity=75);
}

#upload_info {
  font: italic 11px/14px Arial;
  color: #4e4e4e;
  position: absolute;
  left: 10px; bottom: 10px;
}
  #upload_info .spinner {
    float: right;
    margin-left: 5px;
  }
