#visualizer {
  position: absolute;
  top: 0px; bottom: 0; left: 0; right: 0;
}

#visualizer_canvas {
  position: absolute;
}

#visualizer .datum {
  position: absolute;
  font: 11px Arial;
  color: #204055;
  padding: 3px 6px;
  cursor: pointer;
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0px 10px #999; -moz-box-shadow: 0 0px 10px #999;
}

/*------------------------------ ENTITIES ---------------------------------*/

body.visualize #document_list .document {
  width: 280px; min-height: 32px; height: 32px;
  padding: 5px 5px 5px 40px;
  margin-bottom: 35px;
}
  body.visualize .document .description,
  body.visualize .document .notes,
  body.visualize .document .show_notes .show,
  body.visualize .document .show_notes .hide {
    display: none;
  }
    body.visualize .document:hover .show_notes {
      text-decoration: none;
    }
  body.visualize .document img.doc {
    width: 24px; height: 30px;
  }


/*------------------------------ TIMELINE ---------------------------------*/

#timeline_dialog {
  max-width: none;
  width: 820px;
}
  #timeline_dialog .text {
    padding: 3px 3px 20px 3px;
  }
  #timeline_dialog .cancel {
    display: none;
  }
  #timeline_dialog .zoom_out {
    display: none;
    float: left;
    margin-left: 10px;
  }
    #timeline_dialog.on_zoom .zoom_out {
      display: block;
    }