#visualizer {
  position: absolute;
  top: 0px; bottom: 0; left: 0; right: 0;
  -webkit-transition: top 0.1s linear;
  display: none;
}
  body.visualize #visualizer {
    display: block;
  }

#visualizer_canvas {
  position: absolute;
}

#visualizer .datum {
  position: absolute;
  font: 11px Arial;
  color: #204055;
  padding: 3px 6px;
  cursor: crosshair;
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0px 10px #999; -moz-box-shadow: 0 0px 10px #999;
}

/*------------------------------ ENTITIES ---------------------------------*/

body.visualize #document_list .document {
  width: 280px; min-height: 32px; height: 32px;
  padding: 5px 5px 5px 40px;
  margin-bottom: 35px;
}
  body.visualize .document .summary,
  body.visualize .document .notes,
  body.visualize .document .show_notes .show,
  body.visualize .document .show_notes .hide {
    display: none;
  }
    body.visualize .document:hover .show_notes {
      text-decoration: none;
    }
  body.visualize .document img.doc {
    width: 24px; height: 30px;
  }

#calais_credits {
  display: none;
  position: absolute;
  right: 10px; top: 12px;
  color: #777;
  width: 140px;
  font: 10px/16px Arial;
  cursor: pointer;
}
  body.visualize #calais_credits {
    display: block;
  }
  #calais_credits .icon {
    float: right;
    margin-left: 8px;
    -webkit-box-shadow: 0 0px 1px #000; -moz-box-shadow: 0 0px 1px #000;
  }


/*------------------------------ TIMELINE ---------------------------------*/

#timeline_dialog {
  max-width: none;
  width: 820px;
}
  #timeline_dialog .text {
    padding: 3px 3px 20px 3px;
  }
  #timeline_dialog .cancel {
    display: none;
  }
  #timeline_dialog .zoom_out {
    display: none;
    float: left;
    margin-left: 10px;
  }
    #timeline_dialog.on_zoom .zoom_out {
      display: block;
    }