defaults: &defaults
  adapter: postgresql
  encoding: unicode
  schema_search_path: public
  pool: 5
  username: <%= DC::SECRETS['username'] %>
  password: <%= DC::SECRETS['db_password'] %>
  allow_concurrency: true
  host: <%= DC::SECRETS['db_host'] %>

development:
  <<: *defaults
  database: dcloud_development

staging:
  <<: *defaults
  database: dcloud_staging

production:
  <<: *defaults
  database: dcloud_production

test:
  <<: *defaults
  database: dcloud_test
