<header id="page-header" class="navbar navbar-full dc-navbar-primary dc-navbar" role="banner">
  <% if @use_minimal_nav %>
    <nav class="nav navbar-nav float-right">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <nav class="nav navbar-nav float-left">
      <%= link_to "&larr; #{@minimal_back_text}".html_safe, @minimal_back_link, class: 'nav-item nav-link' %>
    </nav>
  <% else %>
    <nav class="nav navbar-nav">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <button id="dc-main-nav-toggler" class="navbar-toggler hidden-md-up float-right" type="button" data-toggle="collapse" data-target="#dc-main-nav">☰</button>
    <div class="hidden-md-up clearfix"></div>
    <div id="dc-main-nav" class="collapse navbar-toggleable-sm float-left float-md-right">
      <nav class="nav navbar-nav">
        <%= render "common/new/nav_#{'un' unless @current_account}authenticated" %>
      </nav>
    </nav>
  <% end %>
</header>
