<% if (category) { %>
  <div class="search_facet_category"><%= category %>:</div>
<% } %>

<div class="search_facet_input_container">
  <input type="text" class="search_facet_input interface" />
</div>

<div class="search_facet_query interface"><% if (facetQuery) { %><%= facetQuery %><% } %></div>

<div class="search_facet_remove icon cancel_search"></div>