<div class="search_facet">
  
  <% if (category) { %>
    <div class="search_facet_category"><%= category %>:</div>
  <% } %>
  
  <div class="search_facet_input_container">
    <input type="text" class="search_facet_input" />
  </div>
  
  <div class="search_facet_query"><% if (query) { %><%= query %><% } %></div>
  
</div>