<div id="title_box">
  <span id="title_box_inner" class="noselect"></span>
</div>

<div id="search_box_wrapper" class="text_input search noselect">
  <div class="icon search_glyph"></div>
  <div class="search_inner">
    <input placeholder="Search..." id="search_box" />
  </div>
  <div class="icon cancel_search" title="clear search"></div>
</div>
