<div id="sidebar_background"></div>
<div id="sidebar_content">

  <div id="organizer_container"></div>

  <div id="entities_container">

    <div id="entities" class="block">
      <%= _.t('entities_unavailable') %>
      <br /><br />
      <%= _.t('email_for_assistance') %>
    </div>

  </div>

  <div id="account_badge_container"></div>
  <div id="organization_list_container"></div>

</div>
