<div id="sidebar_background"></div>
<div id="sidebar_content">
  
  <div id="organizer_container"></div>
  
  <div id="entities_container">
    
    <div id="entities" class="block">
      Entities are temporarily unavailable.
      <br /><br />
      If you need assistance, please 
      email us at support@documentcloud.org.
    </div>
    
  </div>
  
  <div id="account_badge_container"></div>
  
</div>
