<div id="floating_toolbar">
  <div id="open_viewers" class="minibutton">Open</div>
  <div class="edit_menu_container"></div>
  <div class="project_menu_container"></div>
  <div class="analyze_menu_container"></div>
  <div class="publish_menu_container"></div>
  <% if (!dc.account) { %>
    <a href="/login"><div class="minibutton">Log in</div></a>
  <% } %>
  <div id="size_toggle"></div>
  <div id="floating_line"></div>
</div>
