<div class="project_list_container sidebar_section">
  <div class="nametag">
    <div class="new_project">
      <div class="icon plus"></div>
      new project
    </div>
    <span>Projects:</span>
  </div>
  <div class="project_list">
    <!-- Render target for projects. -->
  </div>
</div>