<div class="project_list_container sidebar_section">
  <div class="nametag">
    <span class="new_project">
      New Project
    </span>
    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
    <span class="upload_documents">
      Upload Documents
    </span>
  </div>
  <div class="project_list">
    <!-- Render target for projects. -->
  </div>
</div>