<div class="project_list_container sidebar_section">
  <div class="nametag">
    <div class="icon folder"></div>
    Projects:
  </div>
  <div class="project_list">
    <!-- Render target for projects. -->
  </div>
</div>