<div id="footer">
  <p>
    Supported by a 2009 <a href="http://www.newschallenge.org/">Knight News Challenge</a>
    grant from the 
    <a href="http://knightfoundation.org/">John S. and James L. Knight Foundation</a>.


    &copy; 2009 DocumentCloud. Content on this site is licensed under a 
    <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.
 
    We post regular updates to <a href="http://twitter.com/documentcloud">Twitter</a> and <a href="http://identi.ca/documentcloud">Identi.ca</a>. <br />
    <a href="/terms">Terms of Service</a> | <a href="/contact">Contact Us</a>
  </p>
</div>
