<div id="footer">
  <p>
    Supported by a grant from the 
    <a href="http://knightfoundation.org/">John S. and James L. Knight Foundation</a> 
    via the 2009 <a href="http://www.newschallenge.org/">Knight News Challenge</a>.
  </p>
  
  <p>
    &copy; 2009 DocumentCloud. This content on this site is licensed under a 
    <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.
  </p>
  
  <p>
    Contributors are bound by our <a href="/terms">Terms of Service</a>.
    We post regular status updates on <a href="http://twitter.com/documentcloud">Twitter</a>, 
    and you can also <a href="/contact">contact us</a> directly.</p>
</div>
