<div id="footer">
  DocumentCloud is a 2009 Winner of the Knight News Challenge<br />
  Supported by a grant from the <a href="http://knightfoundation.org/">John S. and James L. Knight Foundation</a><br />
  &copy; 2009 DocumentCloud
</div>