<div id="footer">
  Supported by a grant from the <a href="http://knightfoundation.org/">John S. and James L. Knight Foundation</a> via the 2009 <a href="http://www.newschallenge.org/">Knight News Challenge</a>.
  <br />
  © 2009 DocumentCloud. This content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.
</div>