<ul id="help_navigation">
  <% @help_pages.each do |help_item| %>
    <li <% if @page == help_item %>class="active"<% end %>>
      <% options = help_item == 'index' ? {} : {:page => help_item} %>
      <% help_url = url_for(:action => 'help', :controller => 'static', :params => options) %>
      <a href="<%= help_url %>"><%= @help_titles[help_item.to_sym] %></a>
    </li>
  <% end %>
</ul>