<ul id="help_navigation" class="sidebar_nav">
  <% @help_pages.each do |help_item| %>
    <li <% if @page == help_item %>class="active"<% end %>>
      <% options = help_item == 'index' ? {} : {:page => help_item} %>
      <% help_url = url_for(:action => 'help', :controller => 'static', :params => options) %>
      <a href="<%= help_url %>"><%= @help_titles[help_item.to_sym] %></a>
    </li>
  <% end %>
</ul>

<p>Do you do document based investigative reporting? <a href="/contact">Contact us</a> to join the beta, or <a href="/login">log in</a> if you already have an account.</p>

