<%
  nav = [
    ['login', '/login', 'Login'],
    ['blog', 'http://blog.documentcloud.org/', 'Blog'],
    ['contributors', '/contributors', 'Contributors'],
    ['faq', '/faq', 'FAQ'],
    ['help', '/help', 'Help'],
    ['opensource', '/opensource', 'Open Source'],
    ['news', '/news', 'In the News'],
    ['about', '/about', 'Who We Are']
  ]
%>

<div id="navigation">
  <% nav.each do |item| %>
    <% action, url, title = *item %>
    <a href="<%= url %>" class="<%= params[:action] == action ? "active" : "" %>"><%= title %></a>
  <% end %>
</div>
