<div id="navigation">
  <a href="/login">Login</a>
  <a href="http://documentcloud.org/blog/">Blog</a>
  <a href="/contributors">Document Contributors</a>
  <a href="/faq">FAQ</a>
  <a href="/opensource">Open Source</a>
  <a href="/news">In the News</a>
  <a href="/about">Who We Are</a>
</div>
