<%
  @title = "DocumentCloud"
%>

<h1>Who We Are</h1>

<p>
  Conceived of over beers and sandwiches by journalists working at
  <a href="http://propublica.org">ProPublica</a>
  and <a href="http://nytimes.com"><i>The New York Times</i></a>,
  DocumentCloud is an independent nonprofit
  funded in 2009 by a two-year grant from the
  <a href="http://www.newschallenge.org/">Knight News Challenge</a>.
</p>

<h2>Board of Directors</h2>

<p>
  <b>Scott Klein</b>
  is the Editor of Online Development at
  <a href="http://www.propublica.org">ProPublica</a>,
  directing news application development and production.
  He previously worked at <i>The Nation</i>,
  directing editorial and business application development for the
  <a href="http://www.thenation.com">TheNation.com</a>. Earlier in his career,
  Scott worked at <i>The New York Times</i>.
</p>

<p><b>Eric Umansky</b> is a senior editor at
  <a href="http://www.propublica.org">ProPublica</a>, where he oversees daily
  reporting. Previously, Eric wrote Slate’s
  <a href="http://www.slate.com/?id=3944&amp;qp=26077">&ldquo;Today’s Papers&rdquo;</a>
  He also written, mostly on national security issues for
  <i>The New York Times Magazine</i>, <i>Washington Post</i>,
  <i>The New Republic</i>, and elsewhere. Earlier in his career,
  Eric was editor of <a href="http://MotherJones.com">MotherJones.com</a>.
</p>

<p>
  <b>Aron Pilhofer</b> is editor of Interactive News Technologies at
  <a href="http://www.nytimes.com"><i>The New York Times</i></a>, overseeing a
  news-focused team of journalist/developers who build dynamic, data-driven
  applications to enhance The Times' reporting online. He joined The Times
  in 2005. Previously, he was at the
  <a href="http://www.publicintegrity.org/">Center for Public Integrity</a>
  in Washington, and before that at
  <a href="http://www.ire.org">Investigative Reporters and Editors</a>.
</p>

<h2>Staff</h2>

<p>
  <img class="headshot" src="/images/static/staff/jeremy.jpg" alt="Jeremy Ashkenas" />
  <b>Jeremy Ashkenas</b> is the lead developer at DocumentCloud.
  His previous job was at <a href="http://zenbe.com/">Zenbe</a>,
  a provider of online email and collaboration software. He’s the creator of
  the <a href="http://wiki.github.com/jashkenas/ruby-processing/">Ruby-Processing</a> 
  visualization toolkit, the <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a> 
  programming language, and is a two-time winner of the Sunlight Foundation’s 
  Apps for America competition, for 
  <a href="http://know-thy-congressman.com/">Know Thy Congressman</a>, 
  and <a href="http://quakespotter.org/">Quakespotter</a>.
</p>

<p>
  <img class="headshot" src="/images/static/staff/amanda.jpg" alt="Amanda Hickman" />
  <b>Amanda Hickman</b>, Program Director, joined Document Cloud
  from <a href="http://www.gothamgazette.com">Gotham Gazette</a> where, as the
  Director of Technology, she managed development of a series of
  <a href="http://www.gothamgazette.com/archive/interactive">games about public policy</a>
  issues, built a pretty cool
  <a href="http://www.gothamgazette.com/campaigns/">database of candidates for local office</a>
  and shared an <a href="http://conference.journalists.org/2009conference/2009/10/04/publish2-my-ballard-and-gotham-gazette-win-inaugural-ojas/">ONA award for General Excellence</a>
  with her colleagues there. Prior to joining Gotham Gazette, she worked as a
  <a href="http://en.wikipedia.org/wiki/Circuit_rider_%28technology%29">Circuit Rider</a>,
  providing technology assistance and training to low-income grassroots groups
  in the U.S. working on anti-poverty issues and as a consultant to foundations
  looking for ways to support their grantees’ use of technology in organizing
  work. She taught an undergraduate course at NYU’s Gallatin School on using
  the Internet as an organizing tool. An active local organizer, she’s got her
  hands in a few
  <a href="http://www.coactivate.org/projects/compost/summary">community composting</a>
  and <a href="http://greeneacres.interactivist.net/">gardening</a> projects, too.
  You can find her at <i>amanda AT documentcloud.org</i>.
</p>

<h2>Contributors</h2>

<p>
  <img class="headshot" src="/images/static/staff/tim.jpg" alt="Tim Caswell" />
  <b>Tim Caswell</b> is a JavaScript Developer, hailing from Dallas, Texas.    
  Some of his notable open-source projects include the 
  <a href="http://github.com/creationix/haml-js">JavaScript version of HAML</a>, 
  the <a href="http://github.com/creationix/postgres-js">JavaScript PostgreSQL driver</a>, 
  and the design of a client-side MVC framework 
  that's not unlike the one used in DocumentCloud. When he's not hard at work, you 
  can find Tim teaching programming classes for local home-school kids.
</p>

<p>
  <img class="headshot" src="/images/static/staff/folkert.jpg" alt="Folkert Gorter" />
  <b>Folkert Gorter</b> is a Dutch interaction designer, working primarily in 
  graphic and interactive design with a focus on networks and communities. 
  Recent projects include <a href="http://spacecollective.org">SpaceCollective</a> and 
  <a href="http://cargocollective.com">Cargo</a>. See more of his work at 
  <a href="http://superfamous.com">http://superfamous.com</a>. Folkert lives in Los 
  Angeles, California.
</p>

<p>
  <img class="headshot" src="/images/static/staff/mike.jpg" alt="Mike Adler" />
  <b>Mike Adler</b> is helping DocumentCloud scale the database that powers our search engine. He's
  a technical generalist with lots of experience building applications backed
  by PostgreSQL. In the past, he's worked with the independent radio station 
  <a href="http://www.wfmu.org/">WFMU</a>, and for political campaigns.
</p>
