<h2 id="get_our_code"><a href="http://www.documentcloud.org/code/">Get our Code</a></h2>

<p>We’re <a href="http://www.pbs.org/idealab/2009/10/documentcloud-going-open-source-every-step-of-the-way302.html">releasing as we go</a>, so please follow our work if you’re interested in what lies under the hood of DocumentCloud.</p>

<h3 id="our_code_in_the_news">Our Code in the News</h3>

<ul>
<li>
<h2 id="_2009_open_source_top_ten_ones_zeros_majors_and_minors_december_17_2009">    <strong><a href="http://ozmm.org/posts/2009_open_source_top_ten.html">2009 Open Source Top Ten</a></strong> (<em>Ones, Zeros, Majors and Minors</em>, December 17, 2009)</h2>
</ul>

<h2 id="_episode_005_document_cloud_the_changelog_december_6_2009">    <strong><a href="http://thechangelog.com/post/272530971/episode-0-0-5-document-cloud">Episode 0.0.5 – Document Cloud</a></strong> (<em>The Changelog</em>, December 6, 2009)</h2>

<h2 id="_scaling_rails_on_the_edge_part_3_envy_labs_november_25_2009">    <strong><a href="http://blog.envylabs.com/2009/11/scaling-rails-part-3/">Scaling Rails – On The Edge – Part 3</a></strong> (<em>Envy Labs</em>, November 25, 2009)</h2>

<pre><code>**[Jammit: Industrial Strength Asset Packaging for Rails Apps][]** (*Rails Inside*, November 17, 2009)
</code></pre>

<h3 id="github_projects">Github Projects</h3>

<h2 id="_cloud_crowd_parallel_processing_for_the_rest_of_us">-   <a href="http://wiki.github.com/documentcloud/cloud-crowd">cloud-crowd</a>: Parallel Processing for the Rest of Us</h2>

<pre><code>[underscore][]: Functional Programming Aid for Javascript. Works well with jQuery.
</code></pre>

<h2 id="_jammit_industrial_strength_asset_packaging_for_rails">-   <a href="http://documentcloud.github.com/jammit/">jammit</a>: Industrial Strength Asset Packaging for Rails</h2>

<h2 id="_closure_compiler_a_ruby_wrapper_for_the_google_closure_compiler">    <a href="http://github.com/documentcloud/closure-compiler">closure-compiler</a>: A Ruby Wrapper for the Google Closure Compiler</h2>

<h2 id="_docsplit_break_apart_documents_into_images_text_pages_and_pdfs">    <a href="http://documentcloud.github.com/docsplit/">docsplit</a>: Break Apart Documents into Images, Text, Pages and PDFs</h2>

<pre><code>[documentcloud.github.com][]: Jumping Off Point for Our Open-Source Projects
</code></pre>
