<%
  @title = "DocumentCloud"
%>


<p>If you’re interested in using DocumentCloud, please <a href="mailto:info@documentcloud.org?subject=joining">email us</a>.  For other questions, you should <a href="mailto:info@documentcloud.org?subject=question">still email us</a>, though you can phone (646) 450-2162 or write to our Program Director directly (that’s <em>amanda AT documentcloud DOT org</em>). If you need help implementing a software components, please file a bug <a href="http://github.com/documentcloud">directly on github</a>. </p>
