<%
  @title = "DocumentCloud"
%>

<p>
  If you’re interested in using DocumentCloud, please 
  <a href="mailto:info@documentcloud.org?subject=joining">email us</a> with a brief description of your work. If you're not a traditional news organization, please also tell us a bit about how you work and what kind of documents you're interested in publishing.  For other questions, you should 
  <a href="mailto:info@documentcloud.org?subject=question">still email us</a>, 
  though you can phone (646) 450-2162 or write to our Program Director directly 
  (that’s <em>amanda AT documentcloud DOT org</em>).
</p>
<p>
  Looking for technical support DocumentCloud? Browse <a href="/help">our documentation</a> or write to <em>support AT documentcloud DOT org</em>. We always welcome DocumentCloud bug reports and feature requests at <a href="http://documentcloud.uservoice.com">UserVoice</a>.
</p> 

<p>
  If you need help implementing our software components (eg. Jammit, CloudCrowd, Underscore.js or Docsplit) please file a bug <a href="http://github.com/documentcloud">directly on Github</a>. 
</p>
