<%
  @title = "DocumentCloud"
%>


<h2>Looking for an account?</h2>

<p>  If you’re interested in using DocumentCloud, just  
  <a href="mailto:info@documentcloud.org?subject=joining">ask</a>. <i>Okay, so it isn't quite that simple:</i></p>
  
 <p>DocumentCloud is available to anyone who reports on primary source documents. For the most part our users are journalists, but if you are doing document based investigative reporting we'd love to have you join us, even if you aren't a newsroom-based journalist in the conventional sense. If you're not in a traditional newsroom, please do show us some of your reporting and tell us a little bit about the kind of documents you're working with.</p>   
 
 
  <p>We ask two things of prospective users: permission to add you to our public list of <a href="/contributors">document contributors</a> (you'd be in <a href="/contributors">excellent company</a>) and a note from your editor confirming that they understand that you'll be contributing documents to a public catalog and approve your participation in DocumentCloud.</p>
  </p>
  
  <p>
  For other questions, feel free to  
  <a href="mailto:info@documentcloud.org?subject=question">email us</a>, 
  though you can phone (646) 450-2162 or write to our Program Director directly 
  (that’s <em>amanda AT documentcloud DOT org</em>).
</p>
<p>
  Looking for technical support DocumentCloud? Browse <a href="/help">our documentation</a> or write to <em>support AT documentcloud DOT org</em>. We always welcome DocumentCloud bug reports and feature requests at <a href="http://documentcloud.uservoice.com">UserVoice</a>.
</p> 

<p>
  If you need help implementing our software components (eg. Jammit, CloudCrowd, 
  Underscore.js, Docsplit, or Pixel Ping) please file a 
  bug <a href="http://github.com/documentcloud">directly on Github</a>. 
</p>

