<h1>Document Contributors</h1>

<p>Once it’s up and running, DocumentCloud will be open for anybody
gathering original source documents to contribute — whether
professional journalists, bloggers, non-profits. (And of course
anybody on the Web will be able to read, search and sort through
the documents.) following organizations have agreed to work with us
during our development phase:</p>

<p>If you have original documents and you’re interested in using
DocumentCloud– it’s free —
<a href="mailto:info@documentcloud.org">drop us a line</a>.</p>

<ul>
<li><a href="http://www.gothamgazette.com">Gotham Gazette</a></li>
<li><a href="http://www.gwu.edu/~nsarchiv/">National Security Archive</a></li>
<li><a href="http://www.nytimes.com">New York Times</a></li>
<li><a href="http://www.propublica.org">ProPublica</a></li>
<li><a href="http://www.talkingpointsmemo.com/">Talking Points Memo</a></li>
</ul>

<h3 id="document_contributors">Document Contributors</h3>

<ul>
<li>
<a href="http://www.aclu.org/national-security">ACLU National Security Project</a></li>
<li><a href="http://www.azcentral.com/">Arizona Republic</a>
<h2 id="_boston_globe">-   <a href="http://www.boston.com/bostonglobe/">Boston Globe</a></h2>
</ul>

<h2 id="_california_watch">    <a href="http://www.centerforinvestigativereporting.org/projects/californiawatch/">California Watch</a></h2>

<h2 id="_center_for_democracy_and_technology_opencrs">    <a href="http://opencrs.com/" title="Congressional Research Service reports, opened.">Center for Democracy and Technology / OpenCRS</a></h2>

<pre><code>[Center for Investigative Reporting](http://www.centerforinvestigativereporting.org/)
</code></pre>

<h2 id="_center_for_public_integrity">-   <a href="http://www.publicintegrity.org/">Center for Public Integrity</a></h2>

<pre><code>[Centre for Investigative Journalism, City University London](http://www.city.ac.uk/study/courses/arts/investigative-journalism-ma-diploma)
</code></pre>

<p>-   <a href="http://www.chicagotribune.com/">Chicago Tribune</a>
-   <a href="http://www.circleofblue.org/">Circle of Blue</a>
-   <a href="http://www.dallasnews.com/">Dallas Morning News</a>
-   <a href="http://www.forbes.com/">Forbes</a></p>

<h2 id="_investigate_west">-   <a href="http://invw.org/">Investigate West</a></h2>

<pre><code>[Investigative Reporting Workshop at American University](http://investigativereportingworkshop.org/)
</code></pre>

<p>-   <a href="http://www.latimes.com/">Los Angeles Times</a>
-   <a href="http://www.miamiherald.com/">Miami Herald</a>
-   <a href="http://www.minnpost.com/">MinnPost</a>
-   <a href="http://motherjones.com/">Mother Jones</a>
-   <a href="http://www.msnbc.msn.com/">MSNBC</a>
-   <a href="http://www.npr.org">National Public Radio</a></p>

<h2 id="_newshour">-   <a href="http://www.pbs.org/newshour/">NewsHour</a></h2>

<pre><code>[Press &amp; Sun-Bulletin](http://Pressconnects.com "Binghamton, NY")
</code></pre>

<p>-   <a href="http://pri.org/">Public Radio International (PRI)</a>
-   <a href="http://public.resource.org/">Public.Resource.Org</a>
-   <a href="http://sfpublicpress.org/">SF Public Press</a>
-   <a href="http://www.tampabay.com/">St. Petersburg Times</a>
-   <a href="http://www.sunlightfoundation.com/">Sunlight Foundation</a>
-   <a href="http://www.theatlantic.com/">The Atlantic</a>
-   <a href="http://www.newyorker.com/">The New Yorker</a>
-   <a href="http://seattletimes.nwsource.com">The Seattle Times</a></p>

<h2 id="_thomson_reuters">-   <a href="http://thomsonreuters.com/">Thomson Reuters</a></h2>

<pre><code>[Transactional Records Access Clearinghouse (TRAC)](http://trac.syr.edu/aboutTRACgeneral.html)
</code></pre>

<h2 id="_ubc_school_of_journalism">-   <a href="http://www.journalism.ubc.ca/">UBC School of Journalism</a></h2>

<pre><code>[UCSF's Legacy Tobacco Documents Library and Drug Industry Document Archive](http://legacy.library.ucsf.edu/)
</code></pre>

<p>-   <a href="http://www.vancouversun.com/">Vancouver Sun</a>
-   <a href="http://www.voiceofsandiego.org/">Voice of San Diego</a>
-   <a href="http://www.wpost.com">Washington Post</a>
-   <a href="http://www.wnyc.org">WNYC Radio</a></p>
