<%
  @title = "Frequently Asked Questions"
%>

<h1>Frequently Asked Questions</h1>
If you have a question that you don’t see answered, don’t hesitate to <a href="/about">contact us</a>.</p>

<p><strong>What is it? </strong></p>
<p>DocumentCloud is both a repository of primary source documents and a tool for document-based investigative reporting. Think of the repository as a card catalog for primary source documents. When you upload a document to DocumentCloud, you can annotate it, see lists of people and places named in your documents, plot documents on a timeline and more. We're building tools that accelerate the work of reporters who need to make sense of large sets of documents. You can use it on small sets, too. </p>

<p><strong>Yes, but what <em>is</em> it?</strong></p>
<p>Ruby (<a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>) and JavaScript. We're using <a href="http://en.wikipedia.org/wiki/Tesseract_%28software%29">Tesseract</a> for OCR and <a href="http://www.opencalais.com/">OpenCalais</a> for entity extraction. Take a look at <a href="http://github.com/documentcloud">our GitHub projects</a> and <a href="/blog/author/jeremy/">Jeremy’s blog posts</a> to get a better sense of the tools we’re using.</p>

<p><strong>What does it cost? </strong></p>
<p>Thanks to our funding from the Knight News Challenge, DocumentCloud is a free service.</p>

<p><strong>Is there an API?</strong></p>
<p>Yes. </p>

<p><strong>Who funds it? </strong></p>
<p>The project has started thanks to a generous grant from the John S. and James L. Knight Foundation. It is a 2009 winner of a <a href="http://www.newschallenge.org/">Knight News Challenge</a> grant. Our grant runs two years and we’ll be soon be seeking sustaining funding. </p>

<p><strong>Why are the New York Times and ProPublica getting grant funding? </strong></p>
<p>They’re not. Journalists from the Times and ProPublica applied for the Knight News Challenge grant — and both organizations will use the service when they’re released — but DocumentCloud will be a completely separate organization. Neither the Times nor ProPublica will receive any money from this grant, and the Times and ProPublica journalists who made the grant proposal will be volunteering their time. </p>

<p><strong>Can’t I already find documents using a search engine? </strong></p>
<p>Search engines are very powerful; our goal is to make documents even easier to find on search engines. DocumentCloud will have information about documents and relations between them, for example what locations, people, or organizations a group of documents have in common. </p>


<p><strong>Why would I want to share my documents? </strong></p>
<p>Because it will make your documents more findable, more useful, and ultimately more popular. </p>
<p>We also believe that most journalists will want to share their source materials with anyone who can help advance their stories. It’s one of the reasons why most news organizations are already posting source documents alongside news stories on their Web sites. The trouble is there hasn’t been an easy way to make those documents useful or even findable after the story fades from the headlines.  </p>
<p>Many other organizations (bloggers, watchdog groups, citizen journalists) are in that same boat. They have a wealth of documents but are only able to post them as individual PDF files. Again, it’s not a lack of desire; it’s a lack of available technology. This is the problem DocumentCloud intends to solve. </p>

<p><strong>How will you guarantee authenticity? How will you fight copyright infringement? How will you keep the collection free from spam and inappropriate material?</strong> </p>
<p>It will be of the utmost importance to us that the collection remain of the highest integrity, so we’re planning to limit the right to list documents, at least initially, to individuals and organizations involved in original reporting. Contributors will agree to a set of guidelines, and will have to vouch for the authenticity of the documents they upload. </p>

<p><strong>Will I be able to list documents but keep them offline until my article is published?</strong> </p>
<p>Yes. This is a project started by journalists who understand the needs of journalists and news organizations. Documents you upload aren't public until you publish them.</p>

<p><strong>Will I be able to keep my documents behind a registration wall / pay wall?</strong> </p>
<p>DocumentCloud is intended to be a index of publicly accessible source documents. Links to documents on sites with registration or reasonably priced pay walls will be allowed, but we won’t allow completely private sites. </p>

<p><strong>How can I sign up and start sharing my documents?</strong></p>
<p>Send us an e-mail at <a href="mailto:info@documentcloud.org?subject=partnership">info@documentcloud.org</a>  and let us know you’re interested. We're building a small group of beta testers, and will be opening contributions up more widely during the development process. </p>

<p><strong>When will it be ready?</strong></p>
<p>We're currently accepting beta users. Drop us a line if you'd like to be one. </p>

