<%
  @title = "Frequently Asked Questions"
%>

<h1>Frequently Asked Questions</h1>

<p><strong>What is it? </strong></p>
<p>DocumentCloud is both a repository of primary source documents and a tool for document-based investigative reporting. Think of the repository as a card catalog for primary source documents. We're building tools that accelerate the work of reporters who need to make sense of large sets of documents. (You can use it on small sets, too.) </p>

<p><strong>Yes, but what <em>is</em> it?</strong></p>
<p>Ruby (<a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>) and JavaScript. We're using <a href="http://en.wikipedia.org/wiki/Tesseract_%28software%29">Tesseract</a> for OCR and <a href="http://www.opencalais.com/">OpenCalais</a> for entity extraction. Take a look at <a href="http://github.com/documentcloud">our GitHub projects</a> and <a href="/blog">our blog</a> to get a better sense of the tools we’re using.</p>

<p><strong>What can I do with it?</strong></p>
<p>Take a look at <a href="/featured">what other reporters are doing</a> with it! And that's just the beginning. When you upload a document to DocumentCloud, you can annotate it, share it with colleagues in your newsroom or beyond your newsroom, view lists of people and places named in it, plot the dates it contains on a timeline and more. </p> 

<p><strong>Is there an API?</strong></p>
<p><a href="/api">Yes.</a> </p>

<p><strong>Are my documents automatically public?</strong> </p>
<p>No. DocumentCloud was started by journalists who understand journalism. Documents you upload aren't public until you make them public.</p>

<p><strong>Can I keep documents behind a pay wall?</strong> </p>
<p>Sure. Other reporters who are DocumentCloud users will be able to view your public documents from our workspace, but your public facing copy can sit behind a paywall. If the general public has no access to your reporting, however, you probably aren't a good fit--DocumentCloud is intended as a public catalog.</p>

<p><strong>When will it be ready?</strong></p>
<p>It's ready now! If you'd like to join the beta <a href="/contact">contact us</a>. </p>

<p><strong>What does it cost?</strong></p>
<p>Thanks to our funding from the Knight News Challenge, DocumentCloud is free of charge.</p>


<p><strong>Who funds it? </strong></p>
<p>DocumentCloud is funded by a generous grant from the John S. and James L. Knight Foundation. We were a 2009 winner of a <a href="http://www.newschallenge.org/">Knight News Challenge</a> grant. Our grant runs two years and we’ll be soon be seeking sustaining funding. </p>


<p><strong>Why did the New York Times and ProPublica get grant funding? </strong></p>
<p>They didn't. Journalists from the Times and ProPublica applied for the Knight News Challenge grant — and both organizations are using DocumentCloud— but Document Cloud, Inc is an independent 501c3 organization. Neither the Times nor ProPublica are receiving any money from the grant. Our three co-founders, the Times and ProPublica journalists who wrote the grant proposal, are volunteering their time. </p>

<p><strong>Why would I want to share my documents? </strong></p>
<p>Because it will make your documents and your reporting more findable, more useful and ultimately more popular. </p>
<p>We know that many journalists are already looking for better ways to share their source materials. It’s one of the reasons why most news organizations are already posting source documents alongside news stories on their Web sites. The trouble is there hasn’t been an easy way to make those documents useful or even findable after the story fades from the headlines.  </p>
<p>Many other organizations (bloggers, watchdog groups, citizen journalists) are in that same boat. They have a wealth of documents but are only able to post them as individual PDF files. Again, it’s not a lack of desire; it’s a lack of available technology. This is the problem DocumentCloud intends to solve. </p>

<p><strong>Can’t I already find documents using a search engine? </strong></p>
<p>Search engines are very powerful; our goal is to make documents even easier to find on search engines. DocumentCloud will have information about documents and relations between them, for example what locations, people, or organizations a group of documents have in common. </p>

<p><strong>How will you guarantee authenticity?</strong> </p>
<p>During our beta phase, we're limiting access to journalists and other researchers who have an established editorial process and a history of publishing high quality reporting. Each contributing organization takes responsibility for ensuring that the documents they upload to DocumentCloud are what they say they are.</p>

