<h1>Frequently Asked Questions</h1>

<h2>What is it?</h2>

<p>DocumentCloud will be software, a Web site, and a set of open standards that will make original source documents easy to find, share, read and collaborate on, anywhere on the Web. Think of it as a card catalog for primary source documents. It will accelerate the work of those doing investigations — whether reporters, bloggers or others.</p>

<h2>Yes, but what <em>is</em> it?</h2>

<p><a href="http://rubyonrails.org/">Rails</a>, some <a href="http://www.sinatrarb.com/">Sinatra</a>, a little bit of <a href="http://github.com/documentcloud/underscore">JavaScript</a>. Take a look at <a href="http://github.com/documentcloud/underscore">our GitHub projects</a> and <a href="/blog/author/jeremy/">Jeremy’s blog posts</a> to get a better sense of the tools we’re using.</p>

<h2>Who can use it?</h2>

<p>Once documents have been added to DocumentCloud, anyone will be able to find and share them. Users will be able to search for documents by things like date, topic, person, location, etc. and will be able to do “document dives” — collaboratively examining large sets of documents.</p>

<p>While anybody will be able to read documents, we’ll carefully vet the organizations who can add documents.</p>

<h2>Who funds it?</h2>

<p>The project has started thanks to a generous grant from the John S. and James L. Knight Foundation. It is a 2009 winner of a <a href="http://www.newschallenge.org/">Knight News Challenge</a> grant. Our grant runs two years and we’ll be soon be seeking sustaining funding.</p>

<h2>Why are the New York Times and ProPublica getting grant funding?</h2>

<p>They’re not. Journalists from the Times and ProPublica applied for the Knight News Challenge grant — and both organizations will use the service when they’re released — but DocumentCloud will be a completely separate organization. Neither the Times nor ProPublica will receive any money from this grant, and the Times and ProPublica journalists who made the grant proposal will be volunteering their time.</p>

<h2>How much will it cost to use?</h2>

<p>Nothing. Our intention is for this to be a free service for organizations that contribute documents to DocumentCloud, as well as those who benefit from it.</p>

<h2>Can’t I already find documents using a search engine?</h2>

<p>Search engines are very powerful; our goal is to make documents even easier to find on search engines. DocumentCloud will have information about documents and relations between them, for example what locations, people, or organizations a group of documents have in common.</p>

<h2>Will I be able to list my document in your catalog but then host them on another document service, like Scribd?</h2>

<p>Yes. DocumentCloud is not meant to be a general document hosting service, like Scribd, Docstoc or Google Docs. Our goal is to build a service that makes source documents easier to find and share regardless of where they are hosted. It is a complement to these services, and not a competitor.</p>

<h2>Will DocumentCloud host all the documents, or can I host the documents on my site?</h2>

<p>You can keep all of your documents on your own site. You will get all the traffic from those viewing, annotating, and sharing the documents.</p>

<h2>Why would I want to share my documents?</h2>

<p>Because we believe it will make your documents more findable, more useful, and ultimately more popular.</p>

<p>We also believe that most journalists will want to share their source materials with anyone who can help advance their stories. It’s one of the reasons why most news organizations are already posting source documents alongside news stories on their Web sites. The trouble is there hasn’t been an easy way to make those documents useful or even findable after the story fades from the headlines.</p>

<p>Many other organizations (bloggers, watchdog groups, citizen journalists) are in that same boat. They have a wealth of documents but are only able to post them as individual PDF files. Again, it’s not a lack of desire; it’s a lack of available technology. This is the problem DocumemtCloud intends to solve.</p>

<h2>How will you guarantee authenticity? How will you fight copyright infringement? How will you keep the collection free from spam and inappropriate material?</h2>

<p>It will be of the utmost importance to us that the collection remain of the highest integrity, so we’re planning to limit the right to list documents, at least initially, to individuals and organizations involved in original reporting. Contributors will agree to a set of guidelines, and will have to vouch for the authenticity of the documents they upload.</p>

<h2>Will I be able to list documents but keep them offline until my article is published?</h2>

<p>Yes. This is a project started by journalists who understand the needs of news organizations. We plan to make it possible to keep documents private — essentially “embargo” them — until you publish or air your story.</p>

<h2>Will I be able to keep my documents behind a registration wall / pay wall?</h2>

<p>DocumentCloud is intended to be a index of publicly accessible source documents. Links to documents on sites with registration or reasonably priced pay walls will be allowed, but we won’t allow completely private sites.</p>

<h2>How can I sign up and start sharing my documents?</h2>

<p>Send us an e-mail at <a href="mailto:info@documentcloud.org?subject=partnership">info@documentcloud.org</a> and let us know you’re interested. We’re building a small group of beta testers, and will be opening contributions up more widely during the development process.</p>

<h2>When will it be ready?</h2>

<p>We’re planning to open a public beta in the Spring of 2010.</p>

<h2>Will there be an API?</h2>

<p>Yes.</p>
