<%
  @title = "Featured Documents"
%>

<h1>What Can I Do With DocumentCloud?</h1>
<p>
  <i>
    Seen a story that made good use of DocumentCloud? Written one? <a href="mailto:amanda@documentcloud.org">Tell us about it</a> and we'll post it here. 
  </i>
</p>
    
    <p>
      <b>
        <i>Minnesota Public Radio</i>, October 25, 2010 &mdash; 
        <u><a href="http://minnesota.publicradio.org/projects/2010/wellstone-files/">The Wellstone Files</a></u>
      </b><br />
      <i>MPR News</i> published 219 pages of FBI records on Paul and Sheila Wellstone, in a story that travelled from the agency's early surveillance of Wellstone, the civil rights and anti-war activist, to their investigation into threats against Wellstone after he joined the US Senate in 1991. Throughout reporter Madeleine Baran's <a href="http://minnesota.publicradio.org/projects/2010/wellstone-files/feature/">feature story</a> examining the collected documents, <i>MPR News</i> used thumbnail images as pullquotes and directed readers to relevant passages that they'd highlighted in each document.<br />
      <a href="http://minnesota.publicradio.org/projects/2010/wellstone-files/">Package</a> | <a href="http://minnesota.publicradio.org/projects/2010/wellstone-files/feature/">Article</a>
    </p> 
    
<p>
  <b>
    <i>Washington Post</i>, October 1, 2010 &mdash; 
    <u><a href="http://www.washingtonpost.com/wp-srv/special/nation/alaska-native/index.html">Two Worlds: Government Contractors, Alaska Natives</a></u>
  </b><br />
  Since 2001, billions of dollars in government contracts have been awarded to Alaska native corporations, or ANCs, through a program designed to support indiginous run corporations by giving them a leg up in the bidding process. A <i>Washington Post</i> investigation found that the vast majority of the money in those contracts never makes it north to Alaska. The documents they published to help make their case include <a href="http://www.washingtonpost.com/wp-srv/special/nation/alaska-native/documents/anc3-agreement.html">consulting agreements</a>, <a href="http://www.washingtonpost.com/wp-srv/special/nation/alaska-native/documents/anc12-request.html">letters</a>, <a href="http://www.washingtonpost.com/wp-srv/special/nation/alaska-native/documents/anc1-senate.html">a senate report</a> highlighting weak oversight of the ANC program, and an <a href="http://www.washingtonpost.com/wp-srv/special/nation/alaska-native/documents/anc9-strategy.html">SEC filing</a>.
</p>

<p>
  <b>
    <i>Commercial Appeal</i>, September 12, 2010 &mdash; 
    <u><a href="http://www.commercialappeal.com/withers-exposed/">Ernest Withers: Exposed</a></u>
  </b><br />
    A year long investigation by Memphis' <i>Commercial Appeal</i> revealed that the photographer responsible for some of the most iconic photographs of the civil rights movement, Ernest Withers, was also serving as an informant for the FBI, spying on the same civil rights leaders he befriended. The Commercial Appeal published dozens of FBI reports alongside their reporting, inviting readers to follow the papertrail alongside reporter Marc Perrusquia.
</p>

<p>
  <b>
    <i>WNYC</i>, September 7, 2010 &mdash; 
    <u><a href="http://beta.wnyc.org/articles/its-free-country/2010/sep/07/new-nyc-ballot-could-cause-confusion/">NYC Ballot Design Could Cause Confusion</a></u>
  </b><br /> 
  New York City introduced paper ballots in the 2010 primary election, to comply with a 2002 federal law that mandated significant updates to voting systems in each state. Local NPR affiliate, <i>WNYC</i> invited a group of ballot design experts to review the city's new ballots. They identified a number of problems likely to trip up voters, and used DocumentCloud to flag each one for their readers. 
</p>


<p>
  <b>
    <i>PBS NewsHour</i>, July 7, 2010 &mdash; 
    <u><a href="http://www.pbs.org/newshour/rundown/2010/07/mark-twain-revisited-and-revisited.html">Unlocking More of Mark Twain's Unpublished Material</a></u>
  </b><br />
  Mark Twain ensured that many of his personal papers and essays would remain 
  unpublished for 100 years after his death. When the Mark Twain Project released
  an 1889 essay, "Concerning the Interview," <i>NewsHour</i> featured the 
  original manuscript.<br />
  <a href="http://www.pbs.org/newshour/rundown/2010/07/mark-twain-revisited-and-revisited.html">Article</a> | 
  <a href="http://www.pbs.org/newshour/rundown/documents/mark-twain-concerning-the-interview.html">Manuscript</a>
</p>

<p>
  <b><i>Commercial Appeal</i>, July 2010 &mdash; 
  <u><a href="http://www.commercialappeal.com/voter-guide/">2010 Voter Guide</a></u></b><br />
  Memphis's <i>Commercial Appeal</i> rounded out their guide to August's primary elections with a sample ballot. Their Digital Content Editor told us that many readers, who'd missed the sample ballot in the print edition turned to the version online as primary day approached. They're planning on using DocumentCloud to post a  sample ballot again in November. <br />
<a href="http://www.commercialappeal.com/voter-guide/sample-ballot-november-2010/">General Election Ballot</a> | <a href="http://web.commercialappeal.com/sample-ballot-august-2010">Primary Ballot</a> | <a href="http://www.commercialappeal.com/voter-guide/">Voter Guide</a>
</p>
<p>
  <b>
    <i>Great Falls Tribune</i>, July 6, 2010 &mdash; 
    <u><a href="http://www.greatfallstribune.com/apps/pbcs.dll/artikkel?NoCache=1&Dato=20100706&Kategori=NEWS01&Lopenr=110190001&Ref=AR">Internal e-mails show top Interior Department officials involved in 'brainstorming' for new national monuments</a></u>
  </b><br />Rumors that the Department of the Interior was considering monument designation for millions of acres of federal lands caused an uproar in Montana. In Big Sky Country, land use and conservation are big issues. The statehouse reporter for Montana's <i>Great Falls Tribune</i> caused quite a stir when he unearthed nearly four hundred pages of <a href="http://www.greatfallstribune.com/watchdog1">email records</a> and <a href="http://www.greatfallstribune.com/ads/news/index2.html">other memos</a> detailing conversations that the Department of the Interior was busy insisting never happened. <br />
  <a href="http://www.greatfallstribune.com/apps/pbcs.dll/artikkel?NoCache=1&Dato=20100706&Kategori=NEWS01&Lopenr=110190001&Ref=AR">Article</a> | <a href="http://www.greatfallstribune.com/watchdog1">Emails</a> | <a href="http://www.greatfallstribune.com/ads/news/index2.html">Memos</a>
 </p>

<p>
  <b><i>Las Vegas Sun</i>, June 27, 2010 &mdash; 
  <u><a href="http://www.lasvegassun.com/news/health/hospital-care/">Do No Harm: Hospital Care in Las Vegas</a></u></b><br />
  When <i>Las Vegas Sun</i> released and extensive package of reporting on hospital care in Las Vegas, they included a round up of <a href="http://www.lasvegassun.com/hospital-care/documents/">documents</a>, from CDC reprots and legislation to patient records and internal memos.  <br />
  <a href="http://www.lasvegassun.com/news/health/hospital-care/">Package</a> | <a href="http://www.lasvegassun.com/hospital-care/documents/">Documents</a>
</p>

<p>
  <b><i>Chicago Tribune</i>, Ongoing &mdash; 
  <u><a href="http://www.chicagotribune.com/news/local/blagojevich/">Rod Blagojevich On Trial</a></u></b><br />
  Chicago Tribune is aggregating their documents related to former Governor Rod 
  Blagojevich's corruption trial in a growing collection, including transcripts 
  of wiretaps. <br />
  <a href="http://www.chicagotribune.com/news/local/blagojevich/">Trial Coverage</a> |
  <a href="http://media.apps.chicagotribune.com/blago/documents.html">Documents</a>
</p>   

<p>
  <b>Center for Public Integrity, June 3, 2010 &mdash; <u><a href="http://www.publicintegrity.org/articles/entry/2079/">Coast Guard Logs Reveal Early Spill Estimate of 8,000 Barrels a Day</a></u></b><br />
  Center for Public Integrity learned that Coast Guard officials grasped the 
  potential threat of a catastrophic spill within hours of the explosion on 
  board the Deepwater Horizon drilling rig, estimating that 8,000 barrels a day 
  of crude oil could possibly gush out of the well in the event of a complete 
  blowout. They published those logs, which were 
  <a href="http://www.nytimes.com/2010/06/04/us/04coastguard.html">subsequently referenced</a> 
  by the <i>New York Times</i> as well.<br />
  <a href="http://www.publicintegrity.org/articles/entry/2079/">Article</a> |
  <a href="http://www.publicintegrity.org/documents/entry/2124">Logs</a>
</p>
 
 
<p>
  <b><i>Arizona Republic</i>, May 23, 2010 &mdash; <u><a href="http://www.azcentral.com/arizonarepublic/viewpoints/articles/2010/05/23/20100523deciphering-immigration-law.html">Deciphering the Full Text of SB 1070</a></u></b><br />
  Arizona's Senate Bill 1070, the famed new immigration law signed by Gov. Brewer 
  in April, might be one of the most discussed laws of the decade. The 
  <i>Arizona Republic</i> tells us that the annotated version of the bill, 
  hosted by DocumentCloud, was among the most widely read pieces on their website that week.<br />
  <a href="http://www.azcentral.com/arizonarepublic/viewpoints/articles/2010/05/23/20100523deciphering-immigration-law.html">Article</a> |
  <a href="http://www.azdatapages.com/sb1070.html">Senate Bill 1070</a>
</p>
 
<p>
  <b><i>PBS NewsHour</i>, May 12, 2010 &mdash; <u><a href="http://www.pbs.org/newshour/rundown/2010/05/the-conservative-libdem-agreement-reading-between-the-lines.html">The Tory-Lib Dem Agreement: Reading Between the Lines</a></u></b><br />
  <i>NewsHour</i> wrote a whole story between the lines of the coalition agreement 
  hammered out between Britain's Conservatives and Liberal Democrats as they formed 
  their new coalition government. <br />
  <a href="http://www.pbs.org/newshour/rundown/2010/05/the-conservative-libdem-agreement-reading-between-the-lines.html">Article</a> |
  <a href="http://www.pbs.org/newshour/rundown/conservative-libdem-agreement.html">Coalition Agreement</a>
</p>
 
<p>
  <b>Center for Public Integrity, May 11, 2010 &mdash; <u><a href="http://www.publicintegrity.org/articles/entry/2079/">Training Exercises Showed Gaps in Government Preparedness Before BP Oil Spill</a></u></b><br />
  The Center for Public Integrity invited fuller scrutiny of drills meant to prepare 
  relevant government agencies for a massive oil spill. The results of these 
  drills foreshadowed the stumbles in the federal response to the BP disaster 
  in the Gulf of Mexico. <br />
  <a href="http://www.publicintegrity.org/articles/entry/2079/">Article</a> |
  <a href="http://www.publicintegrity.org/documents/entry/2080/">Reports</a>
</p>
 
<p>
  <b><i>Washington Post</i>, May 10, 2010 &mdash; <u><a href="http://www.washingtonpost.com/wp-srv/package/supremecourt/2010candidates/elena-kagan.html">Elena Kagan, Candidate for the Court</a></u></b><br />
  The <i>Washington Post</i> put together a roundup of coverage and background 
  material on Supreme Court nominee Elena Kagan. They included testimony related 
  to Kagan's 2009 confirmation hearings for solicitor general as well as her 
  personal financial disclosures. 
  <a href="http://www.washingtonpost.com/wp-srv/package/supremecourt/2010candidates/elena-kagan.html">Article</a> |
  <a href="http://www.washingtonpost.com/wp-srv/package/supremecourt/2010candidates/kagan-doc1.html">Documents</a>
</p> 
 
<p>
  <b><i>Chicago Tribune</i>, April 22, 2010 &mdash; <u><a href="http://www.chicagobreakingnews.com/2010/04/blago-defense-seeks-permission-to-subpoena-obama.html">Blagojevich defense wants Obama subpoenaed</a></u></b><br />
  The <i>Chicago Tribune</i> used the annotations in the document viewer to put a heavily redacted subpoena back together. <br />
  <a href="http://www.chicagobreakingnews.com/2010/04/blago-defense-seeks-permission-to-subpoena-obama.html">Article</a> | 
  <a href="http://media.apps.chicagotribune.com/docs/obama-subpoena.html">Subpoena</a>
</p>
 
<p>
  <b><i>Huffington Post Investigative Fund</i>, April 28, 2010 &mdash; <u><a href="http://huffpostfund.org/stories/2010/04/financial-reform-dodges-some-big-lessons">Financial 'Reform' Dodges Some Big Lessons</a></u></b><br />
  <i>Huffington Post Investigative Fund</i> annotated a handful of emails and ran 
  them in a "more to this story" box alongside their reporting on the lack of 
  followup at the Office of Thrift Supervision. 
  <a href="http://huffpostfund.org/stories/2010/04/financial-reform-dodges-some-big-lessons">Article</a> |
  <a href="http://huffpostfund.org/sites/default/files/documents/0410/email-from-head-of-regulatory-agency-to-wamu-ceo-kerry-killinger.html">Documents</a>
</p>
 
<p>
  <b><i>Chicago Tribune</i>, April 13, 2010 &mdash; <u><a href="http://www.chicagotribune.com/news/ct-met-dcfs-letters-2-20100409,0,5458893.story">DCFS foster parents letters lack court oversight</a></u></b><br />
  The <i>Chicago Tribune</i> added letters and court orders that surfaced during 
  their investigation into lax oversight at the Illinois Department of Children 
  and Family Services.<br />
  <a href="http://www.chicagotribune.com/news/ct-met-dcfs-letters-2-20100409,0,5458893.story">Article</a> |
  <a href="http://media.apps.chicagotribune.com/docs/ct-met-dcfs-letters.html">Letters</a>
</p>
 
<p>
  <b><i>PBS NewsHour</i>, April 9, 2010 &mdash; <u><a href="http://www.pbs.org/newshour/rundown/2010/04/looking-back-stevens-supreme-court.html">Looking Back on Stevens' 34 Years on the Supreme Court</a></u></b><br />
  <i>NewsHour</i> added the full transcript of Supreme Court Justice Stevens' 
  confirmation hearing to their report on his retirement.<br /> 
  <a href="http://www.pbs.org/newshour/rundown/2010/04/looking-back-stevens-supreme-court.html">Article</a> |
  <a href="http://www.pbs.org/newshour/rundown/stevens-testimony.html">Testimony</a>
</p>
 
<p>
  <b><i>ProPublica</i>, April 9, 2010 &mdash; <u><a href="http://www.propublica.org/feature/all-the-magnetar-trade-how-one-hedge-fund-helped-keep-the-housing-bubble">The Magnetar Trade</a></u></b><br />
  <i>ProPublica</i>, NPR's <i>Planet Money</i> and <i>This American Life</i> 
  collaborated on an extensive report on one hedge fund's unorthodox and legally 
  questionable practices. The subject of their reporting declined to respond to 
  most questions put to them by reporters, who in turn used DocumentCloud 
  annotations to highlight Magnetar's responses. They also provided readers 
  with email messages discussed in the reporting. <br />
  <a href="http://www.thisamericanlife.org/donate?destination=radio-archives/episode/405/inside-job">Audio</a> |
  <a href="http://www.propublica.org/feature/all-the-magnetar-trade-how-one-hedge-fund-helped-keep-the-housing-bubble">Article</a> |
  <a href="http://www.propublica.org/documents/item/e-mails-between-magnetar-and-ischus">Emails</a> |
  <a href="http://www.propublica.org/documents/item/magnetars-responses-to-our-questions">Response
</p>
