<p>
  DocumentCloud is a document repository, an index of primary source material 
  compiled by journalists and researchers, a tool for annotating and organizing 
  documents. We’re still working on it, though if you want to know where we’re 
  headed, take a look at our blog and code and frequently asked questions.
</p>