<h1>Who We Are</h1>

<p>Conceived of over beers and sandwiches by journalists working at ProPublica and <i>The New York Times</i>, DocumentCloud is an independent nonprofit funded in 2009 by a two-year grant from the <a href="http://www.newschallenge.org/">Knight News Challenge</a>.</p>

<h2>Co-founders</h2>

<p><strong><a href="mailto:scott@documentcloud.org">Scott Klein</a></strong> is the Editor of Online Development at <a href="http://www.propublica.org">ProPublica</a>, directing news application development and production. He previously worked at <i>The Nation</i>, directing editorial and business application development for the <a href="http://www.thenation.com">TheNation.com</a>. Earlier in his career, Scott worked at <i>The New York Times</i>.</p>

<p><strong><a href="mailto:eric@documentcloud.org">Eric Umansky</a></strong> is a senior editor at <a href="http://www.propublica.org">ProPublica</a>, where he oversees daily reporting. Previously, Eric wrote Slate’s <a href="http://www.slate.com/?id=3944&amp;qp=26077">“Today’s Papers”</a> He also written, mostly on national security issues for <i>The New York Times Magazine</i>, <i>Washington Post</i>, <i>The New Republic</i>, and elsewhere. Earlier in his career, Eric was editor of <a href="http://MotherJones.com">MotherJones.com</a>.</p>

<p><strong><a href="mailto:aron@documentcloud.org">Aron Pilhofer</a></strong> is editor of Interactive News Technologies at <a href="http://www.nytimes.com">The New York Times</a>, overseeing a news-focused team of journalist/developers who build dynamic, data-driven applications to enhance The Times' reporting online. He joined The Times in 2005. Previously, he was at the <a href="http://www.publicintegrity.org/">Center for Public Integrity</a> in Washington, and before that at <a href="http://www.ire.org">Investigative Reporters and Editors</a>.</p>

<p><strong>Ben Koski</strong> is a Software Engineer in the <i>The New York Times</i>' Interactive News Technology group. He joined the Times in 2007. He helped lead the Times’ 2008 election coverage online and has had a hand in the paper's reader-submitted content efforts. Previously, he was a Poynter Summer Fellow and interned in the Philadelphia Inquirer's graphics department. Ben is a graduate of Haverford College.</p>

<hr />

<h2>Staff</h2>

<p><strong><a href="mailto:jeremy@documentcloud.org">Jeremy Ashkenas</a></strong> is the lead developer at DocumentCloud. His previous job was at Zenbe Inc., a provider of online email and collaboration software. He’s the creator of the Ruby-Processing visualization toolkit, and a winner — twice — of the Sunlight Foundation’s Apps for America competition. Jeremy graduated from Brown University in 2008 with a degree in Literary Systems.</p>

<p><strong>Amanda Hickman</strong>, Program Director, joined Document Cloud from <a href="http://www.gothamgazette.com">Gotham Gazette</a> where, as the Director of Technology, she managed development of a series of <a href="http://www.gothamgazette.com/archive/interactive">games about public policy</a> issues, built a pretty cool <a href="http://www.gothamgazette.com/campaigns/">database of candidates for local office</a> and shared an <a href="http://conference.journalists.org/2009conference/2009/10/04/publish2-my-ballard-and-gotham-gazette-win-inaugural-ojas/">ONA award for General Excellence</a> with her colleagues there. Prior to joining Gotham Gazette, she worked as a <a href="http://en.wikipedia.org/wiki/Circuit_rider_%28technology%29">Circuit Rider</a>, providing technology assistance and training to low-income grassroots groups in the U.S. working on anti-poverty issues and as a consultant to foundations looking for ways to support their grantees’ use of technology in organizing work. She taught an undergraduate course at NYU’s Gallatin School on using the Internet as an organizing tool. An active local organizer, she’s got her hands in a few <a href="http://www.coactivate.org/projects/compost/summary">community composting</a> and <a href="http://greeneacres.interactivist.net/">gardening</a> projects, too. You can find her at <i>amanda AT documentcloud.org</i>.</p>

<p>
  <img src="http://farm4.static.flickr.com/3657/3463534513_e8cb9cb2c4.jpg" width="400" />
  <br />
	From left to right: Ben Koski, Aron Pilhofer, Scott Klein, Eric Umansky
</p>
