<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @document.title %></title>

  <%= include_stylesheets :viewer %>
  <%= include_javascripts :viewer %>
  <%= include_templates :viewer %>

</head>

<!--[if lte IE 6]><body class="DV-ie DV-ie6"><![endif]-->
<!--[if IE 7]><body class="DV-ie DV-ie7"><![endif]-->
<!--[if IE 8]><body class="DV-ie DV-ie8"><![endif]-->
<!--[if !IE]><!--><body><!-- <![endif]-->

<script type="text/javascript">
  DV.load(<%= @document.canonical %>);
</script>
</html>