/* DocumentCloud overrides to the DocViewer CSS go here: */

.DV-docViewer {
  border: 1px solid #aaa;
  line-height: normal;
}
.DV-headerHat, .DV-title, .DV-contentsHeader {
  display: none !important;
}
.DV-header {
  padding: 0;
  border-bottom: 2px solid #979797;
  position: relative;
  z-index: 20000;
  box-shadow: 0 0 25px rgba(0,0,0,.5); -webkit-box-shadow: 0 0 25px rgba(0,0,0,.5); -moz-box-shadow: 0 0 25px rgba(0,0,0,.5);
}
  .DV-controls {
    margin-top: 0;
    border: 0;
    background: #d7d7d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C2C2C2));
    background: -moz-linear-gradient(top, #EAEAEA, #C2C2C2);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EAEAEA', EndColorStr='#C2C2C2');
    text-shadow: 0px 1px 1px #fff;
    color: #2C2C2C;
    overflow: hidden;
  }
    .DV-searchInput {
      border: 1px solid #999;
      -moz-border-radius: 16px;
      border-radius: 16px;
    }

.DV-docViewer-Container {
  margin: 0;
  border: 0;
}
.DV-pages {
  background: #bbb;
}

.DV-privateLock, .DV-showEdit, .DV-permalink {
  width: 16px; height: 16px;
  float: left;
  margin: -2px 0 0 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.DV-privateLock {
  margin: -2px 6px 0 0;
}
.DV-permalink {
  display: block;
  width: 16px; height: 16px;
  float: left;
  padding: 0;
  left: 0; top: 0;
}

.DV-annotationTitleInput,
.DV-annotationTextArea {
  border: 1px solid #D0D0D0;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  font: 12px/15px Arial;
  outline: 0;
}
  .DV-annotationTextArea {
    padding: 7px;
    margin: 10px 0;
    height: 110px;
    outline: 0;
    resize: none;
  }
  .DV-annotationTitleInput {
    padding: 4px;
    width: 300px;
  }
  .DV-annotationAccessSelect {
    float: right;
  }
  .DV-zoom-0 .DV-annotationTitleInput {
    width: 180px;
  }
.DV-annotationEditControls .minibutton {
  width: 60px;
}
  .DV-cancelEdit {
    margin-right: 10px;
  }

.DV-overlay {
  left: 0; right: 282px; bottom: 0;
}

.DV-well {
  padding-bottom: 16px;
}
.DV-descriptionHead {
  text-transform: none;
  color: black;
}
.DV-descriptionText {
  background: white;
  padding: 5px 14px 10px;
}

.DV-logo {
  margin-top: 16px;
}
  .DV-logo a {
    display: block;
    width: 105px; height: 19px;
    background: url(images/dc_inline_logo.png);
  }

.DV-footerLogoLink {
  display: block;
  width: 33px; height: 24px;
  background: url(images/dc_mini_logo.png) no-repeat center center;
  position: absolute;
  right: 5px; top: 5px;
}

.DV-views {
  position: relative;
  z-index: 10;
}
  .DV-views div span {
    border-bottom: 0 !important;
    background: #e3e3e3;
    color: black !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#C2C2C2));
    background: -moz-linear-gradient(top, #EAEAEA, #C2C2C2);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EAEAEA', EndColorStr='#C2C2C2');
  }
    .DV-views .DV-first span {
      -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
    }
    .DV-views .DV-last span {
      -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
    }
    .DV-viewDocument .DV-views .DV-documentView span,
    .DV-viewThumbnails .DV-views .DV-thumbnailsView span,
    .DV-viewAnnotations .DV-views .DV-annotationView span,
    .DV-viewText .DV-views .DV-textView span,
    .DV-viewSearch .DV-views .DV-textView span {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a0a0a0));
      background: -moz-linear-gradient(top, #fff, #a0a0a0);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#A0A0A0');
    }
