<div class="description">
  <%= _.t('edit_document_pairs', documentCount ) %>
  <% if (removeAll) { %>, 
  <%= _.t( 'or_remove_all_data', '<span class="text_link remove_all">','</span>' ) %>
  <% } %>
  <br />
  <%= _.t('for_example_data') %>

</div>

<div class="rows">
  <% _.each(data, function(pair) { %>
    <%= JST['document/data_dialog_row']({key: pair[0], value: pair[1], minus: true}) %>
  <% }); %>
</div>