<% _.each(data, function(pair) { %>
  <div class="data_row">
    <div class="text_input dark small first">
      <input type="text" value="<%= dc.inflector.escapeHTML(pair[0]) %>" />
    </div>
    <div class="text_input dark small">
      <input type="text" value="<%= dc.inflector.escapeHTML(pair[1]) %>" />
    </div>
    <div class="minibutton dark remove">-</div>
    <div class="minibutton dark add">+</div>
  </div>
<% }); %>