<% var notes = doc.notes.unrestricted(); %>
<% if (notes.length) { %>
  <select class="note_select">
    <% _.each(notes, function(note) { %>
      <% var title = dc.inflector.truncate(note.get('title'), 30); %>
      <option value="<%= note.id %>">p.<%= note.get('page') %> &ndash; <%= title %></option>
    <% }); %>
  </select>
<% } else { %>
  <div class="error">
    <%= _.t('document_has_no_public_notes') %>
  </div>
<% } %>
