<% if (thumbnail) { %>
  <img class="icon document generic" src="<%= thumbnail %>" />
<% } else { %>
  <div class="icon document generic"></div>
<% } %>
<div class="title serif">
  <span class="view_document"><%= title %></span>
  <% if (!pub) { %>
    <div class="document_tools">
      <div class="icon lock"></div>
    </div>
  <% } %>
</div>
<div class="source">Source: <%= source %></div>
<div class="summary serif"><%= summary %>&hellip;</div>
