<div id="upload_progress">
  <div id="no_uploads" class="nametag gradient_light">
    <div class="icon page_white_get"></div>
    no uploads currently in progress...
  </div>
  <div id="upload_progress_inner">
    <div class="nametag gradient_light">
      Uploads Currently in Progress:
    </div>
  </div>
</div>
