<div id="document_progress_<%= id %>" class="document_progress">
  <div class="status_wrap">
    <div class="doc_title">&ldquo;<%= title %>&rdquo;</div>
    <div class="status"></div>
  </div>
  <div class="progress_bar gradient_blue" style="width:0;"></div>
</div>