<div class="document_list">
	<div class="cap_top_left cap"></div>
	<div class="cap_top_middle cap"></div>
	<div class="cap_top_right cap"></div>
	<ul class="documents">
		<!-- Render target for document tiles. -->
	</ul>
</div>