<div class="size_controls">
  <span class="view_small">s</span> | 
  <span class="view_medium">m</span> | 
  <span class="view_large">l</span>
</div>
<ul class="documents">
  <!-- Render target for document tiles. -->
</ul>
