<div class="size_controls">
	<a href="#" class="view_small">s</a> | 
	<a href="#" class="view_medium">m</a> | 
	<a href="#" class="view_large">l</a>
</div>
<ul class="documents">
	<!-- Render target for document tiles. -->
</ul>
