<div class="description">
  <%= multiple ? 'These documents are' : 'This document is' %> private.
  You must make <%= multiple ? 'them' : 'it' %> public before
  <%= multiple ? 'they' : 'it' %> will be visible on your website or in
  searches of DocumentCloud's catalog.
</div>

Make public on:
<span class="datetime">
  <%= JST['common/date_select']({date : date}) %>
</span>

at
<span class="datetime">
  <%= JST['common/hour_select']({date : date}) %>
</span>
