<div class="uploads">
  <div class="line top"></div>
  <div class="upload_list not_draggable"></div>
  <div class="line bottom"></div>
</div>

<div class="upload_email">
  <input type="checkbox" id="email_on_complete" name="email_on_complete" value="1" />
  <label for="email_on_complete">
    Email me when 
    <span class="upload_email_count">all documents have</span>
    finished processing.
  </label>
</div>