<div class="title"><%= title %></div>
<% if (text) { %>
  <div class="text"><%= text %></div>
<% } %>
<% if( mode == 'prompt' || mode == 'short_prompt') { %>
  <div class="<%= mode %>">
    <% if( mode == 'prompt') { %>
      <textarea class="content"></textarea>
    <% } else { %>
      <input class="content" type="text" value="" />
    <% } %>
  </div>
<% } %>
<div class="controls">
  <button class="ok default">ok</button>
  <button class="cancel">cancel</button>
</div>