a {
  color: #000;
}
select {
  font-size: 11px;
  height: 20px !important;
}

/*---------------------- Drop-shadow replacements ----------------------------*/
div.dialog .dialog_background {
  top: 0; left: 0;
  right: 8px; bottom: 8px;
  margin: -8px 0 0 -8px;
  filter:
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=45,strength=4)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=135,strength=4)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=225,strength=4)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=315,strength=4);
}

/*------------------------------ Specific tweaks ---------------------------------*/
body.workspace {
  overflow: auto;
}
#upload_dialog {
  width: 530px;
}
#DV-searchSubmit {
  padding: 1px;
}
#section_editor {
  width: 440px;
}
  #section_editor ol {
    width: 420px;
    list-style-type: none;
  }
    #section_editor li {
      width: 420px;
    }
  #section_editor .section_title {
    margin-right: 0;
  }
#project_controls {
  padding-right: 15px;
}
.icon.plus:hover {
  background-image: url(/images/embed/ui/plus.png);
}
.icon.minus:hover {
  background-image: url(/images/embed/ui/minus.png);
}
#account_list .row.pending .pending_badge,
#account_list .admin.pending .pending_badge {
  display: none;
}
#organizer .box {
  background-image: url(/images/embed/ui/box_back_wide.png);
}
.document .document_tool {
  position: absolute;
  margin: 4px 14px 0 0;
}
  body.minidocs .document .document_tool {
    left: 122px;
  }
  body.minidocs #document_list .document {
    margin-bottom: 0px;
  }
#organizer_entities .row {
  width: 268px;
}
.document .page {
  margin-top: 0;
}
.dialog .controls {
  float: right;
  left: 0;
}
  .dialog .controls_inner {
    left: 0;
  }
#help_toolbar .minibutton {
  width: 155px;
}
