a {
  color: #000;
}
select {
  font-size: 11px;
  height: 20px !important;
}

/*---------------------- Drop-shadow replacements ----------------------------*/
img.doc,
img.page_image,
#tooltip_background,
.note .note_background {
  margin: -6px 0 0 -6px;
  filter:
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=45,strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=135,strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=225,strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=315,strength=3);
}
  #tooltip_background,
  .note .note_background {
    top: 0; left: 0;
    right: 6px; bottom: 6px;
  }
div.dialog .dialog_background {
  top: 0; left: 0;
  right: 8px; bottom: 8px;
  margin: -8px 0 0 -8px;
  filter:
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=45,strength=4)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=135,strength=4)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=225,strength=4)
    progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,direction=315,strength=4);
}

/*------------------------------ Specific tweaks ---------------------------------*/
body.workspace {
  overflow: auto;
}
#upload_dialog {
  width: 530px;
}
#DV-searchSubmit {
  padding: 1px;
}
#section_editor {
  width: 380px;
}
#entities {
  right: 25px;
}
#project_controls {
  padding-right: 15px;
}
.icon.plus:hover {
  background-image: url(/images/embed/ui/plus.png);
}
.icon.minus:hover {
  background-image: url(/images/embed/ui/minus.png);
}
#account_list .row.pending .pending_badge,
#account_list .admin.pending .pending_badge {
  display: none;
}
#organizer .box {
  background-image: url(/images/embed/ui/box_back_wide.png);
}
  #organizer .box:hover .edit_glyph {
    position: absolute;
    margin: 4px 11px 0 0;
  }
.document .document_tool {
  position: absolute;
  margin: 2px 14px 0 0;
}
.note .edit_note {
  position: absolute;
  margin: 5px 11px 0 0;
}
#organizer_entities .row {
  width: 268px;
}