/*--------------------------------- v2 Alerts --------------------------------*/

.alert_v2 {
  position: relative;
  margin: 1.5em 0;
  padding: 1em 1em 1em 2.5em;

  font-size: 22px;
  line-height: 1.5em;
  font-weight: 300;

  background-color: #d0e1f4;
  color: #000;
}
.alert_v2:first-child {
  margin-top: 0;
}

.alert_v2:first-child {
  margin-top: 0;
}

.alert_v2:before {
  content: '✱';
  position: absolute;
  left: 0.4em;
  font-size: 1.5em;
  min-width: 1em;
  text-align: center;
}

.alert_v2.error {
  background-color: #d85157;
  color: white;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}
.alert_v2.error:before {
  content: '✘';
}

.alert_v2.success {
  background-color: #78bb6e;
  color: white;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}
.alert_v2.success:before {
  content: '✔︎';
}

.alert_v2.small {
  font-size: 14px;
  line-height: 1.5em;
}
