<div class="project_menu_container"></div>
<div class="download_menu_container"></div>
<div class="access_menu_container"></div>
<div id="timeline_button" class="minibutton">timeline</div>
<div id="edit_summary_button" class="minibutton">edit summary</div>
<div id="edit_remote_url_button" class="minibutton">remote url</div>
<div id="delete_document_button" class="minibutton warn">delete</div>