<div class="panel_content">
  <div id="pagination_container" class="tab_content search_tab_content active_search"></div>
  <div id="document_list_container" class="tab_content search_tab_content active_search"></div>
  <div id="search_toolbar_container" class="tab_content search_tab_content active_search"></div>
  <div id="document_upload_container" class="tab_content upload_tab_content"></div>
  <div id="accounts_panel_container" class="tab_content admin_tab_content"></div>
  <div id="visualizer_container" class="tab_content visualize_tab_content"></div>
  <div id="organizer_container" class="tab_content search_tab_content no_search"></div>
  <div id="no_results_container" class="tab_content search_tab_content visualize_tab_content empty_search"></div>
</div>