<div class="sidebar_content">
  <div id="query_container" class="tab_content search_tab_content active_search empty_search"></div>
  <div id="metadata_container" class="tab_content search_tab_content visualize_tab_content active_search"></div>
  <div id="upload_progress_container" class="tab_content upload_tab_content"></div>
  <div id="accounts_sidebar_container" class="tab_content admin_tab_content"></div>
  <div id="organizer_sidebar_container" class="tab_content dashboard_tab_content no_search"></div>
</div>
