indexer
{
}

searchd
{
  address = 127.0.0.1
  port = 3312
  log = log/searchd.log
  query_log = log/searchd.query.log
  pid_file = log/searchd.development.pid
}

source note_core_0
{
  type = mysql
  sql_host = localhost
  sql_user = root
  sql_pass = 
  sql_db = docs_development
  sql_query_pre = SET NAMES utf8
  sql_query = SELECT `notes`.`id` * 2 + 0 AS `id` , CAST(`notes`.`comment` AS CHAR) AS `comment`, `pages`.`document_id` AS `document_id`, `notes`.`page_id` AS `page_id`, IFNULL(`documents`.`title`, '') AS `title`, UNIX_TIMESTAMP(`notes`.`created_at`) AS `created_at`, `notes`.`id` AS `sphinx_internal_id`, 1871664426 AS `class_crc`, '1871664426' AS `subclass_crcs`, 0 AS `sphinx_deleted` FROM notes    LEFT OUTER JOIN `pages` ON `pages`.id = `notes`.page_id   LEFT OUTER JOIN `documents` ON `documents`.id = `pages`.document_id  WHERE `notes`.`id` >= $start   AND `notes`.`id` <= $end    GROUP BY `notes`.`id`  ORDER BY NULL
  sql_query_range = SELECT IFNULL(MIN(`id`), 1), IFNULL(MAX(`id`), 1) FROM `notes` 
  sql_attr_uint = document_id
  sql_attr_uint = page_id
  sql_attr_uint = sphinx_internal_id
  sql_attr_uint = class_crc
  sql_attr_uint = sphinx_deleted
  sql_attr_timestamp = created_at
  sql_attr_str2ordinal = title
  sql_attr_multi = uint subclass_crcs from field
  sql_query_info = SELECT * FROM `notes` WHERE  `id` = (($id - 0) / 2)
}

index note_core
{
  source = note_core_0
  path = /Users/jashkenas/Desktop/document_cloud/doc_viewer/db/sphinx/development/note_core
  morphology = stem_en
  charset_type = utf-8
}

index note
{
  type = distributed
  local = note_core
}

