<section id="terms_changelog">
  <h1>Changelog</h1>

  <h2 <%= 'class="active"'.html_safe if @version == '2' %>><%= link_to 'v2.0', terms_path(version: '2') %></h2>
  <div class="term_duration">Will begin May 25, 2016 </div>
  <p>Many changes, see <a href="https://blog.documentcloud.org/">blog post</a> for details.</p>

  <h2 <%= 'class="active"'.html_safe if @version == '1' %>><%= link_to 'v1.0', terms_path %></h2>
  <div class="term_duration">Launch – <span class="badge good">Current</span></div>
  <p>Original terms that governed from launch.</p>
</section>
