<p>The following Terms of Service for DocumentCloud is a legal contract between you and DocumentCloud regarding your use of DocumentCloud and any additional DocumentCloud Software (collectively &quot;DocumentCloud&quot;).</p>
<p>We encourage all users to learn about their legal rights and responsibilities with respect to fair use of copyright-protected and otherwise privileged content.</p>
<p>DocumentCloud makes use of OpenCalais, whose <a href="http://www.opencalais.com/terms-of-service/">terms of service</a> are hereby incorporated.</p>

<h2 id="section_1">1. Responsibility of Document Contributors</h2>
<ol class="lower-alpha">
	<li>You are a Document Contributor if you upload files to DocumentCloud, either through our API or via the web interface. DocumentCloud is intended as a repository and index of primary source material. As a Document Contributor you agree:</li>
	<ol class="lower-roman">
		<li>to ensure that any users you add to DocumentCloud understand and adhere to these terms and conditions;</li>
		<li>that you will not add Document Contributors or other users under the age of 13. If you are working with young people and want them to participate in DocumentCloud, please contact us to address this. </li>
		<li>that you understand that DocumentCloud is intended as a tool for adults and that you will not add Document Contributors under the age of 18 without prior agreement from DocumentCloud;</li>
		<li>that you will not use DocumentCloud to publish or otherwise make public (collectively “publish”) documents that you do not have the legal right to distribute publicly;</li>
		<li>not to infringe any copyright, trademark, patent, or other proprietary rights of any person;</li>
		<li>that you will exercise sound editorial judgment in determining the authenticity of documents you publish and that you will immediately remove documents whose authenticity or veracity you are not confident of;</li>
		<li>that you will refrain from violating the privacy rights of private individuals who may be described in documents you publish to DocumentCloud; </li>
		<li>that you will not upload documents that contain unethical or unwanted commercial content designed to drive traffic to third-party sites or boost the search engine rankings of third-party sites;</li>
		<li>that you will not mislead DocumentCloud users as to the source of any material which you have uploaded.</li>
	</ol>
	<li>Serious violations of this agreement may result in an entire organization being banned from DocumentCloud. </li>
</ol>

<h2 id="section_2">2. Responsibility of All Users</h2>
<ol class="lower-alpha">
	<li>You are a User if you use DocumentCloud in any capacity including as a Document Contributor. All DocumentCloud users agree that you will:</li>
	<ol class="lower-roman">
		<li>not attempt to gain access to another user's account;</li>
		<li>not attempt to gain access to unpublished documents stored by Document Contributors other than yourself;</li>
		<li>not attempt to gain access to any private content stored on DocumentCloud, including, but not limited to, private annotations, stored searches or bookmarks. </li>
	</ol>
</ol>

<h2 id="section_3">3. Privacy </h2>
<ol class="lower-alpha">
	<li>DocumentCloud's Privacy Policy is hereby incorporated into these Terms by reference. Please read DocumentCloud's Privacy Policy carefully for information relating to DocumentCloud's collection, use and disclosure of your personal information. You can find DocumentCloud's Privacy Policy at <a href="https://www.documentcloud.org/privacy">https://www.documentcloud.org/privacy</a></li>
	<li>DocumentCloud is not intended as an anonymous service for the sharing of documents. Therefore as a Document Contributor, you additionally agree:</li>
	<ol class="lower-roman">
		<li>to provide DocumentCloud with your current and accurate name and contact information; </li>
		<li>that you are responsible for maintaining the confidentiality of any passwords associated with your DocumentCloud account; </li>
		<li>that you are solely responsible for all activities and uploads which happen under your account; </li>
		<li>that you will notify DocumentCloud immediately in the event of any unauthorized activity on your account. </li>
	</ol>
</ol>

<h2 id="section_4">4. Copyright Infringement and DMCA Policy</h2>
<ol class="lower-alpha">
	<li>Do not upload copyright-protected material to DocumentCloud. It is our policy to respect the rights of copyright and other intellectual property owners. We encourage all users to learn about their legal rights and responsibilities with respect to fair use of copyright-protected and otherwise privileged content.</li>
	<li>If you believe that material located on DocumentCloud violates your copyright, you are encouraged to first notify the Document Contributor as identified in on the document itself. If you are not able to identify the Document Contributor, please contact DocumentCloud directly for assistance.</li>
	<li>It is not our policy to publish or make public copyright-protected works. As a Document Contributor, it is your responsibility to determine that you do have the right to digitally reproduce any documents you've published on DocumentCloud. </li>
	<li>DocumentCloud may, under appropriate circumstances and at its discretion, remove or disable access to content that appears to infringe the copyright or other intellectual property rights of others. If you believe that your copyright has been violated by material available through DocumentCloud, please provide the DocumentCloud Copyright Agent with the following information:</li>
	<ol class="lower-roman">
		<li>Identification of the copyrighted work that you claim has been infringed; </li>
		<li>An exact description of where the material about which you complain is located within DocumentCloud; </li>
		<li>Your address, telephone number, and email address; </li>
		<li>A statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; </li>
		<li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the owner of the copyright interest involved or are authorized to act on behalf of that owner; and </li>
		<li>Your electronic or physical signature.</li>
		<li>The DocumentCloud Copyright Agent can be reached as follows:
      <p style="margin-left:15%">
        Mark Horvit<br>
        Investigative Reporters and Editors<br>
        141 Neff Annex<br>
        University of Missouri<br>
        Columbia, MO 65211
      </p>
    </li>
	</ol>
</ol>

<h2 id="section_5">5. Open Source and Trademark Policy</h2>
<ol class="lower-alpha">
	<li>DocumentCloud is open source software. For more information, see <a href="https://www.documentcloud.org/opensource">https://www.documentcloud.org/opensource</a></li>
	<li>The name DocumentCloud is a trademark of Document Cloud Incorporated. Our logo, illustrations and graphic elements are copyrighted material and may not be reproduced without permission. </li>
</ol>

<h2 id="section_6">6. Children</h2>
<ol class="lower-alpha">
	<li>DocumentCloud is intended as a tool for adults. If you are interested in using DocumentCloud with children under the age of 13, or if you are the parent or guardian of a child under the age of 13 who wishes to use DocumentCloud, please contact us. </li>
	<li>If you wish to use DocumentCloud with minors between the ages of 13 and 18, please contact us. </li>
</ol>

<h2 id="section_7">7. Changes to this Agreement</h2>
<ol class="lower-alpha">
	<li>In the event of a material change to these terms of service, we will notify users in accordance with our privacy policy. What constitutes a material change in these terms will be determined by DocumentCloud in good faith and using common sense and reasonable judgment. If DocumentCloud does change the terms of this agreement, all changes will go into effect at the time we post the updated terms of service.</li>
</ol>

<h2 id="section_8">8. Limitation of Liability</h2>
<ol class="lower-alpha">
	<li id="section_8_a"><b>IMPORTANT:</b> Software and services provided under this agreement are provided to you as is and with no warranties whatsoever. All implied warranties are excluded to the extent legally permissible. DocumentCloud will provide the services and software using reasonable skill and care. Under no circumstances will DocumentCloud be liable to you for any consequential or indirect loss of profits or economic advantage. DocumentCloud cannot guarantee the connection speed between you and the service and DocumentCloud cannot be held liable for any direct or indirect damage or loss caused by connection speed. DocumentCloud will use reasonable efforts to ensure availability of the services, but makes no guarantee that the services will be available without interruption. DocumentCloud is not responsible for the loss of any of your data or any loss of business or financial disadvantage to you as a result of any loss of or damage to your data as a consequence of your use of the services. You should ensure that you have suitable backups of all documents and data.</li>
</ol>

<h2 id="section_9">9. Contacting DocumentCloud</h2>
<ol class="lower-alpha">
  <li>See <a href="/contact">contact us</a> for the complete array of ways to reach us for technical support or new account questions. Our mailing address is:
    <p style="margin-left:15%">
      DocumentCloud<br>
      Investigative Reporters and Editors<br>
      141 Neff Annex<br>
      University of Missouri<br>
      Columbia, MO 65211
    </p>
  </li>
</ol>
