<div class="section_title gradient_light">
  Project Invitations
  <% if (hiddenCount) { %>
  <span class="section_title_action toggle_hidden"><%= dismissLinkText %></span>
  <% } %>
</div>
<div id="project_invitation_list"></div>
