.DV-document-tile {
  float: left;
  width: 250px;
  border: 1px solid transparent;
  height: 86px;
  margin: 2px 8px 12px 0;
  padding: 0 0 0 80px;
  position: relative;
  overflow: hidden;
  font: 16px/20px Helvetica,Arial;
  background-color: #FFF;
  text-decoration: none;
  outline: none;
}
  .DV-document-tile:hover {
    cursor: pointer;
  }
  .DV-document-thumbnail {
    position: absolute;
    left: 3px;
    top: 3px;
    margin: 0 6px 4px 0;
    width: 70px;
    height: 85px;
  }
    .DV-document-thumbnail img {
      border: 1px solid #AAA;
      width: 60px;
      height: 75px;
      padding: 1px;
      background-color: #FFF;
    }
    .DV-document-tile:hover .DV-document-thumbnail {
      border-color: transparent;
    }
  .DV-document-thumbnail-select {
    position: absolute;
    margin: 0 6px 4px 0;
    background-color: #E0E0E0;
    width: 63px;
    height: 78px;
    left: 6px;
    top: 6px;
  }
    .DV-document-tile:hover .DV-document-thumbnail-select {
      left: 0;
      top: 0;
      width: 70px;
      height: 85px; 
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: #0099FF;
    }
  .DV-document-title {
    color: #303030;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 2px 0 4px 0;
  }
    .DV-document-tile:hover .DV-document-title {
      text-decoration: underline;
    }
  .DV-document-description {
    color: #606060;
    font-size: 12px;
    line-height: 15px;
  }