/* ========================== */
/* = Search Embed Workspace = */
/* ========================== */

.DC-search-embed {
  clear: both;
  overflow: hidden;
  font: 16px/20px Helvetica,Arial;
  margin: 12px 0
}

.DC-no-results {
  position: relative;
  margin: 12px 0 24px 20px;
  padding: 0 0 0 75px;
  height: 77px;
  font-size: 14px;
  line-height: 90px;
  color: #555;
}
  .DC-no-results .DC-icon {
    position: absolute;
    top: 10px; left: 0px;
  }

.DC-document-list {
  overflow: hidden;
}

.DC-interface {
 font-family: "Lucida Grande","Lucida Sans Unicode", Helvetica, Arial;
}

/* ========== */
/* = Search = */
/* ========== */

.DC-search {
  margin: 0 0 12px;
}
.DC-text-input {
  position: relative;
  height: 30px;
  background: transparent url(/images/embed/ui/text_input_large_left.png) no-repeat center left;
}
  .DC-text-input .DC-placeholder {
    position: absolute;
    cursor: text;
    left: 1px; 
    top: 5px;
    color: #c0c0c0;
    font-size: 13px;
    line-height: 18px;
  }  
  .DC-text-input input {
    display: block;
    border: none;
    outline: none;
    margin: 0; 
    padding: 4px;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    width: 100%;    
    color: #999999;
    font-size: 13px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif !important;
    width: 100%;
  }
  .DC-text-input.DC-search {
    height: 28px;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0px 0px 3px #ccc;
    -moz-box-shadow: inset 0px 0px 3px #ccc;
    box-shadow: inset 0px 0px 3px #ccc;
  }
    .DC-text-input.DC-search:focus {
      border-color: #acf;
      -webkit-box-shadow: inset 0px 0px 3px #acf;
      -moz-box-shadow: inset 0px 0px 3px #acf;
      box-shadow: inset 0px 0px 3px #acf;
    }
    .DC-text-input .DC-search-inner {
      position: relative;
      margin: 0 28px;
    }
      .DC-text-input.DC-search input {
        width: 100%;
        padding: 5px 0;
      }
        .DC-text-input.DC-search:focus input {
          color: #000;
        }
    .DC-text-input .DC-search-glyph {
      position: absolute;
      left: 9px; top: 8px;
    }
    .DC-text-input .DC-cancel-search {
      position: absolute;
      right: 9px; top: 8px;
    }
    
/* ================== */
/* = Document Tiles = */
/* ================== */

.DC-document-tile {
  float: left;
  width: 250px;
  border: 1px solid transparent;
  height: 86px;
  margin: 2px 8px 12px 0;
  padding: 0 0 0 80px;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  text-decoration: none;
  outline: none;
}
  .DC-document-tile:hover {
    cursor: pointer;
  }
  .DC-document-thumbnail {
    position: absolute;
    left: 3px;
    top: 3px;
    margin: 0 6px 4px 0;
    width: 70px;
    height: 85px;
  }
    .DC-document-thumbnail img {
      border: 1px solid #AAA;
      width: 60px;
      height: 75px;
      padding: 1px;
      background-color: #FFF;
    }
    .DC-document-tile:hover .DC-document-thumbnail {
      border-color: transparent;
    }
  .DC-document-thumbnail-select {
    position: absolute;
    margin: 0 6px 4px 0;
    background-color: #E0E0E0;
    width: 63px;
    height: 78px;
    left: 6px;
    top: 6px;
  }
    .DC-document-tile:hover .DC-document-thumbnail-select {
      left: 0;
      top: 0;
      width: 70px;
      height: 85px; 
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: #0099FF;
    }
  .DC-document-title {
    color: #303030;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 2px 0 4px 0;
  }
    .DC-document-tile:hover .DC-document-title {
      text-decoration: underline;
    }
  .DC-document-description {
    color: #606060;
    font-size: 12px;
    line-height: 15px;
  }

/* ============= */
/* = Paginator = */
/* ============= */

.DC-arrow {
  font-size: 17px;
  line-height: 11px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 2px;
}
  .DC-arrow:hover {
    color: #000;
  }
  .DC-arrow.DC-arrow-left {
    padding-right: 4px;
  }
  .DC-arrow.DC-arrowright {
    padding-left: 4px;
  }

.DC-paginator {
  padding: 6px 0 0;
  margin: 4px 0 0 0;
  font-size: 11px;
  line-height: 18px;
  height: 18px;
  color: #999;
  text-align: right;
  border-top: 1px solid #ccc;
}
  .DC-paginator .DC-logo {
  }
  .DC-paginator .DC-paginator-description {
    float: left;
  }
    .DC-paginator .DC-paginator-range {
      font-weight: bold;
    }
  .DC-paginator .DC-paginator-enumeration {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -50px;
    text-align: left;
    height: 20px;
  }
    .DC-paginator.is_editing .DC-paginator-enumeration {
      margin-top: -3px;
    }
    .DC-paginator .DC-paginator-placeholder {
      font-weight: bold;
    }
      .DC-paginator.is_editing .DC-paginator-placeholder {
        display: none;
      }
    .DC-paginator .DC-paginator-current-page {
      display: none;
      position: relative;
      width: 25px;
      font-size: 11px;
      height: 17px;
      text-align: center;
      color: #999;
    }
      .DC-paginator .DC-paginator-current-page:focus {
        color: #000;
      }

/* ========= */
/* = Icons = */
/* ========= */

.DC-icon.DC-search-glyph {
  width: 12px; height: 12px;
  background-image: url(/images/embed/icons/search_glyph.png);
}

.DC-icon.DC-cancel-search {
  width: 11px; height: 11px;
  background-position: center 0;
  background-image: url(/images/embed/icons/cancel_search.png);
  cursor: pointer;
}
  .DC-icon.DC-cancel-search:hover {
    background-position: center -11px;
  }
.DC-icon.DC-document {
  width: 60px; 
  height: 75px;
  background: url(/images/embed/documents/generic.png);
  border: 0;
}
