<div class="document_count">
  <% var docs = Documents.countSelected(); %>
  Occurs in <%= instances.length %> of <%= docs %> selected <%= Inflector.pluralize('document', docs) %>.
</div>

<div class="document_list">
  <!-- Render target for the document list -->
</div>