<div class="notification_bar">
  <strong>DocumentCloud</strong> is moving to a new home!
  <a class="notification_action" href="https://medium.com/@pilhofer/a-note-to-users-of-documentcloud-org-2641774661bb">See our announcement to learn more.</a>
</div>
