<div class="notification_bar">
  An important message for our users:
  <a class="notification_action" href="https://medium.com/@pilhofer/a-note-to-users-of-documentcloud-org-2641774661bb">read the announcement here</a>
</div>
