var handler = StripeCheckout.configure({
  key:         '<%= DC::SECRETS['stripe']['publish'] %>',
  locale:      'auto',
  name:        'DocumentCloud',
  description: 'c/o Investigative Reporters & Editors',
  image:       '/images/common/dc_logomark_social_square.png',
  billingAddress: true,
  amount:      5000,
  token: function(token) {
    $('#stripe_token').val(token.id);
    $('#stripe_email').val(token.email);
    $('#donation_form').get(0).submit();
  }
});
$('#donation_form').on('submit', function(e) {
  e.preventDefault();

  var $error = $('#error_explanation').html('');
  var $form = $('#donation_form');

  var amount = $('#donation-amount-other').val();
  if (amount == '') {
    amount = $('#donation-amount-other');
  }
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')
  amount = parseFloat(amount);
  if (isNaN(amount)) {
    $('#error_explanation').html('<p style="color:red">Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p style="color:red">Donation amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Cents
    handler.open({
      amount: Math.round(amount)
    })
  }
});
$('#donation-amount-other').on('keyup', function(){
  if ($(this).val() !== '') {
    var $checked = $('#donation_form input[name="donation_amount"]:checked');
    $checked.prop('checked', false).trigger('change').closest('.active').removeClass('active');
  }
});
$(window).on('popstate', function() {
  handler.close();
});
