<div class="notification_bar">
  <strong>Notice!</strong> DocumentCloud will be down for maintenance on <span class="date">Sunday 08/27 at 10pm EDT</span>.
  <a class="notification_action" href="/status">See our status page for more</a>
</div>
