<div class="notification_bar">
  <strong>Notice!</strong> We're upgrading our database tonight at midnight EST (0500 UTC). Uploads and edits will be disabled during the upgrade.
  <a class="notification_action" href="/status">See our status page for more</a>
</div>
