<div class="notification_bar">
  <strong>Notice!</strong> We are currently in <b>read-only mode</b> while upgrading the database. Uploads and edits are disabled.
  <a class="notification_action" href="/status">See our status page for more</a>
</div>
