<img class="avatar" src="<%= account.gravatarURL(size) %>" width="<%= size %>" height="<%= size %>" />
<div class="textual">
  <div class="name">
    <%= account.fullName(true) %>
    <span class="pipe">&nbsp;|&nbsp;</span>
    <a href="/logout">Log Out</a>
  </div>
</div>