<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title><%= @title || "Untitled Page" %> | DocumentCloud</title>
	<%= stylesheet_link_tag 'barebones' %>
</head>
<body>
	
	<%= yield %>
	
</body>
</html>