<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>DocumentCloud</title>
  <%= stylesheet_asset_tag '/stylesheets/pages/empty.css' %>
  <%= javascript_asset_tag %>
  <%= jst_asset_tag %>
</head>
<body class="empty">
  
  <div id="container">
  
    <div id="content">
      <%= yield %>
    </div>
    
  </div>
  
</body>
</html>