<%
  @title      = "Enable Account"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/accounts/enable/<%= params[:key] %>" method="POST" autocomplete="off">
    <h1>Enable your DocumentCloud Account</h1>
    <% if @failure %>
      <div class="form_error">
        <span><%= @failure %></span>
      </div>
    <% end %>
    <div class="line license">
      <input type="checkbox" name="acceptance" id="account_acceptance" />
      I agree to abide by the
      <a href="/terms" target="_blank" style="color:#55a;font-weight:bold;">Terms of Service</a>.
    </div>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="password" name="password" id="account_password" />
          </div>
        </div>
      </div>
      <label for="account_password">
        Set Password:<br /><span class="example">Use this password to log in</span>
      </label>
    </div>
    <div class="line">
      <button class="default" type="submit">Enable Account &amp; Log In</button>
    </div>
  </form>
</div>