<%
  @title      = "Enable Account"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/accounts/enable/<%= params[:key] %>" method="POST">
    <h1>Enable your DocumentCloud Account</h1>
    <% if @failure %>
      <div class="form_error">
        <span>The account is invalid, or has already been activated</span>
      </div>
    <% end %>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="password" name="password" id="account_password" />
          </div>
        </div>
      </div>
      <label for="account_password">
        Set Password:<br /><span class="example">Use this password to log in</span>
      </label>
    </div>
    <div class="line">
      <button class="default">Log In</button>
    </div>
  </form>
</div>