<%
  @title      = "Enable Account"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/accounts/enable/<%= params[:key] %>" method="POST" autocomplete="off">
    <%= token_tag %>
    <h1>Welcome to DocumentCloud</h1>
    <% if @failure %>
      <div class="form_error">
        <span><%= @failure %></span>
      </div>
    <% end %>
    <div class="line welcome">
	Please set a password for your DocumentCloud account. Once you log in, you'll be able to add additional accounts for colleagues in your newsroom. Note: you can also use this form to reset the password on an existing account.
    </div>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="password" name="password" id="account_password" />
          </div>
        </div>
      </div>
      <label for="account_password">
        Set Password:<br /><span class="example"><a href="/reset_password" tabindex="-1">Need to reset it again?</a></span>
      </label>
    </div>
    <div class="line license">
      <input type="checkbox" name="acceptance" id="account_acceptance" style="" />
      <label for="account_acceptance" class="account_acceptance_label">I understand and accept the DocumentCloud</label>
      <a href="/terms" target="_blank" style="color:#55a;font-weight:bold;">Terms of Service</a>.
    </div>
    <div class="line">
      <div class="minibutton submit" type="submit">Enable Account &amp; Log In</div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $('#full_screen_form form').keypress(function(e) {
    if (e.which == 13) this.submit();
  });
  $('.minibutton.submit').click(function(){ $('#full_screen_form form').submit(); });
</script>