<%
  @title      = "Reset Password"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/reset_password" method="POST" autocomplete="off">
    <%= token_tag %>
    <h1>Reset your DocumentCloud Password</h1>
    <% if @display_notice and params[:email].size > 0 %>
      <div class="form_success">
        <span>Please check the email address you have provided (<%= h params[:email ]%>) for further instructions.</span>
      </div>
    <% end %>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="email" name="email" id="account_email" />
          </div>
        </div>
      </div>
      <label for="account_email" class="label_only">
        Email Address:
      </label>
      <div class="example long">
        Not sure what email address you use to log in?
        Here's a tip: any one else in your office with a
        DocumentCloud account can look up your email address under 'Accounts'.
      </div>
    </div>
    <div class="line">
      <a href="/login"><div class="minibutton" style="margin-right: 15px;">&laquo; Return to Login</div></a>
      <div class="minibutton submit">Send Reset Password Email</div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $('#full_screen_form form').keypress(function(e) {
    if (e.which == 13) this.submit();
  });
  $('.minibutton.submit').click(function(){ $('#full_screen_form form').submit(); });
</script>