<div class="add_pages">
  
  <div class="add_pages_hint"></div>
  
  <div class="add_pages_upload float_right">
    <div id="new_document" class="minibutton plus">
      <div class="icon white_plus"></div>
      Upload Documents
    </div>
  </div>
  
</div>