<div class="document_page_tile">
  <img src="<%= url %>" />
  <div class="document_page_line">
    <div class="document_page_tile_remove cancel_search icon"></div>
    <div class="document_page_tile_number">p. <%= pageNumber %></div>
  </div>
</div>