<div class="edit_page_text">
  
  <div class="edit_page_text_holder">
    <div class="editor_hint">
      <div class="minibutton edit_page_text_confirm_input">Save Text</div>
      <div class="edit_page_text_confirm_info">
        Edit the text of any page. Use the arrows at the right to navigate.
      </div>
      <div class="document_page_tiles"></div>
    </div>
    
  </div>
  
  <div class="edit_page_text_close"></div>
  
</div>