<div class="edit_page_text">

  <div class="editor_toolbar_controls edit_page_text_holder">
    <div class="minibutton edit_page_text_confirm_input default not_enabled">Save Text</div>
    <div class="minibutton close_editor">Cancel</div>
  </div>
  
  <div class="document_page_tiles"></div>
  
  <div class="editor_hint edit_page_text_confirm_info">Edit the text of any page. Use the arrows at the right to navigate.</div>
  
</div>

