<div class="edit_page_text">

  <div class="editor_toolbar_controls edit_page_text_holder">
    <div class="minibutton edit_page_text_confirm_input default not_enabled"><%= _.t('save_text') %></div>
    <div class="minibutton close_editor"><%= _.t('cancel') %></div>
  </div>
  
  <div class="document_page_tiles"></div>
  
  <div class="editor_hint edit_page_text_confirm_info"><%= _.t('edit_text_any_page') %><br /><%= _.t('change_page_arrows') %></div>
  
</div>

