<div class="remove_pages">
  
  <div class="remove_pages_holder">
    <div class="remove_pages_confirm">
      <div class="minibutton remove_pages_confirm_input"></div>
    </div>
    
  </div>
  
  <div class="remove_pages_hint">Select the pages you wish to remove.</div>
  
  <div class="remove_pages_close"></div>
  
</div>