<div class="remove_pages">
  
  <div class="editor_toolbar_controls remove_pages_holder">
    <div class="minibutton remove_pages_confirm_input default not_enabled"></div>
    <div class="minibutton close_editor"><%= _.t('cancel') %></div>
  </div>
  
  <div class="remove_pages_page_container"></div>
  
  <div class="editor_hint"><%= _.t('select_pages_remove') %></div>
  
</div>