<div class="reorder_pages">
  
  <div class="editor_toolbar_controls reorder_pages_holder">
    <div class="minibutton not_enabled reorder_pages_confirm_input default">Save Page Order</div>
    <div class="minibutton close_editor">Cancel</div>
  </div>

  <div class="editor_hint">Reorder pages by dragging and dropping.</div>
  
</div>