<div class="reorder_pages">
  
  <div class="reorder_pages_holder">
    <div class="reorder_pages_confirm">
      <div class="editor_hint">Reorder pages.</div>
      <div class="minibutton not_enabled reorder_pages_confirm_input">Save Page Order</div>
    </div>
    
  </div>
  
  <div class="reorder_pages_close"></div>
  
</div>