<div class="reorder_pages">
  
  <div class="reorder_pages_holder">
    <div class="reorder_pages_confirm">
      <div class="reorder_pages_confirm_info">Reorder pages:</div>
      <input type="button" class="reorder_pages_confirm_input" disabled="true" value="Save page order"/>
    </div>
    
  </div>
  
  <div class="reorder_pages_close"></div>
  
</div>