<div class="replace_pages">
  
  <div class="editor_toolbar_controls replace_pages_holder">
    <div id="new_document" class="minibutton plus replace_pages_upload_button default">
      <div class="icon white_plus"></div>
      Upload Pages
    </div>
    <div class="minibutton close_editor">Cancel</div>
  </div>
  
  <div class="editor_hint"></div>
  
</div>