<div class="replace_pages">
  
  <div class="editor_hint"></div>
  
  <div class="replace_pages_upload float_right">
    <div id="new_document" class="minibutton plus">
      <div class="icon white_plus"></div>
      Upload Pages
    </div>
  </div>
  
</div>