<%= _.t('annotation_help',fullName ) %>
 <br><br>
<%= _.t('contact_reviewer',fullName, '<a href="mailto:'+ email +'" class="text_link">'+ email +'</a>',' <a href="http://www.documentcloud.org" class="text_link">http://www.documentcloud.org</a>' ) %>
