<%= _.t('annotation_help',fullName ) %>
 <br><br>
<%= _.t('contact_reviewer',fullName, '<a href="mailto:'+ email +'" class="text_link">'+ email +'</a>',' <a href="https://www.documentcloud.org/" class="text_link">https://www.documentcloud.org</a>' ) %>
