<li class="section_row">

    <div class="text_input dark small">
      <input class="section_title" type="text" placeholder="<%= _.t('title') %>&hellip;" value="" />
    </div>
    <div class="text_input dark small">
      <span class="page_number_mark"><%=_.t('pg') %></span>
      <input class="page_number" type="text" value="<%= page_number %>" />
    </div>
    <div class="icon minus"></div>
    <div class="icon plus"></div>
    <br class="clear" />

</li>